<section class="hero">
  <div class="container">
    <a href="#" class="hero__logo">
      <img src="images/ico/logo.svg" alt="logo" />
    </a>

    <div class="text-center mb-16 text-uppercase">
      <h1 class="hero__title mb-lg-8 mb-6">
        WEGE IM SCHWEIZER EISHOCKEY <br />
        WIE WERDE ICH…
      </h1>
      <div class="h3 text-gray-2">
        Klicke auf ein Foto, um mehr zu erfahren.
      </div>
    </div>
    <ul class="hero-pillars">
      <li class="hero-pillar">
        <a class="hero-pillar__link anchor-item" href="#competitiveAthletes">
          <div class="hero-pillar__img">
            <img
              class="mask-img"
              src="images/content/hischier.png"
              alt="Nico Hischier"
            />
          </div>

          <div class="tag mx-auto">Nico Hischier</div>
          <div class="h3 mt-5 text-center">LEISTUNGSSPORTLER</div>
        </a>
      </li>

      <li class="hero-pillar">
        <a href="#competitiveAthlete" class="hero-pillar__link anchor-item">
          <div class="hero-pillar__img">
            <img
              class="mask-img"
              src="images/content/pillar-2.png"
              alt="Alina Müller"
            />
          </div>

          <div class="tag mx-auto">Alina Müller</div>
          <div class="h3 mt-5 text-center">LEISTUNGSSPORTLERIN</div>
        </a>
      </li>

      <li class="hero-pillar">
        <a href="#coach" class="hero-pillar__link anchor-item">
          <div class="hero-pillar__img">
            <img
              class="mask-img"
              src="images/content/pillar-3.png"
              alt="J. Cadieux & M. Häfliger"
            />
          </div>

          <div class="tag mx-auto">M. Häfliger & J. Cadieux</div>
          <div class="h3 mt-5 text-center">COACH</div>
        </a>
      </li>
      <li class="hero-pillar">
        <a href="#referee" class="hero-pillar__link anchor-item">
          <div class="hero-pillar__img">
            <img
              class="mask-img"
              src="images/content/pillar-4.png"
              alt="M. Häfliger & J. Cadieux"
            />
          </div>

          <div class="tag mx-auto">R. Staiger & M. Hebeisen</div>
          <div class="h3 mt-5 text-center">SCHIEDSRICHTER/IN</div>
        </a>
      </li>
      <li class="hero-pillar">
        <a href="#clubOfficial" class="hero-pillar__link anchor-item">
          <div class="hero-pillar__img">
            <img
              class="mask-img"
              src="images/content/club.png"
              alt="Daniel Berger"
            />
          </div>

          <div class="tag mx-auto">Daniel Berger</div>
          <div class="h3 mt-5 text-center">CLUBFUNKTIONÄR/IN</div>
        </a>
      </li>
    </ul>
    <div class="hero-content">
      <div class="hero-content__col">
        <p class="text-xl font-secondary mb-lg-8 mb-6 fw-light">
          Zum Eishockey gehört mehr als Tore und Punkte – es bietet Wege für
          Spielerinnen und Spieler, Coaches, Schiedsrichterinnen und
          Schiedsrichter sowie Funktionärinnen und Funktionäre.
        </p>
        <p class="text-lg font-secondary mb-lg-8 mb-6 fw-light">
          Auf dieser Website zeigen wir dir, wie du deine eigene Reise gestalten
          kannst: vom ersten Kontakt mit dem Eis bis zum Leistungssport, von der
          Trainerlaufbahn über die Schiedsrichterkarriere bis hin zum
          ehrenamtlichen Vereinsvorstand.
        </p>
        <p class="text-lg font-secondary fw-light">
          Entdecke, welche Stationen erfolgreiche Schweizer
          Eishockey-Persönlichkeiten wie Nico Hischier, Alina Müller, Jan
          Cadieux, Melanie Häflinger, Reica Staiger und Micha Hebeisen
          durchlaufen haben – und erfahre, wie auch du zum Erfolg der Schweizer
          Eishockey-Familie beitragen kannst.
        </p>
      </div>
      <div class="hero-content__col">
        <p class="text-lg fw-bold font-secondary mb-3 font-secondary">
          Die Heim-WM 2026 – mehr als ein Turnier
        </p>
        <p class="font-secondary text-sm mb-lg-8 mb-6 fw-light">
          Mit der WM 2026 in der Schweiz will Swiss Ice Hockey nicht nur
          sportliche Höchstleistungen zeigen, sondern vor allem den
          Eishockey-Sport im Land nachhaltig fördern. Verschiedene
          Legacy-Massnahmen stellen sicher, dass das Turnier weit über die
          Eventwochen hinaus ein bleibendes Vermächtnis hinterlässt.
        </p>
        <p class="font-secondary text-sm mb-lg-8 mb-6 fw-light">
          Im Mittelpunkt stehen Förder- und Einstiegsprogramme, die langfristig
          zur Stärkung des Eishockeys in der Schweiz beitragen sollen. Die
          Projekte zahlen auf die strategischen Legacy-Ziele der WM ein und
          erhalten durch das Turnier eine besondere Plattform, um ihre Wirkung
          sichtbar zu machen.
        </p>
        <p class="font-secondary text-sm mb-lg-8 mb-6 fw-light">
          So werden einerseits Einstiegsprogramme gestärkt und ausgebaut, um
          mehr Kinder aufs Eis zu bringen. Andererseits ermöglichen dank der WM
          verfügbare Fördermittel den Ausbau von Projekten in den Bereichen
        </p>
        <ul class="font-secondary text-sm list-unordered mb-lg-8 mb-6 fw-light">
          <li>Mädchen- und Fraueneishockey</li>
          <li>Trainerentwicklung</li>
          <li>Schiedsrichterausbildung</li>
        </ul>
        <p class="font-secondary text-sm fw-light">
          Diese Website liefert einen Überblick über die verschiedenen
          Massnahmen und zeigt, wie das Eishockey in der Schweiz gefördert wird.
        </p>
      </div>
    </div>
  </div>
</section>
