<section class="section" id="competitiveAthlete">
  <div class="container">
    <div class="row g-lg-8 g-12">
      <div class="col-xl-6 col-lg-5">
        <h3 class="h2 mb-3">LEISTUNGSSPORTLERIN</h3>
        <div class="h3 text-gray-2 mb-lg-8 mb-4">Alina Müller</div>
        <a
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#articleModal"
          class="section-img"
        >
          <img
            class="object-fit-contain mask-img"
            width="360"
            height="258"
            src="images/content/pillar-2.png"
            loading="lazy"
            alt="Alina Müller"
          />
        </a>
      </div>
      <div class="col-xl-6 col-lg-7">
        <div class="section-map">
          <svg
            width="704"
            height="1450"
            viewBox="0 0 704 1450"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M174.97 946.03C175.263 946.323 175.737 946.323 176.03 946.03L180.803 941.257C181.096 940.964 181.096 940.49 180.803 940.197C180.51 939.904 180.036 939.904 179.743 940.197L175.5 944.439L171.257 940.197C170.964 939.904 170.49 939.904 170.197 940.197C169.904 940.49 169.904 940.964 170.197 941.257L174.97 946.03ZM571.75 848L571.75 847.25L570.25 847.25L570.25 848L571 848L571.75 848ZM559.015 909.015L559.014 908.265L559.015 909.015ZM571 897.015L571.75 897.015L571.75 848L571 848L570.25 848L570.25 897.015L571 897.015ZM175.5 945.5L176.25 945.5L176.25 921.485L175.5 921.485L174.75 921.485L174.75 945.5L175.5 945.5ZM187.485 909.485L187.486 910.235L559.016 909.765L559.015 909.015L559.014 908.265L187.484 908.735L187.485 909.485ZM175.5 921.485L176.25 921.485C176.25 915.277 181.278 910.243 187.486 910.235L187.485 909.485L187.484 908.735C180.449 908.744 174.75 914.45 174.75 921.485L175.5 921.485ZM571 897.015L570.25 897.015C570.25 903.223 565.222 908.257 559.014 908.265L559.015 909.015L559.016 909.765C566.051 909.756 571.75 904.05 571.75 897.015L571 897.015Z"
              fill="#A5A5A5"
            />
            <path
              d="M157.47 1041.53C157.763 1041.82 158.237 1041.82 158.53 1041.53L163.303 1036.76C163.596 1036.46 163.596 1035.99 163.303 1035.7C163.01 1035.4 162.536 1035.4 162.243 1035.7L158 1039.94L153.757 1035.7C153.464 1035.4 152.99 1035.4 152.697 1035.7C152.404 1035.99 152.404 1036.46 152.697 1036.76L157.47 1041.53ZM158.75 973L158.75 972.25L157.25 972.25L157.25 973L158 973L158.75 973ZM158 1041L158.75 1041L158.75 973L158 973L157.25 973L157.25 1041L158 1041Z"
              fill="#A5A5A5"
            />
            <path
              d="M616.47 109.53C616.763 109.823 617.237 109.823 617.53 109.53L622.303 104.757C622.596 104.464 622.596 103.99 622.303 103.697C622.01 103.404 621.536 103.404 621.243 103.697L617 107.939L612.757 103.697C612.464 103.404 611.99 103.404 611.697 103.697C611.404 103.99 611.404 104.464 611.697 104.757L616.47 109.53ZM617.75 11L617.75 10.25L616.25 10.25L616.25 11L617 11L617.75 11ZM617 109L617.75 109L617.75 11L617 11L616.25 11L616.25 109L617 109Z"
              fill="#E60001"
            />
            <path
              d="M510.47 290.53C510.763 290.823 511.237 290.823 511.53 290.53L516.303 285.757C516.596 285.464 516.596 284.99 516.303 284.697C516.01 284.404 515.536 284.404 515.243 284.697L511 288.939L506.757 284.697C506.464 284.404 505.99 284.404 505.697 284.697C505.404 284.99 505.404 285.464 505.697 285.757L510.47 290.53ZM511.75 37L511.75 36.25L510.25 36.25L510.25 37L511 37L511.75 37ZM511 290L511.75 290L511.75 37L511 37L510.25 37L510.25 290L511 290Z"
              fill="#E60001"
            />
            <path
              d="M570.47 946.53C570.763 946.823 571.237 946.823 571.53 946.53L576.303 941.757C576.596 941.464 576.596 940.99 576.303 940.697C576.01 940.404 575.536 940.404 575.243 940.697L571 944.939L566.757 940.697C566.464 940.404 565.99 940.404 565.697 940.697C565.404 940.99 565.404 941.464 565.697 941.757L570.47 946.53ZM571.75 848L571.75 847.25L570.25 847.25L570.25 848L571 848L571.75 848ZM571 946L571.75 946L571.75 848L571 848L570.25 848L570.25 946L571 946Z"
              fill="#E60001"
            />
            <path
              d="M616.47 290.53C616.763 290.823 617.237 290.823 617.53 290.53L622.303 285.757C622.596 285.464 622.596 284.99 622.303 284.697C622.01 284.404 621.536 284.404 621.243 284.697L617 288.939L612.757 284.697C612.464 284.404 611.99 284.404 611.697 284.697C611.404 284.99 611.404 285.464 611.697 285.757L616.47 290.53ZM617.75 266L617.75 265.25L616.25 265.25L616.25 266L617 266L617.75 266ZM617 290L617.75 290L617.75 266L617 266L616.25 266L616.25 290L617 290Z"
              fill="#E60001"
            />
            <path
              d="M562.47 370.53C562.763 370.823 563.237 370.823 563.53 370.53L568.303 365.757C568.596 365.464 568.596 364.99 568.303 364.697C568.01 364.404 567.536 364.404 567.243 364.697L563 368.939L558.757 364.697C558.464 364.404 557.99 364.404 557.697 364.697C557.404 364.99 557.404 365.464 557.697 365.757L562.47 370.53ZM563.75 346L563.75 345.25L562.25 345.25L562.25 346L563 346L563.75 346ZM563 370L563.75 370L563.75 346L563 346L562.25 346L562.25 370L563 370Z"
              fill="#E60001"
            />
            <path
              d="M532.47 1041.53C532.763 1041.82 533.237 1041.82 533.53 1041.53L538.303 1036.76C538.596 1036.46 538.596 1035.99 538.303 1035.7C538.01 1035.4 537.536 1035.4 537.243 1035.7L533 1039.94L528.757 1035.7C528.464 1035.4 527.99 1035.4 527.697 1035.7C527.404 1035.99 527.404 1036.46 527.697 1036.76L532.47 1041.53ZM533.75 1025L533.75 1024.25L532.25 1024.25L532.25 1025L533 1025L533.75 1025ZM533 1041L533.75 1041L533.75 1025L533 1025L532.25 1025L532.25 1041L533 1041Z"
              fill="#E60001"
            />
            <path
              d="M532.47 1214.53C532.763 1214.82 533.237 1214.82 533.53 1214.53L538.303 1209.76C538.596 1209.46 538.596 1208.99 538.303 1208.7C538.01 1208.4 537.536 1208.4 537.243 1208.7L533 1212.94L528.757 1208.7C528.464 1208.4 527.99 1208.4 527.697 1208.7C527.404 1208.99 527.404 1209.46 527.697 1209.76L532.47 1214.53ZM533.75 1198L533.75 1197.25L532.25 1197.25L532.25 1198L533 1198L533.75 1198ZM533 1214L533.75 1214L533.75 1198L533 1198L532.25 1198L532.25 1214L533 1214Z"
              fill="#E60001"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M538 127.481C538 117.274 546.274 109 556.481 109H696V247.519C696 257.726 687.726 266 677.519 266H538V127.481Z"
                fill="#e60001"
              />
              <path
                d="M637.119 150.338L637.099 150.291C637.099 150.291 633.294 142.076 632.779 141.262C632.006 143.608 624.121 149.401 614.683 153.201C608.98 155.499 603.619 156.126 602.468 155.069C600.199 152.988 607.17 147.529 615.137 143.284C620.221 140.574 624.896 139.104 626.184 138.706L626.138 138.57C605.417 143.338 595.125 153.684 596.858 157.077C598.525 160.339 609.031 159.184 619.217 154.575C623.318 152.716 626.467 150.989 628.57 149.631C628.917 149.405 629.266 149.296 629.607 149.886C630.095 150.724 631.052 152.954 631.079 153.015C631.987 155 628.537 159.337 620.772 162.985C613.601 166.35 606.274 167.57 603.05 166.396C602.559 166.219 602.083 166.009 601.476 165.405C600.959 164.893 600.19 163.537 599.944 163.115L599.775 163.202C600.62 164.98 601.43 166.425 601.769 166.774C604.307 169.38 613.893 168.126 622.586 164.123C631.056 160.219 638.701 153.698 637.119 150.338Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="617"
                y="200"
                fill="white"
                font-size="22"
                font-weight="400"
                text-anchor="middle"
              >
                Hockeyschule
              </text>
              <path
                d="M611.346 226.736H622.655M622.655 226.736L617.001 221.082M622.655 226.736L617.001 232.391"
                stroke="#FF8F8F"
                stroke-width="1.8481"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a class="anchor-item" href="#programCards">
              <path
                d="M56 21C56 9.95431 64.9543 1 76 1H688V45C688 56.0457 679.046 65 668 65H56V21Z"
                fill="#FFC6C7"
              />
              <path
                d="M131.774 29.7356L131.752 29.6842C131.752 29.6842 127.634 20.7942 127.077 19.9134C126.241 22.4522 117.707 28.7207 107.494 32.8336C101.322 35.3201 95.5204 35.9993 94.2747 34.8555C91.8193 32.6026 99.3633 26.6955 107.985 22.1012C113.487 19.1688 118.546 17.5779 119.94 17.1476L119.89 17C97.4661 22.1599 86.3286 33.3566 88.2032 37.0276C90.0081 40.5583 101.377 39.308 112.4 34.32C116.838 32.3083 120.246 30.4395 122.522 28.9703C122.897 28.7256 123.276 28.6071 123.644 29.2457C124.173 30.1528 125.208 32.5664 125.237 32.6325C126.22 34.7804 122.486 39.4734 114.083 43.4212C106.323 47.0633 98.3939 48.3839 94.904 47.1134C94.3735 46.9216 93.8577 46.6945 93.2015 46.041C92.6414 45.4861 91.8099 44.0185 91.5432 43.5619L91.3606 43.6565C92.2748 45.5806 93.1517 47.1448 93.5185 47.5223C96.2652 50.3419 106.638 48.9855 116.047 44.6527C125.212 40.428 133.486 33.3711 131.774 29.7356Z"
                fill="#E60001"
              />
              <text
                class="card-title"
                x="154.448"
                y="34"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="start"
                dominant-baseline="middle"
              >
                Erstkontakt zum Eis / Eishockey
              </text>
              <path
                d="M639.389 33H651.628M651.628 33L645.508 26.8804M651.628 33L645.508 39.1196"
                stroke="#E60001"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M451 963.184C451 953.773 458.628 946.145 468.039 946.145H631V1086.25C631 1095.66 623.372 1103.29 613.961 1103.29H451V963.184Z"
                fill="#e60001"
              />
              <path
                d="M559.55 984.257L559.532 984.213C559.532 984.213 556.024 976.639 555.549 975.889C554.836 978.052 547.566 983.392 538.865 986.896C533.607 989.014 528.665 989.593 527.603 988.618C525.512 986.699 531.939 981.667 539.284 977.753C543.971 975.254 548.281 973.899 549.469 973.532L549.426 973.407C530.322 977.803 520.834 987.341 522.431 990.469C523.969 993.477 533.654 992.412 543.045 988.162C546.826 986.448 549.73 984.856 551.668 983.604C551.988 983.396 552.31 983.295 552.624 983.839C553.075 984.612 553.957 986.668 553.981 986.724C554.819 988.554 551.637 992.552 544.479 995.916C537.868 999.019 531.113 1000.14 528.14 999.061C527.688 998.898 527.248 998.704 526.689 998.148C526.212 997.675 525.504 996.425 525.276 996.036L525.121 996.116C525.9 997.755 526.647 999.088 526.959 999.41C529.299 1001.81 538.136 1000.66 546.152 996.965C553.96 993.366 561.009 987.354 559.55 984.257Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="541"
                y="1032"
                fill="#ffffff"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
              >
                SWHL-B
              </text>
              <path
                d="M535.787 1067.09H546.214M546.214 1067.09L541.001 1061.88M546.214 1067.09L541.001 1072.3"
                stroke="#FF8F8F"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M74 963.184C74 953.773 81.6285 946.145 91.0386 946.145H273V1086.25C273 1095.66 265.372 1103.29 255.961 1103.29H74V963.184Z"
                fill="#D8D8D8"
              />
              <path
                d="M192.05 984.257L192.032 984.213C192.032 984.213 188.524 976.639 188.049 975.889C187.336 978.052 180.066 983.392 171.365 986.896C166.107 989.014 161.165 989.593 160.103 988.618C158.012 986.699 164.439 981.667 171.784 977.753C176.471 975.254 180.781 973.899 181.969 973.532L181.926 973.407C162.822 977.803 153.334 987.341 154.931 990.469C156.469 993.477 166.154 992.412 175.545 988.162C179.326 986.448 182.23 984.856 184.168 983.604C184.488 983.396 184.81 983.295 185.124 983.839C185.575 984.612 186.457 986.668 186.481 986.724C187.319 988.554 184.137 992.552 176.979 995.916C170.368 999.019 163.613 1000.14 160.64 999.061C160.188 998.898 159.748 998.704 159.189 998.148C158.712 997.675 158.004 996.425 157.776 996.036L157.621 996.116C158.4 997.755 159.147 999.088 159.459 999.41C161.799 1001.81 170.636 1000.66 178.652 996.965C186.46 993.366 193.509 987.354 192.05 984.257Z"
                fill="#7F7F7F"
              />
              <text
                class="card-title"
                x="174"
                y="1032"
                fill="#000000"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
              >
                Breitensport
              </text>
              <path
                d="M168.287 1067.09H178.714M178.714 1067.09L173.501 1061.88M178.714 1067.09L173.501 1072.3"
                stroke="#A5A5A5"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M293 963.184C293 953.773 300.628 946.145 310.039 946.145H443V1086.25C443 1095.66 435.372 1103.29 425.961 1103.29H293V963.184Z"
                fill="#e60001"
              />
              <path
                d="M386.55 984.257L386.532 984.213C386.532 984.213 383.024 976.639 382.549 975.889C381.836 978.052 374.566 983.392 365.865 986.896C360.607 989.014 355.665 989.593 354.603 988.618C352.512 986.699 358.939 981.667 366.284 977.753C370.971 975.254 375.281 973.899 376.469 973.532L376.426 973.407C357.322 977.803 347.834 987.341 349.431 990.469C350.969 993.477 360.654 992.412 370.045 988.162C373.826 986.448 376.73 984.856 378.668 983.604C378.988 983.396 379.31 983.295 379.624 983.839C380.075 984.612 380.957 986.668 380.981 986.724C381.819 988.554 378.637 992.552 371.479 995.916C364.868 999.019 358.113 1000.14 355.14 999.061C354.688 998.898 354.248 998.704 353.689 998.148C353.212 997.675 352.504 996.425 352.276 996.036L352.121 996.116C352.9 997.755 353.647 999.088 353.959 999.41C356.299 1001.81 365.136 1000.66 373.152 996.965C380.96 993.366 388.009 987.354 386.55 984.257Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="368"
                y="1032"
                fill="#ffffff"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
              >
                U-NATI
              </text>
              <path
                d="M362.787 1067.09H373.214M373.214 1067.09L368.001 1061.88M373.214 1067.09L368.001 1072.3"
                stroke="#FF8F8F"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M451 1136.18C451 1126.77 458.628 1119.15 468.039 1119.15H631V1259.25C631 1268.66 623.372 1276.29 613.961 1276.29H451V1136.18Z"
                fill="#e60001"
              />
              <path
                d="M559.55 1157.26L559.532 1157.21C559.532 1157.21 556.024 1149.64 555.549 1148.89C554.836 1151.05 547.566 1156.39 538.865 1159.9C533.607 1162.01 528.665 1162.59 527.603 1161.62C525.512 1159.7 531.939 1154.67 539.284 1150.75C543.971 1148.25 548.281 1146.9 549.469 1146.53L549.426 1146.41C530.322 1150.8 520.834 1160.34 522.431 1163.47C523.969 1166.48 533.654 1165.41 543.045 1161.16C546.826 1159.45 549.73 1157.86 551.668 1156.6C551.988 1156.4 552.31 1156.3 552.624 1156.84C553.075 1157.61 553.957 1159.67 553.981 1159.72C554.819 1161.55 551.637 1165.55 544.479 1168.92C537.868 1172.02 531.113 1173.14 528.14 1172.06C527.688 1171.9 527.248 1171.7 526.689 1171.15C526.212 1170.67 525.504 1169.42 525.276 1169.04L525.121 1169.12C525.9 1170.76 526.647 1172.09 526.959 1172.41C529.299 1174.81 538.136 1173.66 546.152 1169.96C553.96 1166.37 561.009 1160.35 559.55 1157.26Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="541"
                y="1210"
                fill="#ffffff"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
              >
                PFWL odER Ausland
              </text>
              <path
                d="M535.787 1240.09H546.214M546.214 1240.09L541.001 1234.88M546.214 1240.09L541.001 1245.3"
                stroke="#FF8F8F"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M293 1136.18C293 1126.77 300.628 1119.15 310.039 1119.15H443V1432.11C443 1441.52 435.372 1449.15 425.961 1449.15H293V1136.18Z"
                fill="#e60001"
              />
              <path
                d="M386.55 1157.26L386.532 1157.21C386.532 1157.21 383.024 1149.64 382.549 1148.89C381.836 1151.05 374.566 1156.39 365.865 1159.9C360.607 1162.01 355.665 1162.59 354.603 1161.62C352.512 1159.7 358.939 1154.67 366.284 1150.75C370.971 1148.25 375.281 1146.9 376.469 1146.53L376.426 1146.41C357.322 1150.8 347.834 1160.34 349.431 1163.47C350.969 1166.48 360.654 1165.41 370.045 1161.16C373.826 1159.45 376.73 1157.86 378.668 1156.6C378.988 1156.4 379.31 1156.3 379.624 1156.84C380.075 1157.61 380.957 1159.67 380.981 1159.72C381.819 1161.55 378.637 1165.55 371.479 1168.92C364.868 1172.02 358.113 1173.14 355.14 1172.06C354.688 1171.9 354.248 1171.7 353.689 1171.15C353.212 1170.67 352.504 1169.42 352.276 1169.04L352.121 1169.12C352.9 1170.76 353.647 1172.09 353.959 1172.41C356.299 1174.81 365.136 1173.66 373.152 1169.96C380.96 1166.37 388.009 1160.35 386.55 1157.26Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="368"
                y="1210"
                fill="#ffffff"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
              >
                Nati
              </text>
              <path
                d="M362.787 1412.95H373.214M373.214 1412.95L368.001 1407.73M373.214 1412.95L368.001 1418.16"
                stroke="#FF8F8F"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M511 387.039C511 377.628 518.628 370 528.039 370H631V839.961C631 849.372 623.372 857 613.961 857H511V387.039Z"
                fill="#e60001"
              />
              <path
                d="M589.55 408.112L589.532 408.068C589.532 408.068 586.024 400.494 585.549 399.744C584.836 401.907 577.566 407.247 568.865 410.751C563.607 412.869 558.665 413.448 557.603 412.473C555.512 410.554 561.939 405.522 569.284 401.608C573.971 399.109 578.281 397.754 579.469 397.387L579.426 397.262C560.322 401.658 550.834 411.196 552.431 414.324C553.969 417.332 563.654 416.266 573.045 412.017C576.826 410.303 579.73 408.711 581.668 407.459C581.988 407.251 582.31 407.15 582.624 407.694C583.075 408.467 583.957 410.523 583.981 410.579C584.819 412.409 581.637 416.407 574.479 419.771C567.868 422.873 561.113 423.999 558.14 422.916C557.688 422.753 557.248 422.559 556.689 422.003C556.212 421.53 555.504 420.28 555.276 419.891L555.121 419.971C555.9 421.61 556.647 422.943 556.959 423.265C559.299 425.667 568.136 424.511 576.152 420.82C583.96 417.221 591.009 411.209 589.55 408.112Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="571"
                y="460"
                fill="white"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="571" dy="0">Mädchen</tspan>
                <tspan x="571" dy="22">bei Jungs</tspan>
              </text>
              <path
                d="M565.787 820.801H576.214M576.214 820.801L571.001 815.587M576.214 820.801L571.001 826.014"
                stroke="#FF8F8F"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M639 387.039C639 377.628 646.628 370 656.039 370H696V839.961C696 849.372 688.372 857 678.961 857H639V387.039Z"
                fill="#FFC6C7"
              />
              <path
                d="M686.05 408.112L686.032 408.068C686.032 408.068 682.524 400.494 682.049 399.744C681.336 401.907 674.066 407.247 665.365 410.751C660.107 412.869 655.165 413.448 654.103 412.473C652.012 410.554 658.439 405.522 665.784 401.608C670.471 399.109 674.781 397.754 675.969 397.387L675.926 397.262C656.822 401.658 647.334 411.196 648.931 414.324C650.469 417.332 660.154 416.266 669.545 412.017C673.326 410.303 676.23 408.711 678.168 407.459C678.488 407.251 678.81 407.15 679.124 407.694C679.575 408.467 680.457 410.523 680.481 410.579C681.319 412.409 678.137 416.407 670.979 419.771C664.368 422.873 657.613 423.999 654.64 422.916C654.188 422.753 653.748 422.559 653.189 422.003C652.712 421.53 652.004 420.28 651.776 419.891L651.621 419.971C652.4 421.61 653.147 422.943 653.459 423.265C655.799 425.667 664.636 424.511 672.652 420.82C680.46 417.221 687.509 411.209 686.05 408.112Z"
                fill="#E60001"
              />
              <text
                class="card-title"
                x="842"
                y="628"
                fill="#000000"
                font-size="20"
                font-weight="400"
                text-anchor="end"
                transform="rotate(-90 667 620)"
              >
                Nachwuchs
              </text>
              <path
                d="M662.287 820.801H672.714M672.714 820.801L667.501 815.587M672.714 820.801L667.501 826.014"
                stroke="#E60001"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M639 963.184C639 953.773 646.628 946.145 656.039 946.145H696V1431.11C696 1440.52 688.372 1448.15 678.961 1448.15H639V963.184Z"
                fill="#FFC6C7"
              />
              <path
                d="M686.05 984.257L686.032 984.213C686.032 984.213 682.524 976.639 682.049 975.889C681.336 978.052 674.066 983.392 665.365 986.896C660.107 989.014 655.165 989.593 654.103 988.618C652.012 986.699 658.439 981.667 665.784 977.753C670.471 975.254 674.781 973.899 675.969 973.532L675.926 973.407C656.822 977.803 647.334 987.341 648.931 990.469C650.469 993.477 660.154 992.412 669.545 988.162C673.326 986.448 676.23 984.856 678.168 983.604C678.488 983.396 678.81 983.295 679.124 983.839C679.575 984.612 680.457 986.668 680.481 986.724C681.319 988.554 678.137 992.552 670.979 995.916C664.368 999.019 657.613 1000.14 654.64 999.061C654.188 998.898 653.748 998.704 653.189 998.148C652.712 997.675 652.004 996.425 651.776 996.036L651.621 996.116C652.4 997.755 653.147 999.088 653.459 999.41C655.799 1001.81 664.636 1000.66 672.652 996.965C680.46 993.366 687.509 987.354 686.05 984.257Z"
                fill="#E60001"
              />

              <text
                class="card-title"
                x="848"
                y="1208"
                fill="#000000"
                font-size="20"
                font-weight="400"
                text-anchor="end"
                transform="rotate(-90 667 1200)"
              >
                Leistungssport
              </text>

              <path
                d="M662.287 1411.95H672.714M672.714 1411.95L667.501 1406.73M672.714 1411.95L667.501 1417.16"
                stroke="#E60001"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M451 1309.18C451 1299.77 458.628 1292.15 468.039 1292.15H631V1432.25C631 1441.66 623.372 1449.29 613.961 1449.29H451V1309.18Z"
                fill="#e60001"
              />
              <path
                d="M559.55 1330.26L559.532 1330.21C559.532 1330.21 556.024 1322.64 555.549 1321.89C554.836 1324.05 547.566 1329.39 538.865 1332.9C533.607 1335.01 528.665 1335.59 527.603 1334.62C525.512 1332.7 531.939 1327.67 539.284 1323.75C543.971 1321.25 548.281 1319.9 549.469 1319.53L549.426 1319.41C530.322 1323.8 520.834 1333.34 522.431 1336.47C523.969 1339.48 533.654 1338.41 543.045 1334.16C546.826 1332.45 549.73 1330.86 551.668 1329.6C551.988 1329.4 552.31 1329.3 552.624 1329.84C553.075 1330.61 553.957 1332.67 553.981 1332.72C554.819 1334.55 551.637 1338.55 544.479 1341.92C537.868 1345.02 531.113 1346.14 528.14 1345.06C527.688 1344.9 527.248 1344.7 526.689 1344.15C526.212 1343.67 525.504 1342.42 525.276 1342.04L525.121 1342.12C525.9 1343.76 526.647 1345.09 526.959 1345.41C529.299 1347.81 538.136 1346.66 546.152 1342.96C553.96 1339.37 561.009 1333.35 559.55 1330.26Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="541"
                y="1380"
                fill="#ffffff"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
              >
                PWHL
              </text>
              <path
                d="M535.787 1413.09H546.214M546.214 1413.09L541.001 1407.88M546.214 1413.09L541.001 1418.3"
                stroke="#FF8F8F"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <path
              d="M32 1443.33C30.5272 1443.33 29.3333 1444.53 29.3333 1446C29.3333 1447.47 30.5272 1448.67 32 1448.67C33.4728 1448.67 34.6667 1447.47 34.6667 1446C34.6667 1444.53 33.4728 1443.33 32 1443.33ZM32 2.33333C30.5272 2.33333 29.3333 3.52724 29.3333 5C29.3333 6.47276 30.5272 7.66667 32 7.66667C33.4728 7.66667 34.6667 6.47276 34.6667 5C34.6667 3.52724 33.4728 2.33333 32 2.33333ZM31.5 6.50104L31.5 7.00104L32.5 7.00104L32.5 6.50104L32 6.50104L31.5 6.50104ZM32.5 9.50313L32.5 9.00313L31.5 9.00313L31.5 9.50313L32 9.50313L32.5 9.50313ZM31.5 12.5052L31.5 13.0052L32.5 13.0052L32.5 12.5052L32 12.5052L31.5 12.5052ZM32.5 15.5073L32.5 15.0073L31.5 15.0073L31.5 15.5073L32 15.5073L32.5 15.5073ZM31.5 18.5094L31.5 19.0094L32.5 19.0094L32.5 18.5094L32 18.5094L31.5 18.5094ZM32.5 21.5115L32.5 21.0115L31.5 21.0115L31.5 21.5115L32 21.5115L32.5 21.5115ZM31.5 24.5135L31.5 25.0135L32.5 25.0135L32.5 24.5135L32 24.5135L31.5 24.5135ZM32.5 27.5156L32.5 27.0156L31.5 27.0156L31.5 27.5156L32 27.5156L32.5 27.5156ZM31.5 30.5177L31.5 31.0177L32.5 31.0177L32.5 30.5177L32 30.5177L31.5 30.5177ZM32.5 33.5198L32.5 33.0198L31.5 33.0198L31.5 33.5198L32 33.5198L32.5 33.5198ZM31.5 36.5219L31.5 37.0219L32.5 37.0219L32.5 36.5219L32 36.5219L31.5 36.5219ZM32.5 39.524L32.5 39.024L31.5 39.024L31.5 39.524L32 39.524L32.5 39.524ZM31.5 42.526L31.5 43.026L32.5 43.026L32.5 42.526L32 42.526L31.5 42.526ZM32.5 45.5281L32.5 45.0281L31.5 45.0281L31.5 45.5281L32 45.5281L32.5 45.5281ZM31.5 48.5302L31.5 49.0302L32.5 49.0302L32.5 48.5302L32 48.5302L31.5 48.5302ZM32.5 51.5323L32.5 51.0323L31.5 51.0323L31.5 51.5323L32 51.5323L32.5 51.5323ZM31.5 54.5344L31.5 55.0344L32.5 55.0344L32.5 54.5344L32 54.5344L31.5 54.5344ZM32.5 57.5364L32.5 57.0364L31.5 57.0364L31.5 57.5364L32 57.5364L32.5 57.5364ZM31.5 60.5385L31.5 61.0385L32.5 61.0385L32.5 60.5385L32 60.5385L31.5 60.5385ZM32.5 63.5406L32.5 63.0406L31.5 63.0406L31.5 63.5406L32 63.5406L32.5 63.5406ZM31.5 66.5427L31.5 67.0427L32.5 67.0427L32.5 66.5427L32 66.5427L31.5 66.5427ZM32.5 69.5448L32.5 69.0448L31.5 69.0448L31.5 69.5448L32 69.5448L32.5 69.5448ZM31.5 72.5469L31.5 73.0469L32.5 73.0469L32.5 72.5469L32 72.5469L31.5 72.5469ZM32.5 75.549L32.5 75.049L31.5 75.049L31.5 75.549L32 75.549L32.5 75.549ZM31.5 78.551L31.5 79.051L32.5 79.051L32.5 78.551L32 78.551L31.5 78.551ZM32.5 81.5531L32.5 81.0531L31.5 81.0531L31.5 81.5531L32 81.5531L32.5 81.5531ZM31.5 84.5552L31.5 85.0552L32.5 85.0552L32.5 84.5552L32 84.5552L31.5 84.5552ZM32.5 87.5573L32.5 87.0573L31.5 87.0573L31.5 87.5573L32 87.5573L32.5 87.5573ZM31.5 90.5594L31.5 91.0594L32.5 91.0594L32.5 90.5594L32 90.5594L31.5 90.5594ZM32.5 93.5614L32.5 93.0614L31.5 93.0614L31.5 93.5614L32 93.5614L32.5 93.5614ZM31.5 96.5635L31.5 97.0635L32.5 97.0635L32.5 96.5635L32 96.5635L31.5 96.5635ZM32.5 99.5656L32.5 99.0656L31.5 99.0656L31.5 99.5656L32 99.5656L32.5 99.5656ZM31.5 102.568L31.5 103.068L32.5 103.068L32.5 102.568L32 102.568L31.5 102.568ZM32.5 105.57L32.5 105.07L31.5 105.07L31.5 105.57L32 105.57L32.5 105.57ZM31.5 108.572L31.5 109.072L32.5 109.072L32.5 108.572L32 108.572L31.5 108.572ZM32.5 111.574L32.5 111.074L31.5 111.074L31.5 111.574L32 111.574L32.5 111.574ZM31.5 114.576L31.5 115.076L32.5 115.076L32.5 114.576L32 114.576L31.5 114.576ZM32.5 117.578L32.5 117.078L31.5 117.078L31.5 117.578L32 117.578L32.5 117.578ZM31.5 120.58L31.5 121.08L32.5 121.08L32.5 120.58L32 120.58L31.5 120.58ZM32.5 123.582L32.5 123.082L31.5 123.082L31.5 123.582L32 123.582L32.5 123.582ZM31.5 126.584L31.5 127.084L32.5 127.084L32.5 126.584L32 126.584L31.5 126.584ZM32.5 129.586L32.5 129.086L31.5 129.086L31.5 129.586L32 129.586L32.5 129.586ZM31.5 132.589L31.5 133.089L32.5 133.089L32.5 132.589L32 132.589L31.5 132.589ZM32.5 135.591L32.5 135.091L31.5 135.091L31.5 135.591L32 135.591L32.5 135.591ZM31.5 138.593L31.5 139.093L32.5 139.093L32.5 138.593L32 138.593L31.5 138.593ZM32.5 141.595L32.5 141.095L31.5 141.095L31.5 141.595L32 141.595L32.5 141.595ZM31.5 144.597L31.5 145.097L32.5 145.097L32.5 144.597L32 144.597L31.5 144.597ZM32.5 147.599L32.5 147.099L31.5 147.099L31.5 147.599L32 147.599L32.5 147.599ZM31.5 150.601L31.5 151.101L32.5 151.101L32.5 150.601L32 150.601L31.5 150.601ZM32.5 153.603L32.5 153.103L31.5 153.103L31.5 153.603L32 153.603L32.5 153.603ZM31.5 156.605L31.5 157.105L32.5 157.105L32.5 156.605L32 156.605L31.5 156.605ZM32.5 159.607L32.5 159.107L31.5 159.107L31.5 159.607L32 159.607L32.5 159.607ZM31.5 162.609L31.5 163.109L32.5 163.109L32.5 162.609L32 162.609L31.5 162.609ZM32.5 165.612L32.5 165.112L31.5 165.112L31.5 165.612L32 165.612L32.5 165.612ZM31.5 168.614L31.5 169.114L32.5 169.114L32.5 168.614L32 168.614L31.5 168.614ZM32.5 171.616L32.5 171.116L31.5 171.116L31.5 171.616L32 171.616L32.5 171.616ZM31.5 174.618L31.5 175.118L32.5 175.118L32.5 174.618L32 174.618L31.5 174.618ZM32.5 177.62L32.5 177.12L31.5 177.12L31.5 177.62L32 177.62L32.5 177.62ZM31.5 180.622L31.5 181.122L32.5 181.122L32.5 180.622L32 180.622L31.5 180.622ZM32.5 183.624L32.5 183.124L31.5 183.124L31.5 183.624L32 183.624L32.5 183.624ZM31.5 186.626L31.5 187.126L32.5 187.126L32.5 186.626L32 186.626L31.5 186.626ZM32.5 189.628L32.5 189.128L31.5 189.128L31.5 189.628L32 189.628L32.5 189.628ZM31.5 192.63L31.5 193.13L32.5 193.13L32.5 192.63L32 192.63L31.5 192.63ZM32.5 195.632L32.5 195.132L31.5 195.132L31.5 195.632L32 195.632L32.5 195.632ZM31.5 198.635L31.5 199.135L32.5 199.135L32.5 198.635L32 198.635L31.5 198.635ZM32.5 201.637L32.5 201.137L31.5 201.137L31.5 201.637L32 201.637L32.5 201.637ZM31.5 204.639L31.5 205.139L32.5 205.139L32.5 204.639L32 204.639L31.5 204.639ZM32.5 207.641L32.5 207.141L31.5 207.141L31.5 207.641L32 207.641L32.5 207.641ZM31.5 210.643L31.5 211.143L32.5 211.143L32.5 210.643L32 210.643L31.5 210.643ZM32.5 213.645L32.5 213.145L31.5 213.145L31.5 213.645L32 213.645L32.5 213.645ZM31.5 216.647L31.5 217.147L32.5 217.147L32.5 216.647L32 216.647L31.5 216.647ZM32.5 219.649L32.5 219.149L31.5 219.149L31.5 219.649L32 219.649L32.5 219.649ZM31.5 222.651L31.5 223.151L32.5 223.151L32.5 222.651L32 222.651L31.5 222.651ZM32.5 225.653L32.5 225.153L31.5 225.153L31.5 225.653L32 225.653L32.5 225.653ZM31.5 228.655L31.5 229.155L32.5 229.155L32.5 228.655L32 228.655L31.5 228.655ZM32.5 231.658L32.5 231.158L31.5 231.158L31.5 231.658L32 231.658L32.5 231.658ZM31.5 234.66L31.5 235.16L32.5 235.16L32.5 234.66L32 234.66L31.5 234.66ZM32.5 237.662L32.5 237.162L31.5 237.162L31.5 237.662L32 237.662L32.5 237.662ZM31.5 240.664L31.5 241.164L32.5 241.164L32.5 240.664L32 240.664L31.5 240.664ZM32.5 243.666L32.5 243.166L31.5 243.166L31.5 243.666L32 243.666L32.5 243.666ZM31.5 246.668L31.5 247.168L32.5 247.168L32.5 246.668L32 246.668L31.5 246.668ZM32.5 249.67L32.5 249.17L31.5 249.17L31.5 249.67L32 249.67L32.5 249.67ZM31.5 252.672L31.5 253.172L32.5 253.172L32.5 252.672L32 252.672L31.5 252.672ZM32.5 255.674L32.5 255.174L31.5 255.174L31.5 255.674L32 255.674L32.5 255.674ZM31.5 258.676L31.5 259.176L32.5 259.176L32.5 258.676L32 258.676L31.5 258.676ZM32.5 261.678L32.5 261.178L31.5 261.178L31.5 261.678L32 261.678L32.5 261.678ZM31.5 264.68L31.5 265.18L32.5 265.18L32.5 264.68L32 264.68L31.5 264.68ZM32.5 267.683L32.5 267.183L31.5 267.183L31.5 267.683L32 267.683L32.5 267.683ZM31.5 270.685L31.5 271.185L32.5 271.185L32.5 270.685L32 270.685L31.5 270.685ZM32.5 273.687L32.5 273.187L31.5 273.187L31.5 273.687L32 273.687L32.5 273.687ZM31.5 276.689L31.5 277.189L32.5 277.189L32.5 276.689L32 276.689L31.5 276.689ZM32.5 279.691L32.5 279.191L31.5 279.191L31.5 279.691L32 279.691L32.5 279.691ZM31.5 282.693L31.5 283.193L32.5 283.193L32.5 282.693L32 282.693L31.5 282.693ZM32.5 285.695L32.5 285.195L31.5 285.195L31.5 285.695L32 285.695L32.5 285.695ZM31.5 288.697L31.5 289.197L32.5 289.197L32.5 288.697L32 288.697L31.5 288.697ZM32.5 291.699L32.5 291.199L31.5 291.199L31.5 291.699L32 291.699L32.5 291.699ZM31.5 294.701L31.5 295.201L32.5 295.201L32.5 294.701L32 294.701L31.5 294.701ZM32.5 297.703L32.5 297.203L31.5 297.203L31.5 297.703L32 297.703L32.5 297.703ZM31.5 300.705L31.5 301.205L32.5 301.205L32.5 300.705L32 300.705L31.5 300.705ZM32.5 303.707L32.5 303.207L31.5 303.207L31.5 303.707L32 303.707L32.5 303.707ZM31.5 306.71L31.5 307.21L32.5 307.21L32.5 306.71L32 306.71L31.5 306.71ZM32.5 309.712L32.5 309.212L31.5 309.212L31.5 309.712L32 309.712L32.5 309.712ZM31.5 312.714L31.5 313.214L32.5 313.214L32.5 312.714L32 312.714L31.5 312.714ZM32.5 315.716L32.5 315.216L31.5 315.216L31.5 315.716L32 315.716L32.5 315.716ZM31.5 318.718L31.5 319.218L32.5 319.218L32.5 318.718L32 318.718L31.5 318.718ZM32.5 321.72L32.5 321.22L31.5 321.22L31.5 321.72L32 321.72L32.5 321.72ZM31.5 324.722L31.5 325.222L32.5 325.222L32.5 324.722L32 324.722L31.5 324.722ZM32.5 327.724L32.5 327.224L31.5 327.224L31.5 327.724L32 327.724L32.5 327.724ZM31.5 330.726L31.5 331.226L32.5 331.226L32.5 330.726L32 330.726L31.5 330.726ZM32.5 333.728L32.5 333.228L31.5 333.228L31.5 333.728L32 333.728L32.5 333.728ZM31.5 336.73L31.5 337.23L32.5 337.23L32.5 336.73L32 336.73L31.5 336.73ZM32.5 339.732L32.5 339.232L31.5 339.232L31.5 339.732L32 339.732L32.5 339.732ZM31.5 342.734L31.5 343.234L32.5 343.234L32.5 342.734L32 342.734L31.5 342.734ZM32.5 345.737L32.5 345.237L31.5 345.237L31.5 345.737L32 345.737L32.5 345.737ZM31.5 348.739L31.5 349.239L32.5 349.239L32.5 348.739L32 348.739L31.5 348.739ZM32.5 351.741L32.5 351.241L31.5 351.241L31.5 351.741L32 351.741L32.5 351.741ZM31.5 354.743L31.5 355.243L32.5 355.243L32.5 354.743L32 354.743L31.5 354.743ZM32.5 357.745L32.5 357.245L31.5 357.245L31.5 357.745L32 357.745L32.5 357.745ZM31.5 360.747L31.5 361.247L32.5 361.247L32.5 360.747L32 360.747L31.5 360.747ZM32.5 363.749L32.5 363.249L31.5 363.249L31.5 363.749L32 363.749L32.5 363.749ZM31.5 366.751L31.5 367.251L32.5 367.251L32.5 366.751L32 366.751L31.5 366.751ZM32.5 369.753L32.5 369.253L31.5 369.253L31.5 369.753L32 369.753L32.5 369.753ZM31.5 372.755L31.5 373.255L32.5 373.255L32.5 372.755L32 372.755L31.5 372.755ZM32.5 375.757L32.5 375.257L31.5 375.257L31.5 375.757L32 375.757L32.5 375.757ZM31.5 378.759L31.5 379.259L32.5 379.259L32.5 378.759L32 378.759L31.5 378.759ZM32.5 381.761L32.5 381.261L31.5 381.261L31.5 381.761L32 381.761L32.5 381.761ZM31.5 384.763L31.5 385.263L32.5 385.263L32.5 384.763L32 384.763L31.5 384.763ZM32.5 387.766L32.5 387.266L31.5 387.266L31.5 387.766L32 387.766L32.5 387.766ZM31.5 390.768L31.5 391.268L32.5 391.268L32.5 390.768L32 390.768L31.5 390.768ZM32.5 393.77L32.5 393.27L31.5 393.27L31.5 393.77L32 393.77L32.5 393.77ZM31.5 396.772L31.5 397.272L32.5 397.272L32.5 396.772L32 396.772L31.5 396.772ZM32.5 399.774L32.5 399.274L31.5 399.274L31.5 399.774L32 399.774L32.5 399.774ZM31.5 402.776L31.5 403.276L32.5 403.276L32.5 402.776L32 402.776L31.5 402.776ZM32.5 405.778L32.5 405.278L31.5 405.278L31.5 405.778L32 405.778L32.5 405.778ZM31.5 408.78L31.5 409.28L32.5 409.28L32.5 408.78L32 408.78L31.5 408.78ZM32.5 411.782L32.5 411.282L31.5 411.282L31.5 411.782L32 411.782L32.5 411.782ZM31.5 414.784L31.5 415.284L32.5 415.284L32.5 414.784L32 414.784L31.5 414.784ZM32.5 417.786L32.5 417.286L31.5 417.286L31.5 417.786L32 417.786L32.5 417.786ZM31.5 420.788L31.5 421.288L32.5 421.288L32.5 420.788L32 420.788L31.5 420.788ZM32.5 423.79L32.5 423.29L31.5 423.29L31.5 423.79L32 423.79L32.5 423.79ZM31.5 426.793L31.5 427.293L32.5 427.293L32.5 426.793L32 426.793L31.5 426.793ZM32.5 429.795L32.5 429.295L31.5 429.295L31.5 429.795L32 429.795L32.5 429.795ZM31.5 432.797L31.5 433.297L32.5 433.297L32.5 432.797L32 432.797L31.5 432.797ZM32.5 435.799L32.5 435.299L31.5 435.299L31.5 435.799L32 435.799L32.5 435.799ZM31.5 438.801L31.5 439.301L32.5 439.301L32.5 438.801L32 438.801L31.5 438.801ZM32.5 441.803L32.5 441.303L31.5 441.303L31.5 441.803L32 441.803L32.5 441.803ZM31.5 444.805L31.5 445.305L32.5 445.305L32.5 444.805L32 444.805L31.5 444.805ZM32.5 447.807L32.5 447.307L31.5 447.307L31.5 447.807L32 447.807L32.5 447.807ZM31.5 450.809L31.5 451.309L32.5 451.309L32.5 450.809L32 450.809L31.5 450.809ZM32.5 453.811L32.5 453.311L31.5 453.311L31.5 453.811L32 453.811L32.5 453.811ZM31.5 456.813L31.5 457.313L32.5 457.313L32.5 456.813L32 456.813L31.5 456.813ZM32.5 459.815L32.5 459.315L31.5 459.315L31.5 459.815L32 459.815L32.5 459.815ZM31.5 462.817L31.5 463.317L32.5 463.317L32.5 462.817L32 462.817L31.5 462.817ZM32.5 465.819L32.5 465.319L31.5 465.319L31.5 465.819L32 465.819L32.5 465.819ZM31.5 468.822L31.5 469.322L32.5 469.322L32.5 468.822L32 468.822L31.5 468.822ZM32.5 471.824L32.5 471.324L31.5 471.324L31.5 471.824L32 471.824L32.5 471.824ZM31.5 474.826L31.5 475.326L32.5 475.326L32.5 474.826L32 474.826L31.5 474.826ZM32.5 477.828L32.5 477.328L31.5 477.328L31.5 477.828L32 477.828L32.5 477.828ZM31.5 480.83L31.5 481.33L32.5 481.33L32.5 480.83L32 480.83L31.5 480.83ZM32.5 483.832L32.5 483.332L31.5 483.332L31.5 483.832L32 483.832L32.5 483.832ZM31.5 486.834L31.5 487.334L32.5 487.334L32.5 486.834L32 486.834L31.5 486.834ZM32.5 489.836L32.5 489.336L31.5 489.336L31.5 489.836L32 489.836L32.5 489.836ZM31.5 492.838L31.5 493.338L32.5 493.338L32.5 492.838L32 492.838L31.5 492.838ZM32.5 495.84L32.5 495.34L31.5 495.34L31.5 495.84L32 495.84L32.5 495.84ZM31.5 498.842L31.5 499.342L32.5 499.342L32.5 498.842L32 498.842L31.5 498.842ZM32.5 501.844L32.5 501.344L31.5 501.344L31.5 501.844L32 501.844L32.5 501.844ZM31.5 504.846L31.5 505.346L32.5 505.346L32.5 504.846L32 504.846L31.5 504.846ZM32.5 507.849L32.5 507.349L31.5 507.349L31.5 507.849L32 507.849L32.5 507.849ZM31.5 510.851L31.5 511.351L32.5 511.351L32.5 510.851L32 510.851L31.5 510.851ZM32.5 513.853L32.5 513.353L31.5 513.353L31.5 513.853L32 513.853L32.5 513.853ZM31.5 516.855L31.5 517.355L32.5 517.355L32.5 516.855L32 516.855L31.5 516.855ZM32.5 519.857L32.5 519.357L31.5 519.357L31.5 519.857L32 519.857L32.5 519.857ZM31.5 522.859L31.5 523.359L32.5 523.359L32.5 522.859L32 522.859L31.5 522.859ZM32.5 525.861L32.5 525.361L31.5 525.361L31.5 525.861L32 525.861L32.5 525.861ZM31.5 528.863L31.5 529.363L32.5 529.363L32.5 528.863L32 528.863L31.5 528.863ZM32.5 531.865L32.5 531.365L31.5 531.365L31.5 531.865L32 531.865L32.5 531.865ZM31.5 534.867L31.5 535.367L32.5 535.367L32.5 534.867L32 534.867L31.5 534.867ZM32.5 537.869L32.5 537.369L31.5 537.369L31.5 537.869L32 537.869L32.5 537.869ZM31.5 540.871L31.5 541.371L32.5 541.371L32.5 540.871L32 540.871L31.5 540.871ZM32.5 543.873L32.5 543.373L31.5 543.373L31.5 543.873L32 543.873L32.5 543.873ZM31.5 546.876L31.5 547.376L32.5 547.376L32.5 546.876L32 546.876L31.5 546.876ZM32.5 549.878L32.5 549.378L31.5 549.378L31.5 549.878L32 549.878L32.5 549.878ZM31.5 552.88L31.5 553.38L32.5 553.38L32.5 552.88L32 552.88L31.5 552.88ZM32.5 555.882L32.5 555.382L31.5 555.382L31.5 555.882L32 555.882L32.5 555.882ZM31.5 558.884L31.5 559.384L32.5 559.384L32.5 558.884L32 558.884L31.5 558.884ZM32.5 561.886L32.5 561.386L31.5 561.386L31.5 561.886L32 561.886L32.5 561.886ZM31.5 564.888L31.5 565.388L32.5 565.388L32.5 564.888L32 564.888L31.5 564.888ZM32.5 567.89L32.5 567.39L31.5 567.39L31.5 567.89L32 567.89L32.5 567.89ZM31.5 570.892L31.5 571.392L32.5 571.392L32.5 570.892L32 570.892L31.5 570.892ZM32.5 573.894L32.5 573.394L31.5 573.394L31.5 573.894L32 573.894L32.5 573.894ZM31.5 576.896L31.5 577.396L32.5 577.396L32.5 576.896L32 576.896L31.5 576.896ZM32.5 579.898L32.5 579.398L31.5 579.398L31.5 579.898L32 579.898L32.5 579.898ZM31.5 582.9L31.5 583.4L32.5 583.4L32.5 582.9L32 582.9L31.5 582.9ZM32.5 585.903L32.5 585.403L31.5 585.403L31.5 585.903L32 585.903L32.5 585.903ZM31.5 588.905L31.5 589.405L32.5 589.405L32.5 588.905L32 588.905L31.5 588.905ZM32.5 591.907L32.5 591.407L31.5 591.407L31.5 591.907L32 591.907L32.5 591.907ZM31.5 594.909L31.5 595.409L32.5 595.409L32.5 594.909L32 594.909L31.5 594.909ZM32.5 597.911L32.5 597.411L31.5 597.411L31.5 597.911L32 597.911L32.5 597.911ZM31.5 600.913L31.5 601.413L32.5 601.413L32.5 600.913L32 600.913L31.5 600.913ZM32.5 603.915L32.5 603.415L31.5 603.415L31.5 603.915L32 603.915L32.5 603.915ZM31.5 606.917L31.5 607.417L32.5 607.417L32.5 606.917L32 606.917L31.5 606.917ZM32.5 609.919L32.5 609.419L31.5 609.419L31.5 609.919L32 609.919L32.5 609.919ZM31.5 612.921L31.5 613.421L32.5 613.421L32.5 612.921L32 612.921L31.5 612.921ZM32.5 615.923L32.5 615.423L31.5 615.423L31.5 615.923L32 615.923L32.5 615.923ZM31.5 618.925L31.5 619.425L32.5 619.425L32.5 618.925L32 618.925L31.5 618.925ZM32.5 621.927L32.5 621.427L31.5 621.427L31.5 621.927L32 621.927L32.5 621.927ZM31.5 624.93L31.5 625.43L32.5 625.43L32.5 624.93L32 624.93L31.5 624.93ZM32.5 627.932L32.5 627.432L31.5 627.432L31.5 627.932L32 627.932L32.5 627.932ZM31.5 630.934L31.5 631.434L32.5 631.434L32.5 630.934L32 630.934L31.5 630.934ZM32.5 633.936L32.5 633.436L31.5 633.436L31.5 633.936L32 633.936L32.5 633.936ZM31.5 636.938L31.5 637.438L32.5 637.438L32.5 636.938L32 636.938L31.5 636.938ZM32.5 639.94L32.5 639.44L31.5 639.44L31.5 639.94L32 639.94L32.5 639.94ZM31.5 642.942L31.5 643.442L32.5 643.442L32.5 642.942L32 642.942L31.5 642.942ZM32.5 645.944L32.5 645.444L31.5 645.444L31.5 645.944L32 645.944L32.5 645.944ZM31.5 648.946L31.5 649.446L32.5 649.446L32.5 648.946L32 648.946L31.5 648.946ZM32.5 651.948L32.5 651.448L31.5 651.448L31.5 651.948L32 651.948L32.5 651.948ZM31.5 654.95L31.5 655.45L32.5 655.45L32.5 654.95L32 654.95L31.5 654.95ZM32.5 657.952L32.5 657.452L31.5 657.452L31.5 657.952L32 657.952L32.5 657.952ZM31.5 660.954L31.5 661.454L32.5 661.454L32.5 660.954L32 660.954L31.5 660.954ZM32.5 663.956L32.5 663.456L31.5 663.456L31.5 663.956L32 663.956L32.5 663.956ZM31.5 666.959L31.5 667.459L32.5 667.459L32.5 666.959L32 666.959L31.5 666.959ZM32.5 669.961L32.5 669.461L31.5 669.461L31.5 669.961L32 669.961L32.5 669.961ZM31.5 672.963L31.5 673.463L32.5 673.463L32.5 672.963L32 672.963L31.5 672.963ZM32.5 675.965L32.5 675.465L31.5 675.465L31.5 675.965L32 675.965L32.5 675.965ZM31.5 678.967L31.5 679.467L32.5 679.467L32.5 678.967L32 678.967L31.5 678.967ZM32.5 681.969L32.5 681.469L31.5 681.469L31.5 681.969L32 681.969L32.5 681.969ZM31.5 684.971L31.5 685.471L32.5 685.471L32.5 684.971L32 684.971L31.5 684.971ZM32.5 687.973L32.5 687.473L31.5 687.473L31.5 687.973L32 687.973L32.5 687.973ZM31.5 690.975L31.5 691.475L32.5 691.475L32.5 690.975L32 690.975L31.5 690.975ZM32.5 693.977L32.5 693.477L31.5 693.477L31.5 693.977L32 693.977L32.5 693.977ZM31.5 696.979L31.5 697.479L32.5 697.479L32.5 696.979L32 696.979L31.5 696.979ZM32.5 699.981L32.5 699.481L31.5 699.481L31.5 699.981L32 699.981L32.5 699.981ZM31.5 702.983L31.5 703.483L32.5 703.483L32.5 702.983L32 702.983L31.5 702.983ZM32.5 705.986L32.5 705.486L31.5 705.486L31.5 705.986L32 705.986L32.5 705.986ZM31.5 708.988L31.5 709.488L32.5 709.488L32.5 708.988L32 708.988L31.5 708.988ZM32.5 711.99L32.5 711.49L31.5 711.49L31.5 711.99L32 711.99L32.5 711.99ZM31.5 714.992L31.5 715.492L32.5 715.492L32.5 714.992L32 714.992L31.5 714.992ZM32.5 717.994L32.5 717.494L31.5 717.494L31.5 717.994L32 717.994L32.5 717.994ZM31.5 720.996L31.5 721.496L32.5 721.496L32.5 720.996L32 720.996L31.5 720.996ZM32.5 723.998L32.5 723.498L31.5 723.498L31.5 723.998L32 723.998L32.5 723.998ZM31.5 727L31.5 727.5L32.5 727.5L32.5 727L32 727L31.5 727ZM32.5 730.002L32.5 729.502L31.5 729.502L31.5 730.002L32 730.002L32.5 730.002ZM31.5 733.004L31.5 733.504L32.5 733.504L32.5 733.004L32 733.004L31.5 733.004ZM32.5 736.006L32.5 735.506L31.5 735.506L31.5 736.006L32 736.006L32.5 736.006ZM31.5 739.008L31.5 739.508L32.5 739.508L32.5 739.008L32 739.008L31.5 739.008ZM32.5 742.01L32.5 741.51L31.5 741.51L31.5 742.01L32 742.01L32.5 742.01ZM31.5 745.012L31.5 745.512L32.5 745.512L32.5 745.012L32 745.012L31.5 745.012ZM32.5 748.015L32.5 747.515L31.5 747.515L31.5 748.015L32 748.015L32.5 748.015ZM31.5 751.017L31.5 751.517L32.5 751.517L32.5 751.017L32 751.017L31.5 751.017ZM32.5 754.019L32.5 753.519L31.5 753.519L31.5 754.019L32 754.019L32.5 754.019ZM31.5 757.021L31.5 757.521L32.5 757.521L32.5 757.021L32 757.021L31.5 757.021ZM32.5 760.023L32.5 759.523L31.5 759.523L31.5 760.023L32 760.023L32.5 760.023ZM31.5 763.025L31.5 763.525L32.5 763.525L32.5 763.025L32 763.025L31.5 763.025ZM32.5 766.027L32.5 765.527L31.5 765.527L31.5 766.027L32 766.027L32.5 766.027ZM31.5 769.029L31.5 769.529L32.5 769.529L32.5 769.029L32 769.029L31.5 769.029ZM32.5 772.031L32.5 771.531L31.5 771.531L31.5 772.031L32 772.031L32.5 772.031ZM31.5 775.033L31.5 775.533L32.5 775.533L32.5 775.033L32 775.033L31.5 775.033ZM32.5 778.035L32.5 777.535L31.5 777.535L31.5 778.035L32 778.035L32.5 778.035ZM31.5 781.037L31.5 781.537L32.5 781.537L32.5 781.037L32 781.037L31.5 781.037ZM32.5 784.039L32.5 783.539L31.5 783.539L31.5 784.039L32 784.039L32.5 784.039ZM31.5 787.042L31.5 787.542L32.5 787.542L32.5 787.042L32 787.042L31.5 787.042ZM32.5 790.044L32.5 789.544L31.5 789.544L31.5 790.044L32 790.044L32.5 790.044ZM31.5 793.046L31.5 793.546L32.5 793.546L32.5 793.046L32 793.046L31.5 793.046ZM32.5 796.048L32.5 795.548L31.5 795.548L31.5 796.048L32 796.048L32.5 796.048ZM31.5 799.05L31.5 799.55L32.5 799.55L32.5 799.05L32 799.05L31.5 799.05ZM32.5 802.052L32.5 801.552L31.5 801.552L31.5 802.052L32 802.052L32.5 802.052ZM31.5 805.054L31.5 805.554L32.5 805.554L32.5 805.054L32 805.054L31.5 805.054ZM32.5 808.056L32.5 807.556L31.5 807.556L31.5 808.056L32 808.056L32.5 808.056ZM31.5 811.058L31.5 811.558L32.5 811.558L32.5 811.058L32 811.058L31.5 811.058ZM32.5 814.06L32.5 813.56L31.5 813.56L31.5 814.06L32 814.06L32.5 814.06ZM31.5 817.062L31.5 817.562L32.5 817.562L32.5 817.062L32 817.062L31.5 817.062ZM32.5 820.064L32.5 819.564L31.5 819.564L31.5 820.064L32 820.064L32.5 820.064ZM31.5 823.066L31.5 823.566L32.5 823.566L32.5 823.066L32 823.066L31.5 823.066ZM32.5 826.069L32.5 825.569L31.5 825.569L31.5 826.069L32 826.069L32.5 826.069ZM31.5 829.071L31.5 829.571L32.5 829.571L32.5 829.071L32 829.071L31.5 829.071ZM32.5 832.073L32.5 831.573L31.5 831.573L31.5 832.073L32 832.073L32.5 832.073ZM31.5 835.075L31.5 835.575L32.5 835.575L32.5 835.075L32 835.075L31.5 835.075ZM32.5 838.077L32.5 837.577L31.5 837.577L31.5 838.077L32 838.077L32.5 838.077ZM31.5 841.079L31.5 841.579L32.5 841.579L32.5 841.079L32 841.079L31.5 841.079ZM32.5 844.081L32.5 843.581L31.5 843.581L31.5 844.081L32 844.081L32.5 844.081ZM31.5 847.083L31.5 847.583L32.5 847.583L32.5 847.083L32 847.083L31.5 847.083ZM32.5 850.085L32.5 849.585L31.5 849.585L31.5 850.085L32 850.085L32.5 850.085ZM31.5 853.087L31.5 853.587L32.5 853.587L32.5 853.087L32 853.087L31.5 853.087ZM32.5 856.089L32.5 855.589L31.5 855.589L31.5 856.089L32 856.089L32.5 856.089ZM31.5 859.091L31.5 859.591L32.5 859.591L32.5 859.091L32 859.091L31.5 859.091ZM32.5 862.094L32.5 861.594L31.5 861.594L31.5 862.094L32 862.094L32.5 862.094ZM31.5 865.096L31.5 865.596L32.5 865.596L32.5 865.096L32 865.096L31.5 865.096ZM32.5 868.098L32.5 867.598L31.5 867.598L31.5 868.098L32 868.098L32.5 868.098ZM31.5 871.1L31.5 871.6L32.5 871.6L32.5 871.1L32 871.1L31.5 871.1ZM32.5 874.102L32.5 873.602L31.5 873.602L31.5 874.102L32 874.102L32.5 874.102ZM31.5 877.104L31.5 877.604L32.5 877.604L32.5 877.104L32 877.104L31.5 877.104ZM32.5 880.106L32.5 879.606L31.5 879.606L31.5 880.106L32 880.106L32.5 880.106ZM31.5 883.108L31.5 883.608L32.5 883.608L32.5 883.108L32 883.108L31.5 883.108ZM32.5 886.11L32.5 885.61L31.5 885.61L31.5 886.11L32 886.11L32.5 886.11ZM31.5 889.112L31.5 889.612L32.5 889.612L32.5 889.112L32 889.112L31.5 889.112ZM32.5 892.114L32.5 891.614L31.5 891.614L31.5 892.114L32 892.114L32.5 892.114ZM31.5 895.116L31.5 895.616L32.5 895.616L32.5 895.116L32 895.116L31.5 895.116ZM32.5 898.118L32.5 897.618L31.5 897.618L31.5 898.118L32 898.118L32.5 898.118ZM31.5 901.12L31.5 901.62L32.5 901.62L32.5 901.12L32 901.12L31.5 901.12ZM32.5 904.122L32.5 903.622L31.5 903.622L31.5 904.122L32 904.122L32.5 904.122ZM31.5 907.125L31.5 907.625L32.5 907.625L32.5 907.125L32 907.125L31.5 907.125ZM32.5 910.127L32.5 909.627L31.5 909.627L31.5 910.127L32 910.127L32.5 910.127ZM31.5 913.129L31.5 913.629L32.5 913.629L32.5 913.129L32 913.129L31.5 913.129ZM32.5 916.131L32.5 915.631L31.5 915.631L31.5 916.131L32 916.131L32.5 916.131ZM31.5 919.133L31.5 919.633L32.5 919.633L32.5 919.133L32 919.133L31.5 919.133ZM32.5 922.135L32.5 921.635L31.5 921.635L31.5 922.135L32 922.135L32.5 922.135ZM31.5 925.137L31.5 925.637L32.5 925.637L32.5 925.137L32 925.137L31.5 925.137ZM32.5 928.139L32.5 927.639L31.5 927.639L31.5 928.139L32 928.139L32.5 928.139ZM31.5 931.141L31.5 931.641L32.5 931.641L32.5 931.141L32 931.141L31.5 931.141ZM32.5 934.143L32.5 933.643L31.5 933.643L31.5 934.143L32 934.143L32.5 934.143ZM31.5 937.145L31.5 937.645L32.5 937.645L32.5 937.145L32 937.145L31.5 937.145ZM32.5 940.147L32.5 939.647L31.5 939.647L31.5 940.147L32 940.147L32.5 940.147ZM31.5 943.149L31.5 943.649L32.5 943.649L32.5 943.149L32 943.149L31.5 943.149ZM32.5 946.152L32.5 945.652L31.5 945.652L31.5 946.152L32 946.152L32.5 946.152ZM31.5 949.154L31.5 949.654L32.5 949.654L32.5 949.154L32 949.154L31.5 949.154ZM32.5 952.156L32.5 951.656L31.5 951.656L31.5 952.156L32 952.156L32.5 952.156ZM31.5 955.158L31.5 955.658L32.5 955.658L32.5 955.158L32 955.158L31.5 955.158ZM32.5 958.16L32.5 957.66L31.5 957.66L31.5 958.16L32 958.16L32.5 958.16ZM31.5 961.162L31.5 961.662L32.5 961.662L32.5 961.162L32 961.162L31.5 961.162ZM32.5 964.164L32.5 963.664L31.5 963.664L31.5 964.164L32 964.164L32.5 964.164ZM31.5 967.166L31.5 967.666L32.5 967.666L32.5 967.166L32 967.166L31.5 967.166ZM32.5 970.168L32.5 969.668L31.5 969.668L31.5 970.168L32 970.168L32.5 970.168ZM31.5 973.17L31.5 973.67L32.5 973.67L32.5 973.17L32 973.17L31.5 973.17ZM32.5 976.172L32.5 975.672L31.5 975.672L31.5 976.172L32 976.172L32.5 976.172ZM31.5 979.174L31.5 979.674L32.5 979.674L32.5 979.174L32 979.174L31.5 979.174ZM32.5 982.176L32.5 981.676L31.5 981.676L31.5 982.176L32 982.176L32.5 982.176ZM31.5 985.179L31.5 985.679L32.5 985.679L32.5 985.179L32 985.179L31.5 985.179ZM32.5 988.181L32.5 987.681L31.5 987.681L31.5 988.181L32 988.181L32.5 988.181ZM31.5 991.183L31.5 991.683L32.5 991.683L32.5 991.183L32 991.183L31.5 991.183ZM32.5 994.185L32.5 993.685L31.5 993.685L31.5 994.185L32 994.185L32.5 994.185ZM31.5 997.187L31.5 997.687L32.5 997.687L32.5 997.187L32 997.187L31.5 997.187ZM32.5 1000.19L32.5 999.689L31.5 999.689L31.5 1000.19L32 1000.19L32.5 1000.19ZM31.5 1003.19L31.5 1003.69L32.5 1003.69L32.5 1003.19L32 1003.19L31.5 1003.19ZM32.5 1006.19L32.5 1005.69L31.5 1005.69L31.5 1006.19L32 1006.19L32.5 1006.19ZM31.5 1009.2L31.5 1009.7L32.5 1009.7L32.5 1009.2L32 1009.2L31.5 1009.2ZM32.5 1012.2L32.5 1011.7L31.5 1011.7L31.5 1012.2L32 1012.2L32.5 1012.2ZM31.5 1015.2L31.5 1015.7L32.5 1015.7L32.5 1015.2L32 1015.2L31.5 1015.2ZM32.5 1018.2L32.5 1017.7L31.5 1017.7L31.5 1018.2L32 1018.2L32.5 1018.2ZM31.5 1021.2L31.5 1021.7L32.5 1021.7L32.5 1021.2L32 1021.2L31.5 1021.2ZM32.5 1024.21L32.5 1023.71L31.5 1023.71L31.5 1024.21L32 1024.21L32.5 1024.21ZM31.5 1027.21L31.5 1027.71L32.5 1027.71L32.5 1027.21L32 1027.21L31.5 1027.21ZM32.5 1030.21L32.5 1029.71L31.5 1029.71L31.5 1030.21L32 1030.21L32.5 1030.21ZM31.5 1033.21L31.5 1033.71L32.5 1033.71L32.5 1033.21L32 1033.21L31.5 1033.21ZM32.5 1036.21L32.5 1035.71L31.5 1035.71L31.5 1036.21L32 1036.21L32.5 1036.21ZM31.5 1039.22L31.5 1039.72L32.5 1039.72L32.5 1039.22L32 1039.22L31.5 1039.22ZM32.5 1042.22L32.5 1041.72L31.5 1041.72L31.5 1042.22L32 1042.22L32.5 1042.22ZM31.5 1045.22L31.5 1045.72L32.5 1045.72L32.5 1045.22L32 1045.22L31.5 1045.22ZM32.5 1048.22L32.5 1047.72L31.5 1047.72L31.5 1048.22L32 1048.22L32.5 1048.22ZM31.5 1051.22L31.5 1051.72L32.5 1051.72L32.5 1051.22L32 1051.22L31.5 1051.22ZM32.5 1054.23L32.5 1053.73L31.5 1053.73L31.5 1054.23L32 1054.23L32.5 1054.23ZM31.5 1057.23L31.5 1057.73L32.5 1057.73L32.5 1057.23L32 1057.23L31.5 1057.23ZM32.5 1060.23L32.5 1059.73L31.5 1059.73L31.5 1060.23L32 1060.23L32.5 1060.23ZM31.5 1063.23L31.5 1063.73L32.5 1063.73L32.5 1063.23L32 1063.23L31.5 1063.23ZM32.5 1066.23L32.5 1065.73L31.5 1065.73L31.5 1066.23L32 1066.23L32.5 1066.23ZM31.5 1069.24L31.5 1069.74L32.5 1069.74L32.5 1069.24L32 1069.24L31.5 1069.24ZM32.5 1072.24L32.5 1071.74L31.5 1071.74L31.5 1072.24L32 1072.24L32.5 1072.24ZM31.5 1075.24L31.5 1075.74L32.5 1075.74L32.5 1075.24L32 1075.24L31.5 1075.24ZM32.5 1078.24L32.5 1077.74L31.5 1077.74L31.5 1078.24L32 1078.24L32.5 1078.24ZM31.5 1081.24L31.5 1081.74L32.5 1081.74L32.5 1081.24L32 1081.24L31.5 1081.24ZM32.5 1084.25L32.5 1083.75L31.5 1083.75L31.5 1084.25L32 1084.25L32.5 1084.25ZM31.5 1087.25L31.5 1087.75L32.5 1087.75L32.5 1087.25L32 1087.25L31.5 1087.25ZM32.5 1090.25L32.5 1089.75L31.5 1089.75L31.5 1090.25L32 1090.25L32.5 1090.25ZM31.5 1093.25L31.5 1093.75L32.5 1093.75L32.5 1093.25L32 1093.25L31.5 1093.25ZM32.5 1096.26L32.5 1095.76L31.5 1095.76L31.5 1096.26L32 1096.26L32.5 1096.26ZM31.5 1099.26L31.5 1099.76L32.5 1099.76L32.5 1099.26L32 1099.26L31.5 1099.26ZM32.5 1102.26L32.5 1101.76L31.5 1101.76L31.5 1102.26L32 1102.26L32.5 1102.26ZM31.5 1105.26L31.5 1105.76L32.5 1105.76L32.5 1105.26L32 1105.26L31.5 1105.26ZM32.5 1108.26L32.5 1107.76L31.5 1107.76L31.5 1108.26L32 1108.26L32.5 1108.26ZM31.5 1111.27L31.5 1111.77L32.5 1111.77L32.5 1111.27L32 1111.27L31.5 1111.27ZM32.5 1114.27L32.5 1113.77L31.5 1113.77L31.5 1114.27L32 1114.27L32.5 1114.27ZM31.5 1117.27L31.5 1117.77L32.5 1117.77L32.5 1117.27L32 1117.27L31.5 1117.27ZM32.5 1120.27L32.5 1119.77L31.5 1119.77L31.5 1120.27L32 1120.27L32.5 1120.27ZM31.5 1123.27L31.5 1123.77L32.5 1123.77L32.5 1123.27L32 1123.27L31.5 1123.27ZM32.5 1126.28L32.5 1125.78L31.5 1125.78L31.5 1126.28L32 1126.28L32.5 1126.28ZM31.5 1129.28L31.5 1129.78L32.5 1129.78L32.5 1129.28L32 1129.28L31.5 1129.28ZM32.5 1132.28L32.5 1131.78L31.5 1131.78L31.5 1132.28L32 1132.28L32.5 1132.28ZM31.5 1135.28L31.5 1135.78L32.5 1135.78L32.5 1135.28L32 1135.28L31.5 1135.28ZM32.5 1138.28L32.5 1137.78L31.5 1137.78L31.5 1138.28L32 1138.28L32.5 1138.28ZM31.5 1141.29L31.5 1141.79L32.5 1141.79L32.5 1141.29L32 1141.29L31.5 1141.29ZM32.5 1144.29L32.5 1143.79L31.5 1143.79L31.5 1144.29L32 1144.29L32.5 1144.29ZM31.5 1147.29L31.5 1147.79L32.5 1147.79L32.5 1147.29L32 1147.29L31.5 1147.29ZM32.5 1150.29L32.5 1149.79L31.5 1149.79L31.5 1150.29L32 1150.29L32.5 1150.29ZM31.5 1153.29L31.5 1153.79L32.5 1153.79L32.5 1153.29L32 1153.29L31.5 1153.29ZM32.5 1156.3L32.5 1155.8L31.5 1155.8L31.5 1156.3L32 1156.3L32.5 1156.3ZM31.5 1159.3L31.5 1159.8L32.5 1159.8L32.5 1159.3L32 1159.3L31.5 1159.3ZM32.5 1162.3L32.5 1161.8L31.5 1161.8L31.5 1162.3L32 1162.3L32.5 1162.3ZM31.5 1165.3L31.5 1165.8L32.5 1165.8L32.5 1165.3L32 1165.3L31.5 1165.3ZM32.5 1168.31L32.5 1167.81L31.5 1167.81L31.5 1168.31L32 1168.31L32.5 1168.31ZM31.5 1171.31L31.5 1171.81L32.5 1171.81L32.5 1171.31L32 1171.31L31.5 1171.31ZM32.5 1174.31L32.5 1173.81L31.5 1173.81L31.5 1174.31L32 1174.31L32.5 1174.31ZM31.5 1177.31L31.5 1177.81L32.5 1177.81L32.5 1177.31L32 1177.31L31.5 1177.31ZM32.5 1180.31L32.5 1179.81L31.5 1179.81L31.5 1180.31L32 1180.31L32.5 1180.31ZM31.5 1183.32L31.5 1183.82L32.5 1183.82L32.5 1183.32L32 1183.32L31.5 1183.32ZM32.5 1186.32L32.5 1185.82L31.5 1185.82L31.5 1186.32L32 1186.32L32.5 1186.32ZM31.5 1189.32L31.5 1189.82L32.5 1189.82L32.5 1189.32L32 1189.32L31.5 1189.32ZM32.5 1192.32L32.5 1191.82L31.5 1191.82L31.5 1192.32L32 1192.32L32.5 1192.32ZM31.5 1195.32L31.5 1195.82L32.5 1195.82L32.5 1195.32L32 1195.32L31.5 1195.32ZM32.5 1198.33L32.5 1197.83L31.5 1197.83L31.5 1198.33L32 1198.33L32.5 1198.33ZM31.5 1201.33L31.5 1201.83L32.5 1201.83L32.5 1201.33L32 1201.33L31.5 1201.33ZM32.5 1204.33L32.5 1203.83L31.5 1203.83L31.5 1204.33L32 1204.33L32.5 1204.33ZM31.5 1207.33L31.5 1207.83L32.5 1207.83L32.5 1207.33L32 1207.33L31.5 1207.33ZM32.5 1210.33L32.5 1209.83L31.5 1209.83L31.5 1210.33L32 1210.33L32.5 1210.33ZM31.5 1213.34L31.5 1213.84L32.5 1213.84L32.5 1213.34L32 1213.34L31.5 1213.34ZM32.5 1216.34L32.5 1215.84L31.5 1215.84L31.5 1216.34L32 1216.34L32.5 1216.34ZM31.5 1219.34L31.5 1219.84L32.5 1219.84L32.5 1219.34L32 1219.34L31.5 1219.34ZM32.5 1222.34L32.5 1221.84L31.5 1221.84L31.5 1222.34L32 1222.34L32.5 1222.34ZM31.5 1225.34L31.5 1225.84L32.5 1225.84L32.5 1225.34L32 1225.34L31.5 1225.34ZM32.5 1228.35L32.5 1227.85L31.5 1227.85L31.5 1228.35L32 1228.35L32.5 1228.35ZM31.5 1231.35L31.5 1231.85L32.5 1231.85L32.5 1231.35L32 1231.35L31.5 1231.35ZM32.5 1234.35L32.5 1233.85L31.5 1233.85L31.5 1234.35L32 1234.35L32.5 1234.35ZM31.5 1237.35L31.5 1237.85L32.5 1237.85L32.5 1237.35L32 1237.35L31.5 1237.35ZM32.5 1240.35L32.5 1239.85L31.5 1239.85L31.5 1240.35L32 1240.35L32.5 1240.35ZM31.5 1243.36L31.5 1243.86L32.5 1243.86L32.5 1243.36L32 1243.36L31.5 1243.36ZM32.5 1246.36L32.5 1245.86L31.5 1245.86L31.5 1246.36L32 1246.36L32.5 1246.36ZM31.5 1249.36L31.5 1249.86L32.5 1249.86L32.5 1249.36L32 1249.36L31.5 1249.36ZM32.5 1252.36L32.5 1251.86L31.5 1251.86L31.5 1252.36L32 1252.36L32.5 1252.36ZM31.5 1255.37L31.5 1255.87L32.5 1255.87L32.5 1255.37L32 1255.37L31.5 1255.37ZM32.5 1258.37L32.5 1257.87L31.5 1257.87L31.5 1258.37L32 1258.37L32.5 1258.37ZM31.5 1261.37L31.5 1261.87L32.5 1261.87L32.5 1261.37L32 1261.37L31.5 1261.37ZM32.5 1264.37L32.5 1263.87L31.5 1263.87L31.5 1264.37L32 1264.37L32.5 1264.37ZM31.5 1267.37L31.5 1267.87L32.5 1267.87L32.5 1267.37L32 1267.37L31.5 1267.37ZM32.5 1270.38L32.5 1269.88L31.5 1269.88L31.5 1270.38L32 1270.38L32.5 1270.38ZM31.5 1273.38L31.5 1273.88L32.5 1273.88L32.5 1273.38L32 1273.38L31.5 1273.38ZM32.5 1276.38L32.5 1275.88L31.5 1275.88L31.5 1276.38L32 1276.38L32.5 1276.38ZM31.5 1279.38L31.5 1279.88L32.5 1279.88L32.5 1279.38L32 1279.38L31.5 1279.38ZM32.5 1282.38L32.5 1281.88L31.5 1281.88L31.5 1282.38L32 1282.38L32.5 1282.38ZM31.5 1285.39L31.5 1285.89L32.5 1285.89L32.5 1285.39L32 1285.39L31.5 1285.39ZM32.5 1288.39L32.5 1287.89L31.5 1287.89L31.5 1288.39L32 1288.39L32.5 1288.39ZM31.5 1291.39L31.5 1291.89L32.5 1291.89L32.5 1291.39L32 1291.39L31.5 1291.39ZM32.5 1294.39L32.5 1293.89L31.5 1293.89L31.5 1294.39L32 1294.39L32.5 1294.39ZM31.5 1297.39L31.5 1297.89L32.5 1297.89L32.5 1297.39L32 1297.39L31.5 1297.39ZM32.5 1300.4L32.5 1299.9L31.5 1299.9L31.5 1300.4L32 1300.4L32.5 1300.4ZM31.5 1303.4L31.5 1303.9L32.5 1303.9L32.5 1303.4L32 1303.4L31.5 1303.4ZM32.5 1306.4L32.5 1305.9L31.5 1305.9L31.5 1306.4L32 1306.4L32.5 1306.4ZM31.5 1309.4L31.5 1309.9L32.5 1309.9L32.5 1309.4L32 1309.4L31.5 1309.4ZM32.5 1312.4L32.5 1311.9L31.5 1311.9L31.5 1312.4L32 1312.4L32.5 1312.4ZM31.5 1315.41L31.5 1315.91L32.5 1315.91L32.5 1315.41L32 1315.41L31.5 1315.41ZM32.5 1318.41L32.5 1317.91L31.5 1317.91L31.5 1318.41L32 1318.41L32.5 1318.41ZM31.5 1321.41L31.5 1321.91L32.5 1321.91L32.5 1321.41L32 1321.41L31.5 1321.41ZM32.5 1324.41L32.5 1323.91L31.5 1323.91L31.5 1324.41L32 1324.41L32.5 1324.41ZM31.5 1327.42L31.5 1327.92L32.5 1327.92L32.5 1327.42L32 1327.42L31.5 1327.42ZM32.5 1330.42L32.5 1329.92L31.5 1329.92L31.5 1330.42L32 1330.42L32.5 1330.42ZM31.5 1333.42L31.5 1333.92L32.5 1333.92L32.5 1333.42L32 1333.42L31.5 1333.42ZM32.5 1336.42L32.5 1335.92L31.5 1335.92L31.5 1336.42L32 1336.42L32.5 1336.42ZM31.5 1339.42L31.5 1339.92L32.5 1339.92L32.5 1339.42L32 1339.42L31.5 1339.42ZM32.5 1342.43L32.5 1341.93L31.5 1341.93L31.5 1342.43L32 1342.43L32.5 1342.43ZM31.5 1345.43L31.5 1345.93L32.5 1345.93L32.5 1345.43L32 1345.43L31.5 1345.43ZM32.5 1348.43L32.5 1347.93L31.5 1347.93L31.5 1348.43L32 1348.43L32.5 1348.43ZM31.5 1351.43L31.5 1351.93L32.5 1351.93L32.5 1351.43L32 1351.43L31.5 1351.43ZM32.5 1354.43L32.5 1353.93L31.5 1353.93L31.5 1354.43L32 1354.43L32.5 1354.43ZM31.5 1357.44L31.5 1357.94L32.5 1357.94L32.5 1357.44L32 1357.44L31.5 1357.44ZM32.5 1360.44L32.5 1359.94L31.5 1359.94L31.5 1360.44L32 1360.44L32.5 1360.44ZM31.5 1363.44L31.5 1363.94L32.5 1363.94L32.5 1363.44L32 1363.44L31.5 1363.44ZM32.5 1366.44L32.5 1365.94L31.5 1365.94L31.5 1366.44L32 1366.44L32.5 1366.44ZM31.5 1369.44L31.5 1369.94L32.5 1369.94L32.5 1369.44L32 1369.44L31.5 1369.44ZM32.5 1372.45L32.5 1371.95L31.5 1371.95L31.5 1372.45L32 1372.45L32.5 1372.45ZM31.5 1375.45L31.5 1375.95L32.5 1375.95L32.5 1375.45L32 1375.45L31.5 1375.45ZM32.5 1378.45L32.5 1377.95L31.5 1377.95L31.5 1378.45L32 1378.45L32.5 1378.45ZM31.5 1381.45L31.5 1381.95L32.5 1381.95L32.5 1381.45L32 1381.45L31.5 1381.45ZM32.5 1384.45L32.5 1383.95L31.5 1383.95L31.5 1384.45L32 1384.45L32.5 1384.45ZM31.5 1387.46L31.5 1387.96L32.5 1387.96L32.5 1387.46L32 1387.46L31.5 1387.46ZM32.5 1390.46L32.5 1389.96L31.5 1389.96L31.5 1390.46L32 1390.46L32.5 1390.46ZM31.5 1393.46L31.5 1393.96L32.5 1393.96L32.5 1393.46L32 1393.46L31.5 1393.46ZM32.5 1396.46L32.5 1395.96L31.5 1395.96L31.5 1396.46L32 1396.46L32.5 1396.46ZM31.5 1399.46L31.5 1399.96L32.5 1399.96L32.5 1399.46L32 1399.46L31.5 1399.46ZM32.5 1402.47L32.5 1401.97L31.5 1401.97L31.5 1402.47L32 1402.47L32.5 1402.47ZM31.5 1405.47L31.5 1405.97L32.5 1405.97L32.5 1405.47L32 1405.47L31.5 1405.47ZM32.5 1408.47L32.5 1407.97L31.5 1407.97L31.5 1408.47L32 1408.47L32.5 1408.47ZM31.5 1411.47L31.5 1411.97L32.5 1411.97L32.5 1411.47L32 1411.47L31.5 1411.47ZM32.5 1414.48L32.5 1413.98L31.5 1413.98L31.5 1414.48L32 1414.48L32.5 1414.48ZM31.5 1417.48L31.5 1417.98L32.5 1417.98L32.5 1417.48L32 1417.48L31.5 1417.48ZM32.5 1420.48L32.5 1419.98L31.5 1419.98L31.5 1420.48L32 1420.48L32.5 1420.48ZM31.5 1423.48L31.5 1423.98L32.5 1423.98L32.5 1423.48L32 1423.48L31.5 1423.48ZM32.5 1426.48L32.5 1425.98L31.5 1425.98L31.5 1426.48L32 1426.48L32.5 1426.48ZM31.5 1429.49L31.5 1429.99L32.5 1429.99L32.5 1429.49L32 1429.49L31.5 1429.49ZM32.5 1432.49L32.5 1431.99L31.5 1431.99L31.5 1432.49L32 1432.49L32.5 1432.49ZM31.5 1435.49L31.5 1435.99L32.5 1435.99L32.5 1435.49L32 1435.49L31.5 1435.49ZM32.5 1438.49L32.5 1437.99L31.5 1437.99L31.5 1438.49L32 1438.49L32.5 1438.49ZM31.5 1441.49L31.5 1441.99L32.5 1441.99L32.5 1441.49L32 1441.49L31.5 1441.49ZM32.5 1444.5L32.5 1444L31.5 1444L31.5 1444.5L32 1444.5L32.5 1444.5ZM32 5L31.5 5L31.5 6.50104L32 6.50104L32.5 6.50104L32.5 5L32 5ZM32 9.50313L31.5 9.50313L31.5 12.5052L32 12.5052L32.5 12.5052L32.5 9.50313L32 9.50313ZM32 15.5073L31.5 15.5073L31.5 18.5094L32 18.5094L32.5 18.5094L32.5 15.5073L32 15.5073ZM32 21.5115L31.5 21.5115L31.5 24.5135L32 24.5135L32.5 24.5135L32.5 21.5115L32 21.5115ZM32 27.5156L31.5 27.5156L31.5 30.5177L32 30.5177L32.5 30.5177L32.5 27.5156L32 27.5156ZM32 33.5198L31.5 33.5198L31.5 36.5219L32 36.5219L32.5 36.5219L32.5 33.5198L32 33.5198ZM32 39.524L31.5 39.524L31.5 42.526L32 42.526L32.5 42.526L32.5 39.524L32 39.524ZM32 45.5281L31.5 45.5281L31.5 48.5302L32 48.5302L32.5 48.5302L32.5 45.5281L32 45.5281ZM32 51.5323L31.5 51.5323L31.5 54.5344L32 54.5344L32.5 54.5344L32.5 51.5323L32 51.5323ZM32 57.5364L31.5 57.5364L31.5 60.5385L32 60.5385L32.5 60.5385L32.5 57.5364L32 57.5364ZM32 63.5406L31.5 63.5406L31.5 66.5427L32 66.5427L32.5 66.5427L32.5 63.5406L32 63.5406ZM32 69.5448L31.5 69.5448L31.5 72.5469L32 72.5469L32.5 72.5469L32.5 69.5448L32 69.5448ZM32 75.549L31.5 75.549L31.5 78.551L32 78.551L32.5 78.551L32.5 75.549L32 75.549ZM32 81.5531L31.5 81.5531L31.5 84.5552L32 84.5552L32.5 84.5552L32.5 81.5531L32 81.5531ZM32 87.5573L31.5 87.5573L31.5 90.5594L32 90.5594L32.5 90.5594L32.5 87.5573L32 87.5573ZM32 93.5614L31.5 93.5614L31.5 96.5635L32 96.5635L32.5 96.5635L32.5 93.5614L32 93.5614ZM32 99.5656L31.5 99.5656L31.5 102.568L32 102.568L32.5 102.568L32.5 99.5656L32 99.5656ZM32 105.57L31.5 105.57L31.5 108.572L32 108.572L32.5 108.572L32.5 105.57L32 105.57ZM32 111.574L31.5 111.574L31.5 114.576L32 114.576L32.5 114.576L32.5 111.574L32 111.574ZM32 117.578L31.5 117.578L31.5 120.58L32 120.58L32.5 120.58L32.5 117.578L32 117.578ZM32 123.582L31.5 123.582L31.5 126.584L32 126.584L32.5 126.584L32.5 123.582L32 123.582ZM32 129.586L31.5 129.586L31.5 132.589L32 132.589L32.5 132.589L32.5 129.586L32 129.586ZM32 135.591L31.5 135.591L31.5 138.593L32 138.593L32.5 138.593L32.5 135.591L32 135.591ZM32 141.595L31.5 141.595L31.5 144.597L32 144.597L32.5 144.597L32.5 141.595L32 141.595ZM32 147.599L31.5 147.599L31.5 150.601L32 150.601L32.5 150.601L32.5 147.599L32 147.599ZM32 153.603L31.5 153.603L31.5 156.605L32 156.605L32.5 156.605L32.5 153.603L32 153.603ZM32 159.607L31.5 159.607L31.5 162.609L32 162.609L32.5 162.609L32.5 159.607L32 159.607ZM32 165.612L31.5 165.612L31.5 168.614L32 168.614L32.5 168.614L32.5 165.612L32 165.612ZM32 171.616L31.5 171.616L31.5 174.618L32 174.618L32.5 174.618L32.5 171.616L32 171.616ZM32 177.62L31.5 177.62L31.5 180.622L32 180.622L32.5 180.622L32.5 177.62L32 177.62ZM32 183.624L31.5 183.624L31.5 186.626L32 186.626L32.5 186.626L32.5 183.624L32 183.624ZM32 189.628L31.5 189.628L31.5 192.63L32 192.63L32.5 192.63L32.5 189.628L32 189.628ZM32 195.632L31.5 195.632L31.5 198.635L32 198.635L32.5 198.635L32.5 195.632L32 195.632ZM32 201.637L31.5 201.637L31.5 204.639L32 204.639L32.5 204.639L32.5 201.637L32 201.637ZM32 207.641L31.5 207.641L31.5 210.643L32 210.643L32.5 210.643L32.5 207.641L32 207.641ZM32 213.645L31.5 213.645L31.5 216.647L32 216.647L32.5 216.647L32.5 213.645L32 213.645ZM32 219.649L31.5 219.649L31.5 222.651L32 222.651L32.5 222.651L32.5 219.649L32 219.649ZM32 225.653L31.5 225.653L31.5 228.655L32 228.655L32.5 228.655L32.5 225.653L32 225.653ZM32 231.658L31.5 231.658L31.5 234.66L32 234.66L32.5 234.66L32.5 231.658L32 231.658ZM32 237.662L31.5 237.662L31.5 240.664L32 240.664L32.5 240.664L32.5 237.662L32 237.662ZM32 243.666L31.5 243.666L31.5 246.668L32 246.668L32.5 246.668L32.5 243.666L32 243.666ZM32 249.67L31.5 249.67L31.5 252.672L32 252.672L32.5 252.672L32.5 249.67L32 249.67ZM32 255.674L31.5 255.674L31.5 258.676L32 258.676L32.5 258.676L32.5 255.674L32 255.674ZM32 261.678L31.5 261.678L31.5 264.68L32 264.68L32.5 264.68L32.5 261.678L32 261.678ZM32 267.683L31.5 267.683L31.5 270.685L32 270.685L32.5 270.685L32.5 267.683L32 267.683ZM32 273.687L31.5 273.687L31.5 276.689L32 276.689L32.5 276.689L32.5 273.687L32 273.687ZM32 279.691L31.5 279.691L31.5 282.693L32 282.693L32.5 282.693L32.5 279.691L32 279.691ZM32 285.695L31.5 285.695L31.5 288.697L32 288.697L32.5 288.697L32.5 285.695L32 285.695ZM32 291.699L31.5 291.699L31.5 294.701L32 294.701L32.5 294.701L32.5 291.699L32 291.699ZM32 297.703L31.5 297.703L31.5 300.705L32 300.705L32.5 300.705L32.5 297.703L32 297.703ZM32 303.707L31.5 303.707L31.5 306.71L32 306.71L32.5 306.71L32.5 303.707L32 303.707ZM32 309.712L31.5 309.712L31.5 312.714L32 312.714L32.5 312.714L32.5 309.712L32 309.712ZM32 315.716L31.5 315.716L31.5 318.718L32 318.718L32.5 318.718L32.5 315.716L32 315.716ZM32 321.72L31.5 321.72L31.5 324.722L32 324.722L32.5 324.722L32.5 321.72L32 321.72ZM32 327.724L31.5 327.724L31.5 330.726L32 330.726L32.5 330.726L32.5 327.724L32 327.724ZM32 333.728L31.5 333.728L31.5 336.73L32 336.73L32.5 336.73L32.5 333.728L32 333.728ZM32 339.732L31.5 339.732L31.5 342.734L32 342.734L32.5 342.734L32.5 339.732L32 339.732ZM32 345.737L31.5 345.737L31.5 348.739L32 348.739L32.5 348.739L32.5 345.737L32 345.737ZM32 351.741L31.5 351.741L31.5 354.743L32 354.743L32.5 354.743L32.5 351.741L32 351.741ZM32 357.745L31.5 357.745L31.5 360.747L32 360.747L32.5 360.747L32.5 357.745L32 357.745ZM32 363.749L31.5 363.749L31.5 366.751L32 366.751L32.5 366.751L32.5 363.749L32 363.749ZM32 369.753L31.5 369.753L31.5 372.755L32 372.755L32.5 372.755L32.5 369.753L32 369.753ZM32 375.757L31.5 375.757L31.5 378.759L32 378.759L32.5 378.759L32.5 375.757L32 375.757ZM32 381.761L31.5 381.761L31.5 384.763L32 384.763L32.5 384.763L32.5 381.761L32 381.761ZM32 387.766L31.5 387.766L31.5 390.768L32 390.768L32.5 390.768L32.5 387.766L32 387.766ZM32 393.77L31.5 393.77L31.5 396.772L32 396.772L32.5 396.772L32.5 393.77L32 393.77ZM32 399.774L31.5 399.774L31.5 402.776L32 402.776L32.5 402.776L32.5 399.774L32 399.774ZM32 405.778L31.5 405.778L31.5 408.78L32 408.78L32.5 408.78L32.5 405.778L32 405.778ZM32 411.782L31.5 411.782L31.5 414.784L32 414.784L32.5 414.784L32.5 411.782L32 411.782ZM32 417.786L31.5 417.786L31.5 420.788L32 420.788L32.5 420.788L32.5 417.786L32 417.786ZM32 423.79L31.5 423.79L31.5 426.793L32 426.793L32.5 426.793L32.5 423.79L32 423.79ZM32 429.795L31.5 429.795L31.5 432.797L32 432.797L32.5 432.797L32.5 429.795L32 429.795ZM32 435.799L31.5 435.799L31.5 438.801L32 438.801L32.5 438.801L32.5 435.799L32 435.799ZM32 441.803L31.5 441.803L31.5 444.805L32 444.805L32.5 444.805L32.5 441.803L32 441.803ZM32 447.807L31.5 447.807L31.5 450.809L32 450.809L32.5 450.809L32.5 447.807L32 447.807ZM32 453.811L31.5 453.811L31.5 456.813L32 456.813L32.5 456.813L32.5 453.811L32 453.811ZM32 459.815L31.5 459.815L31.5 462.817L32 462.817L32.5 462.817L32.5 459.815L32 459.815ZM32 465.819L31.5 465.819L31.5 468.822L32 468.822L32.5 468.822L32.5 465.819L32 465.819ZM32 471.824L31.5 471.824L31.5 474.826L32 474.826L32.5 474.826L32.5 471.824L32 471.824ZM32 477.828L31.5 477.828L31.5 480.83L32 480.83L32.5 480.83L32.5 477.828L32 477.828ZM32 483.832L31.5 483.832L31.5 486.834L32 486.834L32.5 486.834L32.5 483.832L32 483.832ZM32 489.836L31.5 489.836L31.5 492.838L32 492.838L32.5 492.838L32.5 489.836L32 489.836ZM32 495.84L31.5 495.84L31.5 498.842L32 498.842L32.5 498.842L32.5 495.84L32 495.84ZM32 501.844L31.5 501.844L31.5 504.846L32 504.846L32.5 504.846L32.5 501.844L32 501.844ZM32 507.849L31.5 507.849L31.5 510.851L32 510.851L32.5 510.851L32.5 507.849L32 507.849ZM32 513.853L31.5 513.853L31.5 516.855L32 516.855L32.5 516.855L32.5 513.853L32 513.853ZM32 519.857L31.5 519.857L31.5 522.859L32 522.859L32.5 522.859L32.5 519.857L32 519.857ZM32 525.861L31.5 525.861L31.5 528.863L32 528.863L32.5 528.863L32.5 525.861L32 525.861ZM32 531.865L31.5 531.865L31.5 534.867L32 534.867L32.5 534.867L32.5 531.865L32 531.865ZM32 537.869L31.5 537.869L31.5 540.871L32 540.871L32.5 540.871L32.5 537.869L32 537.869ZM32 543.873L31.5 543.873L31.5 546.876L32 546.876L32.5 546.876L32.5 543.873L32 543.873ZM32 549.878L31.5 549.878L31.5 552.88L32 552.88L32.5 552.88L32.5 549.878L32 549.878ZM32 555.882L31.5 555.882L31.5 558.884L32 558.884L32.5 558.884L32.5 555.882L32 555.882ZM32 561.886L31.5 561.886L31.5 564.888L32 564.888L32.5 564.888L32.5 561.886L32 561.886ZM32 567.89L31.5 567.89L31.5 570.892L32 570.892L32.5 570.892L32.5 567.89L32 567.89ZM32 573.894L31.5 573.894L31.5 576.896L32 576.896L32.5 576.896L32.5 573.894L32 573.894ZM32 579.898L31.5 579.898L31.5 582.9L32 582.9L32.5 582.9L32.5 579.898L32 579.898ZM32 585.903L31.5 585.903L31.5 588.905L32 588.905L32.5 588.905L32.5 585.903L32 585.903ZM32 591.907L31.5 591.907L31.5 594.909L32 594.909L32.5 594.909L32.5 591.907L32 591.907ZM32 597.911L31.5 597.911L31.5 600.913L32 600.913L32.5 600.913L32.5 597.911L32 597.911ZM32 603.915L31.5 603.915L31.5 606.917L32 606.917L32.5 606.917L32.5 603.915L32 603.915ZM32 609.919L31.5 609.919L31.5 612.921L32 612.921L32.5 612.921L32.5 609.919L32 609.919ZM32 615.923L31.5 615.923L31.5 618.925L32 618.925L32.5 618.925L32.5 615.923L32 615.923ZM32 621.927L31.5 621.927L31.5 624.93L32 624.93L32.5 624.93L32.5 621.927L32 621.927ZM32 627.932L31.5 627.932L31.5 630.934L32 630.934L32.5 630.934L32.5 627.932L32 627.932ZM32 633.936L31.5 633.936L31.5 636.938L32 636.938L32.5 636.938L32.5 633.936L32 633.936ZM32 639.94L31.5 639.94L31.5 642.942L32 642.942L32.5 642.942L32.5 639.94L32 639.94ZM32 645.944L31.5 645.944L31.5 648.946L32 648.946L32.5 648.946L32.5 645.944L32 645.944ZM32 651.948L31.5 651.948L31.5 654.95L32 654.95L32.5 654.95L32.5 651.948L32 651.948ZM32 657.952L31.5 657.952L31.5 660.954L32 660.954L32.5 660.954L32.5 657.952L32 657.952ZM32 663.956L31.5 663.956L31.5 666.959L32 666.959L32.5 666.959L32.5 663.956L32 663.956ZM32 669.961L31.5 669.961L31.5 672.963L32 672.963L32.5 672.963L32.5 669.961L32 669.961ZM32 675.965L31.5 675.965L31.5 678.967L32 678.967L32.5 678.967L32.5 675.965L32 675.965ZM32 681.969L31.5 681.969L31.5 684.971L32 684.971L32.5 684.971L32.5 681.969L32 681.969ZM32 687.973L31.5 687.973L31.5 690.975L32 690.975L32.5 690.975L32.5 687.973L32 687.973ZM32 693.977L31.5 693.977L31.5 696.979L32 696.979L32.5 696.979L32.5 693.977L32 693.977ZM32 699.981L31.5 699.981L31.5 702.983L32 702.983L32.5 702.983L32.5 699.981L32 699.981ZM32 705.986L31.5 705.986L31.5 708.988L32 708.988L32.5 708.988L32.5 705.986L32 705.986ZM32 711.99L31.5 711.99L31.5 714.992L32 714.992L32.5 714.992L32.5 711.99L32 711.99ZM32 717.994L31.5 717.994L31.5 720.996L32 720.996L32.5 720.996L32.5 717.994L32 717.994ZM32 723.998L31.5 723.998L31.5 727L32 727L32.5 727L32.5 723.998L32 723.998ZM32 730.002L31.5 730.002L31.5 733.004L32 733.004L32.5 733.004L32.5 730.002L32 730.002ZM32 736.006L31.5 736.006L31.5 739.008L32 739.008L32.5 739.008L32.5 736.006L32 736.006ZM32 742.01L31.5 742.01L31.5 745.012L32 745.012L32.5 745.012L32.5 742.01L32 742.01ZM32 748.015L31.5 748.015L31.5 751.017L32 751.017L32.5 751.017L32.5 748.015L32 748.015ZM32 754.019L31.5 754.019L31.5 757.021L32 757.021L32.5 757.021L32.5 754.019L32 754.019ZM32 760.023L31.5 760.023L31.5 763.025L32 763.025L32.5 763.025L32.5 760.023L32 760.023ZM32 766.027L31.5 766.027L31.5 769.029L32 769.029L32.5 769.029L32.5 766.027L32 766.027ZM32 772.031L31.5 772.031L31.5 775.033L32 775.033L32.5 775.033L32.5 772.031L32 772.031ZM32 778.035L31.5 778.035L31.5 781.037L32 781.037L32.5 781.037L32.5 778.035L32 778.035ZM32 784.039L31.5 784.039L31.5 787.042L32 787.042L32.5 787.042L32.5 784.039L32 784.039ZM32 790.044L31.5 790.044L31.5 793.046L32 793.046L32.5 793.046L32.5 790.044L32 790.044ZM32 796.048L31.5 796.048L31.5 799.05L32 799.05L32.5 799.05L32.5 796.048L32 796.048ZM32 802.052L31.5 802.052L31.5 805.054L32 805.054L32.5 805.054L32.5 802.052L32 802.052ZM32 808.056L31.5 808.056L31.5 811.058L32 811.058L32.5 811.058L32.5 808.056L32 808.056ZM32 814.06L31.5 814.06L31.5 817.062L32 817.062L32.5 817.062L32.5 814.06L32 814.06ZM32 820.064L31.5 820.064L31.5 823.066L32 823.066L32.5 823.066L32.5 820.064L32 820.064ZM32 826.069L31.5 826.069L31.5 829.071L32 829.071L32.5 829.071L32.5 826.069L32 826.069ZM32 832.073L31.5 832.073L31.5 835.075L32 835.075L32.5 835.075L32.5 832.073L32 832.073ZM32 838.077L31.5 838.077L31.5 841.079L32 841.079L32.5 841.079L32.5 838.077L32 838.077ZM32 844.081L31.5 844.081L31.5 847.083L32 847.083L32.5 847.083L32.5 844.081L32 844.081ZM32 850.085L31.5 850.085L31.5 853.087L32 853.087L32.5 853.087L32.5 850.085L32 850.085ZM32 856.089L31.5 856.089L31.5 859.091L32 859.091L32.5 859.091L32.5 856.089L32 856.089ZM32 862.094L31.5 862.094L31.5 865.096L32 865.096L32.5 865.096L32.5 862.094L32 862.094ZM32 868.098L31.5 868.098L31.5 871.1L32 871.1L32.5 871.1L32.5 868.098L32 868.098ZM32 874.102L31.5 874.102L31.5 877.104L32 877.104L32.5 877.104L32.5 874.102L32 874.102ZM32 880.106L31.5 880.106L31.5 883.108L32 883.108L32.5 883.108L32.5 880.106L32 880.106ZM32 886.11L31.5 886.11L31.5 889.112L32 889.112L32.5 889.112L32.5 886.11L32 886.11ZM32 892.114L31.5 892.114L31.5 895.116L32 895.116L32.5 895.116L32.5 892.114L32 892.114ZM32 898.118L31.5 898.118L31.5 901.12L32 901.12L32.5 901.12L32.5 898.118L32 898.118ZM32 904.122L31.5 904.122L31.5 907.125L32 907.125L32.5 907.125L32.5 904.122L32 904.122ZM32 910.127L31.5 910.127L31.5 913.129L32 913.129L32.5 913.129L32.5 910.127L32 910.127ZM32 916.131L31.5 916.131L31.5 919.133L32 919.133L32.5 919.133L32.5 916.131L32 916.131ZM32 922.135L31.5 922.135L31.5 925.137L32 925.137L32.5 925.137L32.5 922.135L32 922.135ZM32 928.139L31.5 928.139L31.5 931.141L32 931.141L32.5 931.141L32.5 928.139L32 928.139ZM32 934.143L31.5 934.143L31.5 937.145L32 937.145L32.5 937.145L32.5 934.143L32 934.143ZM32 940.147L31.5 940.147L31.5 943.149L32 943.149L32.5 943.149L32.5 940.147L32 940.147ZM32 946.152L31.5 946.152L31.5 949.154L32 949.154L32.5 949.154L32.5 946.152L32 946.152ZM32 952.156L31.5 952.156L31.5 955.158L32 955.158L32.5 955.158L32.5 952.156L32 952.156ZM32 958.16L31.5 958.16L31.5 961.162L32 961.162L32.5 961.162L32.5 958.16L32 958.16ZM32 964.164L31.5 964.164L31.5 967.166L32 967.166L32.5 967.166L32.5 964.164L32 964.164ZM32 970.168L31.5 970.168L31.5 973.17L32 973.17L32.5 973.17L32.5 970.168L32 970.168ZM32 976.172L31.5 976.172L31.5 979.174L32 979.174L32.5 979.174L32.5 976.172L32 976.172ZM32 982.176L31.5 982.176L31.5 985.179L32 985.179L32.5 985.179L32.5 982.176L32 982.176ZM32 988.181L31.5 988.181L31.5 991.183L32 991.183L32.5 991.183L32.5 988.181L32 988.181ZM32 994.185L31.5 994.185L31.5 997.187L32 997.187L32.5 997.187L32.5 994.185L32 994.185ZM32 1000.19L31.5 1000.19L31.5 1003.19L32 1003.19L32.5 1003.19L32.5 1000.19L32 1000.19ZM32 1006.19L31.5 1006.19L31.5 1009.2L32 1009.2L32.5 1009.2L32.5 1006.19L32 1006.19ZM32 1012.2L31.5 1012.2L31.5 1015.2L32 1015.2L32.5 1015.2L32.5 1012.2L32 1012.2ZM32 1018.2L31.5 1018.2L31.5 1021.2L32 1021.2L32.5 1021.2L32.5 1018.2L32 1018.2ZM32 1024.21L31.5 1024.21L31.5 1027.21L32 1027.21L32.5 1027.21L32.5 1024.21L32 1024.21ZM32 1030.21L31.5 1030.21L31.5 1033.21L32 1033.21L32.5 1033.21L32.5 1030.21L32 1030.21ZM32 1036.21L31.5 1036.21L31.5 1039.22L32 1039.22L32.5 1039.22L32.5 1036.21L32 1036.21ZM32 1042.22L31.5 1042.22L31.5 1045.22L32 1045.22L32.5 1045.22L32.5 1042.22L32 1042.22ZM32 1048.22L31.5 1048.22L31.5 1051.22L32 1051.22L32.5 1051.22L32.5 1048.22L32 1048.22ZM32 1054.23L31.5 1054.23L31.5 1057.23L32 1057.23L32.5 1057.23L32.5 1054.23L32 1054.23ZM32 1060.23L31.5 1060.23L31.5 1063.23L32 1063.23L32.5 1063.23L32.5 1060.23L32 1060.23ZM32 1066.23L31.5 1066.23L31.5 1069.24L32 1069.24L32.5 1069.24L32.5 1066.23L32 1066.23ZM32 1072.24L31.5 1072.24L31.5 1075.24L32 1075.24L32.5 1075.24L32.5 1072.24L32 1072.24ZM32 1078.24L31.5 1078.24L31.5 1081.24L32 1081.24L32.5 1081.24L32.5 1078.24L32 1078.24ZM32 1084.25L31.5 1084.25L31.5 1087.25L32 1087.25L32.5 1087.25L32.5 1084.25L32 1084.25ZM32 1090.25L31.5 1090.25L31.5 1093.25L32 1093.25L32.5 1093.25L32.5 1090.25L32 1090.25ZM32 1096.26L31.5 1096.26L31.5 1099.26L32 1099.26L32.5 1099.26L32.5 1096.26L32 1096.26ZM32 1102.26L31.5 1102.26L31.5 1105.26L32 1105.26L32.5 1105.26L32.5 1102.26L32 1102.26ZM32 1108.26L31.5 1108.26L31.5 1111.27L32 1111.27L32.5 1111.27L32.5 1108.26L32 1108.26ZM32 1114.27L31.5 1114.27L31.5 1117.27L32 1117.27L32.5 1117.27L32.5 1114.27L32 1114.27ZM32 1120.27L31.5 1120.27L31.5 1123.27L32 1123.27L32.5 1123.27L32.5 1120.27L32 1120.27ZM32 1126.28L31.5 1126.28L31.5 1129.28L32 1129.28L32.5 1129.28L32.5 1126.28L32 1126.28ZM32 1132.28L31.5 1132.28L31.5 1135.28L32 1135.28L32.5 1135.28L32.5 1132.28L32 1132.28ZM32 1138.28L31.5 1138.28L31.5 1141.29L32 1141.29L32.5 1141.29L32.5 1138.28L32 1138.28ZM32 1144.29L31.5 1144.29L31.5 1147.29L32 1147.29L32.5 1147.29L32.5 1144.29L32 1144.29ZM32 1150.29L31.5 1150.29L31.5 1153.29L32 1153.29L32.5 1153.29L32.5 1150.29L32 1150.29ZM32 1156.3L31.5 1156.3L31.5 1159.3L32 1159.3L32.5 1159.3L32.5 1156.3L32 1156.3ZM32 1162.3L31.5 1162.3L31.5 1165.3L32 1165.3L32.5 1165.3L32.5 1162.3L32 1162.3ZM32 1168.31L31.5 1168.31L31.5 1171.31L32 1171.31L32.5 1171.31L32.5 1168.31L32 1168.31ZM32 1174.31L31.5 1174.31L31.5 1177.31L32 1177.31L32.5 1177.31L32.5 1174.31L32 1174.31ZM32 1180.31L31.5 1180.31L31.5 1183.32L32 1183.32L32.5 1183.32L32.5 1180.31L32 1180.31ZM32 1186.32L31.5 1186.32L31.5 1189.32L32 1189.32L32.5 1189.32L32.5 1186.32L32 1186.32ZM32 1192.32L31.5 1192.32L31.5 1195.32L32 1195.32L32.5 1195.32L32.5 1192.32L32 1192.32ZM32 1198.33L31.5 1198.33L31.5 1201.33L32 1201.33L32.5 1201.33L32.5 1198.33L32 1198.33ZM32 1204.33L31.5 1204.33L31.5 1207.33L32 1207.33L32.5 1207.33L32.5 1204.33L32 1204.33ZM32 1210.33L31.5 1210.33L31.5 1213.34L32 1213.34L32.5 1213.34L32.5 1210.33L32 1210.33ZM32 1216.34L31.5 1216.34L31.5 1219.34L32 1219.34L32.5 1219.34L32.5 1216.34L32 1216.34ZM32 1222.34L31.5 1222.34L31.5 1225.34L32 1225.34L32.5 1225.34L32.5 1222.34L32 1222.34ZM32 1228.35L31.5 1228.35L31.5 1231.35L32 1231.35L32.5 1231.35L32.5 1228.35L32 1228.35ZM32 1234.35L31.5 1234.35L31.5 1237.35L32 1237.35L32.5 1237.35L32.5 1234.35L32 1234.35ZM32 1240.35L31.5 1240.35L31.5 1243.36L32 1243.36L32.5 1243.36L32.5 1240.35L32 1240.35ZM32 1246.36L31.5 1246.36L31.5 1249.36L32 1249.36L32.5 1249.36L32.5 1246.36L32 1246.36ZM32 1252.36L31.5 1252.36L31.5 1255.37L32 1255.37L32.5 1255.37L32.5 1252.36L32 1252.36ZM32 1258.37L31.5 1258.37L31.5 1261.37L32 1261.37L32.5 1261.37L32.5 1258.37L32 1258.37ZM32 1264.37L31.5 1264.37L31.5 1267.37L32 1267.37L32.5 1267.37L32.5 1264.37L32 1264.37ZM32 1270.38L31.5 1270.38L31.5 1273.38L32 1273.38L32.5 1273.38L32.5 1270.38L32 1270.38ZM32 1276.38L31.5 1276.38L31.5 1279.38L32 1279.38L32.5 1279.38L32.5 1276.38L32 1276.38ZM32 1282.38L31.5 1282.38L31.5 1285.39L32 1285.39L32.5 1285.39L32.5 1282.38L32 1282.38ZM32 1288.39L31.5 1288.39L31.5 1291.39L32 1291.39L32.5 1291.39L32.5 1288.39L32 1288.39ZM32 1294.39L31.5 1294.39L31.5 1297.39L32 1297.39L32.5 1297.39L32.5 1294.39L32 1294.39ZM32 1300.4L31.5 1300.4L31.5 1303.4L32 1303.4L32.5 1303.4L32.5 1300.4L32 1300.4ZM32 1306.4L31.5 1306.4L31.5 1309.4L32 1309.4L32.5 1309.4L32.5 1306.4L32 1306.4ZM32 1312.4L31.5 1312.4L31.5 1315.41L32 1315.41L32.5 1315.41L32.5 1312.4L32 1312.4ZM32 1318.41L31.5 1318.41L31.5 1321.41L32 1321.41L32.5 1321.41L32.5 1318.41L32 1318.41ZM32 1324.41L31.5 1324.41L31.5 1327.42L32 1327.42L32.5 1327.42L32.5 1324.41L32 1324.41ZM32 1330.42L31.5 1330.42L31.5 1333.42L32 1333.42L32.5 1333.42L32.5 1330.42L32 1330.42ZM32 1336.42L31.5 1336.42L31.5 1339.42L32 1339.42L32.5 1339.42L32.5 1336.42L32 1336.42ZM32 1342.43L31.5 1342.43L31.5 1345.43L32 1345.43L32.5 1345.43L32.5 1342.43L32 1342.43ZM32 1348.43L31.5 1348.43L31.5 1351.43L32 1351.43L32.5 1351.43L32.5 1348.43L32 1348.43ZM32 1354.43L31.5 1354.43L31.5 1357.44L32 1357.44L32.5 1357.44L32.5 1354.43L32 1354.43ZM32 1360.44L31.5 1360.44L31.5 1363.44L32 1363.44L32.5 1363.44L32.5 1360.44L32 1360.44ZM32 1366.44L31.5 1366.44L31.5 1369.44L32 1369.44L32.5 1369.44L32.5 1366.44L32 1366.44ZM32 1372.45L31.5 1372.45L31.5 1375.45L32 1375.45L32.5 1375.45L32.5 1372.45L32 1372.45ZM32 1378.45L31.5 1378.45L31.5 1381.45L32 1381.45L32.5 1381.45L32.5 1378.45L32 1378.45ZM32 1384.45L31.5 1384.45L31.5 1387.46L32 1387.46L32.5 1387.46L32.5 1384.45L32 1384.45ZM32 1390.46L31.5 1390.46L31.5 1393.46L32 1393.46L32.5 1393.46L32.5 1390.46L32 1390.46ZM32 1396.46L31.5 1396.46L31.5 1399.46L32 1399.46L32.5 1399.46L32.5 1396.46L32 1396.46ZM32 1402.47L31.5 1402.47L31.5 1405.47L32 1405.47L32.5 1405.47L32.5 1402.47L32 1402.47ZM32 1408.47L31.5 1408.47L31.5 1411.47L32 1411.47L32.5 1411.47L32.5 1408.47L32 1408.47ZM32 1414.48L31.5 1414.48L31.5 1417.48L32 1417.48L32.5 1417.48L32.5 1414.48L32 1414.48ZM32 1420.48L31.5 1420.48L31.5 1423.48L32 1423.48L32.5 1423.48L32.5 1420.48L32 1420.48ZM32 1426.48L31.5 1426.48L31.5 1429.49L32 1429.49L32.5 1429.49L32.5 1426.48L32 1426.48ZM32 1432.49L31.5 1432.49L31.5 1435.49L32 1435.49L32.5 1435.49L32.5 1432.49L32 1432.49ZM32 1438.49L31.5 1438.49L31.5 1441.49L32 1441.49L32.5 1441.49L32.5 1438.49L32 1438.49ZM32 1444.5L31.5 1444.5L31.5 1446L32 1446L32.5 1446L32.5 1444.5L32 1444.5Z"
              fill="#FF5756"
            />
            <path
              d="M540.47 1292.53C540.763 1292.82 541.237 1292.82 541.53 1292.53L546.303 1287.76C546.596 1287.46 546.596 1286.99 546.303 1286.7C546.01 1286.4 545.536 1286.4 545.243 1286.7L541 1290.94L536.757 1286.7C536.464 1286.4 535.99 1286.4 535.697 1286.7C535.404 1286.99 535.404 1287.46 535.697 1287.76L540.47 1292.53ZM541.75 1276L541.75 1275.25L540.25 1275.25L540.25 1276L541 1276L541.75 1276ZM541 1292L541.75 1292L541.75 1276L541 1276L540.25 1276L540.25 1292L541 1292Z"
              fill="#E60001"
            />
            <path
              d="M540.47 1120.53C540.763 1120.82 541.237 1120.82 541.53 1120.53L546.303 1115.76C546.596 1115.46 546.596 1114.99 546.303 1114.7C546.01 1114.4 545.536 1114.4 545.243 1114.7L541 1118.94L536.757 1114.7C536.464 1114.4 535.99 1114.4 535.697 1114.7C535.404 1114.99 535.404 1115.46 535.697 1115.76L540.47 1120.53ZM541.75 1104L541.75 1103.25L540.25 1103.25L540.25 1104L541 1104L541.75 1104ZM541 1120L541.75 1120L541.75 1104L541 1104L540.25 1104L540.25 1120L541 1120Z"
              fill="#E60001"
            />
            <path
              d="
    M76 81.145
    H483
    V855.145
    Q483 875.145 463 875.145
    H56
    V101.145
    Q56 81.145 76 81.145
    Z
  "
              fill="none"
              stroke="#FF5756"
              stroke-width="1"
              stroke-dasharray="3 3"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <text
                class="card-title"
                fill="#E60001"
                x="80"
                y="770"
                fill="#E60001"
                text-anchor="start"
                font-size="32"
              >
                <tspan x="80" dy="0">Girls -</tspan>
                <tspan x="80" dy="30">Entwicklungs -</tspan>
                <tspan x="80" dy="30">Fonds</tspan>
                <tspan font-size="16" x="80" dy="24">(WM - Legacy)</tspan>
              </text>
              <path
                d="M195 830H207M207 830L201 824M207 830L201 836"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                transform="translate(-28, -10)"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M75.9062 127.626C75.9062 117.419 84.1805 109.145 94.3873 109.145H260.906V247.664C260.906 257.871 252.632 266.145 242.425 266.145H75.9062V127.626Z"
                fill="#ff5756"
              />
              <path
                d="M188.525 132.605L188.505 132.558C188.505 132.558 184.7 124.343 184.186 123.529C183.412 125.875 175.527 131.668 166.089 135.468C160.386 137.766 155.025 138.393 153.874 137.336C151.605 135.255 158.576 129.796 166.544 125.551C171.628 122.841 176.302 121.371 177.59 120.974L177.544 120.837C156.823 125.605 146.532 135.951 148.264 139.344C149.932 142.606 160.437 141.451 170.623 136.842C174.724 134.983 177.874 133.256 179.976 131.898C180.323 131.672 180.673 131.563 181.013 132.153C181.502 132.991 182.459 135.221 182.485 135.282C183.394 137.267 179.943 141.604 172.178 145.252C165.008 148.617 157.681 149.837 154.456 148.663C153.966 148.486 153.489 148.276 152.883 147.672C152.365 147.16 151.597 145.804 151.35 145.382L151.182 145.469C152.026 147.247 152.837 148.692 153.176 149.041C155.714 151.647 165.299 150.393 173.993 146.39C182.462 142.486 190.108 135.965 188.525 132.605Z"
                fill="#ffffff"
              />
              <text
                class="card-title"
                x="168"
                y="186"
                fill="white"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="168" font-size="22" dy="0">Schnupper -</tspan>
                <tspan x="168" font-size="22" dy="22">angebot</tspan>
              </text>
              <path
                d="M162.752 244.759H174.062M174.062 244.759L168.407 239.104M174.062 244.759L168.407 250.414"
                stroke="#ffffff"
                stroke-width="1.8481"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M276 127.626C276 117.419 284.274 109.145 294.481 109.145H460.81V247.664C460.81 257.871 452.536 266.145 442.329 266.145H276V127.626Z"
                fill="#ff5756"
              />
              <path
                d="M388.525 132.605L388.505 132.558C388.505 132.558 384.7 124.343 384.186 123.529C383.412 125.875 375.527 131.668 366.089 135.468C360.386 137.766 355.025 138.393 353.874 137.336C351.605 135.255 358.576 129.796 366.544 125.551C371.628 122.841 376.302 121.371 377.59 120.974L377.544 120.837C356.823 125.605 346.532 135.951 348.264 139.344C349.932 142.606 360.437 141.451 370.623 136.842C374.724 134.983 377.874 133.256 379.976 131.898C380.323 131.672 380.673 131.563 381.013 132.153C381.502 132.991 382.459 135.221 382.485 135.282C383.394 137.267 379.943 141.604 372.178 145.252C365.008 148.617 357.681 149.837 354.456 148.663C353.966 148.486 353.489 148.276 352.883 147.672C352.365 147.16 351.597 145.804 351.35 145.382L351.182 145.469C352.026 147.247 352.837 148.692 353.176 149.041C355.714 151.647 365.299 150.393 373.993 146.39C382.462 142.486 390.108 135.965 388.525 132.605Z"
                fill="white"
              />
              <text
                class="card-title"
                x="368"
                y="186"
                fill="white"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="368" font-size="22" dy="0">Girls -</tspan>
                <tspan x="368" font-size="22" dy="22">Hockeyschule</tspan>
              </text>
              <path
                d="M362.75 244.759H374.06M374.06 244.759L368.405 239.104M374.06 244.759L368.405 250.414"
                stroke="white"
                stroke-width="1.8481"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M276 388.771C276 378.564 284.274 370.29 294.481 370.29H460.81V508.809C460.81 519.016 452.536 527.29 442.329 527.29H276V388.771Z"
                fill="#ff5756"
              />
              <text
                class="card-title"
                x="368"
                y="415"
                fill="white"
                font-size="22"
                font-weight="400"
                text-anchor="middle"
              >
                U9/U12 Team
              </text>
              <path
                d="M362.75 488.026H374.06M374.06 488.026L368.405 482.372M374.06 488.026L368.405 493.681"
                stroke="white"
                stroke-width="1.8481"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M276 553.771C276 543.564 284.274 535.29 294.481 535.29H460.81V673.809C460.81 684.016 452.536 692.29 442.329 692.29H276V553.771Z"
                fill="#ff5756"
              />
              <text
                class="card-title"
                x="368"
                y="580"
                fill="white"
                font-size="22"
                font-weight="400"
                text-anchor="middle"
              >
                U14 3x3 Turniere
              </text>
              <path
                d="M362.75 653.026H374.06M374.06 653.026L368.405 647.372M374.06 653.026L368.405 658.681"
                stroke="white"
                stroke-width="1.8481"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M276 718.771C276 708.564 284.274 700.29 294.481 700.29H460.81V838.809C460.81 849.016 452.536 857.29 442.329 857.29H276V718.771Z"
                fill="#ff5756"
              />
              <text
                class="card-title"
                x="368"
                y="743"
                fill="white"
                font-size="22"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="368" dy="0">Junior Women’s</tspan>
                <tspan x="368" dy="22">League U16</tspan>
              </text>
              <path
                d="M362.75 818.026H374.06M374.06 818.026L368.405 812.372M374.06 818.026L368.405 823.681"
                stroke="white"
                stroke-width="1.8481"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M76 310.145C76 299.099 84.9543 290.145 96 290.145H688V334.145C688 345.191 679.046 354.145 668 354.145H76V310.145Z"
                fill="#E60001"
              />
              <path
                d="M151.774 318.881L151.752 318.829C151.752 318.829 147.634 309.939 147.077 309.058C146.241 311.597 137.707 317.866 127.494 321.979C121.322 324.465 115.52 325.144 114.275 324.001C111.819 321.748 119.363 315.841 127.985 311.246C133.487 308.314 138.546 306.723 139.94 306.293L139.89 306.145C117.466 311.305 106.329 322.502 108.203 326.173C110.008 329.703 121.377 328.453 132.4 323.465C136.838 321.453 140.246 319.584 142.522 318.115C142.897 317.871 143.276 317.752 143.644 318.391C144.173 319.298 145.208 321.711 145.237 321.778C146.22 323.925 142.486 328.618 134.083 332.566C126.323 336.208 118.394 337.529 114.904 336.258C114.373 336.067 113.858 335.84 113.201 335.186C112.641 334.631 111.81 333.164 111.543 332.707L111.361 332.802C112.275 334.726 113.152 336.29 113.518 336.667C116.265 339.487 126.638 338.131 136.047 333.798C145.212 329.573 153.486 322.516 151.774 318.881Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="174"
                y="320"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="start"
                dominant-baseline="middle"
              >
                Club-Beitritt
              </text>
              <path
                d="M639.389 322.145H651.628M651.628 322.145L645.508 316.025M651.628 322.145L645.508 328.265"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <g>
                <text
                  class="card-title"
                  x="24"
                  y="730"
                  fill="black"
                  font-size="24"
                  font-weight="400"
                  text-anchor="middle"
                  transform="rotate(-90 10 720)"
                >
                  Athletinnenweg
                </text>

                <path
                  d="M-20 720H-8M-8 720L-14 714M-8 720L-14 726"
                  stroke="#E60001"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  transform="translate(24, 80)"
                />
              </g>
            </a>
            <path
              d="
    M86 1119.15
    H265
    V1240.15
    Q265 1260.15 245 1260.15
    H66
    V1139.15
    Q66 1119.15 86 1119.15
    Z
  "
              fill="none"
              stroke="#D8D8D8"
              stroke-width="1"
              stroke-dasharray="2 2"
            />
            <a href="#coach" class="anchor-item">
              <path
                d="M134.5 1143.15C134.5 1138.73 138.082 1135.15 142.5 1135.15H196.5V1158.15C196.5 1162.56 192.918 1166.15 188.5 1166.15H134.5V1143.15Z"
                fill="#D8D8D8"
              />
              <text
                class="card-title"
                x="165.5"
                y="1152"
                fill="#000000"
                font-size="14"
                font-weight="700"
                font-family="Mukta, sans-serif"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Coach
              </text>
            </a>
            <a href="#referee" class="anchor-item">
              <path
                d="M103.5 1182.15C103.5 1177.73 107.082 1174.15 111.5 1174.15H227.5V1197.15C227.5 1201.56 223.918 1205.15 219.5 1205.15H103.5V1182.15Z"
                fill="#D8D8D8"
              />
              <text
                class="card-title"
                x="165.5"
                y="1191"
                fill="#000000"
                font-size="14"
                font-weight="700"
                font-family="Mukta, sans-serif"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Schiedrichter/in
              </text>
            </a>
            <a href="#clubOfficial" class="anchor-item">
              <path
                d="M82 1221.15C82 1216.73 85.5817 1213.15 90 1213.15H166V1236.15C166 1240.56 162.418 1244.15 158 1244.15H82V1221.15Z"
                fill="#D8D8D8"
              />
              <text
                class="card-title"
                x="124"
                y="1228.65"
                fill="#000000"
                font-size="14"
                font-weight="700"
                font-family="Mukta, sans-serif"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Ehrenamt
              </text>
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M174 1221.15C174 1216.73 177.582 1213.15 182 1213.15H249V1236.15C249 1240.56 245.418 1244.15 241 1244.15H174V1221.15Z"
                fill="#D8D8D8"
              />
              <text
                class="card-title"
                x="211.5"
                y="1228.65"
                fill="#000000"
                font-size="14"
                font-weight="700"
                font-family="Mukta, sans-serif"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Dropout
              </text>
            </a>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
