.article {
  padding-bottom: 96px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 40px;
  }
  &__content,
  &__header {
    max-width: 51.5rem;
    margin: 0 auto;
    padding: 0 32px;
    @include media-breakpoint-down(lg) {
      padding: 0 20px;
    }
  }
  &__header {
    margin-bottom: 64px;
    text-align: center;
    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
    }
  }
  &__img {
    margin-bottom: 64px;
    width: 100%;
    height: auto;
    position: relative;
    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__box {
    background-color: var(--color-gray-6);
    padding: 32px;
    margin-top: 48px;
    border-radius: 24px 0 24px 0;
    @include media-breakpoint-down(lg) {
      margin-top: 32px;
    }
  }
  &__box > :first-child {
    margin-top: 0;
  }
}
