.mask-img {
  -webkit-mask-image: url("../images/ico/mask.svg");
  mask-image: url("../images/ico/mask.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  filter: drop-shadow(0 10px 18px rgba(0, 0, 0, 0.18));
}
