.section {
  margin-bottom: 164px;
  padding-bottom: 164px;
}
.section-images {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .section-img + .section-img {
    margin-top: -68px;
  }
  .section-img:nth-child(1) {
    z-index: 1;
  }
  .section-img:nth-child(2) {
    z-index: 2;
  }
  .section-img:nth-child(3) {
    z-index: 3;
  }
}
.section-img {
  width: 360px;
  height: 258px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .tag {
    position: absolute;
    left: 0;
    bottom: 40px;
    z-index: 4;
    
  }
}
.section-map {
  svg {
    width: 100%;
    height: auto;
  }
}
