.section {
  margin-bottom: 40px;
  padding-bottom: 40px;
  @include media-breakpoint-up(xxl) {
    margin-bottom: 164px;
    padding-bottom: 164px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 124px;
    padding-bottom: 124px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 96px;
    padding-bottom: 96px;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 64px;
    padding-bottom: 64px;
  }
}
.section-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-breakpoint-down(lg) {
    align-items: center;
  }
  .section-img + .section-img {
    margin-top: -68px;
  }
  .section-img:nth-child(1) {
    z-index: 1;
  }
  .section-img:nth-child(2) {
    z-index: 2;
  }
  .section-img:nth-child(3) {
    z-index: 3;
  }
}
.section-img {
  max-width: 360px;
  width: 100%;
  aspect-ratio: 360/258;
  position: relative;
  @include media-breakpoint-down(lg) {
    margin-left: auto;
    margin-right: auto;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .tag {
    position: absolute;
    left: 0;
    bottom: 40px;
    z-index: 4;
  }
}
.section-map {
  svg {
    width: 100%;
    height: auto;
  }
}
