.section {
  margin-bottom: 40px;
  padding-bottom: 40px;
  @include media-breakpoint-up(xxl) {
    margin-bottom: 164px;
    padding-bottom: 164px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 124px;
    padding-bottom: 124px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 96px;
    padding-bottom: 96px;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 64px;
    padding-bottom: 64px;
  }
}
.section-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-breakpoint-down(lg) {
    align-items: center;
  }
  .section-img + .section-img {
    margin-top: -68px;
  }
  .section-img:nth-child(1) {
    z-index: 1;
  }
  .section-img:nth-child(2) {
    z-index: 2;
  }
  .section-img:nth-child(3) {
    z-index: 3;
  }
}
.section-img {
  max-width: 360px;
  width: 100%;
  aspect-ratio: 360/258;
  position: relative;
  display: block;
  @include media-breakpoint-down(lg) {
    margin-left: auto;
    margin-right: auto;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    background: url("../images/ico/pillar-hover.svg") center / 158px 116px
        no-repeat,
      rgba(230, 0, 1, 0.8);
    opacity: 0;
    transform: scale(0.98);
    transition: opacity 0.25s ease, transform 0.25s ease;
    pointer-events: none;
    -webkit-mask-image: url("../images/ico/mask.svg");
    mask-image: url("../images/ico/mask.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    @include media-breakpoint-down(lg) {
      background: url("../images/ico/pillar-hover.svg") center / 100px 80px
          no-repeat,
        rgba(230, 0, 1, 0.8);
    }
  }
  .tag {
    position: absolute;
    left: 0;
    bottom: 40px;
    z-index: 4;
  }
}
a.section-img:hover::after {
  opacity: 1;
  transform: scale(1);
}
.section-map {
  a {
    display: block;
  }
  svg {
    width: 100%;
    height: auto;
  }

  a:hover .card-title {
    text-decoration: underline;
  }
  a:hover {
    .h4 {
      // text-decoration-color: inherit;
    }
  }
}

#coach,
#referee {
  .section-map {
    @include media-breakpoint-up(lg) {
      margin-right: -1rem;
    }
  }
}
