<div
  class="modal fade"
  id="articleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="triggerModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__header">
            <h2 class="h1 mb-6">Typography page</h2>
            <div class="text-xl font-secondary fw-light">
              With its fast-paced action and intense rivalries, ice hockey
              captivates fans around the world. Whether it's a local game or the
              Stanley Cup finals, the excitement is palpable as teams battle for
              victory on the ice.
            </div>
          </div>
          <div class="article__img">
            <img src="images/content/popup-1.png" loading="lazy" alt="photo" />
          </div>
          <div class="article__content">
            <div class="o-content">
              <h4>Introduction</h4>
              <p>
                Ice hockey is an exhilarating sport that combines speed, skill,
                and teamwork. Players glide across the ice, showcasing their
                agility while trying to score goals against their opponents. The
                thrill of a slap shot or a perfectly executed pass can electrify
                the crowd. With its fast-paced action and intense rivalries, ice
                hockey captivates fans around the world. Whether it's a local
                game or the Stanley Cup finals, the excitement is palpable as
                teams battle for victory on the ice.
              </p>
              <p>
                Eget quis mi enim, leo lacinia pharetra, semper. Eget in
                volutpat mollis at volutpat lectus velit, sed auctor. Porttitor
                fames arcu quis fusce augue enim. Quis at habitant diam at.
                Suscipit tristique risus, at donec. In turpis vel et quam
                imperdiet. Ipsum molestie aliquet sodales id est ac volutpat.
              </p>
              <ul class="d-flex flex-wrap align-items-center gap-4 mb-6">
                <li>
                  <a href="#" class="button-primary" download="">
                    Questionnaire {% include "@images/download.svg" %}
                  </a>
                </li>
                <li>
                  <a href="#" class="button-primary" download="">
                    Handbook {% include "@images/download.svg" %}</a
                  >
                </li>
              </ul>
              <img
                src="images/content/popup-2.png"
                loading="lazy"
                alt="photo"
                class="rounded-24_0 w-100 mb-lg-12 mb-8"
              />
              <p>
                Whether it's a local game or the Stanley Cup finals, the
                excitement is palpable as teams battle for victory on the ice.
              </p>
              <q>
                <p>
                  « The thrill of a slap shot or a perfectly executed pass can
                  electrify the crowd. »
                </p>
                <span>— Olivia Rhye, Main Coach</span>
              </q>
              <h4>we love ice hockey</h4>
              <p>
                Ice hockey is an exhilarating sport that combines speed, skill,
                and strategy on the ice. Players glide across the rink,
                showcasing their agility while trying to score goals against
                their opponents. The sound of skates cutting through the ice and
                the crack of the puck hitting the stick create an electrifying
                atmosphere. Teams work together, executing plays and defending
                their net with fierce determination. Whether it's a local game
                or a championship match, the excitement of ice hockey captivates
                fans and players alike.
              </p>
              <div class="article__box">
                <h4>Conclusion</h4>
                <p>
                  Ice hockey is an exhilarating sport that combines speed,
                  skill, and teamwork. Players glide across the ice, showcasing
                  their agility while trying to score goals against their
                  opponents. The thrill of a slap shot or a perfectly executed
                  pass can electrify the crowd. With its fast-paced action and
                  intense rivalries, ice hockey captivates fans around the
                  world. Whether it's a local game or the Stanley Cup finals,
                  the excitement is palpable as teams battle for victory on the
                  ice.
                </p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
