<div
  class="modal fade"
  id="articleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="triggerModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"> {% include "@images/close.svg" %} </span>
        </button>
      </div>
      <div class="modal-body">
        <article class="article">
          <div class="article__header">
            <div class="tag mb-6 mx-auto">Erstkontakt zum Eis</div>
            <h2 class="h2 mb-6">Denner Swiss Ice Hockey Day</h2>
            <div class="o-content">
              <p>
                Jeweils am ersten Sonntag im November findet der traditionelle
                Denner Swiss Ice Hockey Day (SIHD) statt. An rund 80 Standorten
                in der ganzen Schweiz haben Kinder die Möglichkeit,
                Eishockey-Luft zu schnuppern und gemeinsam mit den Stars der
                National League, der Sky Swiss League, der PostFinance Women’s
                League und der SWHL B zu trainieren.
              </p>
            </div>
          </div>
          <div class="o-content">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/3HQvfK1ExOo?si=lTV_sNC5TOeOBlQk"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
