.base {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../images/content/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1258px;
    pointer-events: none;
    z-index: -1;
  }
}
.base-wrapper {
  flex: 1 0 auto;
}
