[class^="programCard-"] {
  padding: 32px;
  min-height: 186px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  text-align: center;
  text-decoration-color: transparent;
  height: 100%;
  border-radius: 20px 0 20px 0;
  @include media-breakpoint-down(md) {
    padding: 16px 32px;
    flex-direction: row;
    min-height: auto;
    text-align: left;
  }
  .h4 {
    text-decoration: underline;
    text-decoration-color: transparent;
    font-weight: 400 !important;
  }
  &:hover .h4 {
    text-decoration-color: inherit;
  }
}
.programCard__arrow {
  width: 21px;
  height: 21px;
  object-fit: contain;
}
.programCard__puck {
  width: 44px;
  height: 32px;
  object-fit: contain;
  @include media-breakpoint-down(md) {
    width: 36px;
    height: 24px;
  }
}
.programCard-primary {
  background: var(--color-red);
}

.programCard-secondary {
  background: var(--color-gray-5);
}

 