<section class="program-cards section" id="programCards">
  <div class="container">
    <div class="row g-lg-8 g-12">
      <div class="col-xl-6 col-lg-5">
        <div class="d-flex flex-column">
          <div class="tag mb-lg-8 mb-6">Alle Wege</div>
          <h2 class="h2 mb-8">Erstkontakt zum Eis / Eishockey</h2>
          <div class="section-img">
            <img
              class="mask-img"
              width="360"
              height="258"
              src="images/content/program.png"
              loading="lazy"
              alt="photo"
            />
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7">
        <div class="row g-4">
          <div class="col-md-4">
            <a
              class="programCard-primary"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal"
            >
              <div class="d-flex flex-md-column gap-5 align-items-center">
                <img
                  class="programCard__puck"
                  src="images/ico/puck-primary.svg"
                  width="44"
                  height="32"
                  alt="puck"
                />
                <div class="h4 text-white">Denner Swiss Ice Hockey Day</div>
              </div>
              <img
                src="images/ico/arrow-right-primary.svg"
                width="21"
                height="21"
                class="programCard__arrow"
                alt="arrow-right"
              />
            </a>
          </div>
          <div class="col-md-4">
            <a
              class="programCard-primary"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal"
            >
              <div class="d-flex flex-md-column gap-5 align-items-center">
                <img
                  class="programCard__puck"
                  src="images/ico/puck-primary.svg"
                  width="44"
                  height="32"
                  alt="puck"
                />
                <div class="h4 text-white">Hockey goes to School</div>
              </div>
              <img
                src="images/ico/arrow-right-primary.svg"
                width="21"
                height="21"
                class="programCard__arrow"
                alt="arrow-right"
              />
            </a>
          </div>
          <div class="col-md-4">
            <a
              class="programCard-primary"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal"
            >
              <div class="d-flex flex-md-column gap-5 align-items-center">
                <img
                  class="programCard__puck"
                  src="images/ico/puck-primary.svg"
                  width="44"
                  height="32"
                  alt="puck"
                />
                <div class="h4 text-white">School Trophy</div>
              </div>
              <img
                src="images/ico/arrow-right-primary.svg"
                width="21"
                height="21"
                class="programCard__arrow"
                alt="arrow-right"
              />
            </a>
          </div>
          <div class="col-md-4">
            <a
              class="programCard-primary"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal"
            >
              <div class="d-flex flex-md-column gap-5 align-items-center">
                <img
                  class="programCard__puck"
                  src="images/ico/puck-primary.svg"
                  width="44"
                  height="32"
                  alt="puck"
                />
                <div class="h4 text-white">Speedy Cup</div>
              </div>
              <img
                src="images/ico/arrow-right-primary.svg"
                width="21"
                height="21"
                class="programCard__arrow"
                alt="arrow-right"
              />
            </a>
          </div>
          <div class="col-md-4">
            <a
              class="programCard-primary"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal"
            >
              <div class="d-flex flex-md-column gap-5 align-items-center">
                <img
                  class="programCard__puck"
                  src="images/ico/puck-primary.svg"
                  width="44"
                  height="32"
                  alt="puck"
                />
                <div class="h4 text-white">Bastel - und Leseerlebnis</div>
              </div>
              <img
                src="images/ico/arrow-right-primary.svg"
                width="21"
                height="21"
                class="programCard__arrow"
                alt="arrow-right"
              />
            </a>
          </div>
          <div class="col-md-4">
            <a
              class="programCard-secondary"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal"
            >
              <div class="d-flex flex-md-column gap-5 align-items-center">
                <img
                  class="programCard__puck"
                  src="images/ico/puck-secondary.svg"
                  width="44"
                  height="32"
                  alt="puck"
                />
                <div class="h4 text-dark">Familie</div>
              </div>
              <img
                src="images/ico/arrow-right-secondary.svg"
                width="21"
                height="21"
                class="programCard__arrow"
                alt="arrow-right"
              />
            </a>
          </div>
          <div class="col-md-4">
            <a
              class="programCard-secondary"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal"
            >
              <div class="d-flex flex-md-column gap-5 align-items-center">
                <img
                  class="programCard__puck"
                  src="images/ico/puck-secondary.svg"
                  width="44"
                  height="32"
                  alt="puck"
                />
                <div class="h4 text-dark">Peer Group</div>
              </div>
              <img
                src="images/ico/arrow-right-secondary.svg"
                width="21"
                height="21"
                class="programCard__arrow"
                alt="arrow-right"
              />
            </a>
          </div>
          <div class="col-md-4">
            <a
              class="programCard-secondary"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal"
            >
              <div class="d-flex flex-md-column gap-5 align-items-center">
                <img
                  class="programCard__puck"
                  src="images/ico/puck-secondary.svg"
                  width="44"
                  height="32"
                  alt="puck"
                />
                <div class="h4 text-dark">Freier Eislauf</div>
              </div>
              <img
                src="images/ico/arrow-right-secondary.svg"
                width="21"
                height="21"
                class="programCard__arrow"
                alt="arrow-right"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
