<section class="section" id="competitiveAthletes">
  <div class="container">
    <div class="row g-lg-8 g-12">
      <div class="col-xl-6 col-lg-5">
        <h3 class="h2 mb-3">LEISTUNGSSPORTLER</h3>
        <div class="h3 text-gray-2 mb-lg-8 mb-4">Nico Hischier</div>
        <a
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#articleModal"
          class="section-img"
        >
          <img
            class="object-fit-contain mask-img"
            width="360"
            height="258"
            src="images/content/pillar-1.png"
            loading="lazy"
            alt="Nico Hischier"
          />
        </a>
      </div>
      <div class="col-xl-6 col-lg-7">
        <div class="section-map">
          <svg
            width="704"
            height="1131"
            viewBox="0 0 704 1131"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M558.53 749.531C558.237 749.824 557.763 749.824 557.47 749.531L552.697 744.758C552.404 744.465 552.404 743.99 552.697 743.697C552.99 743.404 553.464 743.404 553.757 743.697L558 747.94L562.243 743.697C562.536 743.404 563.01 743.404 563.303 743.697C563.596 743.99 563.596 744.465 563.303 744.758L558.53 749.531ZM557.25 733L557.25 732.25L558.75 732.25L558.75 733L558 733L557.25 733ZM558 749L557.25 749L557.25 733L558 733L558.75 733L558.75 749L558 749Z"
              fill="#A5A5A5"
            />
            <path
              d="M603.47 48.0303C603.763 48.3232 604.237 48.3232 604.53 48.0303L609.303 43.2574C609.596 42.9645 609.596 42.4896 609.303 42.1967C609.01 41.9038 608.536 41.9038 608.243 42.1967L604 46.4393L599.757 42.1967C599.464 41.9038 598.99 41.9038 598.697 42.1967C598.404 42.4896 598.404 42.9645 598.697 43.2574L603.47 48.0303ZM604 47.5H604.75V38H604H603.25V47.5H604ZM592 26V25.25H251V26V26.75H592V26ZM604 38H604.75C604.75 30.9584 599.042 25.25 592 25.25V26V26.75C598.213 26.75 603.25 31.7868 603.25 38H604Z"
              fill="#E60001"
            />
            <path
              d="M281.03 140.531C281.323 140.238 281.323 139.763 281.03 139.47L276.257 134.697C275.964 134.404 275.49 134.404 275.197 134.697C274.904 134.99 274.904 135.465 275.197 135.758L279.439 140L275.197 144.243C274.904 144.536 274.904 145.011 275.197 145.304C275.49 145.597 275.964 145.597 276.257 145.304L281.03 140.531ZM256 139.25H255.25V140.75H256V140V139.25ZM280.5 140V139.25H256V140V140.75H280.5V140Z"
              fill="#E60001"
            />
            <path
              d="M496.03 140.53C496.323 140.237 496.323 139.763 496.03 139.47L491.257 134.697C490.964 134.404 490.49 134.404 490.197 134.697C489.904 134.99 489.904 135.464 490.197 135.757L494.439 140L490.197 144.243C489.904 144.536 489.904 145.01 490.197 145.303C490.49 145.596 490.964 145.596 491.257 145.303L496.03 140.53ZM480 139.25H479.25V140.75H480V140V139.25ZM495.5 140V139.25H480V140V140.75H495.5V140Z"
              fill="#E60001"
            />
            <path
              d="M587.47 265.03C587.763 265.323 588.237 265.323 588.53 265.03L593.303 260.257C593.596 259.964 593.596 259.49 593.303 259.197C593.01 258.904 592.536 258.904 592.243 259.197L588 263.439L583.757 259.197C583.464 258.904 582.99 258.904 582.697 259.197C582.404 259.49 582.404 259.964 582.697 260.257L587.47 265.03ZM588.75 232.5L588.75 231.75L587.25 231.75L587.25 232.5L588 232.5L588.75 232.5ZM588 264.5L588.75 264.5L588.75 232.5L588 232.5L587.25 232.5L587.25 264.5L588 264.5Z"
              fill="#E60001"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M280 68C280 56.9543 288.954 48 300 48H480V212.982C480 224.027 471.046 232.982 460 232.982H280V68Z"
                fill="#E60001"
              />
              <path
                d="M401.774 92.7356L401.752 92.6842C401.752 92.6842 397.634 83.7942 397.077 82.9134C396.241 85.4522 387.707 91.7207 377.494 95.8336C371.322 98.3201 365.52 98.9993 364.275 97.8555C361.819 95.6026 369.363 89.6955 377.985 85.1012C383.487 82.1688 388.546 80.5779 389.94 80.1476L389.89 80C367.466 85.1599 356.329 96.3566 358.203 100.028C360.008 103.558 371.377 102.308 382.4 97.32C386.838 95.3083 390.246 93.4395 392.522 91.9703C392.897 91.7256 393.276 91.6071 393.644 92.2457C394.173 93.1528 395.208 95.5664 395.237 95.6325C396.22 97.7804 392.486 102.473 384.083 106.421C376.323 110.063 368.394 111.384 364.904 110.113C364.373 109.922 363.858 109.695 363.201 109.041C362.641 108.486 361.81 107.019 361.543 106.562L361.361 106.657C362.275 108.581 363.152 110.145 363.518 110.522C366.265 113.342 376.638 111.986 386.047 107.653C395.212 103.428 403.486 96.3711 401.774 92.7356Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="380"
                y="142.8"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Hockeyschule
              </text>

              <path
                d="M373.881 190.491H386.12M386.12 190.491L380 184.371M386.12 190.491L380 196.61"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M496 68C496 56.9543 504.954 48 516 48H696V212.982C696 224.027 687.046 232.982 676 232.982H496V68Z"
                fill="#E60001"
              />
              <path
                d="M617.774 92.7356L617.752 92.6842C617.752 92.6842 613.634 83.7942 613.077 82.9134C612.241 85.4522 603.707 91.7207 593.494 95.8336C587.322 98.3201 581.52 98.9993 580.275 97.8555C577.819 95.6026 585.363 89.6955 593.985 85.1012C599.487 82.1688 604.546 80.5779 605.94 80.1476L605.89 80C583.466 85.1599 572.329 96.3566 574.203 100.028C576.008 103.558 587.377 102.308 598.4 97.32C602.838 95.3083 606.246 93.4395 608.522 91.9703C608.897 91.7256 609.276 91.6071 609.644 92.2457C610.173 93.1528 611.208 95.5664 611.237 95.6325C612.22 97.7804 608.486 102.473 600.083 106.421C592.323 110.063 584.394 111.384 580.904 110.113C580.373 109.922 579.858 109.695 579.201 109.041C578.641 108.486 577.81 107.019 577.543 106.562L577.361 106.657C578.275 108.581 579.152 110.145 579.518 110.522C582.265 113.342 592.638 111.986 602.047 107.653C611.212 103.428 619.486 96.3711 617.774 92.7356Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="596"
                y="143"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Club-Beitritt
              </text>
              <path
                d="M589.881 190.491H602.12M602.12 190.491L596 184.371M602.12 190.491L596 196.61"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a class="anchor-item" href="#programCards">
              <path
                d="M56 20C56 8.95431 64.9543 0 76 0H256V212.982C256 224.027 247.046 232.982 236 232.982H56V20Z"
                fill="#FFC6C7"
              />
              <path
                d="M177.774 44.7356L177.752 44.6842C177.752 44.6842 173.634 35.7942 173.077 34.9134C172.241 37.4522 163.707 43.7207 153.494 47.8336C147.322 50.3201 141.52 50.9993 140.275 49.8555C137.819 47.6026 145.363 41.6955 153.985 37.1012C159.487 34.1688 164.546 32.5779 165.94 32.1476L165.89 32C143.466 37.1599 132.329 48.3566 134.203 52.0276C136.008 55.5583 147.377 54.308 158.4 49.32C162.838 47.3083 166.246 45.4395 168.522 43.9703C168.897 43.7256 169.276 43.6071 169.644 44.2457C170.173 45.1528 171.208 47.5664 171.237 47.6325C172.22 49.7804 168.486 54.4734 160.083 58.4212C152.323 62.0633 144.394 63.3839 140.904 62.1134C140.373 61.9216 139.858 61.6945 139.201 61.041C138.641 60.4861 137.81 59.0185 137.543 58.5619L137.361 58.6565C138.275 60.5806 139.152 62.1448 139.518 62.5223C142.265 65.3419 152.638 63.9855 162.047 59.6527C171.212 55.428 179.486 48.3711 177.774 44.7356Z"
                fill="#E60001"
              />
              <text
                class="card-title"
                x="150"
                y="100"
                fill="black"
                font-weight="400"
                font-size="24"
                text-anchor="middle"
              >
                <tspan x="160" dy="0">Erstkontakt</tspan>
                <tspan x="160" dy="25">zum Eis /</tspan>
                <tspan x="160" dy="25">Eishockey</tspan>
              </text>

              <path
                d="M149.881 190.491H162.12M162.12 190.491L156 184.371M162.12 190.491L156 196.61"
                stroke="#E60001"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M240 567.039C240 557.629 247.628 550 257.039 550H440V716.962C440 726.372 432.372 734.001 422.961 734.001H240V567.039Z"
                fill="#E60001"
              />
              <path
                d="M358.55 588.112L358.532 588.068C358.532 588.068 355.024 580.495 354.549 579.744C353.836 581.907 346.566 587.247 337.865 590.751C332.607 592.87 327.665 593.448 326.603 592.474C324.512 590.554 330.939 585.522 338.284 581.608C342.971 579.11 347.281 577.754 348.469 577.388L348.426 577.262C329.322 581.658 319.834 591.197 321.431 594.324C322.969 597.332 332.654 596.267 342.045 592.018C345.826 590.304 348.73 588.712 350.668 587.46C350.988 587.252 351.31 587.151 351.624 587.695C352.075 588.467 352.957 590.524 352.981 590.58C353.819 592.41 350.637 596.408 343.479 599.771C336.868 602.874 330.113 603.999 327.14 602.917C326.688 602.753 326.248 602.56 325.689 602.003C325.212 601.53 324.504 600.28 324.276 599.891L324.121 599.972C324.9 601.611 325.647 602.943 325.959 603.265C328.299 605.667 337.136 604.512 345.152 600.82C352.96 597.221 360.009 591.209 358.55 588.112Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="340"
                y="630"
                fill="white"
                font-size="20"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Sky Swiss League
              </text>
              <path
                d="M334.787 670.946H345.214M345.214 670.946L340.001 665.733M345.214 670.946L340.001 676.16"
                stroke="#FF8F8F"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M458 567.039C458 557.629 465.628 550 475.039 550H658V716.962C658 726.372 650.372 734.001 640.961 734.001H458V567.039Z"
                fill="#D8D8D8"
              />
              <path
                d="M576.55 588.112L576.532 588.068C576.532 588.068 573.024 580.495 572.549 579.744C571.836 581.907 564.566 587.247 555.865 590.751C550.607 592.87 545.665 593.448 544.603 592.474C542.512 590.554 548.939 585.522 556.284 581.608C560.971 579.11 565.281 577.754 566.469 577.388L566.426 577.262C547.322 581.658 537.834 591.197 539.431 594.324C540.969 597.332 550.654 596.267 560.045 592.018C563.826 590.304 566.73 588.712 568.668 587.46C568.988 587.252 569.31 587.151 569.624 587.695C570.075 588.467 570.957 590.524 570.981 590.58C571.819 592.41 568.637 596.408 561.479 599.771C554.868 602.874 548.113 603.999 545.14 602.917C544.688 602.753 544.248 602.56 543.689 602.003C543.212 601.53 542.504 600.28 542.276 599.891L542.121 599.972C542.9 601.611 543.647 602.943 543.959 603.265C546.299 605.667 555.136 604.512 563.152 600.82C570.96 597.221 578.009 591.209 576.55 588.112Z"
                fill="#7F7F7F"
              />
              <text
                class="card-title"
                x="558"
                y="630"
                fill="black"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Breitensport
              </text>
              <path
                d="M552.787 670.946H563.214M563.214 670.946L558.001 665.733M563.214 670.946L558.001 676.16"
                stroke="#A5A5A5"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M121 567.039C121 557.629 128.628 550 138.039 550H232V716.962C232 726.372 224.372 734.001 214.961 734.001H121V567.039Z"
                fill="#E60001"
              />
              <path
                d="M195.05 588.112L195.032 588.068C195.032 588.068 191.524 580.495 191.049 579.744C190.336 581.907 183.066 587.247 174.365 590.751C169.107 592.87 164.165 593.448 163.103 592.474C161.012 590.554 167.439 585.522 174.784 581.608C179.471 579.11 183.781 577.754 184.969 577.388L184.926 577.262C165.822 581.658 156.334 591.197 157.931 594.324C159.469 597.332 169.154 596.267 178.545 592.018C182.326 590.304 185.23 588.712 187.168 587.46C187.488 587.252 187.81 587.151 188.124 587.695C188.575 588.467 189.457 590.524 189.481 590.58C190.319 592.41 187.137 596.408 179.979 599.771C173.368 602.874 166.613 603.999 163.64 602.917C163.188 602.753 162.748 602.56 162.189 602.003C161.712 601.53 161.004 600.28 160.776 599.891L160.621 599.972C161.4 601.611 162.147 602.943 162.459 603.265C164.799 605.667 173.636 604.512 181.652 600.82C189.46 597.221 196.509 591.209 195.05 588.112Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="176.5"
                y="630"
                fill="white"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                U-NATI
              </text>
              <path
                d="M171.287 670.946H181.714M181.714 670.946L176.501 665.733M181.714 670.946L176.501 676.16"
                stroke="#FF8F8F"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M240 767.039C240 757.629 247.628 750 257.039 750H440V916.962C440 926.372 432.372 934.001 422.961 934.001H240V767.039Z"
                fill="#E60001"
              />
              <path
                d="M358.55 788.112L358.532 788.068C358.532 788.068 355.024 780.495 354.549 779.744C353.836 781.907 346.566 787.247 337.865 790.751C332.607 792.87 327.665 793.448 326.603 792.474C324.512 790.554 330.939 785.522 338.284 781.608C342.971 779.11 347.281 777.754 348.469 777.388L348.426 777.262C329.322 781.658 319.834 791.197 321.431 794.324C322.969 797.332 332.654 796.267 342.045 792.018C345.826 790.304 348.73 788.712 350.668 787.46C350.988 787.252 351.31 787.151 351.624 787.695C352.075 788.467 352.957 790.524 352.981 790.58C353.819 792.41 350.637 796.408 343.479 799.771C336.868 802.874 330.113 803.999 327.14 802.917C326.688 802.753 326.248 802.56 325.689 802.003C325.212 801.53 324.504 800.28 324.276 799.891L324.121 799.972C324.9 801.611 325.647 802.943 325.959 803.265C328.299 805.667 337.136 804.512 345.152 800.82C352.96 797.221 360.009 791.209 358.55 788.112Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="340"
                y="830"
                fill="white"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                National league
              </text>
              <path
                d="M334.787 870.946H345.214M345.214 870.946L340.001 865.733M345.214 870.946L340.001 876.16"
                stroke="#FF8F8F"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M121 767.039C121 757.629 128.628 750 138.039 750H232V1108.96C232 1118.37 224.372 1126 214.961 1126H121V767.039Z"
                fill="#E60001"
              />
              <path
                d="M195.05 788.112L195.032 788.068C195.032 788.068 191.524 780.495 191.049 779.744C190.336 781.907 183.066 787.247 174.365 790.751C169.107 792.87 164.165 793.448 163.103 792.474C161.012 790.554 167.439 785.522 174.784 781.608C179.471 779.11 183.781 777.754 184.969 777.388L184.926 777.262C165.822 781.658 156.334 791.197 157.931 794.324C159.469 797.332 169.154 796.267 178.545 792.018C182.326 790.304 185.23 788.712 187.168 787.46C187.488 787.252 187.81 787.151 188.124 787.695C188.575 788.467 189.457 790.524 189.481 790.58C190.319 792.41 187.137 796.408 179.979 799.771C173.368 802.874 166.613 803.999 163.64 802.917C163.188 802.753 162.748 802.56 162.189 802.003C161.712 801.53 161.004 800.28 160.776 799.891L160.621 799.972C161.4 801.611 162.147 802.943 162.459 803.265C164.799 805.667 173.636 804.512 181.652 800.82C189.46 797.221 196.509 791.209 195.05 788.112Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="176"
                y="830"
                fill="white"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Nati
              </text>
              <path
                d="M171.287 1089.8H181.714M181.714 1089.8L176.501 1084.59M181.714 1089.8L176.501 1095.01"
                stroke="#FF8F8F"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M240 959.039C240 949.629 247.628 942 257.039 942H440V1108.96C440 1118.37 432.372 1126 422.961 1126H240V959.039Z"
                fill="#E60001"
              />
              <path
                d="M358.55 980.112L358.532 980.068C358.532 980.068 355.024 972.495 354.549 971.744C353.836 973.907 346.566 979.247 337.865 982.751C332.607 984.87 327.665 985.448 326.603 984.474C324.512 982.554 330.939 977.522 338.284 973.608C342.971 971.11 347.281 969.754 348.469 969.388L348.426 969.262C329.322 973.658 319.834 983.197 321.431 986.324C322.969 989.332 332.654 988.267 342.045 984.018C345.826 982.304 348.73 980.712 350.668 979.46C350.988 979.252 351.31 979.151 351.624 979.695C352.075 980.467 352.957 982.524 352.981 982.58C353.819 984.41 350.637 988.408 343.479 991.771C336.868 994.874 330.113 995.999 327.14 994.917C326.688 994.753 326.248 994.56 325.689 994.003C325.212 993.53 324.504 992.28 324.276 991.891L324.121 991.972C324.9 993.611 325.647 994.943 325.959 995.265C328.299 997.667 337.136 996.512 345.152 992.82C352.96 989.221 360.009 983.209 358.55 980.112Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="340"
                y="1022"
                fill="white"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                NHL
              </text>
              <path
                d="M334.787 1062.95H345.214M345.214 1062.95L340.001 1057.73M345.214 1062.95L340.001 1068.16"
                stroke="#FF8F8F"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <path
              d="M331.47 550.53C331.763 550.823 332.237 550.823 332.53 550.53L337.303 545.757C337.596 545.464 337.596 544.99 337.303 544.697C337.01 544.404 336.536 544.404 336.243 544.697L332 548.939L327.757 544.697C327.464 544.404 326.99 544.404 326.697 544.697C326.404 544.99 326.404 545.464 326.697 545.757L331.47 550.53ZM332.75 482L332.75 481.25L331.25 481.25L331.25 482H332H332.75ZM332 550L332.75 550L332.75 482H332H331.25L331.25 550L332 550Z"
              fill="#E60001"
            />
            <path
              d="M32 1124.83C30.5272 1124.83 29.3333 1126.03 29.3333 1127.5C29.3333 1128.97 30.5272 1130.17 32 1130.17C33.4728 1130.17 34.6667 1128.97 34.6667 1127.5C34.6667 1126.03 33.4728 1124.83 32 1124.83ZM32 1.33333C30.5272 1.33333 29.3333 2.52724 29.3333 4C29.3333 5.47276 30.5272 6.66667 32 6.66667C33.4728 6.66667 34.6667 5.47276 34.6667 4C34.6667 2.52724 33.4728 1.33333 32 1.33333ZM31.5 5.50201L31.5 6.00201L32.5 6.00201L32.5 5.50201L32 5.50201L31.5 5.50201ZM32.5 8.50602L32.5 8.00602L31.5 8.00602L31.5 8.50602L32 8.50602L32.5 8.50602ZM31.5 11.51L31.5 12.01L32.5 12.01L32.5 11.51L32 11.51L31.5 11.51ZM32.5 14.514L32.5 14.014L31.5 14.014L31.5 14.514L32 14.514L32.5 14.514ZM31.5 17.518L31.5 18.018L32.5 18.018L32.5 17.518L32 17.518L31.5 17.518ZM32.5 20.5221L32.5 20.0221L31.5 20.0221L31.5 20.5221L32 20.5221L32.5 20.5221ZM31.5 23.5261L31.5 24.0261L32.5 24.0261L32.5 23.5261L32 23.5261L31.5 23.5261ZM32.5 26.5301L32.5 26.0301L31.5 26.0301L31.5 26.5301L32 26.5301L32.5 26.5301ZM31.5 29.5341L31.5 30.0341L32.5 30.0341L32.5 29.5341L32 29.5341L31.5 29.5341ZM32.5 32.5381L32.5 32.0381L31.5 32.0381L31.5 32.5381L32 32.5381L32.5 32.5381ZM31.5 35.5421L31.5 36.0421L32.5 36.0421L32.5 35.5421L32 35.5421L31.5 35.5421ZM32.5 38.5461L32.5 38.0461L31.5 38.0461L31.5 38.5461L32 38.5461L32.5 38.5461ZM31.5 41.5501L31.5 42.0501L32.5 42.0501L32.5 41.5501L32 41.5501L31.5 41.5501ZM32.5 44.5541L32.5 44.0541L31.5 44.0541L31.5 44.5541L32 44.5541L32.5 44.5541ZM31.5 47.5582L31.5 48.0582L32.5 48.0582L32.5 47.5582L32 47.5582L31.5 47.5582ZM32.5 50.5622L32.5 50.0622L31.5 50.0622L31.5 50.5622L32 50.5622L32.5 50.5622ZM31.5 53.5662L31.5 54.0662L32.5 54.0662L32.5 53.5662L32 53.5662L31.5 53.5662ZM32.5 56.5702L32.5 56.0702L31.5 56.0702L31.5 56.5702L32 56.5702L32.5 56.5702ZM31.5 59.5742L31.5 60.0742L32.5 60.0742L32.5 59.5742L32 59.5742L31.5 59.5742ZM32.5 62.5782L32.5 62.0782L31.5 62.0782L31.5 62.5782L32 62.5782L32.5 62.5782ZM31.5 65.5822L31.5 66.0822L32.5 66.0822L32.5 65.5822L32 65.5822L31.5 65.5822ZM32.5 68.5862L32.5 68.0862L31.5 68.0862L31.5 68.5862L32 68.5862L32.5 68.5862ZM31.5 71.5902L31.5 72.0902L32.5 72.0902L32.5 71.5902L32 71.5902L31.5 71.5902ZM32.5 74.5942L32.5 74.0942L31.5 74.0942L31.5 74.5942L32 74.5942L32.5 74.5942ZM31.5 77.5983L31.5 78.0983L32.5 78.0983L32.5 77.5983L32 77.5983L31.5 77.5983ZM32.5 80.6023L32.5 80.1023L31.5 80.1023L31.5 80.6023L32 80.6023L32.5 80.6023ZM31.5 83.6063L31.5 84.1063L32.5 84.1063L32.5 83.6063L32 83.6063L31.5 83.6063ZM32.5 86.6103L32.5 86.1103L31.5 86.1103L31.5 86.6103L32 86.6103L32.5 86.6103ZM31.5 89.6143L31.5 90.1143L32.5 90.1143L32.5 89.6143L32 89.6143L31.5 89.6143ZM32.5 92.6183L32.5 92.1183L31.5 92.1183L31.5 92.6183L32 92.6183L32.5 92.6183ZM31.5 95.6223L31.5 96.1223L32.5 96.1223L32.5 95.6223L32 95.6223L31.5 95.6223ZM32.5 98.6264L32.5 98.1264L31.5 98.1264L31.5 98.6264L32 98.6264L32.5 98.6264ZM31.5 101.63L31.5 102.13L32.5 102.13L32.5 101.63L32 101.63L31.5 101.63ZM32.5 104.634L32.5 104.134L31.5 104.134L31.5 104.634L32 104.634L32.5 104.634ZM31.5 107.638L31.5 108.138L32.5 108.138L32.5 107.638L32 107.638L31.5 107.638ZM32.5 110.642L32.5 110.142L31.5 110.142L31.5 110.642L32 110.642L32.5 110.642ZM31.5 113.646L31.5 114.146L32.5 114.146L32.5 113.646L32 113.646L31.5 113.646ZM32.5 116.65L32.5 116.15L31.5 116.15L31.5 116.65L32 116.65L32.5 116.65ZM31.5 119.654L31.5 120.154L32.5 120.154L32.5 119.654L32 119.654L31.5 119.654ZM32.5 122.658L32.5 122.158L31.5 122.158L31.5 122.658L32 122.658L32.5 122.658ZM31.5 125.662L31.5 126.162L32.5 126.162L32.5 125.662L32 125.662L31.5 125.662ZM32.5 128.666L32.5 128.166L31.5 128.166L31.5 128.666L32 128.666L32.5 128.666ZM31.5 131.67L31.5 132.17L32.5 132.17L32.5 131.67L32 131.67L31.5 131.67ZM32.5 134.674L32.5 134.174L31.5 134.174L31.5 134.674L32 134.674L32.5 134.674ZM31.5 137.679L31.5 138.179L32.5 138.179L32.5 137.679L32 137.679L31.5 137.679ZM32.5 140.683L32.5 140.183L31.5 140.183L31.5 140.683L32 140.683L32.5 140.683ZM31.5 143.687L31.5 144.187L32.5 144.187L32.5 143.687L32 143.687L31.5 143.687ZM32.5 146.691L32.5 146.191L31.5 146.191L31.5 146.691L32 146.691L32.5 146.691ZM31.5 149.695L31.5 150.195L32.5 150.195L32.5 149.695L32 149.695L31.5 149.695ZM32.5 152.699L32.5 152.199L31.5 152.199L31.5 152.699L32 152.699L32.5 152.699ZM31.5 155.703L31.5 156.203L32.5 156.203L32.5 155.703L32 155.703L31.5 155.703ZM32.5 158.707L32.5 158.207L31.5 158.207L31.5 158.707L32 158.707L32.5 158.707ZM31.5 161.711L31.5 162.211L32.5 162.211L32.5 161.711L32 161.711L31.5 161.711ZM32.5 164.715L32.5 164.215L31.5 164.215L31.5 164.715L32 164.715L32.5 164.715ZM31.5 167.719L31.5 168.219L32.5 168.219L32.5 167.719L32 167.719L31.5 167.719ZM32.5 170.723L32.5 170.223L31.5 170.223L31.5 170.723L32 170.723L32.5 170.723ZM31.5 173.727L31.5 174.227L32.5 174.227L32.5 173.727L32 173.727L31.5 173.727ZM32.5 176.731L32.5 176.231L31.5 176.231L31.5 176.731L32 176.731L32.5 176.731ZM31.5 179.735L31.5 180.235L32.5 180.235L32.5 179.735L32 179.735L31.5 179.735ZM32.5 182.739L32.5 182.239L31.5 182.239L31.5 182.739L32 182.739L32.5 182.739ZM31.5 185.743L31.5 186.243L32.5 186.243L32.5 185.743L32 185.743L31.5 185.743ZM32.5 188.747L32.5 188.247L31.5 188.247L31.5 188.747L32 188.747L32.5 188.747ZM31.5 191.751L31.5 192.251L32.5 192.251L32.5 191.751L32 191.751L31.5 191.751ZM32.5 194.755L32.5 194.255L31.5 194.255L31.5 194.755L32 194.755L32.5 194.755ZM31.5 197.759L31.5 198.259L32.5 198.259L32.5 197.759L32 197.759L31.5 197.759ZM32.5 200.763L32.5 200.263L31.5 200.263L31.5 200.763L32 200.763L32.5 200.763ZM31.5 203.767L31.5 204.267L32.5 204.267L32.5 203.767L32 203.767L31.5 203.767ZM32.5 206.771L32.5 206.271L31.5 206.271L31.5 206.771L32 206.771L32.5 206.771ZM31.5 209.775L31.5 210.275L32.5 210.275L32.5 209.775L32 209.775L31.5 209.775ZM32.5 212.779L32.5 212.279L31.5 212.279L31.5 212.779L32 212.779L32.5 212.779ZM31.5 215.783L31.5 216.283L32.5 216.283L32.5 215.783L32 215.783L31.5 215.783ZM32.5 218.787L32.5 218.287L31.5 218.287L31.5 218.787L32 218.787L32.5 218.787ZM31.5 221.791L31.5 222.291L32.5 222.291L32.5 221.791L32 221.791L31.5 221.791ZM32.5 224.795L32.5 224.295L31.5 224.295L31.5 224.795L32 224.795L32.5 224.795ZM31.5 227.799L31.5 228.299L32.5 228.299L32.5 227.799L32 227.799L31.5 227.799ZM32.5 230.803L32.5 230.303L31.5 230.303L31.5 230.803L32 230.803L32.5 230.803ZM31.5 233.807L31.5 234.307L32.5 234.307L32.5 233.807L32 233.807L31.5 233.807ZM32.5 236.811L32.5 236.311L31.5 236.311L31.5 236.811L32 236.811L32.5 236.811ZM31.5 239.815L31.5 240.315L32.5 240.315L32.5 239.815L32 239.815L31.5 239.815ZM32.5 242.819L32.5 242.319L31.5 242.319L31.5 242.819L32 242.819L32.5 242.819ZM31.5 245.823L31.5 246.323L32.5 246.323L32.5 245.823L32 245.823L31.5 245.823ZM32.5 248.827L32.5 248.327L31.5 248.327L31.5 248.827L32 248.827L32.5 248.827ZM31.5 251.831L31.5 252.331L32.5 252.331L32.5 251.831L32 251.831L31.5 251.831ZM32.5 254.835L32.5 254.335L31.5 254.335L31.5 254.835L32 254.835L32.5 254.835ZM31.5 257.839L31.5 258.339L32.5 258.339L32.5 257.839L32 257.839L31.5 257.839ZM32.5 260.843L32.5 260.343L31.5 260.343L31.5 260.843L32 260.843L32.5 260.843ZM31.5 263.847L31.5 264.347L32.5 264.347L32.5 263.847L32 263.847L31.5 263.847ZM32.5 266.851L32.5 266.351L31.5 266.351L31.5 266.851L32 266.851L32.5 266.851ZM31.5 269.855L31.5 270.355L32.5 270.355L32.5 269.855L32 269.855L31.5 269.855ZM32.5 272.859L32.5 272.359L31.5 272.359L31.5 272.859L32 272.859L32.5 272.859ZM31.5 275.863L31.5 276.363L32.5 276.363L32.5 275.863L32 275.863L31.5 275.863ZM32.5 278.867L32.5 278.367L31.5 278.367L31.5 278.867L32 278.867L32.5 278.867ZM31.5 281.871L31.5 282.371L32.5 282.371L32.5 281.871L32 281.871L31.5 281.871ZM32.5 284.875L32.5 284.375L31.5 284.375L31.5 284.875L32 284.875L32.5 284.875ZM31.5 287.879L31.5 288.379L32.5 288.379L32.5 287.879L32 287.879L31.5 287.879ZM32.5 290.883L32.5 290.383L31.5 290.383L31.5 290.883L32 290.883L32.5 290.883ZM31.5 293.887L31.5 294.387L32.5 294.387L32.5 293.887L32 293.887L31.5 293.887ZM32.5 296.891L32.5 296.391L31.5 296.391L31.5 296.891L32 296.891L32.5 296.891ZM31.5 299.895L31.5 300.395L32.5 300.395L32.5 299.895L32 299.895L31.5 299.895ZM32.5 302.899L32.5 302.399L31.5 302.399L31.5 302.899L32 302.899L32.5 302.899ZM31.5 305.903L31.5 306.403L32.5 306.403L32.5 305.903L32 305.903L31.5 305.903ZM32.5 308.907L32.5 308.407L31.5 308.407L31.5 308.907L32 308.907L32.5 308.907ZM31.5 311.911L31.5 312.411L32.5 312.411L32.5 311.911L32 311.911L31.5 311.911ZM32.5 314.915L32.5 314.415L31.5 314.415L31.5 314.915L32 314.915L32.5 314.915ZM31.5 317.919L31.5 318.419L32.5 318.419L32.5 317.919L32 317.919L31.5 317.919ZM32.5 320.923L32.5 320.423L31.5 320.423L31.5 320.923L32 320.923L32.5 320.923ZM31.5 323.927L31.5 324.427L32.5 324.427L32.5 323.927L32 323.927L31.5 323.927ZM32.5 326.931L32.5 326.431L31.5 326.431L31.5 326.931L32 326.931L32.5 326.931ZM31.5 329.935L31.5 330.435L32.5 330.435L32.5 329.935L32 329.935L31.5 329.935ZM32.5 332.939L32.5 332.439L31.5 332.439L31.5 332.939L32 332.939L32.5 332.939ZM31.5 335.943L31.5 336.443L32.5 336.443L32.5 335.943L32 335.943L31.5 335.943ZM32.5 338.947L32.5 338.447L31.5 338.447L31.5 338.947L32 338.947L32.5 338.947ZM31.5 341.951L31.5 342.451L32.5 342.451L32.5 341.951L32 341.951L31.5 341.951ZM32.5 344.955L32.5 344.455L31.5 344.455L31.5 344.955L32 344.955L32.5 344.955ZM31.5 347.959L31.5 348.459L32.5 348.459L32.5 347.959L32 347.959L31.5 347.959ZM32.5 350.963L32.5 350.463L31.5 350.463L31.5 350.963L32 350.963L32.5 350.963ZM31.5 353.967L31.5 354.467L32.5 354.467L32.5 353.967L32 353.967L31.5 353.967ZM32.5 356.971L32.5 356.471L31.5 356.471L31.5 356.971L32 356.971L32.5 356.971ZM31.5 359.975L31.5 360.475L32.5 360.475L32.5 359.975L32 359.975L31.5 359.975ZM32.5 362.979L32.5 362.479L31.5 362.479L31.5 362.979L32 362.979L32.5 362.979ZM31.5 365.983L31.5 366.483L32.5 366.483L32.5 365.983L32 365.983L31.5 365.983ZM32.5 368.987L32.5 368.487L31.5 368.487L31.5 368.987L32 368.987L32.5 368.987ZM31.5 371.991L31.5 372.491L32.5 372.491L32.5 371.991L32 371.991L31.5 371.991ZM32.5 374.995L32.5 374.495L31.5 374.495L31.5 374.995L32 374.995L32.5 374.995ZM31.5 377.999L31.5 378.499L32.5 378.499L32.5 377.999L32 377.999L31.5 377.999ZM32.5 381.003L32.5 380.503L31.5 380.503L31.5 381.003L32 381.003L32.5 381.003ZM31.5 384.007L31.5 384.507L32.5 384.507L32.5 384.007L32 384.007L31.5 384.007ZM32.5 387.011L32.5 386.511L31.5 386.511L31.5 387.011L32 387.011L32.5 387.011ZM31.5 390.015L31.5 390.515L32.5 390.515L32.5 390.015L32 390.015L31.5 390.015ZM32.5 393.019L32.5 392.519L31.5 392.519L31.5 393.019L32 393.019L32.5 393.019ZM31.5 396.023L31.5 396.523L32.5 396.523L32.5 396.023L32 396.023L31.5 396.023ZM32.5 399.027L32.5 398.527L31.5 398.527L31.5 399.027L32 399.027L32.5 399.027ZM31.5 402.031L31.5 402.531L32.5 402.531L32.5 402.031L32 402.031L31.5 402.031ZM32.5 405.035L32.5 404.535L31.5 404.535L31.5 405.035L32 405.035L32.5 405.035ZM31.5 408.039L31.5 408.539L32.5 408.539L32.5 408.039L32 408.039L31.5 408.039ZM32.5 411.043L32.5 410.543L31.5 410.543L31.5 411.043L32 411.043L32.5 411.043ZM31.5 414.047L31.5 414.547L32.5 414.547L32.5 414.047L32 414.047L31.5 414.047ZM32.5 417.051L32.5 416.551L31.5 416.551L31.5 417.051L32 417.051L32.5 417.051ZM31.5 420.055L31.5 420.555L32.5 420.555L32.5 420.055L32 420.055L31.5 420.055ZM32.5 423.059L32.5 422.559L31.5 422.559L31.5 423.059L32 423.059L32.5 423.059ZM31.5 426.063L31.5 426.563L32.5 426.563L32.5 426.063L32 426.063L31.5 426.063ZM32.5 429.067L32.5 428.567L31.5 428.567L31.5 429.067L32 429.067L32.5 429.067ZM31.5 432.071L31.5 432.571L32.5 432.571L32.5 432.071L32 432.071L31.5 432.071ZM32.5 435.075L32.5 434.575L31.5 434.575L31.5 435.075L32 435.075L32.5 435.075ZM31.5 438.079L31.5 438.579L32.5 438.579L32.5 438.079L32 438.079L31.5 438.079ZM32.5 441.083L32.5 440.583L31.5 440.583L31.5 441.083L32 441.083L32.5 441.083ZM31.5 444.087L31.5 444.587L32.5 444.587L32.5 444.087L32 444.087L31.5 444.087ZM32.5 447.091L32.5 446.591L31.5 446.591L31.5 447.091L32 447.091L32.5 447.091ZM31.5 450.095L31.5 450.595L32.5 450.595L32.5 450.095L32 450.095L31.5 450.095ZM32.5 453.099L32.5 452.599L31.5 452.599L31.5 453.099L32 453.099L32.5 453.099ZM31.5 456.103L31.5 456.603L32.5 456.603L32.5 456.103L32 456.103L31.5 456.103ZM32.5 459.107L32.5 458.607L31.5 458.607L31.5 459.107L32 459.107L32.5 459.107ZM31.5 462.111L31.5 462.611L32.5 462.611L32.5 462.111L32 462.111L31.5 462.111ZM32.5 465.115L32.5 464.615L31.5 464.615L31.5 465.115L32 465.115L32.5 465.115ZM31.5 468.119L31.5 468.619L32.5 468.619L32.5 468.119L32 468.119L31.5 468.119ZM32.5 471.123L32.5 470.623L31.5 470.623L31.5 471.123L32 471.123L32.5 471.123ZM31.5 474.127L31.5 474.627L32.5 474.627L32.5 474.127L32 474.127L31.5 474.127ZM32.5 477.131L32.5 476.631L31.5 476.631L31.5 477.131L32 477.131L32.5 477.131ZM31.5 480.135L31.5 480.635L32.5 480.635L32.5 480.135L32 480.135L31.5 480.135ZM32.5 483.139L32.5 482.639L31.5 482.639L31.5 483.139L32 483.139L32.5 483.139ZM31.5 486.143L31.5 486.643L32.5 486.643L32.5 486.143L32 486.143L31.5 486.143ZM32.5 489.147L32.5 488.647L31.5 488.647L31.5 489.147L32 489.147L32.5 489.147ZM31.5 492.151L31.5 492.651L32.5 492.651L32.5 492.151L32 492.151L31.5 492.151ZM32.5 495.155L32.5 494.655L31.5 494.655L31.5 495.155L32 495.155L32.5 495.155ZM31.5 498.159L31.5 498.659L32.5 498.659L32.5 498.159L32 498.159L31.5 498.159ZM32.5 501.163L32.5 500.663L31.5 500.663L31.5 501.163L32 501.163L32.5 501.163ZM31.5 504.167L31.5 504.667L32.5 504.667L32.5 504.167L32 504.167L31.5 504.167ZM32.5 507.171L32.5 506.671L31.5 506.671L31.5 507.171L32 507.171L32.5 507.171ZM31.5 510.175L31.5 510.675L32.5 510.675L32.5 510.175L32 510.175L31.5 510.175ZM32.5 513.179L32.5 512.679L31.5 512.679L31.5 513.179L32 513.179L32.5 513.179ZM31.5 516.183L31.5 516.683L32.5 516.683L32.5 516.183L32 516.183L31.5 516.183ZM32.5 519.187L32.5 518.687L31.5 518.687L31.5 519.187L32 519.187L32.5 519.187ZM31.5 522.191L31.5 522.691L32.5 522.691L32.5 522.191L32 522.191L31.5 522.191ZM32.5 525.195L32.5 524.695L31.5 524.695L31.5 525.195L32 525.195L32.5 525.195ZM31.5 528.199L31.5 528.699L32.5 528.699L32.5 528.199L32 528.199L31.5 528.199ZM32.5 531.203L32.5 530.703L31.5 530.703L31.5 531.203L32 531.203L32.5 531.203ZM31.5 534.207L31.5 534.707L32.5 534.707L32.5 534.207L32 534.207L31.5 534.207ZM32.5 537.211L32.5 536.711L31.5 536.711L31.5 537.211L32 537.211L32.5 537.211ZM31.5 540.215L31.5 540.715L32.5 540.715L32.5 540.215L32 540.215L31.5 540.215ZM32.5 543.219L32.5 542.719L31.5 542.719L31.5 543.219L32 543.219L32.5 543.219ZM31.5 546.223L31.5 546.723L32.5 546.723L32.5 546.223L32 546.223L31.5 546.223ZM32.5 549.227L32.5 548.727L31.5 548.727L31.5 549.227L32 549.227L32.5 549.227ZM31.5 552.231L31.5 552.731L32.5 552.731L32.5 552.231L32 552.231L31.5 552.231ZM32.5 555.235L32.5 554.735L31.5 554.735L31.5 555.235L32 555.235L32.5 555.235ZM31.5 558.239L31.5 558.739L32.5 558.739L32.5 558.239L32 558.239L31.5 558.239ZM32.5 561.243L32.5 560.743L31.5 560.743L31.5 561.243L32 561.243L32.5 561.243ZM31.5 564.247L31.5 564.747L32.5 564.747L32.5 564.247L32 564.247L31.5 564.247ZM32.5 567.251L32.5 566.751L31.5 566.751L31.5 567.251L32 567.251L32.5 567.251ZM31.5 570.255L31.5 570.755L32.5 570.755L32.5 570.255L32 570.255L31.5 570.255ZM32.5 573.259L32.5 572.759L31.5 572.759L31.5 573.259L32 573.259L32.5 573.259ZM31.5 576.263L31.5 576.763L32.5 576.763L32.5 576.263L32 576.263L31.5 576.263ZM32.5 579.267L32.5 578.767L31.5 578.767L31.5 579.267L32 579.267L32.5 579.267ZM31.5 582.271L31.5 582.771L32.5 582.771L32.5 582.271L32 582.271L31.5 582.271ZM32.5 585.276L32.5 584.776L31.5 584.776L31.5 585.276L32 585.276L32.5 585.276ZM31.5 588.28L31.5 588.78L32.5 588.78L32.5 588.28L32 588.28L31.5 588.28ZM32.5 591.284L32.5 590.784L31.5 590.784L31.5 591.284L32 591.284L32.5 591.284ZM31.5 594.288L31.5 594.788L32.5 594.788L32.5 594.288L32 594.288L31.5 594.288ZM32.5 597.292L32.5 596.792L31.5 596.792L31.5 597.292L32 597.292L32.5 597.292ZM31.5 600.296L31.5 600.796L32.5 600.796L32.5 600.296L32 600.296L31.5 600.296ZM32.5 603.3L32.5 602.8L31.5 602.8L31.5 603.3L32 603.3L32.5 603.3ZM31.5 606.304L31.5 606.804L32.5 606.804L32.5 606.304L32 606.304L31.5 606.304ZM32.5 609.308L32.5 608.808L31.5 608.808L31.5 609.308L32 609.308L32.5 609.308ZM31.5 612.312L31.5 612.812L32.5 612.812L32.5 612.312L32 612.312L31.5 612.312ZM32.5 615.316L32.5 614.816L31.5 614.816L31.5 615.316L32 615.316L32.5 615.316ZM31.5 618.32L31.5 618.82L32.5 618.82L32.5 618.32L32 618.32L31.5 618.32ZM32.5 621.324L32.5 620.824L31.5 620.824L31.5 621.324L32 621.324L32.5 621.324ZM31.5 624.328L31.5 624.828L32.5 624.828L32.5 624.328L32 624.328L31.5 624.328ZM32.5 627.332L32.5 626.832L31.5 626.832L31.5 627.332L32 627.332L32.5 627.332ZM31.5 630.336L31.5 630.836L32.5 630.836L32.5 630.336L32 630.336L31.5 630.336ZM32.5 633.34L32.5 632.84L31.5 632.84L31.5 633.34L32 633.34L32.5 633.34ZM31.5 636.344L31.5 636.844L32.5 636.844L32.5 636.344L32 636.344L31.5 636.344ZM32.5 639.348L32.5 638.848L31.5 638.848L31.5 639.348L32 639.348L32.5 639.348ZM31.5 642.352L31.5 642.852L32.5 642.852L32.5 642.352L32 642.352L31.5 642.352ZM32.5 645.356L32.5 644.856L31.5 644.856L31.5 645.356L32 645.356L32.5 645.356ZM31.5 648.36L31.5 648.86L32.5 648.86L32.5 648.36L32 648.36L31.5 648.36ZM32.5 651.364L32.5 650.864L31.5 650.864L31.5 651.364L32 651.364L32.5 651.364ZM31.5 654.368L31.5 654.868L32.5 654.868L32.5 654.368L32 654.368L31.5 654.368ZM32.5 657.372L32.5 656.872L31.5 656.872L31.5 657.372L32 657.372L32.5 657.372ZM31.5 660.376L31.5 660.876L32.5 660.876L32.5 660.376L32 660.376L31.5 660.376ZM32.5 663.38L32.5 662.88L31.5 662.88L31.5 663.38L32 663.38L32.5 663.38ZM31.5 666.384L31.5 666.884L32.5 666.884L32.5 666.384L32 666.384L31.5 666.384ZM32.5 669.388L32.5 668.888L31.5 668.888L31.5 669.388L32 669.388L32.5 669.388ZM31.5 672.392L31.5 672.892L32.5 672.892L32.5 672.392L32 672.392L31.5 672.392ZM32.5 675.396L32.5 674.896L31.5 674.896L31.5 675.396L32 675.396L32.5 675.396ZM31.5 678.4L31.5 678.9L32.5 678.9L32.5 678.4L32 678.4L31.5 678.4ZM32.5 681.404L32.5 680.904L31.5 680.904L31.5 681.404L32 681.404L32.5 681.404ZM31.5 684.408L31.5 684.908L32.5 684.908L32.5 684.408L32 684.408L31.5 684.408ZM32.5 687.412L32.5 686.912L31.5 686.912L31.5 687.412L32 687.412L32.5 687.412ZM31.5 690.417L31.5 690.917L32.5 690.917L32.5 690.417L32 690.417L31.5 690.417ZM32.5 693.421L32.5 692.921L31.5 692.921L31.5 693.421L32 693.421L32.5 693.421ZM31.5 696.425L31.5 696.925L32.5 696.925L32.5 696.425L32 696.425L31.5 696.425ZM32.5 699.429L32.5 698.929L31.5 698.929L31.5 699.429L32 699.429L32.5 699.429ZM31.5 702.433L31.5 702.933L32.5 702.933L32.5 702.433L32 702.433L31.5 702.433ZM32.5 705.437L32.5 704.937L31.5 704.937L31.5 705.437L32 705.437L32.5 705.437ZM31.5 708.441L31.5 708.941L32.5 708.941L32.5 708.441L32 708.441L31.5 708.441ZM32.5 711.445L32.5 710.945L31.5 710.945L31.5 711.445L32 711.445L32.5 711.445ZM31.5 714.449L31.5 714.949L32.5 714.949L32.5 714.449L32 714.449L31.5 714.449ZM32.5 717.453L32.5 716.953L31.5 716.953L31.5 717.453L32 717.453L32.5 717.453ZM31.5 720.457L31.5 720.957L32.5 720.957L32.5 720.457L32 720.457L31.5 720.457ZM32.5 723.461L32.5 722.961L31.5 722.961L31.5 723.461L32 723.461L32.5 723.461ZM31.5 726.465L31.5 726.965L32.5 726.965L32.5 726.465L32 726.465L31.5 726.465ZM32.5 729.469L32.5 728.969L31.5 728.969L31.5 729.469L32 729.469L32.5 729.469ZM31.5 732.473L31.5 732.973L32.5 732.973L32.5 732.473L32 732.473L31.5 732.473ZM32.5 735.477L32.5 734.977L31.5 734.977L31.5 735.477L32 735.477L32.5 735.477ZM31.5 738.481L31.5 738.981L32.5 738.981L32.5 738.481L32 738.481L31.5 738.481ZM32.5 741.485L32.5 740.985L31.5 740.985L31.5 741.485L32 741.485L32.5 741.485ZM31.5 744.489L31.5 744.989L32.5 744.989L32.5 744.489L32 744.489L31.5 744.489ZM32.5 747.493L32.5 746.993L31.5 746.993L31.5 747.493L32 747.493L32.5 747.493ZM31.5 750.497L31.5 750.997L32.5 750.997L32.5 750.497L32 750.497L31.5 750.497ZM32.5 753.501L32.5 753.001L31.5 753.001L31.5 753.501L32 753.501L32.5 753.501ZM31.5 756.505L31.5 757.005L32.5 757.005L32.5 756.505L32 756.505L31.5 756.505ZM32.5 759.509L32.5 759.009L31.5 759.009L31.5 759.509L32 759.509L32.5 759.509ZM31.5 762.513L31.5 763.013L32.5 763.013L32.5 762.513L32 762.513L31.5 762.513ZM32.5 765.517L32.5 765.017L31.5 765.017L31.5 765.517L32 765.517L32.5 765.517ZM31.5 768.521L31.5 769.021L32.5 769.021L32.5 768.521L32 768.521L31.5 768.521ZM32.5 771.525L32.5 771.025L31.5 771.025L31.5 771.525L32 771.525L32.5 771.525ZM31.5 774.529L31.5 775.029L32.5 775.029L32.5 774.529L32 774.529L31.5 774.529ZM32.5 777.533L32.5 777.033L31.5 777.033L31.5 777.533L32 777.533L32.5 777.533ZM31.5 780.537L31.5 781.037L32.5 781.037L32.5 780.537L32 780.537L31.5 780.537ZM32.5 783.541L32.5 783.041L31.5 783.041L31.5 783.541L32 783.541L32.5 783.541ZM31.5 786.545L31.5 787.045L32.5 787.045L32.5 786.545L32 786.545L31.5 786.545ZM32.5 789.549L32.5 789.049L31.5 789.049L31.5 789.549L32 789.549L32.5 789.549ZM31.5 792.553L31.5 793.053L32.5 793.053L32.5 792.553L32 792.553L31.5 792.553ZM32.5 795.557L32.5 795.057L31.5 795.057L31.5 795.557L32 795.557L32.5 795.557ZM31.5 798.562L31.5 799.062L32.5 799.062L32.5 798.562L32 798.562L31.5 798.562ZM32.5 801.566L32.5 801.066L31.5 801.066L31.5 801.566L32 801.566L32.5 801.566ZM31.5 804.57L31.5 805.07L32.5 805.07L32.5 804.57L32 804.57L31.5 804.57ZM32.5 807.574L32.5 807.074L31.5 807.074L31.5 807.574L32 807.574L32.5 807.574ZM31.5 810.578L31.5 811.078L32.5 811.078L32.5 810.578L32 810.578L31.5 810.578ZM32.5 813.582L32.5 813.082L31.5 813.082L31.5 813.582L32 813.582L32.5 813.582ZM31.5 816.586L31.5 817.086L32.5 817.086L32.5 816.586L32 816.586L31.5 816.586ZM32.5 819.59L32.5 819.09L31.5 819.09L31.5 819.59L32 819.59L32.5 819.59ZM31.5 822.594L31.5 823.094L32.5 823.094L32.5 822.594L32 822.594L31.5 822.594ZM32.5 825.598L32.5 825.098L31.5 825.098L31.5 825.598L32 825.598L32.5 825.598ZM31.5 828.602L31.5 829.102L32.5 829.102L32.5 828.602L32 828.602L31.5 828.602ZM32.5 831.606L32.5 831.106L31.5 831.106L31.5 831.606L32 831.606L32.5 831.606ZM31.5 834.61L31.5 835.11L32.5 835.11L32.5 834.61L32 834.61L31.5 834.61ZM32.5 837.614L32.5 837.114L31.5 837.114L31.5 837.614L32 837.614L32.5 837.614ZM31.5 840.618L31.5 841.118L32.5 841.118L32.5 840.618L32 840.618L31.5 840.618ZM32.5 843.622L32.5 843.122L31.5 843.122L31.5 843.622L32 843.622L32.5 843.622ZM31.5 846.626L31.5 847.126L32.5 847.126L32.5 846.626L32 846.626L31.5 846.626ZM32.5 849.63L32.5 849.13L31.5 849.13L31.5 849.63L32 849.63L32.5 849.63ZM31.5 852.634L31.5 853.134L32.5 853.134L32.5 852.634L32 852.634L31.5 852.634ZM32.5 855.638L32.5 855.138L31.5 855.138L31.5 855.638L32 855.638L32.5 855.638ZM31.5 858.642L31.5 859.142L32.5 859.142L32.5 858.642L32 858.642L31.5 858.642ZM32.5 861.646L32.5 861.146L31.5 861.146L31.5 861.646L32 861.646L32.5 861.646ZM31.5 864.65L31.5 865.15L32.5 865.15L32.5 864.65L32 864.65L31.5 864.65ZM32.5 867.654L32.5 867.154L31.5 867.154L31.5 867.654L32 867.654L32.5 867.654ZM31.5 870.658L31.5 871.158L32.5 871.158L32.5 870.658L32 870.658L31.5 870.658ZM32.5 873.662L32.5 873.162L31.5 873.162L31.5 873.662L32 873.662L32.5 873.662ZM31.5 876.666L31.5 877.166L32.5 877.166L32.5 876.666L32 876.666L31.5 876.666ZM32.5 879.67L32.5 879.17L31.5 879.17L31.5 879.67L32 879.67L32.5 879.67ZM31.5 882.674L31.5 883.174L32.5 883.174L32.5 882.674L32 882.674L31.5 882.674ZM32.5 885.678L32.5 885.178L31.5 885.178L31.5 885.678L32 885.678L32.5 885.678ZM31.5 888.682L31.5 889.182L32.5 889.182L32.5 888.682L32 888.682L31.5 888.682ZM32.5 891.686L32.5 891.186L31.5 891.186L31.5 891.686L32 891.686L32.5 891.686ZM31.5 894.69L31.5 895.19L32.5 895.19L32.5 894.69L32 894.69L31.5 894.69ZM32.5 897.694L32.5 897.194L31.5 897.194L31.5 897.694L32 897.694L32.5 897.694ZM31.5 900.698L31.5 901.198L32.5 901.198L32.5 900.698L32 900.698L31.5 900.698ZM32.5 903.703L32.5 903.203L31.5 903.203L31.5 903.703L32 903.703L32.5 903.703ZM31.5 906.707L31.5 907.207L32.5 907.207L32.5 906.707L32 906.707L31.5 906.707ZM32.5 909.711L32.5 909.211L31.5 909.211L31.5 909.711L32 909.711L32.5 909.711ZM31.5 912.715L31.5 913.215L32.5 913.215L32.5 912.715L32 912.715L31.5 912.715ZM32.5 915.719L32.5 915.219L31.5 915.219L31.5 915.719L32 915.719L32.5 915.719ZM31.5 918.723L31.5 919.223L32.5 919.223L32.5 918.723L32 918.723L31.5 918.723ZM32.5 921.727L32.5 921.227L31.5 921.227L31.5 921.727L32 921.727L32.5 921.727ZM31.5 924.731L31.5 925.231L32.5 925.231L32.5 924.731L32 924.731L31.5 924.731ZM32.5 927.735L32.5 927.235L31.5 927.235L31.5 927.735L32 927.735L32.5 927.735ZM31.5 930.739L31.5 931.239L32.5 931.239L32.5 930.739L32 930.739L31.5 930.739ZM32.5 933.743L32.5 933.243L31.5 933.243L31.5 933.743L32 933.743L32.5 933.743ZM31.5 936.747L31.5 937.247L32.5 937.247L32.5 936.747L32 936.747L31.5 936.747ZM32.5 939.751L32.5 939.251L31.5 939.251L31.5 939.751L32 939.751L32.5 939.751ZM31.5 942.755L31.5 943.255L32.5 943.255L32.5 942.755L32 942.755L31.5 942.755ZM32.5 945.759L32.5 945.259L31.5 945.259L31.5 945.759L32 945.759L32.5 945.759ZM31.5 948.763L31.5 949.263L32.5 949.263L32.5 948.763L32 948.763L31.5 948.763ZM32.5 951.767L32.5 951.267L31.5 951.267L31.5 951.767L32 951.767L32.5 951.767ZM31.5 954.771L31.5 955.271L32.5 955.271L32.5 954.771L32 954.771L31.5 954.771ZM32.5 957.775L32.5 957.275L31.5 957.275L31.5 957.775L32 957.775L32.5 957.775ZM31.5 960.779L31.5 961.279L32.5 961.279L32.5 960.779L32 960.779L31.5 960.779ZM32.5 963.783L32.5 963.283L31.5 963.283L31.5 963.783L32 963.783L32.5 963.783ZM31.5 966.787L31.5 967.287L32.5 967.287L32.5 966.787L32 966.787L31.5 966.787ZM32.5 969.791L32.5 969.291L31.5 969.291L31.5 969.791L32 969.791L32.5 969.791ZM31.5 972.795L31.5 973.295L32.5 973.295L32.5 972.795L32 972.795L31.5 972.795ZM32.5 975.799L32.5 975.299L31.5 975.299L31.5 975.799L32 975.799L32.5 975.799ZM31.5 978.803L31.5 979.303L32.5 979.303L32.5 978.803L32 978.803L31.5 978.803ZM32.5 981.807L32.5 981.307L31.5 981.307L31.5 981.807L32 981.807L32.5 981.807ZM31.5 984.811L31.5 985.311L32.5 985.311L32.5 984.811L32 984.811L31.5 984.811ZM32.5 987.815L32.5 987.315L31.5 987.315L31.5 987.815L32 987.815L32.5 987.815ZM31.5 990.819L31.5 991.319L32.5 991.319L32.5 990.819L32 990.819L31.5 990.819ZM32.5 993.823L32.5 993.323L31.5 993.323L31.5 993.823L32 993.823L32.5 993.823ZM31.5 996.827L31.5 997.327L32.5 997.327L32.5 996.827L32 996.827L31.5 996.827ZM32.5 999.831L32.5 999.331L31.5 999.331L31.5 999.831L32 999.831L32.5 999.831ZM31.5 1002.84L31.5 1003.34L32.5 1003.34L32.5 1002.84L32 1002.84L31.5 1002.84ZM32.5 1005.84L32.5 1005.34L31.5 1005.34L31.5 1005.84L32 1005.84L32.5 1005.84ZM31.5 1008.84L31.5 1009.34L32.5 1009.34L32.5 1008.84L32 1008.84L31.5 1008.84ZM32.5 1011.85L32.5 1011.35L31.5 1011.35L31.5 1011.85L32 1011.85L32.5 1011.85ZM31.5 1014.85L31.5 1015.35L32.5 1015.35L32.5 1014.85L32 1014.85L31.5 1014.85ZM32.5 1017.86L32.5 1017.36L31.5 1017.36L31.5 1017.86L32 1017.86L32.5 1017.86ZM31.5 1020.86L31.5 1021.36L32.5 1021.36L32.5 1020.86L32 1020.86L31.5 1020.86ZM32.5 1023.86L32.5 1023.36L31.5 1023.36L31.5 1023.86L32 1023.86L32.5 1023.86ZM31.5 1026.87L31.5 1027.37L32.5 1027.37L32.5 1026.87L32 1026.87L31.5 1026.87ZM32.5 1029.87L32.5 1029.37L31.5 1029.37L31.5 1029.87L32 1029.87L32.5 1029.87ZM31.5 1032.88L31.5 1033.38L32.5 1033.38L32.5 1032.88L32 1032.88L31.5 1032.88ZM32.5 1035.88L32.5 1035.38L31.5 1035.38L31.5 1035.88L32 1035.88L32.5 1035.88ZM31.5 1038.88L31.5 1039.38L32.5 1039.38L32.5 1038.88L32 1038.88L31.5 1038.88ZM32.5 1041.89L32.5 1041.39L31.5 1041.39L31.5 1041.89L32 1041.89L32.5 1041.89ZM31.5 1044.89L31.5 1045.39L32.5 1045.39L32.5 1044.89L32 1044.89L31.5 1044.89ZM32.5 1047.9L32.5 1047.4L31.5 1047.4L31.5 1047.9L32 1047.9L32.5 1047.9ZM31.5 1050.9L31.5 1051.4L32.5 1051.4L32.5 1050.9L32 1050.9L31.5 1050.9ZM32.5 1053.9L32.5 1053.4L31.5 1053.4L31.5 1053.9L32 1053.9L32.5 1053.9ZM31.5 1056.91L31.5 1057.41L32.5 1057.41L32.5 1056.91L32 1056.91L31.5 1056.91ZM32.5 1059.91L32.5 1059.41L31.5 1059.41L31.5 1059.91L32 1059.91L32.5 1059.91ZM31.5 1062.92L31.5 1063.42L32.5 1063.42L32.5 1062.92L32 1062.92L31.5 1062.92ZM32.5 1065.92L32.5 1065.42L31.5 1065.42L31.5 1065.92L32 1065.92L32.5 1065.92ZM31.5 1068.92L31.5 1069.42L32.5 1069.42L32.5 1068.92L32 1068.92L31.5 1068.92ZM32.5 1071.93L32.5 1071.43L31.5 1071.43L31.5 1071.93L32 1071.93L32.5 1071.93ZM31.5 1074.93L31.5 1075.43L32.5 1075.43L32.5 1074.93L32 1074.93L31.5 1074.93ZM32.5 1077.94L32.5 1077.44L31.5 1077.44L31.5 1077.94L32 1077.94L32.5 1077.94ZM31.5 1080.94L31.5 1081.44L32.5 1081.44L32.5 1080.94L32 1080.94L31.5 1080.94ZM32.5 1083.94L32.5 1083.44L31.5 1083.44L31.5 1083.94L32 1083.94L32.5 1083.94ZM31.5 1086.95L31.5 1087.45L32.5 1087.45L32.5 1086.95L32 1086.95L31.5 1086.95ZM32.5 1089.95L32.5 1089.45L31.5 1089.45L31.5 1089.95L32 1089.95L32.5 1089.95ZM31.5 1092.96L31.5 1093.46L32.5 1093.46L32.5 1092.96L32 1092.96L31.5 1092.96ZM32.5 1095.96L32.5 1095.46L31.5 1095.46L31.5 1095.96L32 1095.96L32.5 1095.96ZM31.5 1098.96L31.5 1099.46L32.5 1099.46L32.5 1098.96L32 1098.96L31.5 1098.96ZM32.5 1101.97L32.5 1101.47L31.5 1101.47L31.5 1101.97L32 1101.97L32.5 1101.97ZM31.5 1104.97L31.5 1105.47L32.5 1105.47L32.5 1104.97L32 1104.97L31.5 1104.97ZM32.5 1107.98L32.5 1107.48L31.5 1107.48L31.5 1107.98L32 1107.98L32.5 1107.98ZM31.5 1110.98L31.5 1111.48L32.5 1111.48L32.5 1110.98L32 1110.98L31.5 1110.98ZM32.5 1113.98L32.5 1113.48L31.5 1113.48L31.5 1113.98L32 1113.98L32.5 1113.98ZM31.5 1116.99L31.5 1117.49L32.5 1117.49L32.5 1116.99L32 1116.99L31.5 1116.99ZM32.5 1119.99L32.5 1119.49L31.5 1119.49L31.5 1119.99L32 1119.99L32.5 1119.99ZM31.5 1123L31.5 1123.5L32.5 1123.5L32.5 1123L32 1123L31.5 1123ZM32.5 1126L32.5 1125.5L31.5 1125.5L31.5 1126L32 1126L32.5 1126ZM32 4L31.5 4L31.5 5.50201L32 5.50201L32.5 5.50201L32.5 4L32 4ZM32 8.50602L31.5 8.50602L31.5 11.51L32 11.51L32.5 11.51L32.5 8.50602L32 8.50602ZM32 14.514L31.5 14.514L31.5 17.518L32 17.518L32.5 17.518L32.5 14.514L32 14.514ZM32 20.5221L31.5 20.5221L31.5 23.5261L32 23.5261L32.5 23.5261L32.5 20.5221L32 20.5221ZM32 26.5301L31.5 26.5301L31.5 29.5341L32 29.5341L32.5 29.5341L32.5 26.5301L32 26.5301ZM32 32.5381L31.5 32.5381L31.5 35.5421L32 35.5421L32.5 35.5421L32.5 32.5381L32 32.5381ZM32 38.5461L31.5 38.5461L31.5 41.5501L32 41.5501L32.5 41.5501L32.5 38.5461L32 38.5461ZM32 44.5541L31.5 44.5541L31.5 47.5582L32 47.5582L32.5 47.5582L32.5 44.5541L32 44.5541ZM32 50.5622L31.5 50.5622L31.5 53.5662L32 53.5662L32.5 53.5662L32.5 50.5622L32 50.5622ZM32 56.5702L31.5 56.5702L31.5 59.5742L32 59.5742L32.5 59.5742L32.5 56.5702L32 56.5702ZM32 62.5782L31.5 62.5782L31.5 65.5822L32 65.5822L32.5 65.5822L32.5 62.5782L32 62.5782ZM32 68.5862L31.5 68.5862L31.5 71.5902L32 71.5902L32.5 71.5902L32.5 68.5862L32 68.5862ZM32 74.5942L31.5 74.5942L31.5 77.5983L32 77.5983L32.5 77.5983L32.5 74.5942L32 74.5942ZM32 80.6023L31.5 80.6023L31.5 83.6063L32 83.6063L32.5 83.6063L32.5 80.6023L32 80.6023ZM32 86.6103L31.5 86.6103L31.5 89.6143L32 89.6143L32.5 89.6143L32.5 86.6103L32 86.6103ZM32 92.6183L31.5 92.6183L31.5 95.6223L32 95.6223L32.5 95.6223L32.5 92.6183L32 92.6183ZM32 98.6264L31.5 98.6264L31.5 101.63L32 101.63L32.5 101.63L32.5 98.6264L32 98.6264ZM32 104.634L31.5 104.634L31.5 107.638L32 107.638L32.5 107.638L32.5 104.634L32 104.634ZM32 110.642L31.5 110.642L31.5 113.646L32 113.646L32.5 113.646L32.5 110.642L32 110.642ZM32 116.65L31.5 116.65L31.5 119.654L32 119.654L32.5 119.654L32.5 116.65L32 116.65ZM32 122.658L31.5 122.658L31.5 125.662L32 125.662L32.5 125.662L32.5 122.658L32 122.658ZM32 128.666L31.5 128.666L31.5 131.67L32 131.67L32.5 131.67L32.5 128.666L32 128.666ZM32 134.674L31.5 134.674L31.5 137.679L32 137.679L32.5 137.679L32.5 134.674L32 134.674ZM32 140.683L31.5 140.683L31.5 143.687L32 143.687L32.5 143.687L32.5 140.683L32 140.683ZM32 146.691L31.5 146.691L31.5 149.695L32 149.695L32.5 149.695L32.5 146.691L32 146.691ZM32 152.699L31.5 152.699L31.5 155.703L32 155.703L32.5 155.703L32.5 152.699L32 152.699ZM32 158.707L31.5 158.707L31.5 161.711L32 161.711L32.5 161.711L32.5 158.707L32 158.707ZM32 164.715L31.5 164.715L31.5 167.719L32 167.719L32.5 167.719L32.5 164.715L32 164.715ZM32 170.723L31.5 170.723L31.5 173.727L32 173.727L32.5 173.727L32.5 170.723L32 170.723ZM32 176.731L31.5 176.731L31.5 179.735L32 179.735L32.5 179.735L32.5 176.731L32 176.731ZM32 182.739L31.5 182.739L31.5 185.743L32 185.743L32.5 185.743L32.5 182.739L32 182.739ZM32 188.747L31.5 188.747L31.5 191.751L32 191.751L32.5 191.751L32.5 188.747L32 188.747ZM32 194.755L31.5 194.755L31.5 197.759L32 197.759L32.5 197.759L32.5 194.755L32 194.755ZM32 200.763L31.5 200.763L31.5 203.767L32 203.767L32.5 203.767L32.5 200.763L32 200.763ZM32 206.771L31.5 206.771L31.5 209.775L32 209.775L32.5 209.775L32.5 206.771L32 206.771ZM32 212.779L31.5 212.779L31.5 215.783L32 215.783L32.5 215.783L32.5 212.779L32 212.779ZM32 218.787L31.5 218.787L31.5 221.791L32 221.791L32.5 221.791L32.5 218.787L32 218.787ZM32 224.795L31.5 224.795L31.5 227.799L32 227.799L32.5 227.799L32.5 224.795L32 224.795ZM32 230.803L31.5 230.803L31.5 233.807L32 233.807L32.5 233.807L32.5 230.803L32 230.803ZM32 236.811L31.5 236.811L31.5 239.815L32 239.815L32.5 239.815L32.5 236.811L32 236.811ZM32 242.819L31.5 242.819L31.5 245.823L32 245.823L32.5 245.823L32.5 242.819L32 242.819ZM32 248.827L31.5 248.827L31.5 251.831L32 251.831L32.5 251.831L32.5 248.827L32 248.827ZM32 254.835L31.5 254.835L31.5 257.839L32 257.839L32.5 257.839L32.5 254.835L32 254.835ZM32 260.843L31.5 260.843L31.5 263.847L32 263.847L32.5 263.847L32.5 260.843L32 260.843ZM32 266.851L31.5 266.851L31.5 269.855L32 269.855L32.5 269.855L32.5 266.851L32 266.851ZM32 272.859L31.5 272.859L31.5 275.863L32 275.863L32.5 275.863L32.5 272.859L32 272.859ZM32 278.867L31.5 278.867L31.5 281.871L32 281.871L32.5 281.871L32.5 278.867L32 278.867ZM32 284.875L31.5 284.875L31.5 287.879L32 287.879L32.5 287.879L32.5 284.875L32 284.875ZM32 290.883L31.5 290.883L31.5 293.887L32 293.887L32.5 293.887L32.5 290.883L32 290.883ZM32 296.891L31.5 296.891L31.5 299.895L32 299.895L32.5 299.895L32.5 296.891L32 296.891ZM32 302.899L31.5 302.899L31.5 305.903L32 305.903L32.5 305.903L32.5 302.899L32 302.899ZM32 308.907L31.5 308.907L31.5 311.911L32 311.911L32.5 311.911L32.5 308.907L32 308.907ZM32 314.915L31.5 314.915L31.5 317.919L32 317.919L32.5 317.919L32.5 314.915L32 314.915ZM32 320.923L31.5 320.923L31.5 323.927L32 323.927L32.5 323.927L32.5 320.923L32 320.923ZM32 326.931L31.5 326.931L31.5 329.935L32 329.935L32.5 329.935L32.5 326.931L32 326.931ZM32 332.939L31.5 332.939L31.5 335.943L32 335.943L32.5 335.943L32.5 332.939L32 332.939ZM32 338.947L31.5 338.947L31.5 341.951L32 341.951L32.5 341.951L32.5 338.947L32 338.947ZM32 344.955L31.5 344.955L31.5 347.959L32 347.959L32.5 347.959L32.5 344.955L32 344.955ZM32 350.963L31.5 350.963L31.5 353.967L32 353.967L32.5 353.967L32.5 350.963L32 350.963ZM32 356.971L31.5 356.971L31.5 359.975L32 359.975L32.5 359.975L32.5 356.971L32 356.971ZM32 362.979L31.5 362.979L31.5 365.983L32 365.983L32.5 365.983L32.5 362.979L32 362.979ZM32 368.987L31.5 368.987L31.5 371.991L32 371.991L32.5 371.991L32.5 368.987L32 368.987ZM32 374.995L31.5 374.995L31.5 377.999L32 377.999L32.5 377.999L32.5 374.995L32 374.995ZM32 381.003L31.5 381.003L31.5 384.007L32 384.007L32.5 384.007L32.5 381.003L32 381.003ZM32 387.011L31.5 387.011L31.5 390.015L32 390.015L32.5 390.015L32.5 387.011L32 387.011ZM32 393.019L31.5 393.019L31.5 396.023L32 396.023L32.5 396.023L32.5 393.019L32 393.019ZM32 399.027L31.5 399.027L31.5 402.031L32 402.031L32.5 402.031L32.5 399.027L32 399.027ZM32 405.035L31.5 405.035L31.5 408.039L32 408.039L32.5 408.039L32.5 405.035L32 405.035ZM32 411.043L31.5 411.043L31.5 414.047L32 414.047L32.5 414.047L32.5 411.043L32 411.043ZM32 417.051L31.5 417.051L31.5 420.055L32 420.055L32.5 420.055L32.5 417.051L32 417.051ZM32 423.059L31.5 423.059L31.5 426.063L32 426.063L32.5 426.063L32.5 423.059L32 423.059ZM32 429.067L31.5 429.067L31.5 432.071L32 432.071L32.5 432.071L32.5 429.067L32 429.067ZM32 435.075L31.5 435.075L31.5 438.079L32 438.079L32.5 438.079L32.5 435.075L32 435.075ZM32 441.083L31.5 441.083L31.5 444.087L32 444.087L32.5 444.087L32.5 441.083L32 441.083ZM32 447.091L31.5 447.091L31.5 450.095L32 450.095L32.5 450.095L32.5 447.091L32 447.091ZM32 453.099L31.5 453.099L31.5 456.103L32 456.103L32.5 456.103L32.5 453.099L32 453.099ZM32 459.107L31.5 459.107L31.5 462.111L32 462.111L32.5 462.111L32.5 459.107L32 459.107ZM32 465.115L31.5 465.115L31.5 468.119L32 468.119L32.5 468.119L32.5 465.115L32 465.115ZM32 471.123L31.5 471.123L31.5 474.127L32 474.127L32.5 474.127L32.5 471.123L32 471.123ZM32 477.131L31.5 477.131L31.5 480.135L32 480.135L32.5 480.135L32.5 477.131L32 477.131ZM32 483.139L31.5 483.139L31.5 486.143L32 486.143L32.5 486.143L32.5 483.139L32 483.139ZM32 489.147L31.5 489.147L31.5 492.151L32 492.151L32.5 492.151L32.5 489.147L32 489.147ZM32 495.155L31.5 495.155L31.5 498.159L32 498.159L32.5 498.159L32.5 495.155L32 495.155ZM32 501.163L31.5 501.163L31.5 504.167L32 504.167L32.5 504.167L32.5 501.163L32 501.163ZM32 507.171L31.5 507.171L31.5 510.175L32 510.175L32.5 510.175L32.5 507.171L32 507.171ZM32 513.179L31.5 513.179L31.5 516.183L32 516.183L32.5 516.183L32.5 513.179L32 513.179ZM32 519.187L31.5 519.187L31.5 522.191L32 522.191L32.5 522.191L32.5 519.187L32 519.187ZM32 525.195L31.5 525.195L31.5 528.199L32 528.199L32.5 528.199L32.5 525.195L32 525.195ZM32 531.203L31.5 531.203L31.5 534.207L32 534.207L32.5 534.207L32.5 531.203L32 531.203ZM32 537.211L31.5 537.211L31.5 540.215L32 540.215L32.5 540.215L32.5 537.211L32 537.211ZM32 543.219L31.5 543.219L31.5 546.223L32 546.223L32.5 546.223L32.5 543.219L32 543.219ZM32 549.227L31.5 549.227L31.5 552.231L32 552.231L32.5 552.231L32.5 549.227L32 549.227ZM32 555.235L31.5 555.235L31.5 558.239L32 558.239L32.5 558.239L32.5 555.235L32 555.235ZM32 561.243L31.5 561.243L31.5 564.247L32 564.247L32.5 564.247L32.5 561.243L32 561.243ZM32 567.251L31.5 567.251L31.5 570.255L32 570.255L32.5 570.255L32.5 567.251L32 567.251ZM32 573.259L31.5 573.259L31.5 576.263L32 576.263L32.5 576.263L32.5 573.259L32 573.259ZM32 579.267L31.5 579.267L31.5 582.271L32 582.271L32.5 582.271L32.5 579.267L32 579.267ZM32 585.276L31.5 585.276L31.5 588.28L32 588.28L32.5 588.28L32.5 585.276L32 585.276ZM32 591.284L31.5 591.284L31.5 594.288L32 594.288L32.5 594.288L32.5 591.284L32 591.284ZM32 597.292L31.5 597.292L31.5 600.296L32 600.296L32.5 600.296L32.5 597.292L32 597.292ZM32 603.3L31.5 603.3L31.5 606.304L32 606.304L32.5 606.304L32.5 603.3L32 603.3ZM32 609.308L31.5 609.308L31.5 612.312L32 612.312L32.5 612.312L32.5 609.308L32 609.308ZM32 615.316L31.5 615.316L31.5 618.32L32 618.32L32.5 618.32L32.5 615.316L32 615.316ZM32 621.324L31.5 621.324L31.5 624.328L32 624.328L32.5 624.328L32.5 621.324L32 621.324ZM32 627.332L31.5 627.332L31.5 630.336L32 630.336L32.5 630.336L32.5 627.332L32 627.332ZM32 633.34L31.5 633.34L31.5 636.344L32 636.344L32.5 636.344L32.5 633.34L32 633.34ZM32 639.348L31.5 639.348L31.5 642.352L32 642.352L32.5 642.352L32.5 639.348L32 639.348ZM32 645.356L31.5 645.356L31.5 648.36L32 648.36L32.5 648.36L32.5 645.356L32 645.356ZM32 651.364L31.5 651.364L31.5 654.368L32 654.368L32.5 654.368L32.5 651.364L32 651.364ZM32 657.372L31.5 657.372L31.5 660.376L32 660.376L32.5 660.376L32.5 657.372L32 657.372ZM32 663.38L31.5 663.38L31.5 666.384L32 666.384L32.5 666.384L32.5 663.38L32 663.38ZM32 669.388L31.5 669.388L31.5 672.392L32 672.392L32.5 672.392L32.5 669.388L32 669.388ZM32 675.396L31.5 675.396L31.5 678.4L32 678.4L32.5 678.4L32.5 675.396L32 675.396ZM32 681.404L31.5 681.404L31.5 684.408L32 684.408L32.5 684.408L32.5 681.404L32 681.404ZM32 687.412L31.5 687.412L31.5 690.417L32 690.417L32.5 690.417L32.5 687.412L32 687.412ZM32 693.421L31.5 693.421L31.5 696.425L32 696.425L32.5 696.425L32.5 693.421L32 693.421ZM32 699.429L31.5 699.429L31.5 702.433L32 702.433L32.5 702.433L32.5 699.429L32 699.429ZM32 705.437L31.5 705.437L31.5 708.441L32 708.441L32.5 708.441L32.5 705.437L32 705.437ZM32 711.445L31.5 711.445L31.5 714.449L32 714.449L32.5 714.449L32.5 711.445L32 711.445ZM32 717.453L31.5 717.453L31.5 720.457L32 720.457L32.5 720.457L32.5 717.453L32 717.453ZM32 723.461L31.5 723.461L31.5 726.465L32 726.465L32.5 726.465L32.5 723.461L32 723.461ZM32 729.469L31.5 729.469L31.5 732.473L32 732.473L32.5 732.473L32.5 729.469L32 729.469ZM32 735.477L31.5 735.477L31.5 738.481L32 738.481L32.5 738.481L32.5 735.477L32 735.477ZM32 741.485L31.5 741.485L31.5 744.489L32 744.489L32.5 744.489L32.5 741.485L32 741.485ZM32 747.493L31.5 747.493L31.5 750.497L32 750.497L32.5 750.497L32.5 747.493L32 747.493ZM32 753.501L31.5 753.501L31.5 756.505L32 756.505L32.5 756.505L32.5 753.501L32 753.501ZM32 759.509L31.5 759.509L31.5 762.513L32 762.513L32.5 762.513L32.5 759.509L32 759.509ZM32 765.517L31.5 765.517L31.5 768.521L32 768.521L32.5 768.521L32.5 765.517L32 765.517ZM32 771.525L31.5 771.525L31.5 774.529L32 774.529L32.5 774.529L32.5 771.525L32 771.525ZM32 777.533L31.5 777.533L31.5 780.537L32 780.537L32.5 780.537L32.5 777.533L32 777.533ZM32 783.541L31.5 783.541L31.5 786.545L32 786.545L32.5 786.545L32.5 783.541L32 783.541ZM32 789.549L31.5 789.549L31.5 792.553L32 792.553L32.5 792.553L32.5 789.549L32 789.549ZM32 795.557L31.5 795.557L31.5 798.562L32 798.562L32.5 798.562L32.5 795.557L32 795.557ZM32 801.566L31.5 801.566L31.5 804.57L32 804.57L32.5 804.57L32.5 801.566L32 801.566ZM32 807.574L31.5 807.574L31.5 810.578L32 810.578L32.5 810.578L32.5 807.574L32 807.574ZM32 813.582L31.5 813.582L31.5 816.586L32 816.586L32.5 816.586L32.5 813.582L32 813.582ZM32 819.59L31.5 819.59L31.5 822.594L32 822.594L32.5 822.594L32.5 819.59L32 819.59ZM32 825.598L31.5 825.598L31.5 828.602L32 828.602L32.5 828.602L32.5 825.598L32 825.598ZM32 831.606L31.5 831.606L31.5 834.61L32 834.61L32.5 834.61L32.5 831.606L32 831.606ZM32 837.614L31.5 837.614L31.5 840.618L32 840.618L32.5 840.618L32.5 837.614L32 837.614ZM32 843.622L31.5 843.622L31.5 846.626L32 846.626L32.5 846.626L32.5 843.622L32 843.622ZM32 849.63L31.5 849.63L31.5 852.634L32 852.634L32.5 852.634L32.5 849.63L32 849.63ZM32 855.638L31.5 855.638L31.5 858.642L32 858.642L32.5 858.642L32.5 855.638L32 855.638ZM32 861.646L31.5 861.646L31.5 864.65L32 864.65L32.5 864.65L32.5 861.646L32 861.646ZM32 867.654L31.5 867.654L31.5 870.658L32 870.658L32.5 870.658L32.5 867.654L32 867.654ZM32 873.662L31.5 873.662L31.5 876.666L32 876.666L32.5 876.666L32.5 873.662L32 873.662ZM32 879.67L31.5 879.67L31.5 882.674L32 882.674L32.5 882.674L32.5 879.67L32 879.67ZM32 885.678L31.5 885.678L31.5 888.682L32 888.682L32.5 888.682L32.5 885.678L32 885.678ZM32 891.686L31.5 891.686L31.5 894.69L32 894.69L32.5 894.69L32.5 891.686L32 891.686ZM32 897.694L31.5 897.694L31.5 900.698L32 900.698L32.5 900.698L32.5 897.694L32 897.694ZM32 903.703L31.5 903.703L31.5 906.707L32 906.707L32.5 906.707L32.5 903.703L32 903.703ZM32 909.711L31.5 909.711L31.5 912.715L32 912.715L32.5 912.715L32.5 909.711L32 909.711ZM32 915.719L31.5 915.719L31.5 918.723L32 918.723L32.5 918.723L32.5 915.719L32 915.719ZM32 921.727L31.5 921.727L31.5 924.731L32 924.731L32.5 924.731L32.5 921.727L32 921.727ZM32 927.735L31.5 927.735L31.5 930.739L32 930.739L32.5 930.739L32.5 927.735L32 927.735ZM32 933.743L31.5 933.743L31.5 936.747L32 936.747L32.5 936.747L32.5 933.743L32 933.743ZM32 939.751L31.5 939.751L31.5 942.755L32 942.755L32.5 942.755L32.5 939.751L32 939.751ZM32 945.759L31.5 945.759L31.5 948.763L32 948.763L32.5 948.763L32.5 945.759L32 945.759ZM32 951.767L31.5 951.767L31.5 954.771L32 954.771L32.5 954.771L32.5 951.767L32 951.767ZM32 957.775L31.5 957.775L31.5 960.779L32 960.779L32.5 960.779L32.5 957.775L32 957.775ZM32 963.783L31.5 963.783L31.5 966.787L32 966.787L32.5 966.787L32.5 963.783L32 963.783ZM32 969.791L31.5 969.791L31.5 972.795L32 972.795L32.5 972.795L32.5 969.791L32 969.791ZM32 975.799L31.5 975.799L31.5 978.803L32 978.803L32.5 978.803L32.5 975.799L32 975.799ZM32 981.807L31.5 981.807L31.5 984.811L32 984.811L32.5 984.811L32.5 981.807L32 981.807ZM32 987.815L31.5 987.815L31.5 990.819L32 990.819L32.5 990.819L32.5 987.815L32 987.815ZM32 993.823L31.5 993.823L31.5 996.827L32 996.827L32.5 996.827L32.5 993.823L32 993.823ZM32 999.831L31.5 999.831L31.5 1002.84L32 1002.84L32.5 1002.84L32.5 999.831L32 999.831ZM32 1005.84L31.5 1005.84L31.5 1008.84L32 1008.84L32.5 1008.84L32.5 1005.84L32 1005.84ZM32 1011.85L31.5 1011.85L31.5 1014.85L32 1014.85L32.5 1014.85L32.5 1011.85L32 1011.85ZM32 1017.86L31.5 1017.86L31.5 1020.86L32 1020.86L32.5 1020.86L32.5 1017.86L32 1017.86ZM32 1023.86L31.5 1023.86L31.5 1026.87L32 1026.87L32.5 1026.87L32.5 1023.86L32 1023.86ZM32 1029.87L31.5 1029.87L31.5 1032.88L32 1032.88L32.5 1032.88L32.5 1029.87L32 1029.87ZM32 1035.88L31.5 1035.88L31.5 1038.88L32 1038.88L32.5 1038.88L32.5 1035.88L32 1035.88ZM32 1041.89L31.5 1041.89L31.5 1044.89L32 1044.89L32.5 1044.89L32.5 1041.89L32 1041.89ZM32 1047.9L31.5 1047.9L31.5 1050.9L32 1050.9L32.5 1050.9L32.5 1047.9L32 1047.9ZM32 1053.9L31.5 1053.9L31.5 1056.91L32 1056.91L32.5 1056.91L32.5 1053.9L32 1053.9ZM32 1059.91L31.5 1059.91L31.5 1062.92L32 1062.92L32.5 1062.92L32.5 1059.91L32 1059.91ZM32 1065.92L31.5 1065.92L31.5 1068.92L32 1068.92L32.5 1068.92L32.5 1065.92L32 1065.92ZM32 1071.93L31.5 1071.93L31.5 1074.93L32 1074.93L32.5 1074.93L32.5 1071.93L32 1071.93ZM32 1077.94L31.5 1077.94L31.5 1080.94L32 1080.94L32.5 1080.94L32.5 1077.94L32 1077.94ZM32 1083.94L31.5 1083.94L31.5 1086.95L32 1086.95L32.5 1086.95L32.5 1083.94L32 1083.94ZM32 1089.95L31.5 1089.95L31.5 1092.96L32 1092.96L32.5 1092.96L32.5 1089.95L32 1089.95ZM32 1095.96L31.5 1095.96L31.5 1098.96L32 1098.96L32.5 1098.96L32.5 1095.96L32 1095.96ZM32 1101.97L31.5 1101.97L31.5 1104.97L32 1104.97L32.5 1104.97L32.5 1101.97L32 1101.97ZM32 1107.98L31.5 1107.98L31.5 1110.98L32 1110.98L32.5 1110.98L32.5 1107.98L32 1107.98ZM32 1113.98L31.5 1113.98L31.5 1116.99L32 1116.99L32.5 1116.99L32.5 1113.98L32 1113.98ZM32 1119.99L31.5 1119.99L31.5 1123L32 1123L32.5 1123L32.5 1119.99L32 1119.99ZM32 1126L31.5 1126L31.5 1127.5L32 1127.5L32.5 1127.5L32.5 1126L32 1126Z"
              fill="#FF5756"
            />
            <path
              d="M555.47 550.53C555.763 550.823 556.237 550.823 556.53 550.53L561.303 545.757C561.596 545.464 561.596 544.99 561.303 544.697C561.01 544.404 560.536 544.404 560.243 544.697L556 548.939L551.757 544.697C551.464 544.404 550.99 544.404 550.697 544.697C550.404 544.99 550.404 545.464 550.697 545.757L555.47 550.53ZM556.75 482L556.75 481.25L555.25 481.25L555.25 482H556H556.75ZM556 550L556.75 550L556.75 482H556H555.25L555.25 550L556 550Z"
              fill="#A5A5A5"
            />
            <path
              d="M331.47 723.53C331.763 723.823 332.237 723.823 332.53 723.53L337.303 718.757C337.596 718.464 337.596 717.99 337.303 717.697C337.01 717.404 336.536 717.404 336.243 717.697L332 721.939L327.757 717.697C327.464 717.404 326.99 717.404 326.697 717.697C326.404 717.99 326.404 718.464 326.697 718.757L331.47 723.53ZM332.75 707L332.75 706.25L331.25 706.25L331.25 707H332H332.75ZM332 723L332.75 723L332.75 707H332H331.25L331.25 723L332 723Z"
              fill="#E60001"
            />
            <path
              d="M331.47 896.53C331.763 896.823 332.237 896.823 332.53 896.53L337.303 891.757C337.596 891.464 337.596 890.99 337.303 890.697C337.01 890.404 336.536 890.404 336.243 890.697L332 894.939L327.757 890.697C327.464 890.404 326.99 890.404 326.697 890.697C326.404 890.99 326.404 891.464 326.697 891.757L331.47 896.53ZM332.75 880L332.75 879.25L331.25 879.25L331.25 880H332H332.75ZM332 896L332.75 896L332.75 880H332H331.25L331.25 896L332 896Z"
              fill="#E60001"
            />
            <path
              d="
    M76 267
    H688
    V496
    Q688 516 668 516
    H56
    V287
    Q56 267 76 267
    Z
  "
              fill="none"
              stroke="#FF5756"
              stroke-width="1"
              stroke-dasharray="3 3"
            />
            <path
              d="M456.53 380.53C456.823 380.237 456.823 379.763 456.53 379.47L451.757 374.697C451.464 374.404 450.99 374.404 450.697 374.697C450.404 374.99 450.404 375.464 450.697 375.757L454.939 380L450.697 384.243C450.404 384.536 450.404 385.01 450.697 385.303C450.99 385.596 451.464 385.596 451.757 385.303L456.53 380.53ZM432 379.25H431.25V380.75H432V380V379.25ZM433.5 380.75H434.25V379.25H433.5V380V380.75ZM436.5 379.25H435.75V380.75H436.5V380V379.25ZM439.5 380.75H440.25V379.25H439.5V380V380.75ZM442.5 379.25H441.75V380.75H442.5V380V379.25ZM445.5 380.75H446.25V379.25H445.5V380V380.75ZM448.5 379.25H447.75V380.75H448.5V380V379.25ZM451.5 380.75H452.25V379.25H451.5V380V380.75ZM454.5 379.25H453.75V380.75H454.5V380V379.25ZM432 380V380.75H433.5V380V379.25H432V380ZM436.5 380V380.75H439.5V380V379.25H436.5V380ZM442.5 380V380.75H445.5V380V379.25H442.5V380ZM448.5 380V380.75H451.5V380V379.25H448.5V380ZM454.5 380V380.75H456V380V379.25H454.5V380Z"
              fill="#E60001"
            />
            <path
              d="M431.47 403.53C431.177 403.237 431.177 402.763 431.47 402.47L436.243 397.697C436.536 397.404 437.01 397.404 437.303 397.697C437.596 397.99 437.596 398.464 437.303 398.757L433.061 403L437.303 407.243C437.596 407.536 437.596 408.01 437.303 408.303C437.01 408.596 436.536 408.596 436.243 408.303L431.47 403.53ZM456 402.25H456.75V403.75H456V403V402.25ZM454.5 403.75H453.75V402.25H454.5V403V403.75ZM451.5 402.25H452.25V403.75H451.5V403V402.25ZM448.5 403.75H447.75V402.25H448.5V403V403.75ZM445.5 402.25H446.25V403.75H445.5V403V402.25ZM442.5 403.75H441.75V402.25H442.5V403V403.75ZM439.5 402.25H440.25V403.75H439.5V403V402.25ZM436.5 403.75H435.75V402.25H436.5V403V403.75ZM433.5 402.25H434.25V403.75H433.5V403V402.25ZM456 403V403.75H454.5V403V402.25H456V403ZM451.5 403V403.75H448.5V403V402.25H451.5V403ZM445.5 403V403.75H442.5V403V402.25H445.5V403ZM439.5 403V403.75H436.5V403V402.25H439.5V403ZM433.5 403V403.75H432V403V402.25H433.5V403Z"
              fill="#E60001"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M232 319C232 307.954 240.954 299 252 299H432V463.982C432 475.027 423.046 483.982 412 483.982H232V319Z"
                fill="#E60001"
              />
              <path
                d="M353.774 343.736L353.752 343.684C353.752 343.684 349.634 334.794 349.077 333.913C348.241 336.452 339.707 342.721 329.494 346.834C323.322 349.32 317.52 349.999 316.275 348.855C313.819 346.603 321.363 340.696 329.985 336.101C335.487 333.169 340.546 331.578 341.94 331.148L341.89 331C319.466 336.16 308.329 347.357 310.203 351.028C312.008 354.558 323.377 353.308 334.4 348.32C338.838 346.308 342.246 344.439 344.522 342.97C344.897 342.726 345.276 342.607 345.644 343.246C346.173 344.153 347.208 346.566 347.237 346.633C348.22 348.78 344.486 353.473 336.083 357.421C328.323 361.063 320.394 362.384 316.904 361.113C316.373 360.922 315.858 360.695 315.201 360.041C314.641 359.486 313.81 358.019 313.543 357.562L313.361 357.657C314.275 359.581 315.152 361.145 315.518 361.522C318.265 364.342 328.638 362.986 338.047 358.653C347.212 354.428 355.486 347.371 353.774 343.736Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="332"
                y="392"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Leistungssport
              </text>
              <path
                d="M325.881 441.491H338.12M338.12 441.491L332 435.371M338.12 441.491L332 447.61"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>

            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M456 319C456 307.954 464.954 299 476 299H656V463.982C656 475.027 647.046 483.982 636 483.982H456V319Z"
                fill="#D8D8D8"
              />
              <path
                d="M577.774 343.736L577.752 343.684C577.752 343.684 573.634 334.794 573.077 333.913C572.241 336.452 563.707 342.721 553.494 346.834C547.322 349.32 541.52 349.999 540.275 348.855C537.819 346.603 545.363 340.696 553.985 336.101C559.487 333.169 564.546 331.578 565.94 331.148L565.89 331C543.466 336.16 532.329 347.357 534.203 351.028C536.008 354.558 547.377 353.308 558.4 348.32C562.838 346.308 566.246 344.439 568.522 342.97C568.897 342.726 569.276 342.607 569.644 343.246C570.173 344.153 571.208 346.566 571.237 346.633C572.22 348.78 568.486 353.473 560.083 357.421C552.323 361.063 544.394 362.384 540.904 361.113C540.373 360.922 539.858 360.695 539.201 360.041C538.641 359.486 537.81 358.019 537.543 357.562L537.361 357.657C538.275 359.581 539.152 361.145 539.518 361.522C542.265 364.342 552.638 362.986 562.047 358.653C571.212 354.428 579.486 347.371 577.774 343.736Z"
                fill="#7F7F7F"
              />
              <text
                class="card-title"
                x="556"
                y="392"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Breitensport
              </text>
              <path
                d="M549.881 441.491H562.12M562.12 441.491L556 435.371M562.12 441.491L556 447.61"
                stroke="#A5A5A5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <g>
                <text
                  class="card-title"
                  x="9.696"
                  y="527.736"
                  fill="black"
                  font-size="24"
                  font-weight="400"
                  text-anchor="middle"
                  dominant-baseline="middle"
                  transform="rotate(-90 9.696 527.736)"
                >
                  Athletenweg
                </text>
                <path
                  d="M134 621H146M146 621L140 615M146 621L140 627"
                  transform="translate(-132, -10)"
                  stroke="#E60001"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
            </a>
            <path
              d="
    M478 750
    H658
    V914
    Q658 934 638 934
    H458
    V770
    Q458 750 478 750
    Z
  "
              fill="none"
              stroke="#D8D8D8"
              stroke-width="1"
              stroke-dasharray="2 2"
            />
            <a href="#clubOfficial" class="anchor-item">
              <path
                d="M481 795.5C481 791.082 484.582 787.5 489 787.5H565V810.5C565 814.919 561.418 818.5 557 818.5H481V795.5Z"
                fill="#D8D8D8"
              />
              <text
                x="523"
                y="803"
                fill="black"
                font-size="14"
                font-weight="700"
                font-family="Mukta, sans-serif"
                text-anchor="middle"
                dominant-baseline="middle"
                class="card-title"
              >
                Ehrenamt
              </text>
            </a>
            <a href="#coach" class="anchor-item">
              <path
                d="M573 795.5C573 791.082 576.582 787.5 581 787.5H635V810.5C635 814.919 631.418 818.5 627 818.5H573V795.5Z"
                fill="#D8D8D8"
              />
              <text
                x="604"
                y="803"
                fill="black"
                font-size="14"
                font-weight="700"
                font-family="Mukta, sans-serif"
                text-anchor="middle"
                dominant-baseline="middle"
                class="card-title"
              >
                Coach
              </text>
            </a>
            <a href="#referee" class="anchor-item">
              <path
                d="M493 834.5C493 830.082 496.582 826.5 501 826.5H623V849.5C623 853.919 619.418 857.5 615 857.5H493V834.5Z"
                fill="#D8D8D8"
              />
              <text
                x="558"
                y="842"
                fill="black"
                font-size="14"
                font-weight="700"
                font-family="Mukta, sans-serif"
                text-anchor="middle"
                dominant-baseline="middle"
                class="card-title"
              >
                Schiedsrichter/in
              </text>
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M520.5 873.5C520.5 869.082 524.082 865.5 528.5 865.5H595.5V888.5C595.5 892.919 591.918 896.5 587.5 896.5H520.5V873.5Z"
                fill="#D8D8D8"
              />
              <text
                x="558"
                y="881"
                fill="black"
                font-size="14"
                font-weight="700"
                font-family="Mukta, sans-serif"
                text-anchor="middle"
                dominant-baseline="middle"
                class="card-title"
              >
                Dropout
              </text>
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M56 567.039C56 557.629 63.6285 550 73.0386 550H113V1108.96C113 1118.37 105.372 1126 95.9614 1126H56V567.039Z"
                fill="#FFC6C7"
              />
              <path
                d="M103.05 588.112L103.032 588.068C103.032 588.068 99.5236 580.495 99.049 579.744C98.3361 581.907 91.0664 587.247 82.365 590.751C77.107 592.87 72.1647 593.448 71.1035 592.474C69.0116 590.554 75.4385 585.522 82.784 581.608C87.4712 579.11 91.7809 577.754 92.9685 577.388L92.926 577.262C73.8223 581.658 64.3339 591.197 65.9309 594.324C67.4685 597.332 77.1544 596.267 86.5448 592.018C90.326 590.304 93.2296 588.712 95.1679 587.46C95.4881 587.252 95.8101 587.151 96.124 587.695C96.5745 588.467 97.4568 590.524 97.4815 590.58C98.3189 592.41 95.1374 596.408 87.9785 599.771C81.3678 602.874 74.6127 603.999 71.6395 602.917C71.1876 602.753 70.7481 602.56 70.1891 602.003C69.7119 601.53 69.0036 600.28 68.7764 599.891L68.6208 599.972C69.3997 601.611 70.1467 602.943 70.4592 603.265C72.7992 605.667 81.6364 604.512 89.6516 600.82C97.4603 597.221 104.509 591.209 103.05 588.112Z"
                fill="#E60001"
              />
              <text
                class="card-title"
                x="220"
                y="838"
                fill="black"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
                transform="rotate(-90 84.5 838)"
              >
                Leistungssport
              </text>
              <path
                d="M79.2871 1089.8H89.7141M89.7141 1089.8L84.5006 1084.59M89.7141 1089.8L84.5006 1095.01"
                stroke="#E60001"
                stroke-width="1.70386"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>

            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M114 316.039C114 306.629 121.628 299 131.039 299H171V466.962C171 476.372 163.372 484 153.961 484H114V316.039Z"
                fill="#FFC6C7"
              />
              <path
                d="M161.05 337.112L161.032 337.068C161.032 337.068 157.524 329.495 157.049 328.744C156.336 330.907 149.066 336.247 140.365 339.751C135.107 341.87 130.165 342.448 129.103 341.474C127.012 339.554 133.439 334.522 140.784 330.608C145.471 328.11 149.781 326.754 150.969 326.388L150.926 326.262C131.822 330.658 122.334 340.197 123.931 343.324C125.469 346.332 135.154 345.267 144.545 341.018C148.326 339.304 151.23 337.712 153.168 336.46C153.488 336.252 153.81 336.151 154.124 336.695C154.575 337.467 155.457 339.524 155.481 339.58C156.319 341.41 153.137 345.408 145.979 348.771C139.368 351.874 132.613 352.999 129.64 351.917C129.188 351.753 128.748 351.56 128.189 351.003C127.712 350.53 127.004 349.28 126.776 348.891L126.621 348.972C127.4 350.611 128.147 351.943 128.459 352.265C130.799 354.667 139.636 353.512 147.652 349.82C155.46 346.221 162.509 340.209 161.05 337.112Z"
                fill="#E60001"
              />
              <text
                class="card-title"
                x="120"
                y="391"
                fill="black"
                font-size="20"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
                transform="rotate(-90 142.5 391)"
              >
                NACHWUCHS
              </text>
            </a>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
