<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="d-flex justify-content-end align-items-center gap-6 ms-auto header__lang">
        <div class="d-lg-flex align-items-center gap-4 d-none">
          <details class="lang-dropdown" title="Výběr jazyka">
            <summary>fr</summary>
            <ul role="list" class="text-base-semibold">
              <li aria-selected="true">
                <a href="#"> Fr </a>
              </li>
              <li>
                <a href="#"> En </a>
              </li>

              <li>
                <a href="#"> it </a>
              </li>
            </ul>
          </details>
        </div>
      </div>
    </div>
  </div>
</header>
