<section class="section mb-0" id="clubOfficial">
  <div class="container">
    <div class="row g-lg-8 g-12">
      <div class="col-xl-6 col-lg-5">
        <h3 class="h2 mb-3">CLUBFUNKTIONÄR/IN</h3>
        <div class="h3 text-gray-2 mb-8">Daniel Berger</div>
        <a
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#articleModal"
          class="section-img"
        >
          <img
            class="object-fit-contain mask-img"
            width="360"
            height="258"
            src="images/content/club.png"
            loading="lazy"
            alt="Daniel Berger"
          />
        </a>
      </div>
      <div class="col-xl-6 col-lg-7">
        <div class="section-map">
          <svg
            width="704"
            height="867"
            viewBox="0 0 704 867"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <g>
                <text
                  class="card-title"
                  x="560"
                  y="447.145"
                  fill="black"
                  font-size="24"
                  font-weight="400"
                  text-anchor="middle"
                >
                  <tspan x="560" dy="0">Lehrgang</tspan>
                  <tspan x="560" dy="26">Club-Management</tspan>
                </text>

                <path
                  d="M629.389 31.9995H641.628M641.628 31.9995L635.508 25.8799M641.628 31.9995L635.508 38.1191"
                  transform="translate(-74, 468)"
                  stroke="#E60001"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
            </a>
            <path
              d="M350.47 88.5303C350.763 88.8232 351.237 88.8232 351.53 88.5303L356.303 83.7574C356.596 83.4645 356.596 82.9896 356.303 82.6967C356.01 82.4038 355.536 82.4038 355.243 82.6967L351 86.9393L346.757 82.6967C346.464 82.4038 345.99 82.4038 345.697 82.6967C345.404 82.9896 345.404 83.4645 345.697 83.7574L350.47 88.5303ZM351.75 64L351.75 63.25L350.25 63.25L350.25 64L351 64L351.75 64ZM351 88L351.75 88L351.75 64L351 64L350.25 64L350.25 88L351 88Z"
              fill="#E60001"
            />
            <path
              d="M350.47 337.53C350.763 337.823 351.237 337.823 351.53 337.53L356.303 332.757C356.596 332.464 356.596 331.99 356.303 331.697C356.01 331.404 355.536 331.404 355.243 331.697L351 335.939L346.757 331.697C346.464 331.404 345.99 331.404 345.697 331.697C345.404 331.99 345.404 332.464 345.697 332.757L350.47 337.53ZM351.75 313L351.75 312.25L350.25 312.25L350.25 313L351 313L351.75 313ZM351 337L351.75 337L351.75 313L351 313L350.25 313L350.25 337L351 337Z"
              fill="#E60001"
            />
            <path
              d="M350.47 634.53C350.763 634.823 351.237 634.823 351.53 634.53L356.303 629.757C356.596 629.464 356.596 628.99 356.303 628.697C356.01 628.404 355.536 628.404 355.243 628.697L351 632.939L346.757 628.697C346.464 628.404 345.99 628.404 345.697 628.697C345.404 628.99 345.404 629.464 345.697 629.757L350.47 634.53ZM351.75 570L351.75 569.25L350.25 569.25L350.25 570L351 570L351.75 570ZM351 634L351.75 634L351.75 570L351 570L350.25 570L350.25 634L351 634Z"
              fill="#E60001"
            />
            <path
              d="M125.47 634.03C125.763 634.323 126.237 634.323 126.53 634.03L131.303 629.257C131.596 628.964 131.596 628.49 131.303 628.197C131.01 627.904 130.536 627.904 130.243 628.197L126 632.439L121.757 628.197C121.464 627.904 120.99 627.904 120.697 628.197C120.404 628.49 120.404 628.964 120.697 629.257L125.47 634.03ZM351.75 570L351.75 569.25L350.25 569.25L350.25 570L351 570L351.75 570ZM138.007 601.873L138.008 601.123L138.007 601.873ZM351 589.993L351.75 589.993L351.75 570L351 570L350.25 570L350.25 589.993L351 589.993ZM126 633.5L126.75 633.5L126.75 613.873L126 613.873L125.25 613.873L125.25 633.5L126 633.5ZM138.007 601.873L138.007 602.623L338.992 602.743L338.993 601.993L338.993 601.243L138.008 601.123L138.007 601.873ZM126 613.873L126.75 613.873C126.75 607.657 131.791 602.619 138.007 602.623L138.007 601.873L138.008 601.123C130.963 601.119 125.25 606.829 125.25 613.873L126 613.873ZM351 589.993L350.25 589.993C350.25 596.209 345.209 601.247 338.993 601.243L338.993 601.993L338.992 602.743C346.037 602.747 351.75 597.037 351.75 589.993L351 589.993Z"
              fill="#E60001"
            />
            <path
              d="M582.97 634.03C583.263 634.323 583.737 634.323 584.03 634.03L588.803 629.257C589.096 628.964 589.096 628.49 588.803 628.197C588.51 627.904 588.036 627.904 587.743 628.197L583.5 632.439L579.257 628.197C578.964 627.904 578.49 627.904 578.197 628.197C577.904 628.49 577.904 628.964 578.197 629.257L582.97 634.03ZM351.75 570L351.75 569.25L350.25 569.25L350.25 570L351 570L351.75 570ZM351 589.993L351.75 589.993L351.75 570L351 570L350.25 570L350.25 589.993L351 589.993ZM583.5 633.5L584.25 633.5L584.25 613.873L583.5 613.873L582.75 613.873L582.75 633.5L583.5 633.5ZM571.493 601.873L571.493 601.123L363.007 601.243L363.007 601.993L363.007 602.743L571.494 602.623L571.493 601.873ZM583.5 613.873L584.25 613.873C584.25 606.828 578.537 601.119 571.493 601.123L571.493 601.873L571.494 602.623C577.709 602.619 582.75 607.657 582.75 613.873L583.5 613.873ZM351 589.993L350.25 589.993C350.25 597.038 355.963 602.747 363.007 602.743L363.007 601.993L363.007 601.243C356.791 601.247 351.75 596.209 351.75 589.993L351 589.993Z"
              fill="#E60001"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M25 20C25 8.95431 33.9543 0 45 0H678V44C678 55.0457 669.046 64 658 64H25V20Z"
                fill="#FFC6C7"
              />
              <path
                d="M100.774 28.7356L100.752 28.6842C100.752 28.6842 96.6344 19.7942 96.0773 18.9134C95.2405 21.4522 86.7074 27.7207 76.4935 31.8336C70.3217 34.3201 64.5204 34.9993 63.2747 33.8555C60.8193 31.6026 68.3633 25.6955 76.9854 21.1012C82.4872 18.1688 87.546 16.5779 88.94 16.1476L88.8901 16C66.4661 21.1599 55.3286 32.3566 57.2032 36.0276C59.0081 39.5583 70.3773 38.308 81.3998 33.32C85.8382 31.3083 89.2464 29.4395 91.5217 27.9703C91.8975 27.7256 92.2755 27.6071 92.644 28.2457C93.1728 29.1528 94.2084 31.5664 94.2374 31.6325C95.2204 33.7804 91.4859 38.4734 83.0828 42.4212C75.323 46.0633 67.3939 47.3839 63.904 46.1134C63.3735 45.9216 62.8577 45.6945 62.2015 45.041C61.6414 44.4861 60.8099 43.0185 60.5432 42.5619L60.3606 42.6565C61.2748 44.5806 62.1517 46.1448 62.5185 46.5223C65.2652 49.3419 75.6383 47.9855 85.0467 43.6527C94.2125 39.428 102.486 32.3711 100.774 28.7356Z"
                fill="#E60001"
              />
              <text
                class="card-title"
                x="252"
                y="32"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Erstkontakt zum Eis / Eishockey
              </text>
              <path
                d="M629.389 31.9995H641.628M641.628 31.9995L635.508 25.8799M641.628 31.9995L635.508 38.1191"
                stroke="#E60001"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <path
              d="M676.507 88V88.5H677.5V89.5068H678V92.5215H677.5V95.5361H678V98.5518H677.5V101.566H678V104.581H677.5V107.596H678V110.61H677.5V113.625H678V116.64H677.5V119.654H678V122.669H677.5V125.684H678V128.698H677.5V131.713H678V134.728H677.5V137.742H678V140.757H677.5V143.771H678V146.787H677.5V149.802H678V152.816H677.5V155.831H678V158.846H677.5V161.86H678V164.875H677.5V167.89H678V170.904H677.5V173.919H678V176.934H677.5V179.948H678V182.963H677.5V185.978H678V188.992H677.5V192.007H678V195.022H677.5V198.037H678V201.052H677.5V204.066H678V207.081H677.5V210.096H678V213.11H677.5V216.125H678V219.14H677.5V222.154H678V225.169H677.5V228.184H678V231.198H677.5V234.213H678V237.228H677.5V240.242H678V243.258H677.5V246.272H678V249.287H677.5V252.302H678V255.316H677.5V258.331H678V261.346H677.5V264.36H678V267.375H677.5V270.39H678V273.404H677.5V276.419H678V279.434H677.5V282.448H678V285.463H677.5V288.478H678V291.492H677.5V293C677.5 293.516 677.48 294.027 677.44 294.532L677.938 294.569C677.856 295.628 677.691 296.664 677.45 297.67L676.966 297.555C676.726 298.557 676.408 299.529 676.021 300.464L676.481 300.654C676.078 301.627 675.6 302.562 675.055 303.45L674.629 303.189C674.093 304.062 673.49 304.889 672.828 305.664L673.207 305.988C672.526 306.784 671.784 307.526 670.988 308.207L670.664 307.828C669.889 308.49 669.062 309.093 668.189 309.629L668.45 310.055C667.562 310.6 666.627 311.078 665.654 311.481L665.464 311.021C664.529 311.408 663.557 311.726 662.555 311.966L662.67 312.45C661.664 312.691 660.628 312.856 659.569 312.938L659.532 312.44C659.027 312.48 658.516 312.5 658 312.5H656.506V313H653.521V312.5H650.534V313H647.549V312.5H644.562V313H641.577V312.5H638.591V313H635.605V312.5H632.619V313H629.634V312.5H626.647V313H623.662V312.5H620.676V313H617.69V312.5H614.704V313H611.719V312.5H608.732V313H605.747V312.5H602.761V313H599.775V312.5H596.789V313H593.804V312.5H590.817V313H587.832V312.5H584.846V313H581.86V312.5H578.874V313H575.889V312.5H572.902V313H569.917V312.5H566.931V313H563.945V312.5H560.959V313H557.974V312.5H554.987V313H552.002V312.5H549.016V313H546.03V312.5H543.044V313H540.059V312.5H537.072V313H534.087V312.5H531.101V313H528.115V312.5H525.129V313H522.144V312.5H519.157V313H516.172V312.5H513.186V313H510.2V312.5H507.214V313H504.229V312.5H501.242V313H498.257V312.5H495.271V313H492.285V312.5H489.299V313H486.313V312.5H483.327V313H480.342V312.5H477.355V313H474.37V312.5H471.384V313H468.398V312.5H465.412V313H462.427V312.5H459.44V313H456.455V312.5H453.469V313H450.483V312.5H447.497V313H444.512V312.5H441.525V313H438.54V312.5H435.554V313H432.568V312.5H429.582V313H426.597V312.5H423.61V313H420.625V312.5H417.639V313H414.653V312.5H411.667V313H408.682V312.5H405.695V313H402.71V312.5H399.724V313H396.738V312.5H393.752V313H390.767V312.5H387.78V313H384.795V312.5H381.809V313H378.823V312.5H375.837V313H372.852V312.5H369.865V313H366.88V312.5H363.894V313H360.908V312.5H357.922V313H354.937V312.5H351.95V313H348.965V312.5H345.979V313H342.993V312.5H340.007V313H337.021V312.5H334.035V313H331.05V312.5H328.063V313H325.078V312.5H322.092V313H319.106V312.5H316.12V313H313.135V312.5H310.148V313H307.163V312.5H304.177V313H301.191V312.5H298.205V313H295.22V312.5H292.233V313H289.248V312.5H286.262V313H283.276V312.5H280.29V313H277.305V312.5H274.318V313H271.333V312.5H268.347V313H265.361V312.5H262.375V313H259.39V312.5H256.403V313H253.418V312.5H250.432V313H247.446V312.5H244.46V313H241.475V312.5H238.488V313H235.503V312.5H232.517V313H229.531V312.5H226.545V313H223.559V312.5H220.573V313H217.587V312.5H214.602V313H211.615V312.5H208.63V313H205.644V312.5H202.658V313H199.672V312.5H196.687V313H193.7V312.5H190.715V313H187.729V312.5H184.743V313H181.757V312.5H178.771V313H175.785V312.5H172.8V313H169.813V312.5H166.828V313H163.842V312.5H160.856V313H157.87V312.5H154.885V313H151.898V312.5H148.913V313H145.927V312.5H142.941V313H139.955V312.5H136.97V313H133.983V312.5H130.998V313H128.012V312.5H125.026V313H122.04V312.5H119.055V313H116.068V312.5H113.083V313H110.097V312.5H107.11V313H104.125V312.5H101.139V313H98.1533V312.5H95.167V313H92.1816V312.5H89.1953V313H86.21V312.5H83.2236V313H80.2383V312.5H77.252V313H74.2666V312.5H71.2803V313H68.2949V312.5H65.3086V313H62.3232V312.5H59.3369V313H56.3516V312.5H53.3652V313H50.3799V312.5H47.3936V313H44.4082V312.5H41.4219V313H38.4365V312.5H35.4502V313H32.4648V312.5H29.4785V313H26.4932V312.5H25.5V311.493H25V308.479H25.5V305.464H25V302.448H25.5V299.434H25V296.419H25.5V293.404H25V290.39H25.5V287.375H25V284.36H25.5V281.346H25V278.331H25.5V275.316H25V272.302H25.5V269.287H25V266.272H25.5V263.258H25V260.243H25.5V257.229H25V254.213H25.5V251.198H25V248.184H25.5V245.169H25V242.154H25.5V239.14H25V236.125H25.5V233.11H25V230.096H25.5V227.081H25V224.066H25.5V221.052H25V218.037H25.5V215.022H25V212.008H25.5V208.993H25V205.978H25.5V202.963H25V199.948H25.5V196.934H25V193.919H25.5V190.904H25V187.89H25.5V184.875H25V181.86H25.5V178.846H25V175.831H25.5V172.816H25V169.802H25.5V166.787H25V163.772H25.5V160.758H25V157.742H25.5V154.728H25V151.713H25.5V148.698H25V145.684H25.5V142.669H25V139.654H25.5V136.64H25V133.625H25.5V130.61H25V127.596H25.5V124.581H25V121.566H25.5V118.552H25V115.537H25.5V112.522H25V109.508H25.5V108C25.5 107.484 25.5203 106.973 25.5596 106.468L25.0605 106.43C25.1428 105.371 25.3081 104.335 25.5488 103.329L26.0342 103.445C26.2739 102.443 26.5917 101.471 26.9795 100.536L26.5176 100.345C26.9211 99.3717 27.3988 98.4372 27.9443 97.5488L28.3711 97.8105C28.9069 96.938 29.5095 96.1107 30.1719 95.3359L29.792 95.0107C30.4726 94.2146 31.2146 93.4726 32.0107 92.792L32.3359 93.1719C33.1107 92.5095 33.938 91.9069 34.8105 91.3711L34.5488 90.9443C35.4372 90.3988 36.3717 89.9211 37.3447 89.5176L37.5361 89.9795C38.4714 89.5917 39.4433 89.2739 40.4453 89.0342L40.3291 88.5488C41.3353 88.3081 42.3709 88.1428 43.4297 88.0605L43.4678 88.5596C43.9732 88.5203 44.4843 88.5 45 88.5H46.4941V88H49.4795V88.5H52.4658V88H55.4512V88.5H58.4375V88H61.4229V88.5H64.4092V88H67.3945V88.5H70.3809V88H73.3662V88.5H76.3525V88H79.3379V88.5H82.3242V88H85.3096V88.5H88.2959V88H91.2812V88.5H94.2676V88H97.2529V88.5H100.239V88H103.225V88.5H106.211V88H109.196V88.5H112.183V88H115.168V88.5H118.154V88H121.14V88.5H124.126V88H127.111V88.5H130.098V88H133.083V88.5H136.069V88H139.055V88.5H142.041V88H145.026V88.5H148.013V88H150.998V88.5H153.984V88H156.97V88.5H159.956V88H162.941V88.5H165.928V88H168.913V88.5H171.899V88H174.885V88.5H177.871V88H180.856V88.5H183.843V88H186.828V88.5H189.814V88H192.8V88.5H195.786V88H198.771V88.5H201.758V88H204.743V88.5H207.729V88H210.715V88.5H213.701V88H216.687V88.5H219.673V88H222.658V88.5H225.645V88H228.63V88.5H231.616V88H234.602V88.5H237.588V88H240.573V88.5H243.56V88H246.545V88.5H249.531V88H252.517V88.5H255.503V88H258.488V88.5H261.475V88H264.46V88.5H267.446V88H270.432V88.5H273.418V88H276.403V88.5H279.39V88H282.375V88.5H285.361V88H288.347V88.5H291.333V88H294.318V88.5H297.305V88H300.29V88.5H303.276V88H306.262V88.5H309.248V88H312.233V88.5H315.22V88H318.205V88.5H321.191V88H324.177V88.5H327.163V88H330.148V88.5H333.135V88H336.12V88.5H339.106V88H342.092V88.5H345.078V88H348.063V88.5H351.05V88H354.035V88.5H357.021V88H360.007V88.5H362.993V88H365.979V88.5H368.965V88H371.95V88.5H374.937V88H377.922V88.5H380.908V88H383.894V88.5H386.88V88H389.865V88.5H392.852V88H395.837V88.5H398.823V88H401.809V88.5H404.795V88H407.78V88.5H410.767V88H413.752V88.5H416.738V88H419.724V88.5H422.71V88H425.695V88.5H428.682V88H431.667V88.5H434.653V88H437.639V88.5H440.625V88H443.61V88.5H446.597V88H449.582V88.5H452.568V88H455.554V88.5H458.54V88H461.525V88.5H464.512V88H467.497V88.5H470.483V88H473.469V88.5H476.455V88H479.441V88.5H482.427V88H485.413V88.5H488.398V88H491.385V88.5H494.37V88H497.356V88.5H500.342V88H503.328V88.5H506.313V88H509.3V88.5H512.285V88H515.271V88.5H518.257V88H521.243V88.5H524.229V88H527.215V88.5H530.2V88H533.187V88.5H536.172V88H539.158V88.5H542.144V88H545.13V88.5H548.115V88H551.102V88.5H554.087V88H557.073V88.5H560.059V88H563.045V88.5H566.03V88H569.017V88.5H572.002V88H574.988V88.5H577.974V88H580.96V88.5H583.945V88H586.932V88.5H589.917V88H592.903V88.5H595.89V88H598.875V88.5H601.861V88H604.847V88.5H607.833V88H610.818V88.5H613.805V88H616.79V88.5H619.776V88H622.762V88.5H625.748V88H628.733V88.5H631.72V88H634.705V88.5H637.691V88H640.677V88.5H643.663V88H646.648V88.5H649.635V88H652.62V88.5H655.606V88H658.592V88.5H661.578V88H664.563V88.5H667.55V88H670.535V88.5H673.521V88H676.507Z"
              stroke="#FF5756"
              stroke-dasharray="3 3"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M242 128C242 116.954 250.954 108 262 108H442V272.982C442 284.027 433.046 292.982 422 292.982H242V128Z"
                fill="#E60001"
              />
              <path
                d="M363.774 152.736L363.752 152.684C363.752 152.684 359.634 143.794 359.077 142.913C358.241 145.452 349.707 151.721 339.494 155.834C333.322 158.32 327.52 158.999 326.275 157.855C323.819 155.603 331.363 149.696 339.985 145.101C345.487 142.169 350.546 140.578 351.94 140.148L351.89 140C329.466 145.16 318.329 156.357 320.203 160.028C322.008 163.558 333.377 162.308 344.4 157.32C348.838 155.308 352.246 153.439 354.522 151.97C354.897 151.726 355.276 151.607 355.644 152.246C356.173 153.153 357.208 155.566 357.237 155.633C358.22 157.78 354.486 162.473 346.083 166.421C338.323 170.063 330.394 171.384 326.904 170.113C326.373 169.922 325.858 169.695 325.201 169.041C324.641 168.486 323.81 167.019 323.543 166.562L323.361 166.657C324.275 168.581 325.152 170.145 325.518 170.522C328.265 173.342 338.638 171.986 348.047 167.653C357.212 163.428 365.486 156.371 363.774 152.736Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="342"
                y="200"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Leistungssport
              </text>
              <path
                d="M335.881 250.491H348.12M348.12 250.491L342 244.371M348.12 250.491L342 256.61"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M458 128C458 116.954 466.954 108 478 108H658V272.982C658 284.027 649.046 292.982 638 292.982H458V128Z"
                fill="#D8D8D8"
              />
              <path
                d="M579.774 152.736L579.752 152.684C579.752 152.684 575.634 143.794 575.077 142.913C574.241 145.452 565.707 151.721 555.494 155.834C549.322 158.32 543.52 158.999 542.275 157.855C539.819 155.603 547.363 149.696 555.985 145.101C561.487 142.169 566.546 140.578 567.94 140.148L567.89 140C545.466 145.16 534.329 156.357 536.203 160.028C538.008 163.558 549.377 162.308 560.4 157.32C564.838 155.308 568.246 153.439 570.522 151.97C570.897 151.726 571.276 151.607 571.644 152.246C572.173 153.153 573.208 155.566 573.237 155.633C574.22 157.78 570.486 162.473 562.083 166.421C554.323 170.063 546.394 171.384 542.904 170.113C542.373 169.922 541.858 169.695 541.201 169.041C540.641 168.486 539.81 167.019 539.543 166.562L539.361 166.657C540.275 168.581 541.152 170.145 541.518 170.522C544.265 173.342 554.638 171.986 564.047 167.653C573.212 163.428 581.486 156.371 579.774 152.736Z"
                fill="#7F7F7F"
              />
              <text
                class="card-title"
                x="558"
                y="200"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Breitensport
              </text>
              <path
                d="M551.881 250.491H564.12M564.12 250.491L558 244.371M564.12 250.491L558 256.61"
                stroke="#A5A5A5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <path
              d="M45.416 247.633C45.416 245.841 46.296 244.817 48.008 244.817C49.72 244.817 50.6 245.841 50.6 247.633V247.985H48.936V247.521C48.936 246.721 48.616 246.417 48.056 246.417C47.496 246.417 47.176 246.721 47.176 247.521C47.176 249.825 50.616 250.257 50.616 253.457C50.616 255.249 49.72 256.273 47.992 256.273C46.264 256.273 45.368 255.249 45.368 253.457V252.769H47.032V253.569C47.032 254.369 47.384 254.657 47.944 254.657C48.504 254.657 48.856 254.369 48.856 253.569C48.856 251.265 45.416 250.833 45.416 247.633ZM54.2164 244.945C55.9764 244.945 56.8404 245.921 56.8404 247.713V249.169C56.8404 250.961 55.9764 251.937 54.2164 251.937H53.3844V256.145H51.6244V244.945H54.2164ZM54.2164 246.545H53.3844V250.337H54.2164C54.7764 250.337 55.0804 250.081 55.0804 249.281V247.601C55.0804 246.801 54.7764 246.545 54.2164 246.545ZM57.6556 256.145V244.945H59.4156V256.145H57.6556ZM62.4625 246.545V249.665H64.8785V251.265H62.4625V254.545H65.5025V256.145H60.7025V244.945H65.5025V246.545H62.4625ZM66.5931 256.145V244.945H68.3531V254.545H71.2491V256.145H66.5931ZM73.775 246.545V249.665H76.191V251.265H73.775V254.545H76.815V256.145H72.015V244.945H76.815V246.545H73.775ZM83.3776 256.145H81.5856C81.4896 255.857 81.4256 255.681 81.4256 254.769V253.009C81.4256 251.969 81.0736 251.585 80.2736 251.585H79.6656V256.145H77.9056V244.945H80.5616C82.3856 244.945 83.1696 245.793 83.1696 247.521V248.401C83.1696 249.553 82.8016 250.305 82.0176 250.673C82.8976 251.041 83.1856 251.889 83.1856 253.057V254.785C83.1856 255.329 83.2016 255.729 83.3776 256.145ZM80.5136 246.545H79.6656V249.985H80.3536C81.0096 249.985 81.4096 249.697 81.4096 248.801V247.697C81.4096 246.897 81.1376 246.545 80.5136 246.545ZM83.7831 256.145L88.1991 244.945H89.7191L85.3031 256.145H83.7831ZM90.4369 256.145V244.945H92.1969V256.145H90.4369ZM97.2438 256.145L95.0518 248.033V256.145H93.4678V244.945H95.6758L97.4838 251.649V244.945H99.0518V256.145H97.2438ZM100.984 256.145H100.312V254.449H102.008V255.969L101.24 257.745H100.52L100.984 256.145ZM109.205 251.969H110.869V253.457C110.869 255.249 109.973 256.273 108.245 256.273C106.517 256.273 105.621 255.249 105.621 253.457V247.633C105.621 245.841 106.517 244.817 108.245 244.817C109.973 244.817 110.869 245.841 110.869 247.633V248.721H109.205V247.521C109.205 246.721 108.853 246.417 108.293 246.417C107.733 246.417 107.381 246.721 107.381 247.521V253.569C107.381 254.369 107.733 254.657 108.293 254.657C108.853 254.657 109.205 254.369 109.205 253.569V251.969ZM113.553 247.521V253.569C113.553 254.369 113.905 254.673 114.465 254.673C115.025 254.673 115.377 254.369 115.377 253.569V247.521C115.377 246.721 115.025 246.417 114.465 246.417C113.905 246.417 113.553 246.721 113.553 247.521ZM111.793 253.457V247.633C111.793 245.841 112.737 244.817 114.465 244.817C116.193 244.817 117.137 245.841 117.137 247.633V253.457C117.137 255.249 116.193 256.273 114.465 256.273C112.737 256.273 111.793 255.249 111.793 253.457ZM122.169 244.945L123.961 256.145H122.185L121.881 254.113H119.721L119.417 256.145H117.801L119.593 244.945H122.169ZM120.793 246.929L119.945 252.593H121.641L120.793 246.929ZM128.205 251.969H129.869V253.457C129.869 255.249 128.973 256.273 127.245 256.273C125.517 256.273 124.621 255.249 124.621 253.457V247.633C124.621 245.841 125.517 244.817 127.245 244.817C128.973 244.817 129.869 245.841 129.869 247.633V248.721H128.205V247.521C128.205 246.721 127.853 246.417 127.293 246.417C126.733 246.417 126.381 246.721 126.381 247.521V253.569C126.381 254.369 126.733 254.657 127.293 254.657C127.853 254.657 128.205 254.369 128.205 253.569V251.969ZM132.697 251.345V256.145H130.937V244.945H132.697V249.745H134.697V244.945H136.489V256.145H134.697V251.345H132.697ZM138.437 256.145H137.765V254.449H139.461V255.969L138.693 257.745H137.973L138.437 256.145ZM45.416 263.633C45.416 261.841 46.296 260.817 48.008 260.817C49.72 260.817 50.6 261.841 50.6 263.633V263.985H48.936V263.521C48.936 262.721 48.616 262.417 48.056 262.417C47.496 262.417 47.176 262.721 47.176 263.521C47.176 265.825 50.616 266.257 50.616 269.457C50.616 271.249 49.72 272.273 47.992 272.273C46.264 272.273 45.368 271.249 45.368 269.457V268.769H47.032V269.569C47.032 270.369 47.384 270.657 47.944 270.657C48.504 270.657 48.856 270.369 48.856 269.569C48.856 267.265 45.416 266.833 45.416 263.633ZM55.0644 267.969H56.7284V269.457C56.7284 271.249 55.8324 272.273 54.1044 272.273C52.3764 272.273 51.4804 271.249 51.4804 269.457V263.633C51.4804 261.841 52.3764 260.817 54.1044 260.817C55.8324 260.817 56.7284 261.841 56.7284 263.633V264.721H55.0644V263.521C55.0644 262.721 54.7124 262.417 54.1524 262.417C53.5924 262.417 53.2404 262.721 53.2404 263.521V269.569C53.2404 270.369 53.5924 270.657 54.1524 270.657C54.7124 270.657 55.0644 270.369 55.0644 269.569V267.969ZM59.5563 267.345V272.145H57.7963V260.945H59.5563V265.745H61.5563V260.945H63.3483V272.145H61.5563V267.345H59.5563ZM64.6244 272.145V260.945H66.3844V272.145H64.6244ZM69.4313 262.545V265.665H71.8473V267.265H69.4313V270.545H72.4713V272.145H67.6713V260.945H72.4713V262.545H69.4313ZM73.5619 272.145V260.945H76.3459C78.1059 260.945 78.9699 261.921 78.9699 263.713V269.377C78.9699 271.169 78.1059 272.145 76.3459 272.145H73.5619ZM76.3139 262.545H75.3219V270.545H76.3139C76.8739 270.545 77.2099 270.257 77.2099 269.457V263.633C77.2099 262.833 76.8739 262.545 76.3139 262.545ZM79.8691 263.633C79.8691 261.841 80.7491 260.817 82.4611 260.817C84.1731 260.817 85.0531 261.841 85.0531 263.633V263.985H83.3891V263.521C83.3891 262.721 83.0691 262.417 82.5091 262.417C81.9491 262.417 81.6291 262.721 81.6291 263.521C81.6291 265.825 85.0691 266.257 85.0691 269.457C85.0691 271.249 84.1731 272.273 82.4451 272.273C80.7171 272.273 79.8211 271.249 79.8211 269.457V268.769H81.4851V269.569C81.4851 270.369 81.8371 270.657 82.3971 270.657C82.9571 270.657 83.3091 270.369 83.3091 269.569C83.3091 267.265 79.8691 266.833 79.8691 263.633ZM91.5495 272.145H89.7575C89.6615 271.857 89.5975 271.681 89.5975 270.769V269.009C89.5975 267.969 89.2455 267.585 88.4455 267.585H87.8375V272.145H86.0775V260.945H88.7335C90.5575 260.945 91.3415 261.793 91.3415 263.521V264.401C91.3415 265.553 90.9735 266.305 90.1895 266.673C91.0695 267.041 91.3575 267.889 91.3575 269.057V270.785C91.3575 271.329 91.3735 271.729 91.5495 272.145ZM88.6855 262.545H87.8375V265.985H88.5255C89.1815 265.985 89.5815 265.697 89.5815 264.801V263.697C89.5815 262.897 89.3095 262.545 88.6855 262.545ZM92.515 272.145V260.945H94.275V272.145H92.515ZM99.0019 267.969H100.666V269.457C100.666 271.249 99.7699 272.273 98.0419 272.273C96.3139 272.273 95.4179 271.249 95.4179 269.457V263.633C95.4179 261.841 96.3139 260.817 98.0419 260.817C99.7699 260.817 100.666 261.841 100.666 263.633V264.721H99.0019V263.521C99.0019 262.721 98.6499 262.417 98.0899 262.417C97.5299 262.417 97.1779 262.721 97.1779 263.521V269.569C97.1779 270.369 97.5299 270.657 98.0899 270.657C98.6499 270.657 99.0019 270.369 99.0019 269.569V267.969ZM103.494 267.345V272.145H101.734V260.945H103.494V265.745H105.494V260.945H107.286V272.145H105.494V267.345H103.494ZM108.05 262.545V260.945H113.49V262.545H111.65V272.145H109.89V262.545H108.05ZM116.025 262.545V265.665H118.441V267.265H116.025V270.545H119.065V272.145H114.265V260.945H119.065V262.545H116.025ZM125.628 272.145H123.836C123.74 271.857 123.676 271.681 123.676 270.769V269.009C123.676 267.969 123.324 267.585 122.524 267.585H121.916V272.145H120.156V260.945H122.812C124.636 260.945 125.42 261.793 125.42 263.521V264.401C125.42 265.553 125.052 266.305 124.268 266.673C125.148 267.041 125.436 267.889 125.436 269.057V270.785C125.436 271.329 125.452 271.729 125.628 272.145ZM122.764 262.545H121.916V265.985H122.604C123.26 265.985 123.66 265.697 123.66 264.801V263.697C123.66 262.897 123.388 262.545 122.764 262.545ZM126.033 272.145L130.449 260.945H131.969L127.553 272.145H126.033ZM132.687 272.145V260.945H134.447V272.145H132.687ZM139.494 272.145L137.302 264.033V272.145H135.718V260.945H137.926L139.734 267.649V260.945H141.302V272.145H139.494ZM48.216 276.945H48.76V278.385H48.328C47.768 278.385 47.512 278.593 47.512 279.393V285.697C47.512 286.497 47.768 286.705 48.328 286.705H48.76V288.145H48.216C46.456 288.145 45.752 287.489 45.752 285.697V279.393C45.752 277.601 46.456 276.945 48.216 276.945ZM53.5596 276.945L55.3516 288.145H53.5756L53.2716 286.113H51.1116L50.8076 288.145H49.1916L50.9836 276.945H53.5596ZM52.1836 278.929L51.3356 284.593H53.0316L52.1836 278.929ZM60.1873 288.145L58.4753 283.681L57.9313 284.705V288.145H56.1713V276.945H57.9313V281.825L60.2352 276.945H61.9953L59.5473 281.937L61.9953 288.145H60.1873ZM62.2843 278.545V276.945H67.7243V278.545H65.8843V288.145H64.1243V278.545H62.2843ZM68.4994 288.145V276.945H70.2594V288.145H68.4994ZM72.8583 276.945L74.2023 286.081L75.5463 276.945H77.1623L75.4343 288.145H72.8103L71.0823 276.945H72.8583ZM82.0841 279.521V285.569C82.0841 286.369 82.4361 286.673 82.9961 286.673C83.5561 286.673 83.9081 286.369 83.9081 285.569V279.521C83.9081 278.721 83.5561 278.417 82.9961 278.417C82.4361 278.417 82.0841 278.721 82.0841 279.521ZM80.3241 285.457V279.633C80.3241 277.841 81.2681 276.817 82.9961 276.817C84.7241 276.817 85.6681 277.841 85.6681 279.633V285.457C85.6681 287.249 84.7241 288.273 82.9961 288.273C81.2681 288.273 80.3241 287.249 80.3241 285.457ZM86.8119 288.145V276.945H89.5959C91.3559 276.945 92.2199 277.921 92.2199 279.713V285.377C92.2199 287.169 91.3559 288.145 89.5959 288.145H86.8119ZM89.5639 278.545H88.5719V286.545H89.5639C90.1239 286.545 90.4599 286.257 90.4599 285.457V279.633C90.4599 278.833 90.1239 278.545 89.5639 278.545ZM93.1869 286.449H94.8829V288.145H93.1869V286.449ZM100.4 278.545V281.665H102.816V283.265H100.4V286.545H103.44V288.145H98.64V276.945H103.44V278.545H100.4ZM106.291 283.345V288.145H104.531V276.945H106.291V281.745H108.291V276.945H110.083V288.145H108.291V283.345H106.291ZM113.119 278.545V281.665H115.535V283.265H113.119V286.545H116.159V288.145H111.359V276.945H116.159V278.545H113.119ZM119.681 276.945L120.977 284.897L122.177 276.945H124.625V288.145H122.961V280.113L121.745 288.145H120.081L118.769 280.225V288.145H117.233V276.945H119.681ZM129.81 276.945L131.602 288.145H129.826L129.522 286.113H127.362L127.058 288.145H125.442L127.234 276.945H129.81ZM128.434 278.929L127.586 284.593H129.282L128.434 278.929ZM132.421 288.145V276.945H134.181V286.545H137.077V288.145H132.421ZM137.843 288.145V276.945H139.603V288.145H137.843ZM143.53 283.505V281.905H145.994V285.457C145.994 287.249 145.098 288.273 143.37 288.273C141.642 288.273 140.746 287.249 140.746 285.457V279.633C140.746 277.841 141.642 276.817 143.37 276.817C145.098 276.817 145.994 277.841 145.994 279.633V280.721H144.33V279.521C144.33 278.721 143.978 278.417 143.418 278.417C142.858 278.417 142.506 278.721 142.506 279.521V285.569C142.506 286.369 142.858 286.657 143.418 286.657C143.978 286.657 144.33 286.369 144.33 285.569V283.505H143.53ZM146.74 276.945H147.284C149.044 276.945 149.748 277.601 149.748 279.393V285.697C149.748 287.489 149.044 288.145 147.284 288.145H146.74V286.705H147.172C147.732 286.705 147.988 286.497 147.988 285.697V279.393C147.988 278.593 147.732 278.385 147.172 278.385H146.74V276.945Z"
              fill="#7F7F7F"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M251 357.145C251 346.099 259.954 337.145 271 337.145H451V550.126C451 561.172 442.046 570.126 431 570.126H251V357.145Z"
                fill="#E60001"
              />
              <path
                d="M372.774 381.88L372.752 381.829C372.752 381.829 368.634 372.939 368.077 372.058C367.241 374.597 358.707 380.865 348.494 384.978C342.322 387.465 336.52 388.144 335.275 387C332.819 384.747 340.363 378.84 348.985 374.246C354.487 371.313 359.546 369.722 360.94 369.292L360.89 369.145C338.466 374.304 327.329 385.501 329.203 389.172C331.008 392.703 342.377 391.452 353.4 386.465C357.838 384.453 361.246 382.584 363.522 381.115C363.897 380.87 364.276 380.752 364.644 381.39C365.173 382.297 366.208 384.711 366.237 384.777C367.22 386.925 363.486 391.618 355.083 395.566C347.323 399.208 339.394 400.528 335.904 399.258C335.373 399.066 334.858 398.839 334.201 398.185C333.641 397.631 332.81 396.163 332.543 395.706L332.361 395.801C333.275 397.725 334.152 399.289 334.518 399.667C337.265 402.486 347.638 401.13 357.047 396.797C366.212 392.573 374.486 385.516 372.774 381.88Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="351"
                y="440"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="351" dy="0">Club-</tspan>
                <tspan x="351" dy="26">Funktionär/in</tspan>
                <tspan x="351" dy="26">(Ehrenamt)</tspan>
              </text>
              <path
                d="M344.881 527.635H357.12M357.12 527.635L351 521.516M357.12 527.635L351 533.755"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M25 654C25 642.954 33.9543 634 45 634H225V798.982C225 810.027 216.046 818.982 205 818.982H25V654Z"
                fill="#3F3F3F"
              />
              <path
                d="M146.774 678.736L146.752 678.684C146.752 678.684 142.634 669.794 142.077 668.913C141.241 671.452 132.707 677.721 122.494 681.834C116.322 684.32 110.52 684.999 109.275 683.855C106.819 681.603 114.363 675.696 122.985 671.101C128.487 668.169 133.546 666.578 134.94 666.148L134.89 666C112.466 671.16 101.329 682.357 103.203 686.028C105.008 689.558 116.377 688.308 127.4 683.32C131.838 681.308 135.246 679.439 137.522 677.97C137.897 677.726 138.276 677.607 138.644 678.246C139.173 679.153 140.208 681.566 140.237 681.633C141.22 683.78 137.486 688.473 129.083 692.421C121.323 696.063 113.394 697.384 109.904 696.113C109.373 695.922 108.858 695.695 108.201 695.041C107.641 694.486 106.81 693.019 106.543 692.562L106.361 692.657C107.275 694.581 108.152 696.145 108.518 696.522C111.265 699.342 121.638 697.986 131.047 693.653C140.212 689.428 148.486 682.371 146.774 678.736Z"
                fill="#7F7F7F"
              />
              <text
                class="card-title"
                x="59.5883"
                y="736"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="start"
              >
                Regionalgremium
              </text>
              <path
                d="M118.881 776.491H131.12M131.12 776.491L125 770.371M131.12 776.491L125 782.61"
                stroke="#A5A5A5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M251.5 654C251.5 642.954 260.454 634 271.5 634H451.5V798.982C451.5 810.027 442.546 818.982 431.5 818.982H251.5V654Z"
                fill="#3F3F3F"
              />
              <path
                d="M373.274 678.736L373.252 678.684C373.252 678.684 369.134 669.794 368.577 668.913C367.741 671.452 359.207 677.721 348.994 681.834C342.822 684.32 337.02 684.999 335.775 683.855C333.319 681.603 340.863 675.696 349.485 671.101C354.987 668.169 360.046 666.578 361.44 666.148L361.39 666C338.966 671.16 327.829 682.357 329.703 686.028C331.508 689.558 342.877 688.308 353.9 683.32C358.338 681.308 361.746 679.439 364.022 677.97C364.397 677.726 364.776 677.607 365.144 678.246C365.673 679.153 366.708 681.566 366.737 681.633C367.72 683.78 363.986 688.473 355.583 692.421C347.823 696.063 339.894 697.384 336.404 696.113C335.873 695.922 335.358 695.695 334.701 695.041C334.141 694.486 333.31 693.019 333.043 692.562L332.861 692.657C333.775 694.581 334.652 696.145 335.018 696.522C337.765 699.342 348.138 697.986 357.547 693.653C366.712 689.428 374.986 682.371 373.274 678.736Z"
                fill="#7F7F7F"
              />
              <text
                class="card-title"
                x="282.514"
                y="736"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="start"
              >
                Delegierte/r NAFS
              </text>
              <path
                d="M345.381 776.491H357.62M357.62 776.491L351.5 770.371M357.62 776.491L351.5 782.61"
                stroke="#A5A5A5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M478 654C478 642.954 486.954 634 498 634H678V798.982C678 810.027 669.046 818.982 658 818.982H478V654Z"
                fill="#3F3F3F"
              />
              <path
                d="M599.774 678.736L599.752 678.684C599.752 678.684 595.634 669.794 595.077 668.913C594.241 671.452 585.707 677.721 575.494 681.834C569.322 684.32 563.52 684.999 562.275 683.855C559.819 681.603 567.363 675.696 575.985 671.101C581.487 668.169 586.546 666.578 587.94 666.148L587.89 666C565.466 671.16 554.329 682.357 556.203 686.028C558.008 689.558 569.377 688.308 580.4 683.32C584.838 681.308 588.246 679.439 590.522 677.97C590.897 677.726 591.276 677.607 591.644 678.246C592.173 679.153 593.208 681.566 593.237 681.633C594.22 683.78 590.486 688.473 582.083 692.421C574.323 696.063 566.394 697.384 562.904 696.113C562.373 695.922 561.858 695.695 561.201 695.041C560.641 694.486 559.81 693.019 559.543 692.562L559.361 692.657C560.275 694.581 561.152 696.145 561.518 696.522C564.265 699.342 574.638 697.986 584.047 693.653C593.212 689.428 601.486 682.371 599.774 678.736Z"
                fill="#7F7F7F"
              />
              <text
                class="card-title"
                x="493.214"
                y="736"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="start"
              >
                Koordiationsgremium
              </text>
              <path
                d="M571.881 776.491H584.12M584.12 776.491L578 770.371M584.12 776.491L578 782.61"
                stroke="#A5A5A5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
