<section class="section mb-0" id="clubOfficial">
  <div class="container">
    <div class="row g-lg-8 g-12">
      <div class="col-xl-6 col-lg-5">
        <h3 class="h2 mb-3">CLUBFUNKTIONÄR/IN</h3>
        <div class="h3 text-gray-2 mb-lg-8 mb-4">Daniel Berger</div>
        <a
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#articleModal2"
          class="section-img"
        >
          <img
            class="object-fit-contain mask-img"
            width="360"
            height="258"
            src="images/content/club.png"
            loading="lazy"
            alt="Daniel Berger"
          />
        </a>
      </div>
      <div class="col-xl-6 col-lg-7">
        <div class="section-map">
          <svg
            width="704"
            height="867"
            viewBox="0 0 704 867"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <g>
                <text
                  class="card-title"
                  x="560"
                  y="447.145"
                  fill="black"
                  font-size="24"
                  font-weight="400"
                  text-anchor="middle"
                >
                  <tspan x="560" dy="0">Lehrgang</tspan>
                  <tspan x="560" dy="26">Club-Management</tspan>
                </text>

                <g
                  class="link-icon"
                  transform="translate(-74 468) translate(622 22)"
                >
                  <path
                    d="M18.3592 7.86806L18.3592 2.62269M18.3592 2.62269H13.1138M18.3592 2.62269L10.4911 10.4907M8.74265 2.62268H6.81935C5.3505 2.62268 4.61608 2.62268 4.05506 2.90854C3.56157 3.15998 3.16035 3.5612 2.9089 4.05469C2.62305 4.61572 2.62305 5.35014 2.62305 6.81898V14.1625C2.62305 15.6314 2.62305 16.3658 2.9089 16.9268C3.16035 17.4203 3.56157 17.8215 4.05506 18.073C4.61608 18.3588 5.3505 18.3588 6.81935 18.3588H14.1629C15.6317 18.3588 16.3661 18.3588 16.9272 18.073C17.4207 17.8215 17.8219 17.4203 18.0733 16.9268C18.3592 16.3658 18.3592 15.6314 18.3592 14.1625V12.2392"
                    stroke="#E60001"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    fill="none"
                  />
                </g>
              </g>
            </a>
            <path
              d="M350.47 88.5303C350.763 88.8232 351.237 88.8232 351.53 88.5303L356.303 83.7574C356.596 83.4645 356.596 82.9896 356.303 82.6967C356.01 82.4038 355.536 82.4038 355.243 82.6967L351 86.9393L346.757 82.6967C346.464 82.4038 345.99 82.4038 345.697 82.6967C345.404 82.9896 345.404 83.4645 345.697 83.7574L350.47 88.5303ZM351.75 64L351.75 63.25L350.25 63.25L350.25 64L351 64L351.75 64ZM351 88L351.75 88L351.75 64L351 64L350.25 64L350.25 88L351 88Z"
              fill="#E60001"
            />
            <path
              d="M350.47 337.53C350.763 337.823 351.237 337.823 351.53 337.53L356.303 332.757C356.596 332.464 356.596 331.99 356.303 331.697C356.01 331.404 355.536 331.404 355.243 331.697L351 335.939L346.757 331.697C346.464 331.404 345.99 331.404 345.697 331.697C345.404 331.99 345.404 332.464 345.697 332.757L350.47 337.53ZM351.75 313L351.75 312.25L350.25 312.25L350.25 313L351 313L351.75 313ZM351 337L351.75 337L351.75 313L351 313L350.25 313L350.25 337L351 337Z"
              fill="#E60001"
            />
            <path
              d="M350.47 634.53C350.763 634.823 351.237 634.823 351.53 634.53L356.303 629.757C356.596 629.464 356.596 628.99 356.303 628.697C356.01 628.404 355.536 628.404 355.243 628.697L351 632.939L346.757 628.697C346.464 628.404 345.99 628.404 345.697 628.697C345.404 628.99 345.404 629.464 345.697 629.757L350.47 634.53ZM351.75 570L351.75 569.25L350.25 569.25L350.25 570L351 570L351.75 570ZM351 634L351.75 634L351.75 570L351 570L350.25 570L350.25 634L351 634Z"
              fill="#E60001"
            />
            <path
              d="M125.47 634.03C125.763 634.323 126.237 634.323 126.53 634.03L131.303 629.257C131.596 628.964 131.596 628.49 131.303 628.197C131.01 627.904 130.536 627.904 130.243 628.197L126 632.439L121.757 628.197C121.464 627.904 120.99 627.904 120.697 628.197C120.404 628.49 120.404 628.964 120.697 629.257L125.47 634.03ZM351.75 570L351.75 569.25L350.25 569.25L350.25 570L351 570L351.75 570ZM138.007 601.873L138.008 601.123L138.007 601.873ZM351 589.993L351.75 589.993L351.75 570L351 570L350.25 570L350.25 589.993L351 589.993ZM126 633.5L126.75 633.5L126.75 613.873L126 613.873L125.25 613.873L125.25 633.5L126 633.5ZM138.007 601.873L138.007 602.623L338.992 602.743L338.993 601.993L338.993 601.243L138.008 601.123L138.007 601.873ZM126 613.873L126.75 613.873C126.75 607.657 131.791 602.619 138.007 602.623L138.007 601.873L138.008 601.123C130.963 601.119 125.25 606.829 125.25 613.873L126 613.873ZM351 589.993L350.25 589.993C350.25 596.209 345.209 601.247 338.993 601.243L338.993 601.993L338.992 602.743C346.037 602.747 351.75 597.037 351.75 589.993L351 589.993Z"
              fill="#E60001"
            />
            <path
              d="M582.97 634.03C583.263 634.323 583.737 634.323 584.03 634.03L588.803 629.257C589.096 628.964 589.096 628.49 588.803 628.197C588.51 627.904 588.036 627.904 587.743 628.197L583.5 632.439L579.257 628.197C578.964 627.904 578.49 627.904 578.197 628.197C577.904 628.49 577.904 628.964 578.197 629.257L582.97 634.03ZM351.75 570L351.75 569.25L350.25 569.25L350.25 570L351 570L351.75 570ZM351 589.993L351.75 589.993L351.75 570L351 570L350.25 570L350.25 589.993L351 589.993ZM583.5 633.5L584.25 633.5L584.25 613.873L583.5 613.873L582.75 613.873L582.75 633.5L583.5 633.5ZM571.493 601.873L571.493 601.123L363.007 601.243L363.007 601.993L363.007 602.743L571.494 602.623L571.493 601.873ZM583.5 613.873L584.25 613.873C584.25 606.828 578.537 601.119 571.493 601.123L571.493 601.873L571.494 602.623C577.709 602.619 582.75 607.657 582.75 613.873L583.5 613.873ZM351 589.993L350.25 589.993C350.25 597.038 355.963 602.747 363.007 602.743L363.007 601.993L363.007 601.243C356.791 601.247 351.75 596.209 351.75 589.993L351 589.993Z"
              fill="#E60001"
            />
            <a class="anchor-item" href="#programCards">
              <path
                d="M25 20C25 8.95431 33.9543 0 45 0H678V44C678 55.0457 669.046 64 658 64H25V20Z"
                fill="#FFC6C7"
              />
              <path
                d="M100.774 28.7356L100.752 28.6842C100.752 28.6842 96.6344 19.7942 96.0773 18.9134C95.2405 21.4522 86.7074 27.7207 76.4935 31.8336C70.3217 34.3201 64.5204 34.9993 63.2747 33.8555C60.8193 31.6026 68.3633 25.6955 76.9854 21.1012C82.4872 18.1688 87.546 16.5779 88.94 16.1476L88.8901 16C66.4661 21.1599 55.3286 32.3566 57.2032 36.0276C59.0081 39.5583 70.3773 38.308 81.3998 33.32C85.8382 31.3083 89.2464 29.4395 91.5217 27.9703C91.8975 27.7256 92.2755 27.6071 92.644 28.2457C93.1728 29.1528 94.2084 31.5664 94.2374 31.6325C95.2204 33.7804 91.4859 38.4734 83.0828 42.4212C75.323 46.0633 67.3939 47.3839 63.904 46.1134C63.3735 45.9216 62.8577 45.6945 62.2015 45.041C61.6414 44.4861 60.8099 43.0185 60.5432 42.5619L60.3606 42.6565C61.2748 44.5806 62.1517 46.1448 62.5185 46.5223C65.2652 49.3419 75.6383 47.9855 85.0467 43.6527C94.2125 39.428 102.486 32.3711 100.774 28.7356Z"
                fill="#E60001"
              />
              <text
                class="card-title"
                x="252"
                y="32"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Erstkontakt zum Eis / Eishockey
              </text>
              <g class="link-icon" transform="translate(620 22)">
                <path
                  d="M18 8V2H12M18 2L10 10M6 2H4C3 2 2 3 2 4V16C2 17 3 18 4 18H16C17 18 18 17 18 16V14"
                  stroke="#E60001"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>
            <path
              d="
    M45 88
    H678
    V293
    Q678 313 658 313
    H25
    V108
    Q25 88 45 88
    Z
  "
              fill="none"
              stroke="#FF5756"
              stroke-width="1"
              stroke-dasharray="3 3"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M242 128C242 116.954 250.954 108 262 108H442V272.982C442 284.027 433.046 292.982 422 292.982H242V128Z"
                fill="#E60001"
              />
              <path
                d="M363.774 152.736L363.752 152.684C363.752 152.684 359.634 143.794 359.077 142.913C358.241 145.452 349.707 151.721 339.494 155.834C333.322 158.32 327.52 158.999 326.275 157.855C323.819 155.603 331.363 149.696 339.985 145.101C345.487 142.169 350.546 140.578 351.94 140.148L351.89 140C329.466 145.16 318.329 156.357 320.203 160.028C322.008 163.558 333.377 162.308 344.4 157.32C348.838 155.308 352.246 153.439 354.522 151.97C354.897 151.726 355.276 151.607 355.644 152.246C356.173 153.153 357.208 155.566 357.237 155.633C358.22 157.78 354.486 162.473 346.083 166.421C338.323 170.063 330.394 171.384 326.904 170.113C326.373 169.922 325.858 169.695 325.201 169.041C324.641 168.486 323.81 167.019 323.543 166.562L323.361 166.657C324.275 168.581 325.152 170.145 325.518 170.522C328.265 173.342 338.638 171.986 348.047 167.653C357.212 163.428 365.486 156.371 363.774 152.736Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="342"
                y="200"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Leistungssport
              </text>
              <g class="link-icon" transform="translate(330 240)">
                <path
                  d="M18 8V2H12M18 2L10 10M6 2H4C3 2 2 3 2 4V16C2 17 3 18 4 18H16C17 18 18 17 18 16V14"
                  stroke="#FF8F8F"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M458 128C458 116.954 466.954 108 478 108H658V272.982C658 284.027 649.046 292.982 638 292.982H458V128Z"
                fill="#D8D8D8"
              />
              <path
                d="M579.774 152.736L579.752 152.684C579.752 152.684 575.634 143.794 575.077 142.913C574.241 145.452 565.707 151.721 555.494 155.834C549.322 158.32 543.52 158.999 542.275 157.855C539.819 155.603 547.363 149.696 555.985 145.101C561.487 142.169 566.546 140.578 567.94 140.148L567.89 140C545.466 145.16 534.329 156.357 536.203 160.028C538.008 163.558 549.377 162.308 560.4 157.32C564.838 155.308 568.246 153.439 570.522 151.97C570.897 151.726 571.276 151.607 571.644 152.246C572.173 153.153 573.208 155.566 573.237 155.633C574.22 157.78 570.486 162.473 562.083 166.421C554.323 170.063 546.394 171.384 542.904 170.113C542.373 169.922 541.858 169.695 541.201 169.041C540.641 168.486 539.81 167.019 539.543 166.562L539.361 166.657C540.275 168.581 541.152 170.145 541.518 170.522C544.265 173.342 554.638 171.986 564.047 167.653C573.212 163.428 581.486 156.371 579.774 152.736Z"
                fill="#7F7F7F"
              />
              <text
                class="card-title"
                x="558"
                y="200"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Breitensport
              </text>
              <g class="link-icon" transform="translate(544 240)">
                <path
                  d="M18.3592 7.86806L18.3592 2.62269M18.3592 2.62269H13.1138M18.3592 2.62269L10.4911 10.4907M8.74265 2.62268H6.81935C5.3505 2.62268 4.61608 2.62268 4.05506 2.90854C3.56157 3.15998 3.16035 3.5612 2.9089 4.05469C2.62305 4.61572 2.62305 5.35014 2.62305 6.81898V14.1625C2.62305 15.6314 2.62305 16.3658 2.9089 16.9268C3.16035 17.4203 3.56157 17.8215 4.05506 18.073C4.61608 18.3588 5.3505 18.3588 6.81935 18.3588H14.1629C15.6317 18.3588 16.3661 18.3588 16.9272 18.073C17.4207 17.8215 17.8219 17.4203 18.0733 16.9268C18.3592 16.3658 18.3592 15.6314 18.3592 14.1625V12.2392"
                  stroke="#A5A5A5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#journeyModal_9_spieler-in-coach-schiedsrichter-in"
            >
              <foreignObject x="46" y="244" width="150" height="50">
                <div
                  xmlns="http://www.w3.org/1999/xhtml"
                  style="
                    width: 100%;
                    text-align: left;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.1;
                    color: #7f7f7f;
                    word-break: break-word;
                  "
                >
                  Spieler/in, Coach, Schiedsrichter/in (aktiv od. ehemalig)
                </div>
              </foreignObject>

              <g class="link-icon" transform="translate(46 218)">
                <path
                  d="M18 8V2H12M18 2L10 10M6 2H4C3 2 2 3 2 4V16C2 17 3 18 4 18H16C17 18 18 17 18 16V14"
                  stroke="#A5A5A5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                ></path>
              </g>
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M251 357.145C251 346.099 259.954 337.145 271 337.145H451V550.126C451 561.172 442.046 570.126 431 570.126H251V357.145Z"
                fill="#E60001"
              />
              <path
                d="M372.774 381.88L372.752 381.829C372.752 381.829 368.634 372.939 368.077 372.058C367.241 374.597 358.707 380.865 348.494 384.978C342.322 387.465 336.52 388.144 335.275 387C332.819 384.747 340.363 378.84 348.985 374.246C354.487 371.313 359.546 369.722 360.94 369.292L360.89 369.145C338.466 374.304 327.329 385.501 329.203 389.172C331.008 392.703 342.377 391.452 353.4 386.465C357.838 384.453 361.246 382.584 363.522 381.115C363.897 380.87 364.276 380.752 364.644 381.39C365.173 382.297 366.208 384.711 366.237 384.777C367.22 386.925 363.486 391.618 355.083 395.566C347.323 399.208 339.394 400.528 335.904 399.258C335.373 399.066 334.858 398.839 334.201 398.185C333.641 397.631 332.81 396.163 332.543 395.706L332.361 395.801C333.275 397.725 334.152 399.289 334.518 399.667C337.265 402.486 347.638 401.13 357.047 396.797C366.212 392.573 374.486 385.516 372.774 381.88Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="351"
                y="440"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="351" dy="0">Club-</tspan>
                <tspan x="351" dy="26">Funktionär/in</tspan>
                <tspan x="351" dy="26">(Ehrenamt)</tspan>
              </text>
              <g class="link-icon" transform="translate(337 517)">
                <path
                  d="M18.3592 7.86806L18.3592 2.62269M18.3592 2.62269H13.1138M18.3592 2.62269L10.4911 10.4907M8.74265 2.62268H6.81935C5.3505 2.62268 4.61608 2.62268 4.05506 2.90854C3.56157 3.15998 3.16035 3.5612 2.9089 4.05469C2.62305 4.61572 2.62305 5.35014 2.62305 6.81898V14.1625C2.62305 15.6314 2.62305 16.3658 2.9089 16.9268C3.16035 17.4203 3.56157 17.8215 4.05506 18.073C4.61608 18.3588 5.3505 18.3588 6.81935 18.3588H14.1629C15.6317 18.3588 16.3661 18.3588 16.9272 18.073C17.4207 17.8215 17.8219 17.4203 18.0733 16.9268C18.3592 16.3658 18.3592 15.6314 18.3592 14.1625V12.2392"
                  stroke="#FF8F8F"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#journeyModal_9_regionalgremium"
            >
              <path
                d="M25 654C25 642.954 33.9543 634 45 634H225V798.982C225 810.027 216.046 818.982 205 818.982H25V654Z"
                fill="#3F3F3F"
              ></path>

              <path
                d="M146.774 678.736L146.752 678.684C146.752 678.684 142.634 669.794 142.077 668.913C141.241 671.452 132.707 677.721 122.494 681.834C116.322 684.32 110.52 684.999 109.275 683.855C106.819 681.603 114.363 675.696 122.985 671.101C128.487 668.169 133.546 666.578 134.94 666.148L134.89 666C112.466 671.16 101.329 682.357 103.203 686.028C105.008 689.558 116.377 688.308 127.4 683.32C131.838 681.308 135.246 679.439 137.522 677.97C137.897 677.726 138.276 677.607 138.644 678.246C139.173 679.153 140.208 681.566 140.237 681.633C141.22 683.78 137.486 688.473 129.083 692.421C121.323 696.063 113.394 697.384 109.904 696.113C109.373 695.922 108.858 695.695 108.201 695.041C107.641 694.486 106.81 693.019 106.543 692.562L106.361 692.657C107.275 694.581 108.152 696.145 108.518 696.522C111.265 699.342 121.638 697.986 131.047 693.653C140.212 689.428 148.486 682.371 146.774 678.736Z"
                fill="#7F7F7F"
              ></path>

              <foreignObject x="35" y="715" width="180" height="90">
                <div
                  xmlns="http://www.w3.org/1999/xhtml"
                  style="
                    width: 100%;
                    color: white;
                    font-size: 22px;
                    font-weight: 400;
                    text-align: center;
                    line-height: 1.2;
                    word-break: break-word;
                  "
                >
                  Regionalgremium
                </div>
              </foreignObject>

              <g class="link-icon" transform="translate(114 774)">
                <path
                  d="M18 8V2H12M18 2L10 10M6 2H4C3 2 2 3 2 4V16C2 17 3 18 4 18H16C17 18 18 17 18 16V14"
                  stroke="#A5A5A5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                ></path>
              </g>
            </a>

            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M251.5 654C251.5 642.954 260.454 634 271.5 634H451.5V798.982C451.5 810.027 442.546 818.982 431.5 818.982H251.5V654Z"
                fill="#3F3F3F"
              />
              <path
                d="M373.274 678.736L373.252 678.684C373.252 678.684 369.134 669.794 368.577 668.913C367.741 671.452 359.207 677.721 348.994 681.834C342.822 684.32 337.02 684.999 335.775 683.855C333.319 681.603 340.863 675.696 349.485 671.101C354.987 668.169 360.046 666.578 361.44 666.148L361.39 666C338.966 671.16 327.829 682.357 329.703 686.028C331.508 689.558 342.877 688.308 353.9 683.32C358.338 681.308 361.746 679.439 364.022 677.97C364.397 677.726 364.776 677.607 365.144 678.246C365.673 679.153 366.708 681.566 366.737 681.633C367.72 683.78 363.986 688.473 355.583 692.421C347.823 696.063 339.894 697.384 336.404 696.113C335.873 695.922 335.358 695.695 334.701 695.041C334.141 694.486 333.31 693.019 333.043 692.562L332.861 692.657C333.775 694.581 334.652 696.145 335.018 696.522C337.765 699.342 348.138 697.986 357.547 693.653C366.712 689.428 374.986 682.371 373.274 678.736Z"
                fill="#7F7F7F"
              />

              <foreignObject x="261.5" y="715" width="180" height="90">
                <div
                  xmlns="http://www.w3.org/1999/xhtml"
                  style="
                    width: 100%;
                    color: white;
                    font-size: 22px;
                    font-weight: 400;
                    text-align: center;
                    line-height: 1.2;
                    word-break: break-word;
                  "
                >
                  Delegierte/r NAFS
                </div>
              </foreignObject>
              <g class="link-icon" transform="translate(342 774)">
                <path
                  d="M18 8V2H12M18 2L10 10M6 2H4C3 2 2 3 2 4V16C2 17 3 18 4 18H16C17 18 18 17 18 16V14"
                  stroke="#A5A5A5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M478 654C478 642.954 486.954 634 498 634H678V798.982C678 810.027 669.046 818.982 658 818.982H478V654Z"
                fill="#3F3F3F"
              />
              <path
                d="M599.774 678.736L599.752 678.684C599.752 678.684 595.634 669.794 595.077 668.913C594.241 671.452 585.707 677.721 575.494 681.834C569.322 684.32 563.52 684.999 562.275 683.855C559.819 681.603 567.363 675.696 575.985 671.101C581.487 668.169 586.546 666.578 587.94 666.148L587.89 666C565.466 671.16 554.329 682.357 556.203 686.028C558.008 689.558 569.377 688.308 580.4 683.32C584.838 681.308 588.246 679.439 590.522 677.97C590.897 677.726 591.276 677.607 591.644 678.246C592.173 679.153 593.208 681.566 593.237 681.633C594.22 683.78 590.486 688.473 582.083 692.421C574.323 696.063 566.394 697.384 562.904 696.113C562.373 695.922 561.858 695.695 561.201 695.041C560.641 694.486 559.81 693.019 559.543 692.562L559.361 692.657C560.275 694.581 561.152 696.145 561.518 696.522C564.265 699.342 574.638 697.986 584.047 693.653C593.212 689.428 601.486 682.371 599.774 678.736Z"
                fill="#7F7F7F"
              />

              <foreignObject x="500" y="715" width="160" height="80">
                <div
                  xmlns="http://www.w3.org/1999/xhtml"
                  style="
                    text-align: center;
                    color: white;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 1.2;
                    word-break: break-word;
                  "
                >
                  Koordiations-gremium
                </div>
              </foreignObject>
              <g class="link-icon" transform="translate(570 774)">
                <path
                  d="M18 8V2H12M18 2L10 10M6 2H4C3 2 2 3 2 4V16C2 17 3 18 4 18H16C17 18 18 17 18 16V14"
                  stroke="#A5A5A5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
