<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a href="#" class="footer__logo">
        <img src="images/ico/logo.svg" width="54" height="80" alt="logo" />
      </a>
      <ul class="footer-social">
        <li>
          <a href="#" class="footer-social__link">
            {% include "@images/insta.svg" %} Men
          </a>
        </li>
        <li>
          <a href="#" class="footer-social__link">
            {% include "@images/insta.svg" %} Women
          </a>
        </li>
        <li>
          <a href="#" class="footer-social__link">
            {% include "@images/insta.svg" %} Federation
          </a>
        </li>
        <li>
          <a href="#" class="footer-social__link">
            {% include "@images/tiktok.svg" %} tiktok
          </a>
        </li>
        <li>
          <a href="#" class="footer-social__link">
            {% include "@images/fb.svg" %} facebook
          </a>
        </li>
        <li>
          <a href="#" class="footer-social__link">
            {% include "@images/x.svg" %} X
          </a>
        </li>
        <li>
          <a href="#" class="footer-social__link">
            {% include "@images/youtube.svg" %} youtube
          </a>
        </li>
        <li>
          <a href="#" class="footer-social__link">
            {% include "@images/linkedin.svg" %} linkedin
          </a>
        </li>
      </ul>
      <ul class="footer__links">
        <li>
          <a class="footer__link" href="#">Über uns </a>
        </li>
        <li>
          <a class="footer__link" href="#">Impressum</a>
        </li>
        <li>
          <a class="footer__link" href="#">Datenschutz</a>
        </li>
      </ul>
      <div class="copyright">
        &copy; Swiss Ice Hockey Federation - All rights reserved
      </div>
      <details class="lang-dropdown mx-auto mt-6 p-0" title="Výběr jazyka">
        <summary>fr</summary>
      </details>
    </div>
  </div>
</footer>
