<section class="section" id="coach">
  <div class="container">
    <div class="row g-lg-8 g-12">
      <div class="col-xl-6 col-lg-5">
        <h3 class="h2 mb-3">coach</h3>
        <div class="h3 text-gray-2 mb-lg-8 mb-4">Leistungs- & Breitensport</div>
        <div class="section-images">
          <a
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#articleModal2"
            class="section-img"
          >
            <img
              class="object-fit-contain mask-img"
              width="360"
              height="258"
              src="images/content/coach_1.png"
              loading="lazy"
              alt="Jan Cadieux"
            />
            <div class="tag">Jan Cadieux</div>
          </a>
          <a
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#articleModal"
            class="section-img"
          >
            <img
              class="object-fit-contain mask-img"
              width="360"
              height="258"
              src="images/content/coach_2.png"
              loading="lazy"
              alt="Melanie Häfliger"
            />
            <div class="tag">Melanie Häfliger</div>
          </a>
          <a
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#articleModal"
            class="section-img"
          >
            <img
              class="object-fit-contain mask-img"
              width="360"
              height="258"
              src="images/content/coach_3.png"
              loading="lazy"
              alt="Markus Steiner"
            />
            <div class="tag">Markus Steiner</div>
          </a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7">
        <div class="section-map">
          <svg
            width="704"
            height="755"
            viewBox="0 0 704 755"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M245.47 638.675C245.177 638.382 245.177 637.908 245.47 637.615L250.243 632.842C250.536 632.549 251.01 632.549 251.303 632.842C251.596 633.135 251.596 633.609 251.303 633.902L247.061 638.145L251.303 642.388C251.596 642.681 251.596 643.155 251.303 643.448C251.01 643.741 250.536 643.741 250.243 643.448L245.47 638.675ZM262 637.395L262.75 637.395L262.75 638.895L262 638.895L262 638.145L262 637.395ZM246 638.145L246 637.395L262 637.395L262 638.145L262 638.895L246 638.895L246 638.145Z"
              fill="#E60001"
            />
            <path
              d="M351.47 88.5303C351.763 88.8232 352.237 88.8232 352.53 88.5303L357.303 83.7574C357.596 83.4645 357.596 82.9896 357.303 82.6967C357.01 82.4038 356.536 82.4038 356.243 82.6967L352 86.9393L347.757 82.6967C347.464 82.4038 346.99 82.4038 346.697 82.6967C346.404 82.9896 346.404 83.4645 346.697 83.7574L351.47 88.5303ZM352.75 64L352.75 63.25L351.25 63.25L351.25 64L352 64L352.75 64ZM352 88L352.75 88L352.75 64L352 64L351.25 64L351.25 88L352 88Z"
              fill="#E60001"
            />
            <path
              d="M441.47 647.47C441.177 647.763 441.177 648.237 441.47 648.53L446.243 653.303C446.536 653.596 447.01 653.596 447.303 653.303C447.596 653.01 447.596 652.536 447.303 652.243L443.061 648L447.303 643.757C447.596 643.464 447.596 642.99 447.303 642.697C447.01 642.404 446.536 642.404 446.243 642.697L441.47 647.47ZM458 648.75H458.75V647.25H458V648V648.75ZM456.667 647.25H455.917V648.75H456.667V648V647.25ZM454 648.75H454.75V647.25H454V648V648.75ZM451.333 647.25H450.583V648.75H451.333V648V647.25ZM448.667 648.75H449.417V647.25H448.667V648V648.75ZM446 647.25H445.25V648.75H446V648V647.25ZM443.333 648.75H444.083V647.25H443.333V648V648.75ZM458 648V647.25H456.667V648V648.75H458V648ZM454 648V647.25H451.333V648V648.75H454V648ZM448.667 648V647.25H446V648V648.75H448.667V648ZM443.333 648V647.25H442V648V648.75H443.333V648Z"
              fill="#E60001"
            />
            <a class="anchor-item" href="#programCards">
              <path
                d="M26 20C26 8.95431 34.9543 0 46 0H679V44C679 55.0457 670.046 64 659 64H26V20Z"
                fill="#FFC6C7"
              />
              <path
                d="M101.774 28.7356L101.752 28.6842C101.752 28.6842 97.6344 19.7942 97.0773 18.9134C96.2405 21.4522 87.7074 27.7207 77.4935 31.8336C71.3217 34.3201 65.5204 34.9993 64.2747 33.8555C61.8193 31.6026 69.3633 25.6955 77.9854 21.1012C83.4872 18.1688 88.546 16.5779 89.94 16.1476L89.8901 16C67.4661 21.1599 56.3286 32.3566 58.2032 36.0276C60.0081 39.5583 71.3773 38.308 82.3998 33.32C86.8382 31.3083 90.2464 29.4395 92.5217 27.9703C92.8975 27.7256 93.2755 27.6071 93.644 28.2457C94.1728 29.1528 95.2084 31.5664 95.2374 31.6325C96.2204 33.7804 92.4859 38.4734 84.0828 42.4212C76.323 46.0633 68.3939 47.3839 64.904 46.1134C64.3735 45.9216 63.8577 45.6945 63.2015 45.041C62.6414 44.4861 61.8099 43.0185 61.5432 42.5619L61.3606 42.6565C62.2748 44.5806 63.1517 46.1448 63.5185 46.5223C66.2652 49.3419 76.6383 47.9855 86.0467 43.6527C95.2125 39.428 103.486 32.3711 101.774 28.7356Z"
                fill="#E60001"
              />
              <text
                x="252"
                y="32"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
                class="card-title"
              >
                Erstkontakt zum Eis / Eishockey
              </text>
              <path
                d="M630.389 32H642.628M642.628 32L636.508 25.8804M642.628 32L636.508 38.1196"
                stroke="#E60001"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>

            <path
              d="M151.97 547.224C152.263 547.517 152.737 547.517 153.03 547.224L157.803 542.451C158.096 542.158 158.096 541.683 157.803 541.39C157.51 541.097 157.036 541.097 156.743 541.39L152.5 545.633L148.257 541.39C147.964 541.097 147.49 541.097 147.197 541.39C146.904 541.683 146.904 542.158 147.197 542.451L151.97 547.224ZM342.75 450L342.75 449.25L341.25 449.25L341.25 450L342 450L342.75 450ZM164.427 499.073L164.423 498.323L164.427 499.073ZM342 486.072L342.75 486.072L342.75 450L342 450L341.25 450L341.25 486.072L342 486.072ZM152.5 546.694L153.25 546.694L153.25 511.073L152.5 511.073L151.75 511.073L151.75 546.694L152.5 546.694ZM164.427 499.073L164.432 499.823L330.077 498.822L330.072 498.072L330.068 497.322L164.423 498.323L164.427 499.073ZM152.5 511.073L153.25 511.073C153.25 504.886 158.245 499.86 164.432 499.823L164.427 499.073L164.423 498.323C157.412 498.365 151.75 504.061 151.75 511.073L152.5 511.073ZM342 486.072L341.25 486.072C341.25 492.259 336.255 497.285 330.068 497.322L330.072 498.072L330.077 498.822C337.088 498.78 342.75 493.084 342.75 486.072L342 486.072Z"
              fill="#E60001"
            />
            <path
              d="M361.47 547.224C361.763 547.517 362.237 547.517 362.53 547.224L367.303 542.451C367.596 542.158 367.596 541.683 367.303 541.39C367.01 541.097 366.536 541.097 366.243 541.39L362 545.633L357.757 541.39C357.464 541.097 356.99 541.097 356.697 541.39C356.404 541.683 356.404 542.158 356.697 542.451L361.47 547.224ZM559.25 450L559.25 449.25L557.75 449.25L557.75 450L558.5 450L559.25 450ZM373.93 499.076L373.926 498.326L373.93 499.076ZM558.5 486.07L559.25 486.07L559.25 450L558.5 450L557.75 450L557.75 486.07L558.5 486.07ZM362 546.694L362.75 546.694L362.75 511.075L362 511.075L361.25 511.075L361.25 546.694L362 546.694ZM373.93 499.076L373.934 499.825L546.574 498.82L546.57 498.07L546.566 497.32L373.926 498.326L373.93 499.076ZM362 511.075L362.75 511.075C362.75 504.888 367.747 499.862 373.934 499.825L373.93 499.076L373.926 498.326C366.913 498.366 361.25 504.063 361.25 511.075L362 511.075ZM558.5 486.07L557.75 486.07C557.75 492.257 552.753 497.283 546.566 497.32L546.57 498.07L546.574 498.82C553.587 498.779 559.25 493.082 559.25 486.07L558.5 486.07Z"
              fill="#A5A5A5"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M242 406C242 394.954 250.954 386 262 386H658V430C658 441.046 649.046 450 638 450H242V406Z"
                fill="#E60001"
              />
              <path
                d="M317.774 414.736L317.752 414.684C317.752 414.684 313.634 405.794 313.077 404.913C312.241 407.452 303.707 413.721 293.494 417.834C287.322 420.32 281.52 420.999 280.275 419.855C277.819 417.603 285.363 411.696 293.985 407.101C299.487 404.169 304.546 402.578 305.94 402.148L305.89 402C283.466 407.16 272.329 418.357 274.203 422.028C276.008 425.558 287.377 424.308 298.4 419.32C302.838 417.308 306.246 415.439 308.522 413.97C308.897 413.726 309.276 413.607 309.644 414.246C310.173 415.153 311.208 417.566 311.237 417.633C312.22 419.78 308.486 424.473 300.083 428.421C292.323 432.063 284.394 433.384 280.904 432.113C280.373 431.922 279.858 431.695 279.201 431.041C278.641 430.486 277.81 429.019 277.543 428.562L277.361 428.657C278.275 430.581 279.152 432.145 279.518 432.522C282.265 435.342 292.638 433.986 302.047 429.653C311.212 425.428 319.486 418.371 317.774 414.736Z"
                fill="#FF8F8F"
              />
              <text
                x="344"
                y="418"
                fill="white"
                font-size="24"
                font-weight="400"
                dominant-baseline="middle"
                text-anchor="start"
                class="card-title"
              >
                Nachwuchs-Coach
              </text>
              <path
                d="M609.389 418H621.628M621.628 418L615.508 411.88M621.628 418L615.508 424.12"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M46 566.145C46 555.099 54.9543 546.145 66 546.145H246V710.145C246 721.191 237.046 730.145 226 730.145H46V566.145Z"
                fill="#E60001"
              />
              <path
                d="M167.774 590.881L167.752 590.829C167.752 590.829 163.634 581.939 163.077 581.058C162.241 583.597 153.707 589.866 143.494 593.979C137.322 596.465 131.52 597.144 130.275 596.001C127.819 593.748 135.363 587.841 143.985 583.246C149.487 580.314 154.546 578.723 155.94 578.293L155.89 578.145C133.466 583.305 122.329 594.502 124.203 598.173C126.008 601.703 137.377 600.453 148.4 595.465C152.838 593.453 156.246 591.584 158.522 590.115C158.897 589.871 159.276 589.752 159.644 590.391C160.173 591.298 161.208 593.711 161.237 593.778C162.22 595.925 158.486 600.618 150.083 604.566C142.323 608.208 134.394 609.529 130.904 608.258C130.373 608.067 129.858 607.84 129.201 607.186C128.641 606.631 127.81 605.164 127.543 604.707L127.361 604.802C128.275 606.726 129.152 608.29 129.518 608.667C132.265 611.487 142.638 610.131 152.047 605.798C161.212 601.573 169.486 594.516 167.774 590.881Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="146"
                y="638"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="146" dy="10">Leistungssport-</tspan>
                <tspan x="146" dy="26">Coach</tspan>
              </text>
              <path
                d="M139.881 712.636H152.12M152.12 712.636L146 706.516M152.12 712.636L146 718.755"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M262 566.145C262 555.099 270.954 546.145 282 546.145H462V710.145C462 721.191 453.046 730.145 442 730.145H262V566.145Z"
                fill="#D8D8D8"
              />
              <path
                d="M383.774 590.881L383.752 590.829C383.752 590.829 379.634 581.939 379.077 581.058C378.241 583.597 369.707 589.866 359.494 593.979C353.322 596.465 347.52 597.144 346.275 596.001C343.819 593.748 351.363 587.841 359.985 583.246C365.487 580.314 370.546 578.723 371.94 578.293L371.89 578.145C349.466 583.305 338.329 594.502 340.203 598.173C342.008 601.703 353.377 600.453 364.4 595.465C368.838 593.453 372.246 591.584 374.522 590.115C374.897 589.871 375.276 589.752 375.644 590.391C376.173 591.298 377.208 593.711 377.237 593.778C378.22 595.925 374.486 600.618 366.083 604.566C358.323 608.208 350.394 609.529 346.904 608.258C346.373 608.067 345.858 607.84 345.201 607.186C344.641 606.631 343.81 605.164 343.543 604.707L343.361 604.802C344.275 606.726 345.152 608.29 345.518 608.667C348.265 611.487 358.638 610.131 368.047 605.798C377.212 601.573 385.486 594.516 383.774 590.881Z"
                fill="#7F7F7F"
              />

              <text
                class="card-title"
                x="362"
                y="638"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="362" dy="10">Breitensport-</tspan>
                <tspan x="362" dy="26">Coach</tspan>
              </text>
              <path
                d="M355.881 712.636H368.12M368.12 712.636L362 706.516M368.12 712.636L362 718.755"
                stroke="#A5A5A5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <text
                x="142"
                y="410"
                text-anchor="middle"
                font-weight="400"
                fill="#E60001"
                class="card-title"
              >
                <tspan x="120" dy="0" font-size="24">COACH-DEVELOPMENT-</tspan>
                <tspan x="80" dy="28" font-size="24">PROGRAMM</tspan>
                <tspan x="70" dy="26" font-size="16">(WM-LEGACY)</tspan>
              </text>
              <path
                d="M175 438H187M187 438L181 432M187 438L181 444"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                transform="translate(-32, -7)"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <text
                class="card-title"
                x="450"
                y="350"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Trainerbildung
              </text>
              <path
                d="M555 350H567M567 350L561 344M567 350L561 356"
                stroke="#A5A5A5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                transform="translate(-28, -0)"
              />
            </a>

            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <text
                class="card-title"
                x="490.84"
                y="634.145"
                fill="#E60001"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="560" dy="0" font-size="24">Umbrella-Konzept</tspan>
                <tspan x="520" dy="24" font-size="16">(WM-Legacy)</tspan>
              </text>
              <path
                d="M580 658H592M592 658L586 652M592 658L586 664"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                transform="translate(-8, -4)"
              />
            </a>
            <path
              d="
    M46 88
    H679
    V293
    Q679 313 659 313
    H26
    V108
    Q26 88 46 88
    Z
  "
              fill="none"
              stroke="#FF5756"
              stroke-width="1"
              stroke-dasharray="3 3"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M242 128C242 116.954 250.954 108 262 108H442V272.982C442 284.027 433.046 292.982 422 292.982H242V128Z"
                fill="#E60001"
              />
              <path
                d="M363.774 152.736L363.752 152.684C363.752 152.684 359.634 143.794 359.077 142.913C358.241 145.452 349.707 151.721 339.494 155.834C333.322 158.32 327.52 158.999 326.275 157.855C323.819 155.603 331.363 149.696 339.985 145.101C345.487 142.169 350.546 140.578 351.94 140.148L351.89 140C329.466 145.16 318.329 156.357 320.203 160.028C322.008 163.558 333.377 162.308 344.4 157.32C348.838 155.308 352.246 153.439 354.522 151.97C354.897 151.726 355.276 151.607 355.644 152.246C356.173 153.153 357.208 155.566 357.237 155.633C358.22 157.78 354.486 162.473 346.083 166.421C338.323 170.063 330.394 171.384 326.904 170.113C326.373 169.922 325.858 169.695 325.201 169.041C324.641 168.486 323.81 167.019 323.543 166.562L323.361 166.657C324.275 168.581 325.152 170.145 325.518 170.522C328.265 173.342 338.638 171.986 348.047 167.653C357.212 163.428 365.486 156.371 363.774 152.736Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="342"
                y="200.491"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Leistungssport
              </text>
              <path
                d="M335.881 250.491H348.12M348.12 250.491L342 244.371M348.12 250.491L342 256.61"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>

            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M458 128C458 116.954 466.954 108 478 108H658V272.982C658 284.027 649.046 292.982 638 292.982H458V128Z"
                fill="#D8D8D8"
              />
              <path
                d="M579.774 152.736L579.752 152.684C579.752 152.684 575.634 143.794 575.077 142.913C574.241 145.452 565.707 151.721 555.494 155.834C549.322 158.32 543.52 158.999 542.275 157.855C539.819 155.603 547.363 149.696 555.985 145.101C561.487 142.169 566.546 140.578 567.94 140.148L567.89 140C545.466 145.16 534.329 156.357 536.203 160.028C538.008 163.558 549.377 162.308 560.4 157.32C564.838 155.308 568.246 153.439 570.522 151.97C570.897 151.726 571.276 151.607 571.644 152.246C572.173 153.153 573.208 155.566 573.237 155.633C574.22 157.78 570.486 162.473 562.083 166.421C554.323 170.063 546.394 171.384 542.904 170.113C542.373 169.922 541.858 169.695 541.201 169.041C540.641 168.486 539.81 167.019 539.543 166.562L539.361 166.657C540.275 168.581 541.152 170.145 541.518 170.522C544.265 173.342 554.638 171.986 564.047 167.653C573.212 163.428 581.486 156.371 579.774 152.736Z"
                fill="#7F7F7F"
              />
              <text
                class="card-title"
                x="558"
                y="202"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                dominant-baseline="middle"
              >
                Breitensport
              </text>
              <path
                d="M551.881 250.491H564.12M564.12 250.491L558 244.371M564.12 250.491L558 256.61"
                stroke="#A5A5A5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>

            <path
              d="M557.47 386.53C557.763 386.823 558.237 386.823 558.53 386.53L563.303 381.757C563.596 381.464 563.596 380.99 563.303 380.697C563.01 380.404 562.536 380.404 562.243 380.697L558 384.939L553.757 380.697C553.464 380.404 552.99 380.404 552.697 380.697C552.404 380.99 552.404 381.464 552.697 381.757L557.47 386.53ZM558.75 293L558.75 292.25L557.25 292.25L557.25 293L558 293L558.75 293ZM558 386L558.75 386L558.75 293L558 293L557.25 293L557.25 386L558 386Z"
              fill="#A5A5A5"
            />
            <path
              d="M341.47 386.53C341.763 386.823 342.237 386.823 342.53 386.53L347.303 381.757C347.596 381.464 347.596 380.99 347.303 380.697C347.01 380.404 346.536 380.404 346.243 380.697L342 384.939L337.757 380.697C337.464 380.404 336.99 380.404 336.697 380.697C336.404 380.99 336.404 381.464 336.697 381.757L341.47 386.53ZM342.75 293L342.75 292.25L341.25 292.25L341.25 293L342 293L342.75 293ZM342 386L342.75 386L342.75 293L342 293L341.25 293L341.25 386L342 386Z"
              fill="#E60001"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
