:root {
  --color-white: #fff;
  --color-dark: #000;

  --color-red: #e60001;
  --color-red-2: #ff5756;

  --color-gray-2: #7f7f7f;
  --color-gray-3: #a5a5a5;
  --color-gray-4: #bfbfbf;
  --color-gray-5: #d8d8d8;
  --color-gray-6: #eaeaea;

  --font-primary: "Bebas Neue", sans-serif;
  --font-secondary: "Mukta", sans-serif;
}
