<section class="section" id="referee">
  <div class="container">
    <div class="row g-lg-8 g-12">
      <div class="col-xl-6 col-lg-5">
        <h3 class="h2 mb-3">SCHIEDSRICHTER/IN</h3>
        <div class="h3 text-gray-2 mb-8">Leistungs- & Breitensport</div>
        <div class="section-images">
          <div class="section-images">
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal"
              class="section-img"
            >
              <img
                class="object-fit-contain mask-img"
                width="360"
                height="258"
                src="images/content/referee-1.png"
                loading="lazy"
                alt="Micha Hebeisen"
              />
              <div class="tag">Micha Hebeisen</div>
            </a>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal"
              class="section-img"
            >
              <img
                class="object-fit-contain mask-img"
                width="360"
                height="258"
                src="images/content/referee-2.png"
                loading="lazy"
                alt="Reica Staiger"
              />
              <div class="tag">Reica Staiger</div>
            </a>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal"
              class="section-img"
            >
              <img
                class="object-fit-contain mask-img"
                width="360"
                height="258"
                src="images/content/referee-3.png"
                loading="lazy"
                alt="Lukas Frei"
              />
              <div class="tag">Lukas Frei</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7">
        <div class="section-map">
          <svg
            width="704"
            height="958"
            viewBox="0 0 704 958"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M351.47 88.5303C351.763 88.8232 352.237 88.8232 352.53 88.5303L357.303 83.7574C357.596 83.4645 357.596 82.9896 357.303 82.6967C357.01 82.4038 356.536 82.4038 356.243 82.6967L352 86.9393L347.757 82.6967C347.464 82.4038 346.99 82.4038 346.697 82.6967C346.404 82.9896 346.404 83.4645 346.697 83.7574L351.47 88.5303ZM352.75 64L352.75 63.25L351.25 63.25L351.25 64L352 64L352.75 64ZM352 88L352.75 88L352.75 64L352 64L351.25 64L351.25 88L352 88Z"
              fill="#E60001"
            />
            <path
              d="M351.47 393.53C351.763 393.823 352.237 393.823 352.53 393.53L357.303 388.757C357.596 388.464 357.596 387.99 357.303 387.697C357.01 387.404 356.536 387.404 356.243 387.697L352 391.939L347.757 387.697C347.464 387.404 346.99 387.404 346.697 387.697C346.404 387.99 346.404 388.464 346.697 388.757L351.47 393.53ZM352.75 313L352.75 312.25L351.25 312.25L351.25 313L352 313L352.75 313ZM352 393L352.75 393L352.75 313L352 313L351.25 313L351.25 393L352 393Z"
              fill="#E60001"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M26 20C26 8.95431 34.9543 0 46 0H679V44C679 55.0457 670.046 64 659 64H26V20Z"
                fill="#FFC6C7"
              />
              <path
                d="M101.774 28.7356L101.752 28.6842C101.752 28.6842 97.6344 19.7942 97.0773 18.9134C96.2405 21.4522 87.7074 27.7207 77.4935 31.8336C71.3217 34.3201 65.5204 34.9993 64.2747 33.8555C61.8193 31.6026 69.3633 25.6955 77.9854 21.1012C83.4872 18.1688 88.546 16.5779 89.94 16.1476L89.8901 16C67.4661 21.1599 56.3286 32.3566 58.2032 36.0276C60.0081 39.5583 71.3773 38.308 82.3998 33.32C86.8382 31.3083 90.2464 29.4395 92.5217 27.9703C92.8975 27.7256 93.2755 27.6071 93.644 28.2457C94.1728 29.1528 95.2084 31.5664 95.2374 31.6325C96.2204 33.7804 92.4859 38.4734 84.0828 42.4212C76.323 46.0633 68.3939 47.3839 64.904 46.1134C64.3735 45.9216 63.8577 45.6945 63.2015 45.041C62.6414 44.4861 61.8099 43.0185 61.5432 42.5619L61.3606 42.6565C62.2748 44.5806 63.1517 46.1448 63.5185 46.5223C66.2652 49.3419 76.6383 47.9855 86.0467 43.6527C95.2125 39.428 103.486 32.3711 101.774 28.7356Z"
                fill="#E60001"
              />
              <text
                class="card-title"
                x="123.448"
                y="39"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="start"
              >
                Erstkontakt zum Eis / Eishockey
              </text>
              <path
                d="M630.389 32H642.628M642.628 32L636.508 25.8804M642.628 32L636.508 38.1196"
                stroke="#E60001"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <path
              d="M352.75 457L352.75 456.25L351.25 456.25L351.25 457L352 457L352.75 457ZM352 481L352.75 481L352.75 457L352 457L351.25 457L351.25 481L352 481Z"
              fill="#E60001"
            />
            <path
              d="M243.47 747.53C243.763 747.823 244.237 747.823 244.53 747.53L249.303 742.757C249.596 742.464 249.596 741.99 249.303 741.697C249.01 741.404 248.536 741.404 248.243 741.697L244 745.939L239.757 741.697C239.464 741.404 238.99 741.404 238.697 741.697C238.404 741.99 238.404 742.464 238.697 742.757L243.47 747.53ZM244.75 715L244.75 714.25L243.25 714.25L243.25 715L244 715L244.75 715ZM244 747L244.75 747L244.75 715L244 715L243.25 715L243.25 747L244 747Z"
              fill="#E60001"
            />
            <path
              d="M459.47 747.53C459.763 747.823 460.237 747.823 460.53 747.53L465.303 742.757C465.596 742.464 465.596 741.99 465.303 741.697C465.01 741.404 464.536 741.404 464.243 741.697L460 745.939L455.757 741.697C455.464 741.404 454.99 741.404 454.697 741.697C454.404 741.99 454.404 742.464 454.697 742.757L459.47 747.53ZM460.75 715L460.75 714.25L459.25 714.25L459.25 715L460 715L460.75 715ZM460 747L460.75 747L460.75 715L460 715L459.25 715L459.25 747L460 747Z"
              fill="#A5A5A5"
            />
            <path
              d="M352.75 529L352.75 528.25L351.25 528.25L351.25 529L352 529L352.75 529ZM352 553L352.75 553L352.75 529L352 529L351.25 529L351.25 553L352 553Z"
              fill="#E60001"
            />
            <path
              d="M351.47 649.53C351.763 649.823 352.237 649.823 352.53 649.53L357.303 644.757C357.596 644.464 357.596 643.99 357.303 643.697C357.01 643.404 356.536 643.404 356.243 643.697L352 647.939L347.757 643.697C347.464 643.404 346.99 643.404 346.697 643.697C346.404 643.99 346.404 644.464 346.697 644.757L351.47 649.53ZM352.75 625L352.75 624.25L351.25 624.25L351.25 625L352 625L352.75 625ZM352 649L352.75 649L352.75 625L352 625L351.25 625L351.25 649L352 649Z"
              fill="#E60001"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M26 413C26 401.954 34.9543 393 46 393H679V437C679 448.046 670.046 457 659 457H26V413Z"
                fill="#E60001"
              />
              <path
                d="M101.774 421.736L101.752 421.684C101.752 421.684 97.6344 412.794 97.0773 411.913C96.2405 414.452 87.7074 420.721 77.4935 424.834C71.3217 427.32 65.5204 427.999 64.2747 426.855C61.8193 424.603 69.3633 418.696 77.9854 414.101C83.4872 411.169 88.546 409.578 89.94 409.148L89.8901 409C67.4661 414.16 56.3286 425.357 58.2032 429.028C60.0081 432.558 71.3773 431.308 82.3998 426.32C86.8382 424.308 90.2464 422.439 92.5217 420.97C92.8975 420.726 93.2755 420.607 93.644 421.246C94.1728 422.153 95.2084 424.566 95.2374 424.633C96.2204 426.78 92.4859 431.473 84.0828 435.421C76.323 439.063 68.3939 440.384 64.904 439.113C64.3735 438.922 63.8577 438.695 63.2015 438.041C62.6414 437.486 61.8099 436.019 61.5432 435.562L61.3606 435.657C62.2748 437.581 63.1517 439.145 63.5185 439.522C66.2652 442.342 76.6383 440.986 86.0467 436.653C95.2125 432.428 103.486 425.371 101.774 421.736Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="123.448"
                y="432"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="start"
              >
                Ambition Schiedsrichter/in zu werden
              </text>
              <path
                d="M630.389 425H642.628M642.628 425L636.508 418.88M642.628 425L636.508 431.12"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M26 671C26 659.954 34.9543 651 46 651H679V695C679 706.046 670.046 715 659 715H26V671Z"
                fill="#E60001"
              />
              <path
                d="M101.774 679.736L101.752 679.684C101.752 679.684 97.6344 670.794 97.0773 669.913C96.2405 672.452 87.7074 678.721 77.4935 682.834C71.3217 685.32 65.5204 685.999 64.2747 684.855C61.8193 682.603 69.3633 676.696 77.9854 672.101C83.4872 669.169 88.546 667.578 89.94 667.148L89.8901 667C67.4661 672.16 56.3286 683.357 58.2032 687.028C60.0081 690.558 71.3773 689.308 82.3998 684.32C86.8382 682.308 90.2464 680.439 92.5217 678.97C92.8975 678.726 93.2755 678.607 93.644 679.246C94.1728 680.153 95.2084 682.566 95.2374 682.633C96.2204 684.78 92.4859 689.473 84.0828 693.421C76.323 697.063 68.3939 698.384 64.904 697.113C64.3735 696.922 63.8577 696.695 63.2015 696.041C62.6414 695.486 61.8099 694.019 61.5432 693.562L61.3606 693.657C62.2748 695.581 63.1517 697.145 63.5185 697.522C66.2652 700.342 76.6383 698.986 86.0467 694.653C95.2125 690.428 103.486 683.371 101.774 679.736Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="123.448"
                y="683"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="start"
                dominant-baseline="middle"
              >
                Nachwuchs-Schiedsrichter/in
              </text>
              <path
                d="M630.389 683H642.628M642.628 683L636.508 676.88M642.628 683L636.508 689.12"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <path
              d="M154.177 337.945L155.969 349.145H154.193L153.889 347.113H151.729L151.425 349.145H149.809L151.601 337.945H154.177ZM152.801 339.929L151.953 345.593H153.649L152.801 339.929ZM160.548 349.145L158.356 341.033V349.145H156.772V337.945H158.98L160.788 344.649V337.945H162.356V349.145H160.548ZM165.377 339.545V342.921H167.649V344.521H165.377V349.145H163.617V337.945H168.273V339.545H165.377ZM174.589 349.145H172.797C172.701 348.857 172.637 348.681 172.637 347.769V346.009C172.637 344.969 172.285 344.585 171.485 344.585H170.877V349.145H169.117V337.945H171.773C173.597 337.945 174.381 338.793 174.381 340.521V341.401C174.381 342.553 174.013 343.305 173.229 343.673C174.109 344.041 174.397 344.889 174.397 346.057V347.785C174.397 348.329 174.413 348.729 174.589 349.145ZM171.725 339.545H170.877V342.985H171.565C172.221 342.985 172.621 342.697 172.621 341.801V340.697C172.621 339.897 172.349 339.545 171.725 339.545ZM179.458 337.945L181.25 349.145H179.474L179.17 347.113H177.01L176.706 349.145H175.09L176.882 337.945H179.458ZM178.082 339.929L177.234 345.593H178.93L178.082 339.929ZM184.694 344.505V342.905H187.158V346.457C187.158 348.249 186.262 349.273 184.534 349.273C182.806 349.273 181.91 348.249 181.91 346.457V340.633C181.91 338.841 182.806 337.817 184.534 337.817C186.262 337.817 187.158 338.841 187.158 340.633V341.721H185.494V340.521C185.494 339.721 185.142 339.417 184.582 339.417C184.022 339.417 183.67 339.721 183.67 340.521V346.569C183.67 347.369 184.022 347.657 184.582 347.657C185.142 347.657 185.494 347.369 185.494 346.569V344.505H184.694ZM190.048 339.545V342.665H192.464V344.265H190.048V347.545H193.088V349.145H188.288V337.945H193.088V339.545H190.048ZM196.663 349.145V337.945H199.447C201.207 337.945 202.071 338.921 202.071 340.713V346.377C202.071 348.169 201.207 349.145 199.447 349.145H196.663ZM199.415 339.545H198.423V347.545H199.415C199.975 347.545 200.311 347.257 200.311 346.457V340.633C200.311 339.833 199.975 339.545 199.415 339.545ZM203.115 337.945H204.875V346.585C204.875 347.385 205.227 347.673 205.787 347.673C206.347 347.673 206.699 347.385 206.699 346.585V337.945H208.363V346.473C208.363 348.265 207.467 349.289 205.739 349.289C204.011 349.289 203.115 348.265 203.115 346.473V337.945ZM215.042 349.145H213.25C213.154 348.857 213.09 348.681 213.09 347.769V346.009C213.09 344.969 212.738 344.585 211.938 344.585H211.33V349.145H209.57V337.945H212.226C214.05 337.945 214.834 338.793 214.834 340.521V341.401C214.834 342.553 214.466 343.305 213.682 343.673C214.562 344.041 214.85 344.889 214.85 346.057V347.785C214.85 348.329 214.866 348.729 215.042 349.145ZM212.178 339.545H211.33V342.985H212.018C212.674 342.985 213.074 342.697 213.074 341.801V340.697C213.074 339.897 212.802 339.545 212.178 339.545ZM219.447 344.969H221.111V346.457C221.111 348.249 220.215 349.273 218.487 349.273C216.759 349.273 215.863 348.249 215.863 346.457V340.633C215.863 338.841 216.759 337.817 218.487 337.817C220.215 337.817 221.111 338.841 221.111 340.633V341.721H219.447V340.521C219.447 339.721 219.095 339.417 218.535 339.417C217.975 339.417 217.623 339.721 217.623 340.521V346.569C217.623 347.369 217.975 347.657 218.535 347.657C219.095 347.657 219.447 347.369 219.447 346.569V344.969ZM223.939 344.345V349.145H222.179V337.945H223.939V342.745H225.939V337.945H227.731V349.145H225.939V344.345H223.939ZM114.213 356.633C114.213 354.841 115.093 353.817 116.805 353.817C118.517 353.817 119.397 354.841 119.397 356.633V356.985H117.733V356.521C117.733 355.721 117.413 355.417 116.853 355.417C116.293 355.417 115.973 355.721 115.973 356.521C115.973 358.825 119.413 359.257 119.413 362.457C119.413 364.249 118.517 365.273 116.789 365.273C115.061 365.273 114.165 364.249 114.165 362.457V361.769H115.829V362.569C115.829 363.369 116.181 363.657 116.741 363.657C117.301 363.657 117.653 363.369 117.653 362.569C117.653 360.265 114.213 359.833 114.213 356.633ZM125.893 365.145H124.101C124.005 364.857 123.941 364.681 123.941 363.769V362.009C123.941 360.969 123.589 360.585 122.789 360.585H122.181V365.145H120.421V353.945H123.077C124.901 353.945 125.685 354.793 125.685 356.521V357.401C125.685 358.553 125.317 359.305 124.533 359.673C125.413 360.041 125.701 360.889 125.701 362.057V363.785C125.701 364.329 125.717 364.729 125.893 365.145ZM123.029 355.545H122.181V358.985H122.869C123.525 358.985 123.925 358.697 123.925 357.801V356.697C123.925 355.897 123.653 355.545 123.029 355.545ZM126.779 360.345V358.745H129.979V360.345H126.779ZM132.327 353.945L133.671 363.081L135.015 353.945H136.631L134.903 365.145H132.279L130.551 353.945H132.327ZM139.213 355.545V358.665H141.629V360.265H139.213V363.545H142.253V365.145H137.453V353.945H142.253V355.545H139.213ZM148.815 365.145H147.023C146.927 364.857 146.863 364.681 146.863 363.769V362.009C146.863 360.969 146.511 360.585 145.711 360.585H145.103V365.145H143.343V353.945H145.999C147.823 353.945 148.607 354.793 148.607 356.521V357.401C148.607 358.553 148.239 359.305 147.455 359.673C148.335 360.041 148.623 360.889 148.623 362.057V363.785C148.623 364.329 148.639 364.729 148.815 365.145ZM145.951 355.545H145.103V358.985H145.791C146.447 358.985 146.847 358.697 146.847 357.801V356.697C146.847 355.897 146.575 355.545 145.951 355.545ZM153.685 353.945L155.477 365.145H153.701L153.397 363.113H151.237L150.933 365.145H149.317L151.109 353.945H153.685ZM152.309 355.929L151.461 361.593H153.157L152.309 355.929ZM160.056 365.145L157.864 357.033V365.145H156.28V353.945H158.488L160.296 360.649V353.945H161.864V365.145H160.056ZM162.612 355.545V353.945H168.052V355.545H166.212V365.145H164.452V355.545H162.612ZM173.372 365.145L172.732 359.177L172.092 365.145H169.676L168.428 353.945H170.14L171.084 362.777L171.932 353.945H173.628L174.508 362.841L175.42 353.945H176.956L175.708 365.145H173.372ZM179.459 356.521V362.569C179.459 363.369 179.811 363.673 180.371 363.673C180.931 363.673 181.283 363.369 181.283 362.569V356.521C181.283 355.721 180.931 355.417 180.371 355.417C179.811 355.417 179.459 355.721 179.459 356.521ZM177.699 362.457V356.633C177.699 354.841 178.643 353.817 180.371 353.817C182.099 353.817 183.043 354.841 183.043 356.633V362.457C183.043 364.249 182.099 365.273 180.371 365.273C178.643 365.273 177.699 364.249 177.699 362.457ZM189.659 365.145H187.867C187.771 364.857 187.707 364.681 187.707 363.769V362.009C187.707 360.969 187.355 360.585 186.555 360.585H185.947V365.145H184.187V353.945H186.843C188.667 353.945 189.451 354.793 189.451 356.521V357.401C189.451 358.553 189.083 359.305 188.299 359.673C189.179 360.041 189.467 360.889 189.467 362.057V363.785C189.467 364.329 189.483 364.729 189.659 365.145ZM186.795 355.545H185.947V358.985H186.635C187.291 358.985 187.691 358.697 187.691 357.801V356.697C187.691 355.897 187.419 355.545 186.795 355.545ZM190.112 355.545V353.945H195.552V355.545H193.712V365.145H191.952V355.545H190.112ZM196.328 365.145V353.945H198.088V363.545H200.984V365.145H196.328ZM201.749 365.145V353.945H203.509V365.145H201.749ZM208.236 360.969H209.9V362.457C209.9 364.249 209.004 365.273 207.276 365.273C205.548 365.273 204.652 364.249 204.652 362.457V356.633C204.652 354.841 205.548 353.817 207.276 353.817C209.004 353.817 209.9 354.841 209.9 356.633V357.721H208.236V356.521C208.236 355.721 207.884 355.417 207.324 355.417C206.764 355.417 206.412 355.721 206.412 356.521V362.569C206.412 363.369 206.764 363.657 207.324 363.657C207.884 363.657 208.236 363.369 208.236 362.569V360.969ZM212.728 360.345V365.145H210.968V353.945H212.728V358.745H214.728V353.945H216.52V365.145H214.728V360.345H212.728ZM219.556 355.545V358.665H221.972V360.265H219.556V363.545H222.596V365.145H217.796V353.945H222.596V355.545H219.556ZM223.127 365.145L227.543 353.945H229.063L224.647 365.145H223.127ZM235.253 365.145H233.461C233.365 364.857 233.301 364.681 233.301 363.769V362.009C233.301 360.969 232.949 360.585 232.149 360.585H231.541V365.145H229.781V353.945H232.437C234.261 353.945 235.045 354.793 235.045 356.521V357.401C235.045 358.553 234.677 359.305 233.893 359.673C234.773 360.041 235.061 360.889 235.061 362.057V363.785C235.061 364.329 235.077 364.729 235.253 365.145ZM232.389 355.545H231.541V358.985H232.229C232.885 358.985 233.285 358.697 233.285 357.801V356.697C233.285 355.897 233.013 355.545 232.389 355.545ZM243.814 360.969H245.478V362.457C245.478 364.249 244.582 365.273 242.854 365.273C241.126 365.273 240.23 364.249 240.23 362.457V356.633C240.23 354.841 241.126 353.817 242.854 353.817C244.582 353.817 245.478 354.841 245.478 356.633V357.721H243.814V356.521C243.814 355.721 243.462 355.417 242.902 355.417C242.342 355.417 241.99 355.721 241.99 356.521V362.569C241.99 363.369 242.342 363.657 242.902 363.657C243.462 363.657 243.814 363.369 243.814 362.569V360.969ZM246.546 365.145V353.945H248.306V363.545H251.202V365.145H246.546ZM251.888 353.945H253.648V362.585C253.648 363.385 254 363.673 254.56 363.673C255.12 363.673 255.472 363.385 255.472 362.585V353.945H257.136V362.473C257.136 364.265 256.24 365.289 254.512 365.289C252.784 365.289 251.888 364.265 251.888 362.473V353.945ZM260.999 353.945C262.823 353.945 263.607 354.793 263.607 356.521V356.921C263.607 358.073 263.255 358.809 262.471 359.177C263.415 359.545 263.783 360.393 263.783 361.577V362.489C263.783 364.217 262.871 365.145 261.111 365.145H258.343V353.945H260.999ZM260.887 360.105H260.103V363.545H261.111C261.703 363.545 262.023 363.273 262.023 362.441V361.465C262.023 360.425 261.687 360.105 260.887 360.105ZM260.951 355.545H260.103V358.505H260.791C261.447 358.505 261.847 358.217 261.847 357.321V356.697C261.847 355.897 261.575 355.545 260.951 355.545Z"
              fill="black"
            />
            <path
              d="M461.025 347.545V350.921H463.297V352.521H461.025V357.145H459.265V345.945H463.921V347.545H461.025ZM470.237 357.145H468.445C468.349 356.857 468.285 356.681 468.285 355.769V354.009C468.285 352.969 467.933 352.585 467.133 352.585H466.525V357.145H464.765V345.945H467.421C469.245 345.945 470.029 346.793 470.029 348.521V349.401C470.029 350.553 469.661 351.305 468.877 351.673C469.757 352.041 470.045 352.889 470.045 354.057V355.785C470.045 356.329 470.061 356.729 470.237 357.145ZM467.373 347.545H466.525V350.985H467.213C467.869 350.985 468.269 350.697 468.269 349.801V348.697C468.269 347.897 467.997 347.545 467.373 347.545ZM472.963 347.545V350.665H475.379V352.265H472.963V355.545H476.003V357.145H471.203V345.945H476.003V347.545H472.963ZM477.093 357.145V345.945H478.853V357.145H477.093ZM484.684 357.145L484.044 351.177L483.404 357.145H480.988L479.74 345.945H481.452L482.396 354.777L483.244 345.945H484.94L485.82 354.841L486.732 345.945H488.268L487.02 357.145H484.684ZM489.156 357.145V345.945H490.916V357.145H489.156ZM492.203 357.145V345.945H493.963V355.545H496.859V357.145H492.203ZM497.624 357.145V345.945H499.384V355.545H502.28V357.145H497.624ZM503.046 357.145V345.945H504.806V357.145H503.046ZM508.733 352.505V350.905H511.197V354.457C511.197 356.249 510.301 357.273 508.573 357.273C506.845 357.273 505.949 356.249 505.949 354.457V348.633C505.949 346.841 506.845 345.817 508.573 345.817C510.301 345.817 511.197 346.841 511.197 348.633V349.721H509.533V348.521C509.533 347.721 509.181 347.417 508.621 347.417C508.061 347.417 507.709 347.721 507.709 348.521V354.569C507.709 355.369 508.061 355.657 508.621 355.657C509.181 355.657 509.533 355.369 509.533 354.569V352.505H508.733ZM514.088 347.545V350.665H516.504V352.265H514.088V355.545H517.128V357.145H512.328V345.945H517.128V347.545H514.088ZM517.994 348.633C517.994 346.841 518.874 345.817 520.586 345.817C522.298 345.817 523.178 346.841 523.178 348.633V348.985H521.514V348.521C521.514 347.721 521.194 347.417 520.634 347.417C520.074 347.417 519.754 347.721 519.754 348.521C519.754 350.825 523.194 351.257 523.194 354.457C523.194 356.249 522.298 357.273 520.57 357.273C518.842 357.273 517.946 356.249 517.946 354.457V353.769H519.61V354.569C519.61 355.369 519.962 355.657 520.522 355.657C521.082 355.657 521.434 355.369 521.434 354.569C521.434 352.265 517.994 351.833 517.994 348.633ZM528.359 357.145V345.945H530.119V357.145H528.359ZM535.166 357.145L532.974 349.033V357.145H531.39V345.945H533.598L535.406 352.649V345.945H536.974V357.145H535.166ZM537.722 347.545V345.945H543.162V347.545H541.322V357.145H539.562V347.545H537.722ZM545.697 347.545V350.665H548.113V352.265H545.697V355.545H548.737V357.145H543.937V345.945H548.737V347.545H545.697ZM555.3 357.145H553.508C553.411 356.857 553.348 356.681 553.348 355.769V354.009C553.348 352.969 552.996 352.585 552.196 352.585H551.588V357.145H549.828V345.945H552.484C554.308 345.945 555.092 346.793 555.092 348.521V349.401C555.092 350.553 554.724 351.305 553.94 351.673C554.82 352.041 555.108 352.889 555.108 354.057V355.785C555.108 356.329 555.124 356.729 555.3 357.145ZM552.436 347.545H551.588V350.985H552.276C552.932 350.985 553.332 350.697 553.332 349.801V348.697C553.332 347.897 553.06 347.545 552.436 347.545ZM558.025 347.545V350.665H560.441V352.265H558.025V355.545H561.065V357.145H556.265V345.945H561.065V347.545H558.025ZM561.932 348.633C561.932 346.841 562.812 345.817 564.524 345.817C566.236 345.817 567.116 346.841 567.116 348.633V348.985H565.452V348.521C565.452 347.721 565.132 347.417 564.572 347.417C564.012 347.417 563.692 347.721 563.692 348.521C563.692 350.825 567.132 351.257 567.132 354.457C567.132 356.249 566.236 357.273 564.508 357.273C562.78 357.273 561.884 356.249 561.884 354.457V353.769H563.548V354.569C563.548 355.369 563.9 355.657 564.46 355.657C565.02 355.657 565.372 355.369 565.372 354.569C565.372 352.265 561.932 351.833 561.932 348.633ZM567.916 348.633C567.916 346.841 568.796 345.817 570.508 345.817C572.22 345.817 573.1 346.841 573.1 348.633V348.985H571.436V348.521C571.436 347.721 571.116 347.417 570.556 347.417C569.996 347.417 569.676 347.721 569.676 348.521C569.676 350.825 573.116 351.257 573.116 354.457C573.116 356.249 572.22 357.273 570.492 357.273C568.764 357.273 567.868 356.249 567.868 354.457V353.769H569.532V354.569C569.532 355.369 569.884 355.657 570.444 355.657C571.004 355.657 571.356 355.369 571.356 354.569C571.356 352.265 567.916 351.833 567.916 348.633ZM575.884 347.545V350.665H578.3V352.265H575.884V355.545H578.924V357.145H574.124V345.945H578.924V347.545H575.884Z"
              fill="black"
            />
            <path
              d="M677.507 88V88.5H678.5V89.5068H679V92.5215H678.5V95.5361H679V98.5518H678.5V101.566H679V104.581H678.5V107.596H679V110.61H678.5V113.625H679V116.64H678.5V119.654H679V122.669H678.5V125.684H679V128.698H678.5V131.713H679V134.728H678.5V137.742H679V140.757H678.5V143.771H679V146.787H678.5V149.802H679V152.816H678.5V155.831H679V158.846H678.5V161.86H679V164.875H678.5V167.89H679V170.904H678.5V173.919H679V176.934H678.5V179.948H679V182.963H678.5V185.978H679V188.992H678.5V192.007H679V195.022H678.5V198.037H679V201.052H678.5V204.066H679V207.081H678.5V210.096H679V213.11H678.5V216.125H679V219.14H678.5V222.154H679V225.169H678.5V228.184H679V231.198H678.5V234.213H679V237.228H678.5V240.242H679V243.258H678.5V246.272H679V249.287H678.5V252.302H679V255.316H678.5V258.331H679V261.346H678.5V264.36H679V267.375H678.5V270.39H679V273.404H678.5V276.419H679V279.434H678.5V282.448H679V285.463H678.5V288.478H679V291.492H678.5V293C678.5 293.516 678.48 294.027 678.44 294.532L678.938 294.569C678.856 295.628 678.691 296.664 678.45 297.67L677.966 297.555C677.726 298.557 677.408 299.529 677.021 300.464L677.481 300.654C677.078 301.627 676.6 302.562 676.055 303.45L675.629 303.189C675.093 304.062 674.49 304.889 673.828 305.664L674.207 305.988C673.526 306.784 672.784 307.526 671.988 308.207L671.664 307.828C670.889 308.49 670.062 309.093 669.189 309.629L669.45 310.055C668.562 310.6 667.627 311.078 666.654 311.481L666.464 311.021C665.529 311.408 664.557 311.726 663.555 311.966L663.67 312.45C662.664 312.691 661.628 312.856 660.569 312.938L660.532 312.44C660.027 312.48 659.516 312.5 659 312.5H657.506V313H654.521V312.5H651.534V313H648.549V312.5H645.562V313H642.577V312.5H639.591V313H636.605V312.5H633.619V313H630.634V312.5H627.647V313H624.662V312.5H621.676V313H618.69V312.5H615.704V313H612.719V312.5H609.732V313H606.747V312.5H603.761V313H600.775V312.5H597.789V313H594.804V312.5H591.817V313H588.832V312.5H585.846V313H582.86V312.5H579.874V313H576.889V312.5H573.902V313H570.917V312.5H567.931V313H564.945V312.5H561.959V313H558.974V312.5H555.987V313H553.002V312.5H550.016V313H547.03V312.5H544.044V313H541.059V312.5H538.072V313H535.087V312.5H532.101V313H529.115V312.5H526.129V313H523.144V312.5H520.157V313H517.172V312.5H514.186V313H511.2V312.5H508.214V313H505.229V312.5H502.242V313H499.257V312.5H496.271V313H493.285V312.5H490.299V313H487.313V312.5H484.327V313H481.342V312.5H478.355V313H475.37V312.5H472.384V313H469.398V312.5H466.412V313H463.427V312.5H460.44V313H457.455V312.5H454.469V313H451.483V312.5H448.497V313H445.512V312.5H442.525V313H439.54V312.5H436.554V313H433.568V312.5H430.582V313H427.597V312.5H424.61V313H421.625V312.5H418.639V313H415.653V312.5H412.667V313H409.682V312.5H406.695V313H403.71V312.5H400.724V313H397.738V312.5H394.752V313H391.767V312.5H388.78V313H385.795V312.5H382.809V313H379.823V312.5H376.837V313H373.852V312.5H370.865V313H367.88V312.5H364.894V313H361.908V312.5H358.922V313H355.937V312.5H352.95V313H349.965V312.5H346.979V313H343.993V312.5H341.007V313H338.021V312.5H335.035V313H332.05V312.5H329.063V313H326.078V312.5H323.092V313H320.106V312.5H317.12V313H314.135V312.5H311.148V313H308.163V312.5H305.177V313H302.191V312.5H299.205V313H296.22V312.5H293.233V313H290.248V312.5H287.262V313H284.276V312.5H281.29V313H278.305V312.5H275.318V313H272.333V312.5H269.347V313H266.361V312.5H263.375V313H260.39V312.5H257.403V313H254.418V312.5H251.432V313H248.446V312.5H245.46V313H242.475V312.5H239.488V313H236.503V312.5H233.517V313H230.531V312.5H227.545V313H224.559V312.5H221.573V313H218.587V312.5H215.602V313H212.615V312.5H209.63V313H206.644V312.5H203.658V313H200.672V312.5H197.687V313H194.7V312.5H191.715V313H188.729V312.5H185.743V313H182.757V312.5H179.771V313H176.785V312.5H173.8V313H170.813V312.5H167.828V313H164.842V312.5H161.856V313H158.87V312.5H155.885V313H152.898V312.5H149.913V313H146.927V312.5H143.941V313H140.955V312.5H137.97V313H134.983V312.5H131.998V313H129.012V312.5H126.026V313H123.04V312.5H120.055V313H117.068V312.5H114.083V313H111.097V312.5H108.11V313H105.125V312.5H102.139V313H99.1533V312.5H96.167V313H93.1816V312.5H90.1953V313H87.21V312.5H84.2236V313H81.2383V312.5H78.252V313H75.2666V312.5H72.2803V313H69.2949V312.5H66.3086V313H63.3232V312.5H60.3369V313H57.3516V312.5H54.3652V313H51.3799V312.5H48.3936V313H45.4082V312.5H42.4219V313H39.4365V312.5H36.4502V313H33.4648V312.5H30.4785V313H27.4932V312.5H26.5V311.493H26V308.479H26.5V305.464H26V302.448H26.5V299.434H26V296.419H26.5V293.404H26V290.39H26.5V287.375H26V284.36H26.5V281.346H26V278.331H26.5V275.316H26V272.302H26.5V269.287H26V266.272H26.5V263.258H26V260.243H26.5V257.229H26V254.213H26.5V251.198H26V248.184H26.5V245.169H26V242.154H26.5V239.14H26V236.125H26.5V233.11H26V230.096H26.5V227.081H26V224.066H26.5V221.052H26V218.037H26.5V215.022H26V212.008H26.5V208.993H26V205.978H26.5V202.963H26V199.948H26.5V196.934H26V193.919H26.5V190.904H26V187.89H26.5V184.875H26V181.86H26.5V178.846H26V175.831H26.5V172.816H26V169.802H26.5V166.787H26V163.772H26.5V160.758H26V157.742H26.5V154.728H26V151.713H26.5V148.698H26V145.684H26.5V142.669H26V139.654H26.5V136.64H26V133.625H26.5V130.61H26V127.596H26.5V124.581H26V121.566H26.5V118.552H26V115.537H26.5V112.522H26V109.508H26.5V108C26.5 107.484 26.5203 106.973 26.5596 106.468L26.0605 106.43C26.1428 105.371 26.3081 104.335 26.5488 103.329L27.0342 103.445C27.2739 102.443 27.5917 101.471 27.9795 100.536L27.5176 100.345C27.9211 99.3717 28.3988 98.4372 28.9443 97.5488L29.3711 97.8105C29.9069 96.938 30.5095 96.1107 31.1719 95.3359L30.792 95.0107C31.4726 94.2146 32.2146 93.4726 33.0107 92.792L33.3359 93.1719C34.1107 92.5095 34.938 91.9069 35.8105 91.3711L35.5488 90.9443C36.4372 90.3988 37.3717 89.9211 38.3447 89.5176L38.5361 89.9795C39.4714 89.5917 40.4433 89.2739 41.4453 89.0342L41.3291 88.5488C42.3353 88.3081 43.3709 88.1428 44.4297 88.0605L44.4678 88.5596C44.9732 88.5203 45.4843 88.5 46 88.5H47.4941V88H50.4795V88.5H53.4658V88H56.4512V88.5H59.4375V88H62.4229V88.5H65.4092V88H68.3945V88.5H71.3809V88H74.3662V88.5H77.3525V88H80.3379V88.5H83.3242V88H86.3096V88.5H89.2959V88H92.2812V88.5H95.2676V88H98.2529V88.5H101.239V88H104.225V88.5H107.211V88H110.196V88.5H113.183V88H116.168V88.5H119.154V88H122.14V88.5H125.126V88H128.111V88.5H131.098V88H134.083V88.5H137.069V88H140.055V88.5H143.041V88H146.026V88.5H149.013V88H151.998V88.5H154.984V88H157.97V88.5H160.956V88H163.941V88.5H166.928V88H169.913V88.5H172.899V88H175.885V88.5H178.871V88H181.856V88.5H184.843V88H187.828V88.5H190.814V88H193.8V88.5H196.786V88H199.771V88.5H202.758V88H205.743V88.5H208.729V88H211.715V88.5H214.701V88H217.687V88.5H220.673V88H223.658V88.5H226.645V88H229.63V88.5H232.616V88H235.602V88.5H238.588V88H241.573V88.5H244.56V88H247.545V88.5H250.531V88H253.517V88.5H256.503V88H259.488V88.5H262.475V88H265.46V88.5H268.446V88H271.432V88.5H274.418V88H277.403V88.5H280.39V88H283.375V88.5H286.361V88H289.347V88.5H292.333V88H295.318V88.5H298.305V88H301.29V88.5H304.276V88H307.262V88.5H310.248V88H313.233V88.5H316.22V88H319.205V88.5H322.191V88H325.177V88.5H328.163V88H331.148V88.5H334.135V88H337.12V88.5H340.106V88H343.092V88.5H346.078V88H349.063V88.5H352.05V88H355.035V88.5H358.021V88H361.007V88.5H363.993V88H366.979V88.5H369.965V88H372.95V88.5H375.937V88H378.922V88.5H381.908V88H384.894V88.5H387.88V88H390.865V88.5H393.852V88H396.837V88.5H399.823V88H402.809V88.5H405.795V88H408.78V88.5H411.767V88H414.752V88.5H417.738V88H420.724V88.5H423.71V88H426.695V88.5H429.682V88H432.667V88.5H435.653V88H438.639V88.5H441.625V88H444.61V88.5H447.597V88H450.582V88.5H453.568V88H456.554V88.5H459.54V88H462.525V88.5H465.512V88H468.497V88.5H471.483V88H474.469V88.5H477.455V88H480.441V88.5H483.427V88H486.413V88.5H489.398V88H492.385V88.5H495.37V88H498.356V88.5H501.342V88H504.328V88.5H507.313V88H510.3V88.5H513.285V88H516.271V88.5H519.257V88H522.243V88.5H525.229V88H528.215V88.5H531.2V88H534.187V88.5H537.172V88H540.158V88.5H543.144V88H546.13V88.5H549.115V88H552.102V88.5H555.087V88H558.073V88.5H561.059V88H564.045V88.5H567.03V88H570.017V88.5H573.002V88H575.988V88.5H578.974V88H581.96V88.5H584.945V88H587.932V88.5H590.917V88H593.903V88.5H596.89V88H599.875V88.5H602.861V88H605.847V88.5H608.833V88H611.818V88.5H614.805V88H617.79V88.5H620.776V88H623.762V88.5H626.748V88H629.733V88.5H632.72V88H635.705V88.5H638.691V88H641.677V88.5H644.663V88H647.648V88.5H650.635V88H653.62V88.5H656.606V88H659.592V88.5H662.578V88H665.563V88.5H668.55V88H671.535V88.5H674.521V88H677.507Z"
              stroke="#FF5756"
              stroke-dasharray="3 3"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M242 128C242 116.954 250.954 108 262 108H442V272.982C442 284.027 433.046 292.982 422 292.982H242V128Z"
                fill="#E60001"
              />
              <path
                d="M363.774 152.736L363.752 152.684C363.752 152.684 359.634 143.794 359.077 142.913C358.241 145.452 349.707 151.721 339.494 155.834C333.322 158.32 327.52 158.999 326.275 157.855C323.819 155.603 331.363 149.696 339.985 145.101C345.487 142.169 350.546 140.578 351.94 140.148L351.89 140C329.466 145.16 318.329 156.357 320.203 160.028C322.008 163.558 333.377 162.308 344.4 157.32C348.838 155.308 352.246 153.439 354.522 151.97C354.897 151.726 355.276 151.607 355.644 152.246C356.173 153.153 357.208 155.566 357.237 155.633C358.22 157.78 354.486 162.473 346.083 166.421C338.323 170.063 330.394 171.384 326.904 170.113C326.373 169.922 325.858 169.695 325.201 169.041C324.641 168.486 323.81 167.019 323.543 166.562L323.361 166.657C324.275 168.581 325.152 170.145 325.518 170.522C328.265 173.342 338.638 171.986 348.047 167.653C357.212 163.428 365.486 156.371 363.774 152.736Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="342"
                y="210"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
              >
                Nachwuchs
              </text>
              <path
                d="M335.881 250.491H348.12M348.12 250.491L342 244.371M348.12 250.491L342 256.61"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M458 128C458 116.954 466.954 108 478 108H658V272.982C658 284.027 649.046 292.982 638 292.982H458V128Z"
                fill="#D8D8D8"
              />
              <path
                d="M579.774 152.736L579.752 152.684C579.752 152.684 575.634 143.794 575.077 142.913C574.241 145.452 565.707 151.721 555.494 155.834C549.322 158.32 543.52 158.999 542.275 157.855C539.819 155.603 547.363 149.696 555.985 145.101C561.487 142.169 566.546 140.578 567.94 140.148L567.89 140C545.466 145.16 534.329 156.357 536.203 160.028C538.008 163.558 549.377 162.308 560.4 157.32C564.838 155.308 568.246 153.439 570.522 151.97C570.897 151.726 571.276 151.607 571.644 152.246C572.173 153.153 573.208 155.566 573.237 155.633C574.22 157.78 570.486 162.473 562.083 166.421C554.323 170.063 546.394 171.384 542.904 170.113C542.373 169.922 541.858 169.695 541.201 169.041C540.641 168.486 539.81 167.019 539.543 166.562L539.361 166.657C540.275 168.581 541.152 170.145 541.518 170.522C544.265 173.342 554.638 171.986 564.047 167.653C573.212 163.428 581.486 156.371 579.774 152.736Z"
                fill="#7F7F7F"
              />
              <text
                class="card-title"
                x="505.862"
                y="210"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="start"
              >
                Breitensport
              </text>
              <path
                d="M551.881 250.491H564.12M564.12 250.491L558 244.371M564.12 250.491L558 256.61"
                stroke="#A5A5A5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <path
              d="M50.544 260.945L52.336 272.145H50.56L50.256 270.113H48.096L47.792 272.145H46.176L47.968 260.945H50.544ZM49.168 262.929L48.32 268.593H50.016L49.168 262.929ZM57.1716 272.145L55.4596 267.681L54.9156 268.705V272.145H53.1556V260.945H54.9156V265.825L57.2196 260.945H58.9796L56.5316 265.937L58.9796 272.145H57.1716ZM59.2686 262.545V260.945H64.7086V262.545H62.8686V272.145H61.1086V262.545H59.2686ZM65.4838 272.145V260.945H67.2438V272.145H65.4838ZM69.8426 260.945L71.1866 270.081L72.5306 260.945H74.1466L72.4186 272.145H69.7946L68.0666 260.945H69.8426ZM74.7319 267.345V265.745H77.9319V267.345H74.7319ZM78.9004 263.633C78.9004 261.841 79.7804 260.817 81.4924 260.817C83.2044 260.817 84.0844 261.841 84.0844 263.633V263.985H82.4204V263.521C82.4204 262.721 82.1004 262.417 81.5404 262.417C80.9804 262.417 80.6604 262.721 80.6604 263.521C80.6604 265.825 84.1004 266.257 84.1004 269.457C84.1004 271.249 83.2044 272.273 81.4764 272.273C79.7484 272.273 78.8524 271.249 78.8524 269.457V268.769H80.5164V269.569C80.5164 270.369 80.8684 270.657 81.4284 270.657C81.9884 270.657 82.3404 270.369 82.3404 269.569C82.3404 267.265 78.9004 266.833 78.9004 263.633ZM87.7008 260.945C89.4608 260.945 90.3248 261.921 90.3248 263.713V265.169C90.3248 266.961 89.4608 267.937 87.7008 267.937H86.8688V272.145H85.1088V260.945H87.7008ZM87.7008 262.545H86.8688V266.337H87.7008C88.2608 266.337 88.5648 266.081 88.5648 265.281V263.601C88.5648 262.801 88.2608 262.545 87.7008 262.545ZM91.14 272.145V260.945H92.9V272.145H91.14ZM95.9469 262.545V265.665H98.3629V267.265H95.9469V270.545H98.9869V272.145H94.1869V260.945H98.9869V262.545H95.9469ZM100.078 272.145V260.945H101.838V270.545H104.734V272.145H100.078ZM107.259 262.545V265.665H109.675V267.265H107.259V270.545H110.299V272.145H105.499V260.945H110.299V262.545H107.259ZM116.862 272.145H115.07C114.974 271.857 114.91 271.681 114.91 270.769V269.009C114.91 267.969 114.558 267.585 113.758 267.585H113.15V272.145H111.39V260.945H114.046C115.87 260.945 116.654 261.793 116.654 263.521V264.401C116.654 265.553 116.286 266.305 115.502 266.673C116.382 267.041 116.67 267.889 116.67 269.057V270.785C116.67 271.329 116.686 271.729 116.862 272.145ZM113.998 262.545H113.15V265.985H113.838C114.494 265.985 114.894 265.697 114.894 264.801V263.697C114.894 262.897 114.622 262.545 113.998 262.545ZM117.268 272.145L121.684 260.945H123.204L118.788 272.145H117.268ZM123.921 272.145V260.945H125.681V272.145H123.921ZM130.728 272.145L128.536 264.033V272.145H126.952V260.945H129.16L130.968 267.649V260.945H132.536V272.145H130.728ZM139.569 263.521V269.569C139.569 270.369 139.921 270.673 140.481 270.673C141.041 270.673 141.393 270.369 141.393 269.569V263.521C141.393 262.721 141.041 262.417 140.481 262.417C139.921 262.417 139.569 262.721 139.569 263.521ZM137.809 269.457V263.633C137.809 261.841 138.753 260.817 140.481 260.817C142.209 260.817 143.153 261.841 143.153 263.633V269.457C143.153 271.249 142.209 272.273 140.481 272.273C138.753 272.273 137.809 271.249 137.809 269.457ZM144.296 272.145V260.945H147.08C148.84 260.945 149.704 261.921 149.704 263.713V269.377C149.704 271.169 148.84 272.145 147.08 272.145H144.296ZM147.048 262.545H146.056V270.545H147.048C147.608 270.545 147.944 270.257 147.944 269.457V263.633C147.944 262.833 147.608 262.545 147.048 262.545ZM152.588 262.545V265.665H155.004V267.265H152.588V270.545H155.628V272.145H150.828V260.945H155.628V262.545H152.588ZM162.19 272.145H160.398C160.302 271.857 160.238 271.681 160.238 270.769V269.009C160.238 267.969 159.886 267.585 159.086 267.585H158.478V272.145H156.718V260.945H159.374C161.198 260.945 161.982 261.793 161.982 263.521V264.401C161.982 265.553 161.614 266.305 160.83 266.673C161.71 267.041 161.998 267.889 161.998 269.057V270.785C161.998 271.329 162.014 271.729 162.19 272.145ZM159.326 262.545H158.478V265.985H159.166C159.822 265.985 160.222 265.697 160.222 264.801V263.697C160.222 262.897 159.95 262.545 159.326 262.545ZM48.4 278.545V281.665H50.816V283.265H48.4V286.545H51.44V288.145H46.64V276.945H51.44V278.545H48.4ZM54.2906 283.345V288.145H52.5306V276.945H54.2906V281.745H56.2906V276.945H58.0826V288.145H56.2906V283.345H54.2906ZM61.1188 278.545V281.665H63.5348V283.265H61.1188V286.545H64.1588V288.145H59.3588V276.945H64.1588V278.545H61.1188ZM67.6814 276.945L68.9774 284.897L70.1774 276.945H72.6254V288.145H70.9614V280.113L69.7454 288.145H68.0814L66.7694 280.225V288.145H65.2334V276.945H67.6814ZM77.8096 276.945L79.6016 288.145H77.8256L77.5216 286.113H75.3616L75.0576 288.145H73.4416L75.2336 276.945H77.8096ZM76.4336 278.929L75.5856 284.593H77.2816L76.4336 278.929ZM80.4213 288.145V276.945H82.1813V286.545H85.0773V288.145H80.4213ZM85.8431 288.145V276.945H87.6031V288.145H85.8431ZM91.53 283.505V281.905H93.994V285.457C93.994 287.249 93.098 288.273 91.37 288.273C89.642 288.273 88.746 287.249 88.746 285.457V279.633C88.746 277.841 89.642 276.817 91.37 276.817C93.098 276.817 93.994 277.841 93.994 279.633V280.721H92.33V279.521C92.33 278.721 91.978 278.417 91.418 278.417C90.858 278.417 90.506 278.721 90.506 279.521V285.569C90.506 286.369 90.858 286.657 91.418 286.657C91.978 286.657 92.33 286.369 92.33 285.569V283.505H91.53ZM96.8844 278.545V281.665H99.3004V283.265H96.8844V286.545H99.9244V288.145H95.1244V276.945H99.9244V278.545H96.8844ZM100.455 288.145L104.871 276.945H106.391L101.975 288.145H100.455ZM112.581 288.145H110.789C110.693 287.857 110.629 287.681 110.629 286.769V285.009C110.629 283.969 110.277 283.585 109.477 283.585H108.869V288.145H107.109V276.945H109.765C111.589 276.945 112.373 277.793 112.373 279.521V280.401C112.373 281.553 112.005 282.305 111.221 282.673C112.101 283.041 112.389 283.889 112.389 285.057V286.785C112.389 287.329 112.405 287.729 112.581 288.145ZM109.717 278.545H108.869V281.985H109.557C110.213 281.985 110.613 281.697 110.613 280.801V279.697C110.613 278.897 110.341 278.545 109.717 278.545Z"
              fill="#7F7F7F"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M143 769C143 757.954 151.954 749 163 749H343V937.981C343 949.027 334.046 957.982 323 957.982H143V769Z"
                fill="#E60001"
              />
              <path
                d="M264.774 793.736L264.752 793.684C264.752 793.684 260.634 784.794 260.077 783.913C259.241 786.452 250.707 792.721 240.494 796.834C234.322 799.32 228.52 799.999 227.275 798.855C224.819 796.603 232.363 790.696 240.985 786.101C246.487 783.169 251.546 781.578 252.94 781.148L252.89 781C230.466 786.16 219.329 797.357 221.203 801.028C223.008 804.558 234.377 803.308 245.4 798.32C249.838 796.308 253.246 794.439 255.522 792.97C255.897 792.726 256.276 792.607 256.644 793.246C257.173 794.153 258.208 796.566 258.237 796.633C259.22 798.78 255.486 803.473 247.083 807.421C239.323 811.063 231.394 812.384 227.904 811.113C227.373 810.922 226.858 810.695 226.201 810.041C225.641 809.486 224.81 808.019 224.543 807.562L224.361 807.657C225.275 809.581 226.152 811.145 226.518 811.522C229.265 814.342 239.638 812.986 249.047 808.653C258.212 804.428 266.486 797.371 264.774 793.736Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="243"
                y="855"
                fill="white"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="243" dy="0" font-size="24">Leistungssport-</tspan>
                <tspan x="243" dy="26" font-size="24">Schiedsrichter/in</tspan>
              </text>
              <path
                d="M236.881 915.491H249.12M249.12 915.491L243 909.371M249.12 915.491L243 921.61"
                stroke="#FF8F8F"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>
            <path
              d="M342.47 856.47C342.177 856.763 342.177 857.237 342.47 857.53L347.243 862.303C347.536 862.596 348.01 862.596 348.303 862.303C348.596 862.01 348.596 861.536 348.303 861.243L344.061 857L348.303 852.757C348.596 852.464 348.596 851.99 348.303 851.697C348.01 851.404 347.536 851.404 347.243 851.697L342.47 856.47ZM359 857.75H359.75V856.25H359V857V857.75ZM357.667 856.25H356.917V857.75H357.667V857V856.25ZM355 857.75H355.75V856.25H355V857V857.75ZM352.333 856.25H351.583V857.75H352.333V857V856.25ZM349.667 857.75H350.417V856.25H349.667V857V857.75ZM347 856.25H346.25V857.75H347V857V856.25ZM344.333 857.75H345.083V856.25H344.333V857V857.75ZM359 857V856.25H357.667V857V857.75H359V857ZM355 857V856.25H352.333V857V857.75H355V857ZM349.667 857V856.25H347V857V857.75H349.667V857ZM344.333 857V856.25H343V857V857.75H344.333V857Z"
              fill="#E60001"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M359 769C359 757.954 367.954 749 379 749H559V937.981C559 949.027 550.046 957.982 539 957.982H359V769Z"
                fill="#D8D8D8"
              />
              <path
                d="M480.774 793.736L480.752 793.684C480.752 793.684 476.634 784.794 476.077 783.913C475.241 786.452 466.707 792.721 456.494 796.834C450.322 799.32 444.52 799.999 443.275 798.855C440.819 796.603 448.363 790.696 456.985 786.101C462.487 783.169 467.546 781.578 468.94 781.148L468.89 781C446.466 786.16 435.329 797.357 437.203 801.028C439.008 804.558 450.377 803.308 461.4 798.32C465.838 796.308 469.246 794.439 471.522 792.97C471.897 792.726 472.276 792.607 472.644 793.246C473.173 794.153 474.208 796.566 474.237 796.633C475.22 798.78 471.486 803.473 463.083 807.421C455.323 811.063 447.394 812.384 443.904 811.113C443.373 810.922 442.858 810.695 442.201 810.041C441.641 809.486 440.81 808.019 440.543 807.562L440.361 807.657C441.275 809.581 442.152 811.145 442.518 811.522C445.265 814.342 455.638 812.986 465.047 808.653C474.212 804.428 482.486 797.371 480.774 793.736Z"
                fill="#7F7F7F"
              />
              <text
                class="card-title"
                x="459"
                y="855"
                fill="black"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="459" dy="0" font-size="24">Breitensport-</tspan>
                <tspan x="459" dy="26" font-size="24">Schiedsrichter/in</tspan>
              </text>
              <path
                d="M452.881 915.491H465.12M465.12 915.491L459 909.371M465.12 915.491L459 921.61"
                stroke="#A5A5A5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </a>

            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <text
                class="card-title"
                x="350"
                y="586"
                fill="#E60001"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="350" dy="0">
                  Gesamtheitliches Ausbildungskonzept
                </tspan>
                <tspan x="350" dy="20" font-size="16">(WM-LEGACY)</tspan>
              </text>
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <text
                class="card-title"
                x="267.28"
                y="511"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="start"
              >
                Regionale Ausbildung
              </text>
            </a>
            <path
              d="M134 642.833C132.527 642.833 131.333 644.027 131.333 645.5C131.333 646.973 132.527 648.167 134 648.167C135.473 648.167 136.667 646.973 136.667 645.5C136.667 644.027 135.473 642.833 134 642.833ZM134 460.333C132.527 460.333 131.333 461.527 131.333 463C131.333 464.473 132.527 465.667 134 465.667C135.473 465.667 136.667 464.473 136.667 463C136.667 461.527 135.473 460.333 134 460.333ZM133.5 464.521L133.5 465.021L134.5 465.021L134.5 464.521L134 464.521L133.5 464.521ZM134.5 467.562L134.5 467.062L133.5 467.063L133.5 467.563L134 467.562L134.5 467.562ZM133.5 470.604L133.5 471.104L134.5 471.104L134.5 470.604L134 470.604L133.5 470.604ZM134.5 473.646L134.5 473.146L133.5 473.146L133.5 473.646L134 473.646L134.5 473.646ZM133.5 476.688L133.5 477.188L134.5 477.188L134.5 476.688L134 476.688L133.5 476.688ZM134.5 479.729L134.5 479.229L133.5 479.229L133.5 479.729L134 479.729L134.5 479.729ZM133.5 482.771L133.5 483.271L134.5 483.271L134.5 482.771L134 482.771L133.5 482.771ZM134.5 485.812L134.5 485.312L133.5 485.313L133.5 485.813L134 485.813L134.5 485.812ZM133.5 488.854L133.5 489.354L134.5 489.354L134.5 488.854L134 488.854L133.5 488.854ZM134.5 491.896L134.5 491.396L133.5 491.396L133.5 491.896L134 491.896L134.5 491.896ZM133.5 494.937L133.5 495.437L134.5 495.437L134.5 494.937L134 494.937L133.5 494.937ZM134.5 497.979L134.5 497.479L133.5 497.479L133.5 497.979L134 497.979L134.5 497.979ZM133.5 501.021L133.5 501.521L134.5 501.521L134.5 501.021L134 501.021L133.5 501.021ZM134.5 504.062L134.5 503.562L133.5 503.563L133.5 504.063L134 504.063L134.5 504.062ZM133.5 507.104L133.5 507.604L134.5 507.604L134.5 507.104L134 507.104L133.5 507.104ZM134.5 510.146L134.5 509.646L133.5 509.646L133.5 510.146L134 510.146L134.5 510.146ZM133.5 513.188L133.5 513.688L134.5 513.688L134.5 513.188L134 513.188L133.5 513.188ZM134.5 516.229L134.5 515.729L133.5 515.729L133.5 516.229L134 516.229L134.5 516.229ZM133.5 519.271L133.5 519.771L134.5 519.771L134.5 519.271L134 519.271L133.5 519.271ZM134.5 522.313L134.5 521.813L133.5 521.813L133.5 522.313L134 522.313L134.5 522.313ZM133.5 525.354L133.5 525.854L134.5 525.854L134.5 525.354L134 525.354L133.5 525.354ZM134.5 528.396L134.5 527.896L133.5 527.896L133.5 528.396L134 528.396L134.5 528.396ZM133.5 531.438L133.5 531.938L134.5 531.938L134.5 531.438L134 531.438L133.5 531.438ZM134.5 534.479L134.5 533.979L133.5 533.979L133.5 534.479L134 534.479L134.5 534.479ZM133.5 537.521L133.5 538.021L134.5 538.021L134.5 537.521L134 537.521L133.5 537.521ZM134.5 540.562L134.5 540.062L133.5 540.063L133.5 540.563L134 540.563L134.5 540.562ZM133.5 543.604L133.5 544.104L134.5 544.104L134.5 543.604L134 543.604L133.5 543.604ZM134.5 546.646L134.5 546.146L133.5 546.146L133.5 546.646L134 546.646L134.5 546.646ZM133.5 549.687L133.5 550.187L134.5 550.187L134.5 549.687L134 549.687L133.5 549.687ZM134.5 552.729L134.5 552.229L133.5 552.229L133.5 552.729L134 552.729L134.5 552.729ZM133.5 555.771L133.5 556.271L134.5 556.271L134.5 555.771L134 555.771L133.5 555.771ZM134.5 558.812L134.5 558.312L133.5 558.312L133.5 558.812L134 558.812L134.5 558.812ZM133.5 561.854L133.5 562.354L134.5 562.354L134.5 561.854L134 561.854L133.5 561.854ZM134.5 564.896L134.5 564.396L133.5 564.396L133.5 564.896L134 564.896L134.5 564.896ZM133.5 567.937L133.5 568.437L134.5 568.437L134.5 567.937L134 567.937L133.5 567.937ZM134.5 570.979L134.5 570.479L133.5 570.479L133.5 570.979L134 570.979L134.5 570.979ZM133.5 574.021L133.5 574.521L134.5 574.521L134.5 574.021L134 574.021L133.5 574.021ZM134.5 577.062L134.5 576.562L133.5 576.562L133.5 577.062L134 577.062L134.5 577.062ZM133.5 580.104L133.5 580.604L134.5 580.604L134.5 580.104L134 580.104L133.5 580.104ZM134.5 583.146L134.5 582.646L133.5 582.646L133.5 583.146L134 583.146L134.5 583.146ZM133.5 586.187L133.5 586.687L134.5 586.687L134.5 586.187L134 586.187L133.5 586.187ZM134.5 589.229L134.5 588.729L133.5 588.729L133.5 589.229L134 589.229L134.5 589.229ZM133.5 592.271L133.5 592.771L134.5 592.771L134.5 592.271L134 592.271L133.5 592.271ZM134.5 595.312L134.5 594.812L133.5 594.812L133.5 595.312L134 595.312L134.5 595.312ZM133.5 598.354L133.5 598.854L134.5 598.854L134.5 598.354L134 598.354L133.5 598.354ZM134.5 601.396L134.5 600.896L133.5 600.896L133.5 601.396L134 601.396L134.5 601.396ZM133.5 604.437L133.5 604.937L134.5 604.937L134.5 604.437L134 604.437L133.5 604.437ZM134.5 607.479L134.5 606.979L133.5 606.979L133.5 607.479L134 607.479L134.5 607.479ZM133.5 610.521L133.5 611.021L134.5 611.021L134.5 610.521L134 610.521L133.5 610.521ZM134.5 613.562L134.5 613.062L133.5 613.063L133.5 613.563L134 613.563L134.5 613.562ZM133.5 616.604L133.5 617.104L134.5 617.104L134.5 616.604L134 616.604L133.5 616.604ZM134.5 619.646L134.5 619.146L133.5 619.146L133.5 619.646L134 619.646L134.5 619.646ZM133.5 622.688L133.5 623.188L134.5 623.188L134.5 622.688L134 622.688L133.5 622.688ZM134.5 625.729L134.5 625.229L133.5 625.229L133.5 625.729L134 625.729L134.5 625.729ZM133.5 628.771L133.5 629.271L134.5 629.271L134.5 628.771L134 628.771L133.5 628.771ZM134.5 631.813L134.5 631.313L133.5 631.313L133.5 631.813L134 631.813L134.5 631.813ZM133.5 634.854L133.5 635.354L134.5 635.354L134.5 634.854L134 634.854L133.5 634.854ZM134.5 637.896L134.5 637.396L133.5 637.396L133.5 637.896L134 637.896L134.5 637.896ZM133.5 640.938L133.5 641.438L134.5 641.438L134.5 640.938L134 640.938L133.5 640.938ZM134.5 643.979L134.5 643.479L133.5 643.479L133.5 643.979L134 643.979L134.5 643.979ZM134 463H133.5L133.5 464.521L134 464.521L134.5 464.521L134.5 463H134ZM134 467.562L133.5 467.563L133.5 470.604L134 470.604L134.5 470.604L134.5 467.562L134 467.562ZM134 473.646L133.5 473.646L133.5 476.688L134 476.688L134.5 476.688L134.5 473.646L134 473.646ZM134 479.729L133.5 479.729L133.5 482.771L134 482.771L134.5 482.771L134.5 479.729L134 479.729ZM134 485.813L133.5 485.813L133.5 488.854L134 488.854L134.5 488.854L134.5 485.812L134 485.813ZM134 491.896L133.5 491.896L133.5 494.937L134 494.937L134.5 494.937L134.5 491.896L134 491.896ZM134 497.979L133.5 497.979L133.5 501.021L134 501.021L134.5 501.021L134.5 497.979L134 497.979ZM134 504.063L133.5 504.063L133.5 507.104L134 507.104L134.5 507.104L134.5 504.062L134 504.063ZM134 510.146L133.5 510.146L133.5 513.188L134 513.188L134.5 513.188L134.5 510.146L134 510.146ZM134 516.229L133.5 516.229L133.5 519.271L134 519.271L134.5 519.271L134.5 516.229L134 516.229ZM134 522.313L133.5 522.313L133.5 525.354L134 525.354L134.5 525.354L134.5 522.313L134 522.313ZM134 528.396L133.5 528.396L133.5 531.438L134 531.438L134.5 531.438L134.5 528.396L134 528.396ZM134 534.479L133.5 534.479L133.5 537.521L134 537.521L134.5 537.521L134.5 534.479L134 534.479ZM134 540.563L133.5 540.563L133.5 543.604L134 543.604L134.5 543.604L134.5 540.562L134 540.563ZM134 546.646L133.5 546.646L133.5 549.687L134 549.687L134.5 549.687L134.5 546.646L134 546.646ZM134 552.729L133.5 552.729L133.5 555.771L134 555.771L134.5 555.771L134.5 552.729L134 552.729ZM134 558.812L133.5 558.812L133.5 561.854L134 561.854L134.5 561.854L134.5 558.812L134 558.812ZM134 564.896L133.5 564.896L133.5 567.937L134 567.937L134.5 567.937L134.5 564.896L134 564.896ZM134 570.979L133.5 570.979L133.5 574.021L134 574.021L134.5 574.021L134.5 570.979L134 570.979ZM134 577.062L133.5 577.062L133.5 580.104L134 580.104L134.5 580.104L134.5 577.062L134 577.062ZM134 583.146L133.5 583.146L133.5 586.187L134 586.187L134.5 586.187L134.5 583.146L134 583.146ZM134 589.229L133.5 589.229L133.5 592.271L134 592.271L134.5 592.271L134.5 589.229L134 589.229ZM134 595.312L133.5 595.312L133.5 598.354L134 598.354L134.5 598.354L134.5 595.312L134 595.312ZM134 601.396L133.5 601.396L133.5 604.437L134 604.437L134.5 604.437L134.5 601.396L134 601.396ZM134 607.479L133.5 607.479L133.5 610.521L134 610.521L134.5 610.521L134.5 607.479L134 607.479ZM134 613.563L133.5 613.563L133.5 616.604L134 616.604L134.5 616.604L134.5 613.562L134 613.563ZM134 619.646L133.5 619.646L133.5 622.688L134 622.688L134.5 622.688L134.5 619.646L134 619.646ZM134 625.729L133.5 625.729L133.5 628.771L134 628.771L134.5 628.771L134.5 625.729L134 625.729ZM134 631.813L133.5 631.813L133.5 634.854L134 634.854L134.5 634.854L134.5 631.813L134 631.813ZM134 637.896L133.5 637.896L133.5 640.938L134 640.938L134.5 640.938L134.5 637.896L134 637.896ZM134 643.979L133.5 643.979L133.5 645.5L134 645.5L134.5 645.5L134.5 643.979L134 643.979Z"
              fill="#FF5756"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <text
                class="card-title"
                x="140"
                y="586"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
                transform="rotate(-90 112 582)"
              >
                SR-WEG
              </text>
            </a>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
