<section class="section" id="referee">
  <div class="container">
    <div class="row g-lg-8 g-12">
      <div class="col-xl-6 col-lg-5">
        <h3 class="h2 mb-3">SCHIEDSRICHTER/IN</h3>
        <div class="h3 text-gray-2 mb-lg-8 mb-4">Leistungs- & Breitensport</div>
        <div class="section-images">
          <div class="section-images">
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal2"
              class="section-img"
            >
              <img
                class="object-fit-contain mask-img"
                width="360"
                height="258"
                src="images/content/referee-1.png"
                loading="lazy"
                alt="Micha Hebeisen"
              />
              <div class="tag">Micha Hebeisen</div>
            </a>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal2"
              class="section-img"
            >
              <img
                class="object-fit-contain mask-img"
                width="360"
                height="258"
                src="images/content/referee-2.png"
                loading="lazy"
                alt="Reica Staiger"
              />
              <div class="tag">Reica Staiger</div>
            </a>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#articleModal2"
              class="section-img"
            >
              <img
                class="object-fit-contain mask-img"
                width="360"
                height="258"
                src="images/content/referee-3.png"
                loading="lazy"
                alt="Lukas Frei"
              />
              <div class="tag">Lukas Frei</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7">
        <div class="section-map">
          <svg
            width="704"
            height="958"
            viewBox="0 0 704 958"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M351.47 88.5303C351.763 88.8232 352.237 88.8232 352.53 88.5303L357.303 83.7574C357.596 83.4645 357.596 82.9896 357.303 82.6967C357.01 82.4038 356.536 82.4038 356.243 82.6967L352 86.9393L347.757 82.6967C347.464 82.4038 346.99 82.4038 346.697 82.6967C346.404 82.9896 346.404 83.4645 346.697 83.7574L351.47 88.5303ZM352.75 64L352.75 63.25L351.25 63.25L351.25 64L352 64L352.75 64ZM352 88L352.75 88L352.75 64L352 64L351.25 64L351.25 88L352 88Z"
              fill="#E60001"
            />
            <path
              d="M351.47 393.53C351.763 393.823 352.237 393.823 352.53 393.53L357.303 388.757C357.596 388.464 357.596 387.99 357.303 387.697C357.01 387.404 356.536 387.404 356.243 387.697L352 391.939L347.757 387.697C347.464 387.404 346.99 387.404 346.697 387.697C346.404 387.99 346.404 388.464 346.697 388.757L351.47 393.53ZM352.75 313L352.75 312.25L351.25 312.25L351.25 313L352 313L352.75 313ZM352 393L352.75 393L352.75 313L352 313L351.25 313L351.25 393L352 393Z"
              fill="#E60001"
            />
            <a class="anchor-item" href="#programCards">
              <path
                d="M26 20C26 8.95431 34.9543 0 46 0H679V44C679 55.0457 670.046 64 659 64H26V20Z"
                fill="#FFC6C7"
              />
              <path
                d="M101.774 28.7356L101.752 28.6842C101.752 28.6842 97.6344 19.7942 97.0773 18.9134C96.2405 21.4522 87.7074 27.7207 77.4935 31.8336C71.3217 34.3201 65.5204 34.9993 64.2747 33.8555C61.8193 31.6026 69.3633 25.6955 77.9854 21.1012C83.4872 18.1688 88.546 16.5779 89.94 16.1476L89.8901 16C67.4661 21.1599 56.3286 32.3566 58.2032 36.0276C60.0081 39.5583 71.3773 38.308 82.3998 33.32C86.8382 31.3083 90.2464 29.4395 92.5217 27.9703C92.8975 27.7256 93.2755 27.6071 93.644 28.2457C94.1728 29.1528 95.2084 31.5664 95.2374 31.6325C96.2204 33.7804 92.4859 38.4734 84.0828 42.4212C76.323 46.0633 68.3939 47.3839 64.904 46.1134C64.3735 45.9216 63.8577 45.6945 63.2015 45.041C62.6414 44.4861 61.8099 43.0185 61.5432 42.5619L61.3606 42.6565C62.2748 44.5806 63.1517 46.1448 63.5185 46.5223C66.2652 49.3419 76.6383 47.9855 86.0467 43.6527C95.2125 39.428 103.486 32.3711 101.774 28.7356Z"
                fill="#E60001"
              />
              <text
                class="card-title"
                x="123.448"
                y="39"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="start"
              >
                Erstkontakt zum Eis / Eishockey
              </text>
              <g class="link-icon" transform="translate(623 22)">
                <path
                  d="M18.3592 7.86806L18.3592 2.62269M18.3592 2.62269H13.1138M18.3592 2.62269L10.4911 10.4907M8.74265 2.62268H6.81935C5.3505 2.62268 4.61608 2.62268 4.05506 2.90854C3.56157 3.15998 3.16035 3.5612 2.9089 4.05469C2.62305 4.61572 2.62305 5.35014 2.62305 6.81898V14.1625C2.62305 15.6314 2.62305 16.3658 2.9089 16.9268C3.16035 17.4203 3.56157 17.8215 4.05506 18.073C4.61608 18.3588 5.3505 18.3588 6.81935 18.3588H14.1629C15.6317 18.3588 16.3661 18.3588 16.9272 18.073C17.4207 17.8215 17.8219 17.4203 18.0733 16.9268C18.3592 16.3658 18.3592 15.6314 18.3592 14.1625V12.2392"
                  stroke="#E60001"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>
            <path
              d="M352.75 457L352.75 456.25L351.25 456.25L351.25 457L352 457L352.75 457ZM352 481L352.75 481L352.75 457L352 457L351.25 457L351.25 481L352 481Z"
              fill="#E60001"
            />
            <path
              d="M243.47 747.53C243.763 747.823 244.237 747.823 244.53 747.53L249.303 742.757C249.596 742.464 249.596 741.99 249.303 741.697C249.01 741.404 248.536 741.404 248.243 741.697L244 745.939L239.757 741.697C239.464 741.404 238.99 741.404 238.697 741.697C238.404 741.99 238.404 742.464 238.697 742.757L243.47 747.53ZM244.75 715L244.75 714.25L243.25 714.25L243.25 715L244 715L244.75 715ZM244 747L244.75 747L244.75 715L244 715L243.25 715L243.25 747L244 747Z"
              fill="#E60001"
            />
            <path
              d="M459.47 747.53C459.763 747.823 460.237 747.823 460.53 747.53L465.303 742.757C465.596 742.464 465.596 741.99 465.303 741.697C465.01 741.404 464.536 741.404 464.243 741.697L460 745.939L455.757 741.697C455.464 741.404 454.99 741.404 454.697 741.697C454.404 741.99 454.404 742.464 454.697 742.757L459.47 747.53ZM460.75 715L460.75 714.25L459.25 714.25L459.25 715L460 715L460.75 715ZM460 747L460.75 747L460.75 715L460 715L459.25 715L459.25 747L460 747Z"
              fill="#A5A5A5"
            />
            <path
              d="M352.75 529L352.75 528.25L351.25 528.25L351.25 529L352 529L352.75 529ZM352 553L352.75 553L352.75 529L352 529L351.25 529L351.25 553L352 553Z"
              fill="#E60001"
            />
            <path
              d="M351.47 649.53C351.763 649.823 352.237 649.823 352.53 649.53L357.303 644.757C357.596 644.464 357.596 643.99 357.303 643.697C357.01 643.404 356.536 643.404 356.243 643.697L352 647.939L347.757 643.697C347.464 643.404 346.99 643.404 346.697 643.697C346.404 643.99 346.404 644.464 346.697 644.757L351.47 649.53ZM352.75 625L352.75 624.25L351.25 624.25L351.25 625L352 625L352.75 625ZM352 649L352.75 649L352.75 625L352 625L351.25 625L351.25 649L352 649Z"
              fill="#E60001"
            />
            <path
              d="M26 413C26 401.954 34.9543 393 46 393H679V437C679 448.046 670.046 457 659 457H26V413Z"
              fill="#E60001"
            />
            <path
              d="M101.774 421.736L101.752 421.684C101.752 421.684 97.6344 412.794 97.0773 411.913C96.2405 414.452 87.7074 420.721 77.4935 424.834C71.3217 427.32 65.5204 427.999 64.2747 426.855C61.8193 424.603 69.3633 418.696 77.9854 414.101C83.4872 411.169 88.546 409.578 89.94 409.148L89.8901 409C67.4661 414.16 56.3286 425.357 58.2032 429.028C60.0081 432.558 71.3773 431.308 82.3998 426.32C86.8382 424.308 90.2464 422.439 92.5217 420.97C92.8975 420.726 93.2755 420.607 93.644 421.246C94.1728 422.153 95.2084 424.566 95.2374 424.633C96.2204 426.78 92.4859 431.473 84.0828 435.421C76.323 439.063 68.3939 440.384 64.904 439.113C64.3735 438.922 63.8577 438.695 63.2015 438.041C62.6414 437.486 61.8099 436.019 61.5432 435.562L61.3606 435.657C62.2748 437.581 63.1517 439.145 63.5185 439.522C66.2652 442.342 76.6383 440.986 86.0467 436.653C95.2125 432.428 103.486 425.371 101.774 421.736Z"
              fill="#FF8F8F"
            />
            <text
              class="card-title"
              x="123.448"
              y="432"
              fill="white"
              font-size="24"
              font-weight="400"
              text-anchor="start"
            >
              Ambition Schiedsrichter/in zu werden
            </text>

            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M26 671C26 659.954 34.9543 651 46 651H679V695C679 706.046 670.046 715 659 715H26V671Z"
                fill="#E60001"
              />
              <path
                d="M101.774 679.736L101.752 679.684C101.752 679.684 97.6344 670.794 97.0773 669.913C96.2405 672.452 87.7074 678.721 77.4935 682.834C71.3217 685.32 65.5204 685.999 64.2747 684.855C61.8193 682.603 69.3633 676.696 77.9854 672.101C83.4872 669.169 88.546 667.578 89.94 667.148L89.8901 667C67.4661 672.16 56.3286 683.357 58.2032 687.028C60.0081 690.558 71.3773 689.308 82.3998 684.32C86.8382 682.308 90.2464 680.439 92.5217 678.97C92.8975 678.726 93.2755 678.607 93.644 679.246C94.1728 680.153 95.2084 682.566 95.2374 682.633C96.2204 684.78 92.4859 689.473 84.0828 693.421C76.323 697.063 68.3939 698.384 64.904 697.113C64.3735 696.922 63.8577 696.695 63.2015 696.041C62.6414 695.486 61.8099 694.019 61.5432 693.562L61.3606 693.657C62.2748 695.581 63.1517 697.145 63.5185 697.522C66.2652 700.342 76.6383 698.986 86.0467 694.653C95.2125 690.428 103.486 683.371 101.774 679.736Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="123.448"
                y="683"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="start"
                dominant-baseline="middle"
              >
                Nachwuchs-Schiedsrichter/in
              </text>
              <g class="link-icon" transform="translate(623 673)">
                <path
                  d="M18.3592 7.86806L18.3592 2.62269M18.3592 2.62269H13.1138M18.3592 2.62269L10.4911 10.4907M8.74265 2.62268H6.81935C5.3505 2.62268 4.61608 2.62268 4.05506 2.90854C3.56157 3.15998 3.16035 3.5612 2.9089 4.05469C2.62305 4.61572 2.62305 5.35014 2.62305 6.81898V14.1625C2.62305 15.6314 2.62305 16.3658 2.9089 16.9268C3.16035 17.4203 3.56157 17.8215 4.05506 18.073C4.61608 18.3588 5.3505 18.3588 6.81935 18.3588H14.1629C15.6317 18.3588 16.3661 18.3588 16.9272 18.073C17.4207 17.8215 17.8219 17.4203 18.0733 16.9268C18.3592 16.3658 18.3592 15.6314 18.3592 14.1625V12.2392"
                  stroke="#FF8F8F"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>
            <text
              class="card-title"
              x="200"
              y="350"
              fill="black"
              font-size="16"
              font-weight="400"
              text-anchor="middle"
            >
              <tspan x="200" dy="0">ANFRAGE DURCH</tspan>
              <tspan x="200" dy="18">SR-VERANTWORTLICHE/R CLUB</tspan>
            </text>
            <text
              class="card-title"
              x="520"
              y="350"
              fill="black"
              font-size="16"
              font-weight="400"
              text-anchor="middle"
              dominant-baseline="middle"
            >
              FREIWILLIGES INTERESSE
            </text>
            <path
              d="
    M46 88
    H679
    V293
    Q679 313 659 313
    H26
    V108
    Q26 88 46 88
    Z
  "
              fill="none"
              stroke="#FF5756"
              stroke-width="1"
              stroke-dasharray="3 3"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M242 128C242 116.954 250.954 108 262 108H442V272.982C442 284.027 433.046 292.982 422 292.982H242V128Z"
                fill="#E60001"
              />
              <path
                d="M363.774 152.736L363.752 152.684C363.752 152.684 359.634 143.794 359.077 142.913C358.241 145.452 349.707 151.721 339.494 155.834C333.322 158.32 327.52 158.999 326.275 157.855C323.819 155.603 331.363 149.696 339.985 145.101C345.487 142.169 350.546 140.578 351.94 140.148L351.89 140C329.466 145.16 318.329 156.357 320.203 160.028C322.008 163.558 333.377 162.308 344.4 157.32C348.838 155.308 352.246 153.439 354.522 151.97C354.897 151.726 355.276 151.607 355.644 152.246C356.173 153.153 357.208 155.566 357.237 155.633C358.22 157.78 354.486 162.473 346.083 166.421C338.323 170.063 330.394 171.384 326.904 170.113C326.373 169.922 325.858 169.695 325.201 169.041C324.641 168.486 323.81 167.019 323.543 166.562L323.361 166.657C324.275 168.581 325.152 170.145 325.518 170.522C328.265 173.342 338.638 171.986 348.047 167.653C357.212 163.428 365.486 156.371 363.774 152.736Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="342"
                y="210"
                fill="white"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
              >
                Nachwuchs
              </text>
              <g class="link-icon" transform="translate(328 240)">
                <path
                  d="M18.3592 7.86806L18.3592 2.62269M18.3592 2.62269H13.1138M18.3592 2.62269L10.4911 10.4907M8.74265 2.62268H6.81935C5.3505 2.62268 4.61608 2.62268 4.05506 2.90854C3.56157 3.15998 3.16035 3.5612 2.9089 4.05469C2.62305 4.61572 2.62305 5.35014 2.62305 6.81898V14.1625C2.62305 15.6314 2.62305 16.3658 2.9089 16.9268C3.16035 17.4203 3.56157 17.8215 4.05506 18.073C4.61608 18.3588 5.3505 18.3588 6.81935 18.3588H14.1629C15.6317 18.3588 16.3661 18.3588 16.9272 18.073C17.4207 17.8215 17.8219 17.4203 18.0733 16.9268C18.3592 16.3658 18.3592 15.6314 18.3592 14.1625V12.2392"
                  stroke="#FF8F8F"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M458 128C458 116.954 466.954 108 478 108H658V272.982C658 284.027 649.046 292.982 638 292.982H458V128Z"
                fill="#D8D8D8"
              />
              <path
                d="M579.774 152.736L579.752 152.684C579.752 152.684 575.634 143.794 575.077 142.913C574.241 145.452 565.707 151.721 555.494 155.834C549.322 158.32 543.52 158.999 542.275 157.855C539.819 155.603 547.363 149.696 555.985 145.101C561.487 142.169 566.546 140.578 567.94 140.148L567.89 140C545.466 145.16 534.329 156.357 536.203 160.028C538.008 163.558 549.377 162.308 560.4 157.32C564.838 155.308 568.246 153.439 570.522 151.97C570.897 151.726 571.276 151.607 571.644 152.246C572.173 153.153 573.208 155.566 573.237 155.633C574.22 157.78 570.486 162.473 562.083 166.421C554.323 170.063 546.394 171.384 542.904 170.113C542.373 169.922 541.858 169.695 541.201 169.041C540.641 168.486 539.81 167.019 539.543 166.562L539.361 166.657C540.275 168.581 541.152 170.145 541.518 170.522C544.265 173.342 554.638 171.986 564.047 167.653C573.212 163.428 581.486 156.371 579.774 152.736Z"
                fill="#7F7F7F"
              />
              <text
                class="card-title"
                x="505.862"
                y="210"
                fill="black"
                font-size="24"
                font-weight="400"
                text-anchor="start"
              >
                Breitensport
              </text>
              <g class="link-icon" transform="translate(544 240)">
                <path
                  d="M18.3592 7.86806L18.3592 2.62269M18.3592 2.62269H13.1138M18.3592 2.62269L10.4911 10.4907M8.74265 2.62268H6.81935C5.3505 2.62268 4.61608 2.62268 4.05506 2.90854C3.56157 3.15998 3.16035 3.5612 2.9089 4.05469C2.62305 4.61572 2.62305 5.35014 2.62305 6.81898V14.1625C2.62305 15.6314 2.62305 16.3658 2.9089 16.9268C3.16035 17.4203 3.56157 17.8215 4.05506 18.073C4.61608 18.3588 5.3505 18.3588 6.81935 18.3588H14.1629C15.6317 18.3588 16.3661 18.3588 16.9272 18.073C17.4207 17.8215 17.8219 17.4203 18.0733 16.9268C18.3592 16.3658 18.3592 15.6314 18.3592 14.1625V12.2392"
                  stroke="#A5A5A5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <text
                class="card-title"
                x="46"
                y="268"
                fill="#7F7F7F"
                font-size="16"
                font-weight="400"
                text-anchor="start"
              >
                <tspan x="46" dy="0">Aktiv-Spieler/in oder</tspan>
                <tspan x="46" dy="18">Ehemalige/r</tspan>
              </text>

              <g class="link-icon" transform="translate(172 255)">
                <path
                  d="M18 8V2H12M18 2L10 10M6 2H4C3 2 2 3 2 4V16C2 17 3 18 4 18H16C17 18 18 17 18 16V14"
                  stroke="#A5A5A5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>

            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M143 769C143 757.954 151.954 749 163 749H343V937.981C343 949.027 334.046 957.982 323 957.982H143V769Z"
                fill="#E60001"
              />
              <path
                d="M264.774 793.736L264.752 793.684C264.752 793.684 260.634 784.794 260.077 783.913C259.241 786.452 250.707 792.721 240.494 796.834C234.322 799.32 228.52 799.999 227.275 798.855C224.819 796.603 232.363 790.696 240.985 786.101C246.487 783.169 251.546 781.578 252.94 781.148L252.89 781C230.466 786.16 219.329 797.357 221.203 801.028C223.008 804.558 234.377 803.308 245.4 798.32C249.838 796.308 253.246 794.439 255.522 792.97C255.897 792.726 256.276 792.607 256.644 793.246C257.173 794.153 258.208 796.566 258.237 796.633C259.22 798.78 255.486 803.473 247.083 807.421C239.323 811.063 231.394 812.384 227.904 811.113C227.373 810.922 226.858 810.695 226.201 810.041C225.641 809.486 224.81 808.019 224.543 807.562L224.361 807.657C225.275 809.581 226.152 811.145 226.518 811.522C229.265 814.342 239.638 812.986 249.047 808.653C258.212 804.428 266.486 797.371 264.774 793.736Z"
                fill="#FF8F8F"
              />
              <text
                class="card-title"
                x="243"
                y="855"
                fill="white"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="243" dy="0" font-size="24">Leistungssport-</tspan>
                <tspan x="243" dy="26" font-size="24">Schiedsrichter/in</tspan>
              </text>
              <g class="link-icon" transform="translate(229 905)">
                <path
                  d="M18.3592 7.86806L18.3592 2.62269M18.3592 2.62269H13.1138M18.3592 2.62269L10.4911 10.4907M8.74265 2.62268H6.81935C5.3505 2.62268 4.61608 2.62268 4.05506 2.90854C3.56157 3.15998 3.16035 3.5612 2.9089 4.05469C2.62305 4.61572 2.62305 5.35014 2.62305 6.81898V14.1625C2.62305 15.6314 2.62305 16.3658 2.9089 16.9268C3.16035 17.4203 3.56157 17.8215 4.05506 18.073C4.61608 18.3588 5.3505 18.3588 6.81935 18.3588H14.1629C15.6317 18.3588 16.3661 18.3588 16.9272 18.073C17.4207 17.8215 17.8219 17.4203 18.0733 16.9268C18.3592 16.3658 18.3592 15.6314 18.3592 14.1625V12.2392"
                  stroke="#FF8F8F"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>
            <path
              d="M342.47 856.47C342.177 856.763 342.177 857.237 342.47 857.53L347.243 862.303C347.536 862.596 348.01 862.596 348.303 862.303C348.596 862.01 348.596 861.536 348.303 861.243L344.061 857L348.303 852.757C348.596 852.464 348.596 851.99 348.303 851.697C348.01 851.404 347.536 851.404 347.243 851.697L342.47 856.47ZM359 857.75H359.75V856.25H359V857V857.75ZM357.667 856.25H356.917V857.75H357.667V857V856.25ZM355 857.75H355.75V856.25H355V857V857.75ZM352.333 856.25H351.583V857.75H352.333V857V856.25ZM349.667 857.75H350.417V856.25H349.667V857V857.75ZM347 856.25H346.25V857.75H347V857V856.25ZM344.333 857.75H345.083V856.25H344.333V857V857.75ZM359 857V856.25H357.667V857V857.75H359V857ZM355 857V856.25H352.333V857V857.75H355V857ZM349.667 857V856.25H347V857V857.75H349.667V857ZM344.333 857V856.25H343V857V857.75H344.333V857Z"
              fill="#E60001"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <path
                d="M359 769C359 757.954 367.954 749 379 749H559V937.981C559 949.027 550.046 957.982 539 957.982H359V769Z"
                fill="#D8D8D8"
              />
              <path
                d="M480.774 793.736L480.752 793.684C480.752 793.684 476.634 784.794 476.077 783.913C475.241 786.452 466.707 792.721 456.494 796.834C450.322 799.32 444.52 799.999 443.275 798.855C440.819 796.603 448.363 790.696 456.985 786.101C462.487 783.169 467.546 781.578 468.94 781.148L468.89 781C446.466 786.16 435.329 797.357 437.203 801.028C439.008 804.558 450.377 803.308 461.4 798.32C465.838 796.308 469.246 794.439 471.522 792.97C471.897 792.726 472.276 792.607 472.644 793.246C473.173 794.153 474.208 796.566 474.237 796.633C475.22 798.78 471.486 803.473 463.083 807.421C455.323 811.063 447.394 812.384 443.904 811.113C443.373 810.922 442.858 810.695 442.201 810.041C441.641 809.486 440.81 808.019 440.543 807.562L440.361 807.657C441.275 809.581 442.152 811.145 442.518 811.522C445.265 814.342 455.638 812.986 465.047 808.653C474.212 804.428 482.486 797.371 480.774 793.736Z"
                fill="#7F7F7F"
              />
              <text
                class="card-title"
                x="459"
                y="855"
                fill="black"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="459" dy="0" font-size="24">Breitensport-</tspan>
                <tspan x="459" dy="26" font-size="24">Schiedsrichter/in</tspan>
              </text>
              <g class="link-icon" transform="translate(445 905)">
                <path
                  d="M18.3592 7.86806L18.3592 2.62269M18.3592 2.62269H13.1138M18.3592 2.62269L10.4911 10.4907M8.74265 2.62268H6.81935C5.3505 2.62268 4.61608 2.62268 4.05506 2.90854C3.56157 3.15998 3.16035 3.5612 2.9089 4.05469C2.62305 4.61572 2.62305 5.35014 2.62305 6.81898V14.1625C2.62305 15.6314 2.62305 16.3658 2.9089 16.9268C3.16035 17.4203 3.56157 17.8215 4.05506 18.073C4.61608 18.3588 5.3505 18.3588 6.81935 18.3588H14.1629C15.6317 18.3588 16.3661 18.3588 16.9272 18.073C17.4207 17.8215 17.8219 17.4203 18.0733 16.9268C18.3592 16.3658 18.3592 15.6314 18.3592 14.1625V12.2392"
                  stroke="#A5A5A5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>

            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <text
                class="card-title"
                x="350"
                y="586"
                fill="#E60001"
                font-size="24"
                font-weight="400"
                text-anchor="middle"
              >
                <tspan x="350" dy="0">
                  Gesamtheitliches Ausbildungskonzept
                </tspan>
                <tspan x="350" dy="20" font-size="16">(WM-LEGACY)</tspan>
              </text>
              <g class="link-icon" transform="translate(517 566)">
                <path
                  d="M18.3592 7.86806L18.3592 2.62269M18.3592 2.62269H13.1138M18.3592 2.62269L10.4911 10.4907M8.74265 2.62268H6.81935C5.3505 2.62268 4.61608 2.62268 4.05506 2.90854C3.56157 3.15998 3.16035 3.5612 2.9089 4.05469C2.62305 4.61572 2.62305 5.35014 2.62305 6.81898V14.1625C2.62305 15.6314 2.62305 16.3658 2.9089 16.9268C3.16035 17.4203 3.56157 17.8215 4.05506 18.073C4.61608 18.3588 5.3505 18.3588 6.81935 18.3588H14.1629C15.6317 18.3588 16.3661 18.3588 16.9272 18.073C17.4207 17.8215 17.8219 17.4203 18.0733 16.9268C18.3592 16.3658 18.3592 15.6314 18.3592 14.1625V12.2392"
                  stroke="#FF8F8F"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                />
              </g>
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <g>
                <text
                  class="card-title"
                  x="267.28"
                  y="511"
                  fill="black"
                  font-size="24"
                  font-weight="400"
                  text-anchor="start"
                >
                  Einsteigerausbildung
                </text>

                <g class="link-icon" transform="translate(457 491)">
                  <path
                    d="M18.3592 7.86806L18.3592 2.62269M18.3592 2.62269H13.1138M18.3592 2.62269L10.4911 10.4907M8.74265 2.62268H6.81935C5.3505 2.62268 4.61608 2.62268 4.05506 2.90854C3.56157 3.15998 3.16035 3.5612 2.9089 4.05469C2.62305 4.61572 2.62305 5.35014 2.62305 6.81898V14.1625C2.62305 15.6314 2.62305 16.3658 2.9089 16.9268C3.16035 17.4203 3.56157 17.8215 4.05506 18.073C4.61608 18.3588 5.3505 18.3588 6.81935 18.3588H14.1629C15.6317 18.3588 16.3661 18.3588 16.9272 18.073C17.4207 17.8215 17.8219 17.4203 18.0733 16.9268C18.3592 16.3658 18.3592 15.6314 18.3592 14.1625V12.2392"
                    stroke="#A5A5A5"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    fill="none"
                  />
                </g>
              </g>
            </a>
            <path
              d="M134 642.833C132.527 642.833 131.333 644.027 131.333 645.5C131.333 646.973 132.527 648.167 134 648.167C135.473 648.167 136.667 646.973 136.667 645.5C136.667 644.027 135.473 642.833 134 642.833ZM134 460.333C132.527 460.333 131.333 461.527 131.333 463C131.333 464.473 132.527 465.667 134 465.667C135.473 465.667 136.667 464.473 136.667 463C136.667 461.527 135.473 460.333 134 460.333ZM133.5 464.521L133.5 465.021L134.5 465.021L134.5 464.521L134 464.521L133.5 464.521ZM134.5 467.562L134.5 467.062L133.5 467.063L133.5 467.563L134 467.562L134.5 467.562ZM133.5 470.604L133.5 471.104L134.5 471.104L134.5 470.604L134 470.604L133.5 470.604ZM134.5 473.646L134.5 473.146L133.5 473.146L133.5 473.646L134 473.646L134.5 473.646ZM133.5 476.688L133.5 477.188L134.5 477.188L134.5 476.688L134 476.688L133.5 476.688ZM134.5 479.729L134.5 479.229L133.5 479.229L133.5 479.729L134 479.729L134.5 479.729ZM133.5 482.771L133.5 483.271L134.5 483.271L134.5 482.771L134 482.771L133.5 482.771ZM134.5 485.812L134.5 485.312L133.5 485.313L133.5 485.813L134 485.813L134.5 485.812ZM133.5 488.854L133.5 489.354L134.5 489.354L134.5 488.854L134 488.854L133.5 488.854ZM134.5 491.896L134.5 491.396L133.5 491.396L133.5 491.896L134 491.896L134.5 491.896ZM133.5 494.937L133.5 495.437L134.5 495.437L134.5 494.937L134 494.937L133.5 494.937ZM134.5 497.979L134.5 497.479L133.5 497.479L133.5 497.979L134 497.979L134.5 497.979ZM133.5 501.021L133.5 501.521L134.5 501.521L134.5 501.021L134 501.021L133.5 501.021ZM134.5 504.062L134.5 503.562L133.5 503.563L133.5 504.063L134 504.063L134.5 504.062ZM133.5 507.104L133.5 507.604L134.5 507.604L134.5 507.104L134 507.104L133.5 507.104ZM134.5 510.146L134.5 509.646L133.5 509.646L133.5 510.146L134 510.146L134.5 510.146ZM133.5 513.188L133.5 513.688L134.5 513.688L134.5 513.188L134 513.188L133.5 513.188ZM134.5 516.229L134.5 515.729L133.5 515.729L133.5 516.229L134 516.229L134.5 516.229ZM133.5 519.271L133.5 519.771L134.5 519.771L134.5 519.271L134 519.271L133.5 519.271ZM134.5 522.313L134.5 521.813L133.5 521.813L133.5 522.313L134 522.313L134.5 522.313ZM133.5 525.354L133.5 525.854L134.5 525.854L134.5 525.354L134 525.354L133.5 525.354ZM134.5 528.396L134.5 527.896L133.5 527.896L133.5 528.396L134 528.396L134.5 528.396ZM133.5 531.438L133.5 531.938L134.5 531.938L134.5 531.438L134 531.438L133.5 531.438ZM134.5 534.479L134.5 533.979L133.5 533.979L133.5 534.479L134 534.479L134.5 534.479ZM133.5 537.521L133.5 538.021L134.5 538.021L134.5 537.521L134 537.521L133.5 537.521ZM134.5 540.562L134.5 540.062L133.5 540.063L133.5 540.563L134 540.563L134.5 540.562ZM133.5 543.604L133.5 544.104L134.5 544.104L134.5 543.604L134 543.604L133.5 543.604ZM134.5 546.646L134.5 546.146L133.5 546.146L133.5 546.646L134 546.646L134.5 546.646ZM133.5 549.687L133.5 550.187L134.5 550.187L134.5 549.687L134 549.687L133.5 549.687ZM134.5 552.729L134.5 552.229L133.5 552.229L133.5 552.729L134 552.729L134.5 552.729ZM133.5 555.771L133.5 556.271L134.5 556.271L134.5 555.771L134 555.771L133.5 555.771ZM134.5 558.812L134.5 558.312L133.5 558.312L133.5 558.812L134 558.812L134.5 558.812ZM133.5 561.854L133.5 562.354L134.5 562.354L134.5 561.854L134 561.854L133.5 561.854ZM134.5 564.896L134.5 564.396L133.5 564.396L133.5 564.896L134 564.896L134.5 564.896ZM133.5 567.937L133.5 568.437L134.5 568.437L134.5 567.937L134 567.937L133.5 567.937ZM134.5 570.979L134.5 570.479L133.5 570.479L133.5 570.979L134 570.979L134.5 570.979ZM133.5 574.021L133.5 574.521L134.5 574.521L134.5 574.021L134 574.021L133.5 574.021ZM134.5 577.062L134.5 576.562L133.5 576.562L133.5 577.062L134 577.062L134.5 577.062ZM133.5 580.104L133.5 580.604L134.5 580.604L134.5 580.104L134 580.104L133.5 580.104ZM134.5 583.146L134.5 582.646L133.5 582.646L133.5 583.146L134 583.146L134.5 583.146ZM133.5 586.187L133.5 586.687L134.5 586.687L134.5 586.187L134 586.187L133.5 586.187ZM134.5 589.229L134.5 588.729L133.5 588.729L133.5 589.229L134 589.229L134.5 589.229ZM133.5 592.271L133.5 592.771L134.5 592.771L134.5 592.271L134 592.271L133.5 592.271ZM134.5 595.312L134.5 594.812L133.5 594.812L133.5 595.312L134 595.312L134.5 595.312ZM133.5 598.354L133.5 598.854L134.5 598.854L134.5 598.354L134 598.354L133.5 598.354ZM134.5 601.396L134.5 600.896L133.5 600.896L133.5 601.396L134 601.396L134.5 601.396ZM133.5 604.437L133.5 604.937L134.5 604.937L134.5 604.437L134 604.437L133.5 604.437ZM134.5 607.479L134.5 606.979L133.5 606.979L133.5 607.479L134 607.479L134.5 607.479ZM133.5 610.521L133.5 611.021L134.5 611.021L134.5 610.521L134 610.521L133.5 610.521ZM134.5 613.562L134.5 613.062L133.5 613.063L133.5 613.563L134 613.563L134.5 613.562ZM133.5 616.604L133.5 617.104L134.5 617.104L134.5 616.604L134 616.604L133.5 616.604ZM134.5 619.646L134.5 619.146L133.5 619.146L133.5 619.646L134 619.646L134.5 619.646ZM133.5 622.688L133.5 623.188L134.5 623.188L134.5 622.688L134 622.688L133.5 622.688ZM134.5 625.729L134.5 625.229L133.5 625.229L133.5 625.729L134 625.729L134.5 625.729ZM133.5 628.771L133.5 629.271L134.5 629.271L134.5 628.771L134 628.771L133.5 628.771ZM134.5 631.813L134.5 631.313L133.5 631.313L133.5 631.813L134 631.813L134.5 631.813ZM133.5 634.854L133.5 635.354L134.5 635.354L134.5 634.854L134 634.854L133.5 634.854ZM134.5 637.896L134.5 637.396L133.5 637.396L133.5 637.896L134 637.896L134.5 637.896ZM133.5 640.938L133.5 641.438L134.5 641.438L134.5 640.938L134 640.938L133.5 640.938ZM134.5 643.979L134.5 643.479L133.5 643.479L133.5 643.979L134 643.979L134.5 643.979ZM134 463H133.5L133.5 464.521L134 464.521L134.5 464.521L134.5 463H134ZM134 467.562L133.5 467.563L133.5 470.604L134 470.604L134.5 470.604L134.5 467.562L134 467.562ZM134 473.646L133.5 473.646L133.5 476.688L134 476.688L134.5 476.688L134.5 473.646L134 473.646ZM134 479.729L133.5 479.729L133.5 482.771L134 482.771L134.5 482.771L134.5 479.729L134 479.729ZM134 485.813L133.5 485.813L133.5 488.854L134 488.854L134.5 488.854L134.5 485.812L134 485.813ZM134 491.896L133.5 491.896L133.5 494.937L134 494.937L134.5 494.937L134.5 491.896L134 491.896ZM134 497.979L133.5 497.979L133.5 501.021L134 501.021L134.5 501.021L134.5 497.979L134 497.979ZM134 504.063L133.5 504.063L133.5 507.104L134 507.104L134.5 507.104L134.5 504.062L134 504.063ZM134 510.146L133.5 510.146L133.5 513.188L134 513.188L134.5 513.188L134.5 510.146L134 510.146ZM134 516.229L133.5 516.229L133.5 519.271L134 519.271L134.5 519.271L134.5 516.229L134 516.229ZM134 522.313L133.5 522.313L133.5 525.354L134 525.354L134.5 525.354L134.5 522.313L134 522.313ZM134 528.396L133.5 528.396L133.5 531.438L134 531.438L134.5 531.438L134.5 528.396L134 528.396ZM134 534.479L133.5 534.479L133.5 537.521L134 537.521L134.5 537.521L134.5 534.479L134 534.479ZM134 540.563L133.5 540.563L133.5 543.604L134 543.604L134.5 543.604L134.5 540.562L134 540.563ZM134 546.646L133.5 546.646L133.5 549.687L134 549.687L134.5 549.687L134.5 546.646L134 546.646ZM134 552.729L133.5 552.729L133.5 555.771L134 555.771L134.5 555.771L134.5 552.729L134 552.729ZM134 558.812L133.5 558.812L133.5 561.854L134 561.854L134.5 561.854L134.5 558.812L134 558.812ZM134 564.896L133.5 564.896L133.5 567.937L134 567.937L134.5 567.937L134.5 564.896L134 564.896ZM134 570.979L133.5 570.979L133.5 574.021L134 574.021L134.5 574.021L134.5 570.979L134 570.979ZM134 577.062L133.5 577.062L133.5 580.104L134 580.104L134.5 580.104L134.5 577.062L134 577.062ZM134 583.146L133.5 583.146L133.5 586.187L134 586.187L134.5 586.187L134.5 583.146L134 583.146ZM134 589.229L133.5 589.229L133.5 592.271L134 592.271L134.5 592.271L134.5 589.229L134 589.229ZM134 595.312L133.5 595.312L133.5 598.354L134 598.354L134.5 598.354L134.5 595.312L134 595.312ZM134 601.396L133.5 601.396L133.5 604.437L134 604.437L134.5 604.437L134.5 601.396L134 601.396ZM134 607.479L133.5 607.479L133.5 610.521L134 610.521L134.5 610.521L134.5 607.479L134 607.479ZM134 613.563L133.5 613.563L133.5 616.604L134 616.604L134.5 616.604L134.5 613.562L134 613.563ZM134 619.646L133.5 619.646L133.5 622.688L134 622.688L134.5 622.688L134.5 619.646L134 619.646ZM134 625.729L133.5 625.729L133.5 628.771L134 628.771L134.5 628.771L134.5 625.729L134 625.729ZM134 631.813L133.5 631.813L133.5 634.854L134 634.854L134.5 634.854L134.5 631.813L134 631.813ZM134 637.896L133.5 637.896L133.5 640.938L134 640.938L134.5 640.938L134.5 637.896L134 637.896ZM134 643.979L133.5 643.979L133.5 645.5L134 645.5L134.5 645.5L134.5 643.979L134 643.979Z"
              fill="#FF5756"
            />
            <a href="#" data-bs-toggle="modal" data-bs-target="#articleModal">
              <g>
                <text
                  class="card-title"
                  x="140"
                  y="586"
                  fill="black"
                  font-size="24"
                  font-weight="400"
                  text-anchor="middle"
                  transform="rotate(-90 112 582)"
                >
                  SR-WEG
                </text>

                <g
                  class="link-icon"
                  transform="translate(-30 -16) translate(127 611)"
                >
                  <path
                    d="M18.3592 7.86806L18.3592 2.62269M18.3592 2.62269H13.1138M18.3592 2.62269L10.4911 10.4907M8.74265 2.62268H6.81935C5.3505 2.62268 4.61608 2.62268 4.05506 2.90854C3.56157 3.15998 3.16035 3.5612 2.9089 4.05469C2.62305 4.61572 2.62305 5.35014 2.62305 6.81898V14.1625C2.62305 15.6314 2.62305 16.3658 2.9089 16.9268C3.16035 17.4203 3.56157 17.8215 4.05506 18.073C4.61608 18.3588 5.3505 18.3588 6.81935 18.3588H14.1629C15.6317 18.3588 16.3661 18.3588 16.9272 18.073C17.4207 17.8215 17.8219 17.4203 18.0733 16.9268C18.3592 16.3658 18.3592 15.6314 18.3592 14.1625V12.2392"
                    stroke="#E60001"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    fill="none"
                  />
                </g>
              </g>
            </a>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
